{layout="_layouts/loggedin-staff"
	title="Editorial Preview"
	description=""
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile="179200359"
	facebook_app="167012243402263"

	typekit=""

	section_style="y"
	section_script=""

	meta=""
	footer=""
}


{embed="newspring:_embeds/_non-hero"
		section='section--dark'
		overlay='overlay--light'
		title='Editorial Preview'
}
<script src="http://connect.facebook.net/en_US/all.js"></script>

<section class="section--grey section--condensed">
	<div class="shell">
		<div class="grid centered">
		{exp:channel:entries
			channel="articles|devotionals|stories|news"
			disable="member_data|trackbacks"
			orderby="date"
			limit="12"
			sort="desc"
			dynamic="off"
			status="open|Featured|hidden"
			show_future_entries="yes"
			paginate="bottom"
			limit="1"
		}{!--
		 --}<div class="grid__item one-whole">
			<div class="grid"><div class="grid__item one-third flush">
				{!-- Image --}
				<a href="{path='{channel_short_name}/{url_title}'}">
					<div class="ratio--landscape background--fill clickable flush" style="background-image: url({editorial_image}{exp:ce_img:single src='{editorial_image_2x1}' width='1000' crop='yes' url_only='yes'}{/editorial_image}{collection_image}{exp:ce_img:single src='{collection_image_2x1}' width='1000' crop='yes' url_only='yes'}{/collection_image}{entry_image}{exp:ce_img:single src='{entry_image_2x1}' width='1000' crop='yes' url_only='yes'}{/entry_image}{if channel_short_name == 'devotionals'}{exp:ce_img:single src='{images-global-origin}/{site_short_name}/editorial/devotionals/hero.devotional.jpg' width='1000' crop='yes' url_only='yes'}{/if});">{if channel_short_name == 'devotionals'}<div class="ratio__item floating"><div class="floating__item overlay--light"><h3 class="circular {entry_date format='%l'} flush">{entry_date format="%D"}</h3></div></div>{/if}</div></a>
			</div><div class="grid__item two-thirds">
				<div class="card flush left">

					{!-- Title --}
					<h3><a href="{path={channel_short_name}/{url_title}}" title="View the {title} entry" class="dark">{title}</a></h3>
					{!-- Date --}
					<p class="colfax uppercase grey">({channel_short_name}) <b>{entry_date format="%m.%d.%Y %g:%s%a"}</b></p>
					<p>
						<input type="text" class="entry_url" value="{path={channel_short_name}/{url_title}}" >
					</p>
					<form>
						<input type="text" id="url" class="url" value="{path={channel_short_name}/{url_title}}" >
						<input type="submit" value="Check">
					</form>
					<table id="result">
						<tr>
							<th>Normalized URL</th>
							<td id="result-normalized"></td>
							<td>The normalized URL for the page being shared.</td>
						</tr>
						<tr>
							<th>Share count</th>
							<td id="result-share"></td>
							<td>The number of times users have shared the page on Facebook.</td>
						</tr>
						<tr>
							<th>Like count</th>
							<td id="result-like"></td>
							<td>The number of times Facebook users have "Liked" the page, or liked any comments or re-shares of this page.</td>
						</tr>
						<tr>
							<th>Comment count</th>
							<td id="result-comment"></td>
							<td>The number of comments users have made on the shared story.</td>
						</tr>
						<tr>
							<th>Total count</th>
							<td id="result-total"></td>
							<td>The total number of times the URL has been shared, liked, or commented on.</td>
						</tr>
					</table>

					{!-- Summary --}
					{!-- {if editorial_legacy_body OR collection_description}
					<p class="colfax">{exp:eehive_hacksaw chars = "140"}{editorial_legacy_body}{collection_description}{/exp:eehive_hacksaw}&hellip;</p>
					{/if} --}

					<a href="{path='{channel_short_name}/{url_title}'}" class="link--arrow">View Entry</a>

				</div>
			</div></div>{if count != total_results}<hr>{/if}
			</div>{!--
		 --}{paginate}{pagination_links page_padding="1"}{!--
		 --}<div class="grid__item one-whole">
				<br><br>
				<div class="pagination">
				  {previous_page}<a href="{pagination_url}" class="pagination__item page-previous"></a>{/previous_page}
				  {page}<a href="{pagination_url}" class="pagination__item page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a>{/page}
				  {next_page}<a href="{pagination_url}" class="pagination__item page-next"></a>{/next_page}
				</div>
			</div>{!--
		 --}{/pagination_links}{/paginate}{/exp:channel:entries}
		</div>
	</div>
</section>
{layout:set name="footer"}
<script type='text/javascript'>

	$(document).ready(function() {
		  var url;
		  FB.init({
			xfbml: true
		  });
		  url = $('#url');
		  //url.val(location.href);
		  //id = url.id;
		 //  url.click(function() {
			// return this.select();
		 //  });
		 
		 // url.select();
		 
		 // $('form').submit(function() {
			var query;
			query = FB.Data.query('SELECT normalized_url, like_count, share_count,  comment_count, total_count FROM link_stat WHERE url="{0}"', url.val());
			query.wait(function(rows) {
			  var r;
			  r = rows[0];
			  $('#result-normalized').text(r.normalized_url);
			  $('#result-share').text(r.share_count);
			  $('#result-like').text(r.like_count);
			  $('#result-comment').text(r.comment_count);
			  $('#result-total').text(r.total_count);
			  return $('table').show();
			});
			// return false;
		  // });
		  // return $('form').submit();
		});

</script>
{/layout:set}	