{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header"
	body_id="newservicetimes" 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}"
	use_alt=""
	title="New Service Times"
	fb_title="New Service Times" 
	fb_url="" 
	fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

<div id="hero" class="g_12">
  <img src="//images.newspring.cc/site/heroes/newspring.hero.newservicetimes.png" alt="New Service Times">
</div><!-- end #hero -->

	<div class="section g_10 p_1 s_1" id="info">
		<h1>We&#8217;re Making Room!</h1>
		<p class="halves">NewSpring exists to reach people far from God and teach them to follow Jesus step by step. And because of the work that God is doing in and through our church, we’re experiencing record attendance at every campus! So we're changing our service times to allow us to reach more people at every campus each week, and give you more opportunities to invite your friends and family. Check out your campus below for details.
		</p>
	</div>

<div id="campus">
	<div class="section g_10 p_1 s_1">
		<h2>Anderson Campus</h2>
		<h3>Sunday at 8:30AM, 10:00AM, 11:30AM, 5:00PM &amp; 6:30pm</h3>
		<h4><a href="https://www.facebook.com/newspring.anderson.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/TemeQ">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Charleston Campus</h2>
		<h3>Sunday at 10:00AM &amp; 11:30AM</h3>
		<h4><a href="https://www.facebook.com/newspring.charleston.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/5CqV6">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Columbia Campus</h2>
		<h3>Sunday at 8:30AM, 10:00AM, 11:30AM, 5:00PM &amp; 6:30pm</h3>
		<h4><a href="https://www.facebook.com/newspring.columbia.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/a5wms">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Florence Campus</h2>
		<h3>Sunday at 10:00AM, 11:30AM &amp; 5:00PM</h3>
		<h4><a href="https://www.facebook.com/newspring.florence.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/KXzh6">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Greenville Campus</h2>
		<h3>Sunday at 8:30AM, 10:00AM, 11:30AM &amp; 6:30pm</h3>
		<h4><a href="https://www.facebook.com/newspring.gvl.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/SJRdf">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Greenwood Campus</h2>
		<h3>Sunday at 10:00AM, 11:30AM &amp; 6:30PM</h3>
		<h4><a href="https://www.facebook.com/newspring.gwd.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/Y2H2X">Get Directions</a></h4>
	</div>
	<div class="section g_10 p_1 s_1">
		<h2>Myrtle Beach Campus</h2>
		<h3>Sunday at 10:00AM &amp; 11:30AM</h3>
		<h4><a href="https://www.facebook.com/newspring.myrtlebeach.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/3PaBc">Get Directions</a></h4>
	</div>
	<div class="g_10 p_1 s_1">
		<h2>Spartanburg Campus</h2>
		<h3>Sunday at 8:30AM, 10:00AM, 11:30AM &amp; 6:30pm</h3>
		<h4><a href="https://www.facebook.com/newspring.spartanburg.sc">Facebook</a> &bull; <a href="http://goo.gl/maps/tSVA3">Get Directions</a></h4>
	</div>
</div>

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}