		<div id="footer" class="c_12 clearfix">
			<p class="g_4 s_4">&copy; {current_time format='%Y'} <a href="/" title="NewSpring Church homepage">NewSpring Church</a> | <a href="mailto:hello@newspring.cc">hello@newspring.cc</a></p>			
			<p class="g_4"><!--<a href="/feeds/studies/" class="rss">Subscribe to the NewSpring Study</a>--></p>
		</div><!-- #footer -->
		
		<div id="page_cap_bottom"></div>
	</div><!-- #page -->
	
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Loader" type="text/javascript"></script>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</body>
</html>