{layout="_layouts/master"
		title="I Do"
		description="A Guide To Marrying Well"
		image="http:{images-global}/{site_short_name}/i-do/studies.premarital.2to1.jpg"
		page_type=""
		article_section=""
		tags=""
		publish_time=""

		google_author=""
		google_page_profile=""

		twitter_publisher=""
		twitter_author=""

		facebook_profile=""
		facebook_app=""

		typekit="bow1gmv"

		section_style="y"
		section_script=""

		meta=""
		footer=""
}

{layout:set name="meta"}
		{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="604800"}

{embed="newspring:_embeds/_hero"
	image_url="http:{images-global}/{site_short_name}/i-do/studies.premarital.2to1.jpg"
}

<section class="section--dark i-do">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-third handheld-one-whole centered">
				<object>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
					<g>
						<path d="M204.1,672v-4.5h72.1V156.5h-88.3v-4.5c25.5-3.9,49.8-9.7,72.8-17.4c23-7.7,44.3-16.8,64-27.5
							c19.7-10.7,37.6-22.7,53.6-36.1c16.1-13.4,29.8-27.9,41.2-43.5h4.5v640h72.1v4.5H204.1z"/>
					</g>
					</svg>
				</object>
			</div>{!--
			--}<div class="grid__item two-thirds handheld-one-whole">

				<h2>So What’s This All About?</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>When is the right time to get married? When you’re both in love with Jesus and obedient to Scripture.</p>
				<a href="http://newspring.cc/watch/lord-of-the-rings/so-whats-this-all-about" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>The Message That Will Save Your Marriage</h2>
				<h3>A message from Jeff Henderson</h3>
				<p>Difficult days in marriage can either drive you further apart or closer together. The key to a great marriage is to realize it’s not about “happily ever after.”</p>
				<a href="http://newspring.cc/watch/thehungergames/the-message-that-will-save-your-marriage" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Don’t Get Married Until: You Hear From God</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Many will impatiently rush toward marriage assuming all is lost if they are single past the age of 22. Then once they’re married, these same friends will talk about marriage like it’s medieval torture.</p>
				<a href="http://newspring.cc/watch/dont-get-married-until/you-hear-from-god" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2> Are You With the Right One?</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Who will confront you with compassion, defend you and give you hope in all circumstances? Do your relationships measure up to this standard? Are you with the right one? Watch or listen to this message to find out today.</p>
				<a href="http://newspring.cc/watch/eveandadam/are-you-with-the-right-one" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Bowl of Stew</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Our God-given appetites are never fully and finally satisfied. Are you trading what matters more for that which might fulfill you in the short run?</p>
				<a href="http://newspring.cc/watch/man-vs-wife/bowl-of-stew" class="link link--arrow">Watch Sermon</a>

			</div>
		</div>
	</div>
</section>

<section class="section--dark  i-do">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-third handheld-one-whole centered">
				<object>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
					<g>
						<path d="M218.9,110.5c10.5,0,20.4,2,29.7,6.1c9.3,4.1,17.4,9.5,24.3,16.5c6.9,6.9,12.4,15,16.5,24.3c4.1,9.3,6.1,19.2,6.1,29.7
							c0,10.5-2,20.4-6.1,29.7c-4.1,9.3-9.5,17.4-16.5,24.3c-6.9,6.9-15,12.4-24.3,16.5c-9.3,4.1-19.2,6.1-29.7,6.1
							c-12.6,0-23.7-2.3-33.4-6.8c-9.6-4.5-17.6-10.6-23.9-18.3c-6.3-7.7-11.1-16.5-14.4-26.6c-3.3-10.1-5-20.5-5-31.3
							c0-21.9,4.8-42.2,14.4-60.8c9.6-18.6,23.4-34.7,41.2-48.2c17.9-13.5,39.5-24.1,64.9-31.8c25.4-7.7,53.7-11.5,85-11.5
							c29.4,0,57.3,4.9,83.6,14.6c26.3,9.8,49.4,22.8,69.2,39.2c19.8,16.4,35.5,35.3,47.1,56.8c11.6,21.5,17.4,44.1,17.4,67.8
							c0,31-5.3,57.2-16,78.9c-10.7,21.6-25.5,40.3-44.4,56.1c-18.9,15.8-41.3,29.6-67.2,41.5c-25.8,11.9-53.9,23.4-84.3,34.5
							c-15.3,5.7-31,10.7-47.1,15.1c-16.1,4.4-31.7,9.3-46.9,14.9c-15.2,5.6-29.6,12.5-43.3,20.7c-13.7,8.3-25.8,19.2-36.5,32.9
							c-10.7,13.7-19.5,30.8-26.6,51.4c-7.1,20.6-11.5,45.9-13.3,75.9c6.6-22.8,14.6-42.1,24.1-57.9s20-28.5,31.5-38.3
							c11.6-9.8,24.2-16.7,37.9-21c13.7-4.2,28.2-6.3,43.5-6.3c15.3,0,29.3,1.7,41.9,5.2c12.6,3.5,24.4,7.7,35.4,12.6
							c11,5,21.4,10.4,31.3,16.5c9.9,6,19.9,11.5,30,16.5c10.1,5,20.5,9.2,31.3,12.6c10.8,3.5,22.7,5.2,35.6,5.2c10.5,0,21.2-1.4,32-4.3
							c10.8-2.9,20.5-7.7,29.1-14.4c8.6-6.8,15.5-15.8,21-27.3c5.4-11.4,8.1-25.5,8.1-42.4v-3.6h4.5v10.8c0,24.9-3.2,48.9-9.7,71.9
							c-6.5,23-15.9,43.4-28.4,61.3C526.2,643.7,511,658,493,668.7c-18,10.7-38.5,16-61.3,16c-20.1,0-37.6-2.2-52.5-6.5
							c-14.9-4.4-28.1-9.8-39.7-16.5c-11.6-6.6-22.1-13.8-31.5-21.6c-9.5-7.8-18.9-15-28.2-21.6c-9.3-6.6-19.2-12.1-29.5-16.5
							c-10.4-4.4-22.3-6.5-35.8-6.5c-24.3,0-42.7,7-55.2,21c-12.5,14-19.3,32.5-20.5,55.7h-4.5v-13.5c0-28.5,2-53.3,5.9-74.1
							c3.9-20.9,9.4-39.1,16.5-54.8c7.1-15.6,15.8-29.3,26.1-41c10.4-11.7,21.9-22.8,34.7-33.4c12.8-10.5,26.8-21,42.1-31.3
							c15.3-10.4,31.5-22,48.7-34.9c23.7-17.7,42.5-34.9,56.3-51.6c13.8-16.7,24.3-33.1,31.5-49.4s11.8-32.7,13.7-49.4
							c2-16.7,2.9-33.9,2.9-51.6c0-46-8.4-81.8-25.2-107.5c-16.8-25.7-43-38.5-78.4-38.5c-18,0-35.8,2.6-53.4,7.9
							c-17.6,5.3-33.7,12.8-48.2,22.5c-14.6,9.8-27,21.7-37.4,35.8c-10.4,14.1-17.2,30.2-20.5,48.2c6.3-13.5,15.6-24.4,27.9-32.7
							C189.8,114.6,203.6,110.5,218.9,110.5z"/>
					</g>
					</svg>
				</object>
			</div>{!--
			--}<div class="grid__item two-thirds handheld-one-whole">

				<h2>What I Said Yes To</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Telling the truth to our spouse should come easily but communicating honestly with one another is hard work.</p>
				<a href="http://newspring.cc/watch/i-want-a-new-marriage/what-i-said-yes-to" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Two Lies That Women Believe&ndash;Part 2</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Communication in a marriage will either keep a marriage together or push it apart. Knowing who God has made you to be will help you move past poor communication to clarity and truthfulness in your relationship.</p>
				<a href="http://newspring.cc/watch/eveandadam/two-lies-that-women-believe-part-2" class="link link--arrow">Watch Sermon</a>

			</div>
		</div>
	</div>
</section>

<section class="section--dark  i-do">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-third handheld-one-whole centered">
				<object>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
					<g>
						<path d="M321.7,678.4c17.4,0,32.6-3.3,45.5-9.9c12.9-6.6,23.7-17.2,32.2-31.8c8.6-14.6,14.9-33.6,19.2-57
							c4.2-23.4,6.3-52.1,6.3-86.1c0-54.7-8.3-94.6-24.8-119.7c-16.5-25.1-42.8-37.6-78.9-37.6h-63.1v-4.5h63.1c20.4,0,37.7-2.7,51.8-8.1
							c14.1-5.4,25.5-14.3,34-26.6c8.6-12.3,14.7-28.5,18.5-48.5c3.8-20,5.6-44.7,5.6-74.1c0-15.9-1.2-32.1-3.6-48.5
							c-2.4-16.4-7.2-31.1-14.4-44.2s-17.4-23.7-30.6-32c-13.2-8.3-30.6-12.4-52.3-12.4c-17.7,0-35.3,2.9-52.7,8.8
							c-17.4,5.9-33.4,14.1-47.8,24.8c-14.4,10.7-26.7,23.4-37,38.1c-10.2,14.7-17.1,31-20.7,48.7c6.3-13.5,15.6-24.6,27.9-33.4
							c12.3-8.7,26.3-13.1,41.9-13.1c10.5,0,20.4,2,29.7,6.1c9.3,4.1,17.4,9.5,24.3,16.5c6.9,6.9,12.4,15,16.5,24.3
							c4.1,9.3,6.1,19.2,6.1,29.7c0,10.5-2,20.4-6.1,29.7c-4.1,9.3-9.5,17.4-16.5,24.3c-6.9,6.9-15,12.4-24.3,16.5
							c-9.3,4.1-19.2,6.1-29.7,6.1c-12.6,0-23.7-2.3-33.4-6.8c-9.6-4.5-17.6-10.6-23.9-18.3c-6.3-7.7-11.1-16.5-14.4-26.6
							c-3.3-10.1-5-20.5-5-31.3c0-21.9,4.7-42.2,14-60.8c9.3-18.6,22.3-34.8,39-48.5c16.7-13.7,36.5-24.4,59.5-32.2
							c23-7.8,48-11.7,75-11.7c15.6,0,31.5,1.3,47.8,3.8c16.2,2.6,31.9,6.5,47.1,11.7c15.2,5.3,29.4,12.1,42.6,20.5
							c13.2,8.4,24.7,18.4,34.5,30c9.8,11.6,17.5,24.8,23.2,39.7c5.7,14.9,8.6,31.6,8.6,50.3c0,19.8-4.1,38.5-12.2,55.9
							c-8.1,17.4-19,32.8-32.7,46.2c-13.7,13.4-29.5,24.3-47.5,32.7c-18,8.4-36.8,13.4-56.3,14.9c22.8,1.8,44.5,6.7,64.9,14.6
							c20.4,8,38.4,18.8,53.9,32.5c15.5,13.7,27.8,30.3,37,49.8c9.2,19.5,13.7,41.6,13.7,66.3c0,31.5-6.9,59-20.7,82.5
							c-13.8,23.4-32.2,43-55,58.6c-22.8,15.6-49.1,27.3-78.6,34.9c-29.6,7.7-60.2,11.5-91.7,11.5c-27,0-52.7-2.5-76.8-7.4
							c-24.2-5-45.3-12.6-63.3-23s-32.4-23.4-43-39.2c-10.7-15.8-16-34.6-16-56.6c0-10.8,1.6-21.2,5-31.1c3.3-9.9,8.1-18.7,14.4-26.4
							s14.3-13.8,23.9-18.5c9.6-4.7,20.7-7,33.4-7c10.5,0,20.4,2,29.7,6.1c9.3,4.1,17.4,9.5,24.3,16.5c6.9,6.9,12.4,15,16.5,24.3
							c4.1,9.3,6.1,19.2,6.1,29.7c0,10.5-2,20.4-6.1,29.7c-4.1,9.3-9.5,17.4-16.5,24.3c-6.9,6.9-15,12.4-24.3,16.5
							c-9.3,4.1-19.2,6.1-29.7,6.1c-15,0-28.5-3.8-40.3-11.5c-11.9-7.7-21.1-17.8-27.7-30.4c4.8,16.8,13.2,31.1,25.2,42.8
							c12,11.7,26.3,21.2,42.8,28.4c16.5,7.2,34.5,12.4,54.1,15.5C282.2,676.8,301.9,678.4,321.7,678.4z"/>
					</g>
					</svg>
				</object>
			</div>{!--
			--}<div class="grid__item two-thirds handheld-one-whole">

				<h2>Fighting IN or Fighting FOR Your Marriage?</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Your marriage (or future marriage) will go beyond your imagination when you focus on your responsibilities rather than your rights!</p>
				<a href="http://newspring.cc/watch/man-vs-wife/fighting-in-or-fighting-for-your-marriage" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Foundations for the Family</h2>
				<h3>A message from Teaching Pastor Clayton King</h3>
				<p>Without the right foundation, any relationship will be vulnerable to the difficult circumstances it goes through. We all make mistakes, so we must learn to forgive so the relationship isn’t destroyed.</p>
				<a href="http://newspring.cc/watch/family-vacation/foundations-for-the-family" class="link link--arrow">Watch Sermon</a>

			</div>
		</div>
	</div>
</section>

<section class="section--dark  i-do">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-third handheld-one-whole centered">
				<object>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
					<g>
						<path d="M591.7,430.5l-27.9,88.3h-51.4v148.7h72.1v4.5H292.4v-4.5h72.1V518.8h-256L512.3,9.5v444.4h26.1c8.7,0,16.1-1.4,22.3-4.3
							c6.2-2.9,11.3-5.9,15.5-9.2c4.8-3.9,8.7-8.4,11.7-13.5L591.7,430.5z M364.5,204.2L166.7,453.9h197.9V204.2z"/>
					</g>
					</svg>
				</object>
			</div>{!--
			--}<div class="grid__item two-thirds handheld-one-whole">
				<h2>Don’t Get Married Until: You’re Willing to Be a Man</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>It is vital that men and women understand biblical manhood and spiritual leadership so that we set ourselves up for success in our potential or current marriages.</p>
				<a href="http://newspring.cc/watch/dont-get-married-until/youre-willing-to-be-a-man" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Man Up!</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Men, learn to be more like Jesus and lead your marriage the way God intended.</p>
				<a href="http://newspring.cc/watch/lord-of-the-rings/man-up" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Adam & Eve</h2>
				<h3>A series on manhood</h3>
				<p>What does it mean to be a man? Do you get to call the shots? Do what you want? Be the master of your own domain? Or is there more to masculinity? Learn how to care for your wife, lead your family, and provide for them.</p>
				<a href="http://newspring.cc/watch/adamandeve" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Don’t Get Married Until: You’re Willing to Be a Woman</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Learn more about the characteristics of a woman a godly man should pursue.</p>
				<a href="http://newspring.cc/watch/dont-get-married-until/youre-willing-to-be-a-woman" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>What a Woman!</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>God lays out basic principles in Scripture for women that will change the way you act towards others. Hear the truth that God loves and treasures you, and be set free to transform your marriage by being a godly wife.</p>
				<a href="http://newspring.cc/watch/lord-of-the-rings/what-a-woman" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Don’t Get Married Until: You Deal With Your Junk</h2>
				<h3>A message from Teaching Pastor Clayton King</h3>
				<p>Your habits, weaknesses, strengths, and issues stick with you. So does everything you learned about marriage and family from your parents. Think and work through your past so your future marriage can have the best start.</p>
				<a href="http://newspring.cc/watch/dont-get-married-until/you-deal-with-your-junk" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Camouflage</h2>
				<h3>A message from Brad Cooper</h3>
				<p>The God of the universe stepped in to the world camouflaged as a man who came to serve. We have “camouflage” too that helps us share Jesus as we serve others in our everyday lives.</p>
				<a href="http://newspring.cc/watch/redneck/camouflage" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Five Questions That Will Help Me Not Waste My Life!</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>When you know what you enjoy, what you do well, what bothers you, and what opportunities are available now, you’ll discover that God made you on purpose, to make a difference.</p>
				<a href="http://newspring.cc/watch/dont-waste-your-life/five-questions-that-will-help-me-not-waste-my-life" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Unleash Your Finances</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>God wants to do more than you can ask for or imagine with your money. Learn how to have the abundant life Jesus promised when you turn your finances from worry into worship.</p>
				<a href="http://newspring.cc/unleashyourfinances" class="link link--arrow">Watch Sermon</a>
			</div>
		</div>
	</div>
</section>

<section class="section--dark  i-do">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-third handheld-one-whole centered">
				<object>
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 720 720" enable-background="new 0 0 720 720" xml:space="preserve">
					<g>
						<path d="M211.3,628.8c-15,0-28.5-3.8-40.3-11.5c-11.9-7.7-21.1-17.8-27.7-30.4c4.8,16.8,13.7,31,26.6,42.6
							c12.9,11.6,27.7,21,44.4,28.2c16.7,7.2,34,12.4,52.1,15.5c18,3.2,34.5,4.7,49.6,4.7c20.1,0,37.3-2.9,51.6-8.8
							c14.3-5.9,26.1-13.7,35.6-23.7c9.5-9.9,17-21.6,22.5-34.9c5.6-13.4,9.8-27.7,12.6-43c2.9-15.3,4.7-31.1,5.4-47.3
							c0.7-16.2,1.1-32.3,1.1-48.2c0-25.5-2.7-49.4-8.1-71.7c-5.4-22.2-13.7-41.5-24.8-57.9c-11.1-16.4-25.2-29.2-42.4-38.5
							c-17.1-9.3-37.4-14-60.8-14c-31,0-57.8,7.6-80.5,22.8c-22.7,15.2-38.7,36.3-48,63.3l-3.6-0.5c8.7-54.1,15.3-108.3,19.8-162.7
							c4.5-54.4,6.8-109.5,6.8-165.4c0.3,0,3.2-1,8.8-2.9c5.6-2,13.1-4.1,22.8-6.5c9.6-2.4,21-4.6,34-6.5c13.1-2,27.6-2.9,43.5-2.9
							c14.4,0,27.3,0.9,38.5,2.7s21.5,4.1,30.6,7c9.2,2.9,17.9,5.9,26.1,9.2c8.3,3.3,16.8,6.4,25.7,9.2c8.9,2.9,18.4,5.2,28.6,7
							c10.2,1.8,21.9,2.7,35.2,2.7c8.4,0,16.4-0.7,23.9-2.3c7.5-1.5,14-3.7,19.6-6.5c5.6-2.9,10-6.3,13.3-10.4c3.3-4.1,5.1-8.5,5.4-13.3
							h4.5c0,0.6-0.3,4.9-0.9,12.8c-0.6,8-2.4,17.8-5.4,29.5c-3,11.7-7.7,24.3-14,37.9s-15,26.1-25.9,37.9c-11,11.7-24.8,21.4-41.5,29.1
							c-16.7,7.7-37,11.5-61.1,11.5c-12.9,0-24.3-0.9-34-2.7c-9.8-1.8-19.2-3.8-28.2-6.1s-18.1-4.4-27.3-6.3c-9.2-2-19.6-2.9-31.3-2.9
							c-20.7,0-37.5,5.5-50.3,16.5c-12.8,11-23,25.2-30.6,42.6c-7.7,17.4-13.6,36.9-17.8,58.4c-4.2,21.5-8,42.7-11.3,63.8
							c7.2-14.1,16.7-26.4,28.6-36.7c11.9-10.4,25.2-18.9,40.1-25.7c14.9-6.8,30.7-11.7,47.5-14.9c16.8-3.2,33.6-4.7,50.5-4.7
							c34.3,0,65.7,5,94.4,15.1c28.7,10.1,53.4,24.2,74.1,42.4c20.7,18.2,36.9,39.9,48.4,65.1c11.6,25.2,17.4,52.9,17.4,82.9
							c0,34.6-7.1,64.7-21.4,90.4c-14.3,25.7-32.9,47.1-55.9,64.2c-23,17.1-49.2,29.9-78.6,38.3c-29.5,8.4-59.2,12.6-89.2,12.6
							c-27,0-53-2.5-77.7-7.4c-24.8-5-46.6-12.6-65.6-23c-18.9-10.4-34-23.4-45.3-39.2c-11.3-15.8-16.9-34.6-16.9-56.6
							c0-10.8,1.6-21.2,5-31.1c3.3-9.9,8.1-18.7,14.4-26.4s14.3-13.8,23.9-18.5c9.6-4.7,20.7-7,33.4-7c10.5,0,20.4,2,29.7,6.1
							c9.3,4.1,17.4,9.5,24.3,16.5c6.9,6.9,12.4,15,16.5,24.3c4.1,9.3,6.1,19.2,6.1,29.7c0,10.5-2,20.4-6.1,29.7
							c-4.1,9.3-9.5,17.4-16.5,24.3c-6.9,6.9-15,12.4-24.3,16.5C231.7,626.8,221.8,628.8,211.3,628.8z"/>
					</g>
					</svg>
				</object>
			</div>{!--
			--}<div class="grid__item two-thirds handheld-one-whole">
				<h2>Same Page?</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>Learn how relationships are maximized when we are willing to get on the same page.</p>
				<a href="http://newspring.cc/watch/man-vs-wife/same-page" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Sex in the Church&ndash;Part 1</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>This is a two-part message on God’s design for sex and why He created it.</p>
				<a href="http://newspring.cc/watch/revelation/sex-in-the-church-part-1" class="link link--arrow">Watch Sermon</a>

				<hr class="half">

				<h2>Sex in the Church&ndash;Part 2</h2>
				<h3>A message from Pastor Perry Noble</h3>
				<p>This is a two-part message on God’s design for sex and why He created it.</p>
				<a href="http://newspring.cc/watch/revelation/sex-in-the-church-part-2" class="link link--arrow">Watch Sermon</a>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}