{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
	body_id="stepup" 
	body_class="alt" 
	use_alt='yes' 
	group_style="{segment_1}"
	title="Step Up Event" 
}	
{/exp:ce_cache:escape}

<script type="text/javascript" src="//use.typekit.net/jlw4fjg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<style type="text/css">


	
</style>

<div class="g_12 clearfix">
	<h2 id="stepup_hero" class="ir">Watch the Sessions from the Step Up Event</h2>

	<ul id="stepup_videos" class="clearfix">
		<li class="g_2 g_a">
			<a href="#" class="ooyala-embed" data-embed="Y1MmNxYjrPNAIO5aqPoIcSmK-6uAlQYD">Watch Session <span>1</span> <em>Step Up<br /> Part One</em></a>
		</li>
		<li class="g_2">
			<a href="#" class="ooyala-embed" data-embed="5lNWNxYjqWEdZeROGIhZJaEr_8Jt2YF5">Watch Session <span>2</span> <em>Step Up<br /> Part Two</em></a>
		</li>
		<li class="g_2">
			<a href="#" class="ooyala-embed" data-embed="IzNGNxYjrkGTJcsQX46jDMHsdDePuMpZ">Watch Session <span>3</span> <em>Step Up<br /> Part Three</em></a>
		</li>
		<li class="g_2">
			<a href="#" class="ooyala-embed" data-embed="5zbGNxYjrlkLiF8DUMz9RCo8SSKSqoIZ">Watch Session <span>4</span> <em>The One Step We Will Always Stand On</em></a>
		</li>
		<li class="g_2">
			<a href="#" class="ooyala-embed" data-embed="R0Z2NxYjpsSDIHui4Z6PY0PRH7SS3j_W">Watch Session <span>5</span> <em>The Toughest Step For Some People To Take</em></a>
		</li>
		<li class="g_2 g_o">
			<a href="#" class="ooyala-embed" data-embed="prdmNxYjrOTN9MjknVk54pZeQmpuwBsN">Watch Session <span>6</span> <em>When The Church Steps Up...</em></a>
		</li>
	</ul>

	<div id="stepup_actions" class="g_a g_12 g_o">
		<a id="stepup_download" href="http://media.newspring.cc/etc/newspring.stepup.book.pdf">Download the Session Notes</a>
		<a id="stepup_signup" href="https://newspring.wufoo.com/forms/z7p6w5/">Sign up to host a Step Up Group</a>
	</div>

</div>

{ooyala_video}

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}