<div id="subnav" class="c_12 clearfix">
	<div class="g_4">
		<h1>
			<a href="{path={segment_1}}" {if segment_2 == ""}class="active"{/if}>Next Steps<span></span></a>
		</h1>
	</div>
	<div class="g_8 right">
		<a href="{path={segment_1}/salvation}" {if segment_2 == "salvation"}class="active"{/if}>Salvation<span></span></a>
		<a href="{path={segment_1}/baptism}" {if segment_2 == "baptism"}class="active"{/if}>Baptism<span></span></a>
		<a href="{path={segment_1}/ownership}" {if segment_2 == "ownership"}class="active"{/if}>Ownership<span></span></a>
		<a href="{path={segment_1}/volunteer}" {if segment_2 == "volunteer"}class="active"{/if}>Volunteering<span></span></a>
		<a href="{path={segment_1}/care}" {if segment_2 == "care"}class="active"{/if}>Care &amp; Prayer<span></span></a>
	</div>
</div>
