{layout="_layouts/master"
	title="Next Steps"
	description="Life is a series of next steps, and no matter where we’re at in life, we all have a next step to take in learning how to follow Jesus."
	image="http:{images-global}/{site_short_name}/_fpo/fpo.NextSteps.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Next Steps"
	summary="We believe growing people change. Wherever you are in life, whatever is going on, you will always have a next step to take as you grow."
	image_url="{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.discipline.jogging.5.jpg"
}

{!-- <section>
	<div class="shell">
		<div class="grid text--constrained">
			<div class="grid__item one-whole hard centered">
				<h2>What&rsquo;s Next For You?</h2>
				<p>We believe growing people change. Wherever you are in life, whatever is going on, you will always have a next step to take as you grow.</p>
			</div>
		</div>
	</div>
</section> --}

<section class="section--black">
	<div class="shell hard">
		<div class="grid border--inset hard flush centered">
			<div class="grid__item ration one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/groups" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.friendship.groupselfie.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Join a Group</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/bible" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.rest.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Read Your Bible</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/salvation" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.clouds.2.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Meet Jesus</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/baptism" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/baptism/baptism.hero.2to1.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Get Baptized</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/ownership" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/ownership/ownership.2to1.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Become an Owner</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/serving" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/serving/carecoffee.2to1.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Start Serving</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/care" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/care/care.2to1.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Care &amp; Prayer</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/missions" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/_fpo/fpo.Uganda1.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Mission Trips</h3>
							</div>
						</div>
					</a>
				</div>
			</div><div class="grid__item one-third handheld-one-whole hard flush">
				<div class="ratio ratio--landscape flush">
					<a href="/finances" class="ratio__item background--fill overlay flush border--inset"
						style="background-image: url({exp:ce_img:single src='{images-global}/newspring/editorial/articles/1040.hero.jpg' crop='yes' url_only='yes'})">
						<div class="overlay overlay--solid text--padded ratio__item floating">
							<div class="overlay__item overlay__light floating__item">
								<h3 class="light caps flush">Finances</h3>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--grey">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>Need Help?</h2>
					<p>If you're still not sure what your next step is, let us help you.</p>
					<a href="mailto:hello@newspring.cc" class="btn">Email Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}