{exp:ce_cache:it}

{preload_replace:page_template="nextsteps"}

{exp:ce_cache:escape}
	{embed='includes/header' 
		title='Salvation | Next Steps' 
		body_id='salvation' 
		body_class="subnav" 
		page_class="page-border" 
		group_style="{segment_1}" 
		group_script="{segment_1}"
		fb_title="Salvation | Next Steps" 
		fb_url="{path={page_template}}" 
		meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
		fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
	}
{/exp:ce_cache:escape}

	<script src="/assets/backup/old_js/jquery-ui-1.10.3.min.js"></script>

	</div><!-- //page - wraps header -->

	{embed="includes/_subnav" navtitle="mainnav"}

	<div class="c_12 clearfix page-border">
		<div class="g_12">
			<div id="hero">
				<img src="//images.newspring.cc/section/nextsteps/hero.salvation.jpg" width="940" alt="" class="border">
			</div>
		</div>
		<div class="intro g_8 p_2 s_2">
			<p>Jesus saves us from our sins and leads us into a new life. This salvation is the only way we can have a relationship with God. </p><br>
		</div>
		<div class="g_8 p_2 s_2 section salvation">
			<h4>Four things you need to know about salvation:</h4>
			<h5>1. You receive salvation when you confess and believe.</h5>
			<p class="scripture">God tells us that whoever believes in Him and confesses that belief can be saved. If you declare with your mouth, “Jesus is Lord,” and believe in your heart that God raised him from the dead, you will be saved. <span>Romans 10:9</span></p>
			<h5>2. Salvation doesn’t depend on you.</h5>
			<p class="scripture">Jesus bought our salvation when He died on the cross. Salvation is not dependent on our efforts. We can’t undo our salvation or do anything to hinder God’s love for us, because His love never ends. <span>Ephesians 2:4-7</span></p>
			<h5>3. Your new life is a series of next steps.</h5>
			<p class="scripture">Following Jesus is about taking your next step.         Salvation happens immediately, but following Jesus is a lifelong journey. Jesus has given you a new life, and our new selves are revealed over time. God isn’t surprised when you mess up. He knows you will, and that's why He's saved you! God has given us His Spirit to walk with us and guide us as we take our next steps. </p>
			<h5>4. Salvation is all about Jesus.</h5>
				<div id="accordion" class="salvation">
					<h5>Jesus said He was God. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"'I and the Father are one.' Again the Jews picked up stones to stone him, but Jesus said to them, 'I have shown you many great miracles from the Father. For which of these do you stone me?' 'We are not stoning you for any of these,' replied the Jews, 'but for blasphemy, because you, a mere man, claim to be God.'"<span>John 10:30-33</span><br>

								"Philip said, 'Lord, show us the Father and that will be enough for us.' Jesus answered: 'Don't you know me, Philip, even after I have been among you such a long time? Anyone who has seen me has seen the Father. How can you say, 'Show us the Father'?' <span>John 14:8-9</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus said He came from heaven, where God lives and reigns. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"For I have come down from heaven not to do my will but to do the will of him who sent me."<span>John 6:38</span><br>

								"I came from the Father and entered the world; now I am leaving the world and going back to the Father." <span>John 16:28</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus said He was sinless, as God alone is without sin. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"Can any of you prove me guilty of sin? If I am telling the truth, why don't you believe me?"<span>John 8:46</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus forgave sin. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"When Jesus saw their faith, he said to the paralytic, 'Son, your sins are forgiven.'" <span>Mark 2:5</span><br>

								"Then Jesus said to her, 'Your sins are forgiven.' The other guests began to say among themselves, 'Who is this who even forgives sins?'" <span>Luke 7:48-49</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus said He was the only way to heaven. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"Jesus answered, 'I am the way and the truth and the life. No one comes to the Father except through me.'" <span>John 14:6</span><br>

								"Jesus said to her, 'I am the resurrection and the life. He who believes in me will live, even though he dies.'" <span>John 11:25</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus accepted worship as God. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"Then those who were in the boat worshiped him Jesus, saying, "Truly you are the Son of God." <span>Matthew 14:33</span><br>

								"Then the man said, 'Lord Jesus, I believe,' and he worshiped him." <span>John 9:38</span></p>
							</li>
						</ul>
					</div>
					<h5>Jesus did miracles, including raising others and Himself from the dead. <div class="arrow"></div></h5>
					<div>
						<ul>
							<li>
								<p class="scripture">"Jesus went throughout Galilee, teaching in their synagogues, preaching the good news of the kingdom, and healing every disease and sickness among the people." <span>Matthew 4:23</span><br>

								"Jesus rebuked the demon, and it came out of the boy, and he was healed from that moment." <span>Matthew 17:18</span><br>

								"While Jesus was still speaking, someone came from the house of Jairus, the synagogue ruler. 'Your daughter is dead,' he said. 'Don't bother the teacher any more.' Hearing this, Jesus said to Jairus, 'Don't be afraid; just believe, and she will be healed.' …Meanwhile, all the people were wailing and mourning for her. 'Stop wailing,' Jesus said. 'She is not dead but asleep.' They laughed at him, knowing that she was dead. But he took her by the hand and said, 'My child, get up!' Her spirit returned, and at once she stood up. Then Jesus told them to give her something to eat." <span>Luke 8:49-50, 52-55</span><br>

								"As he approached the town gate, a dead person was being carried out—the only son of his mother, and she was a widow. And a large crowd from the town was with her. When the Lord saw her, his heart went out to her and he said, 'Don't cry.' Then he went up and touched the coffin, and those carrying it stood still. He said, 'Young man, I say to you, get up!' The dead man sat up and began to talk, and Jesus gave him back to his mother." <span>Luke 7:12-15</span><br>

								"When he had said this, Jesus called in a loud voice, 'Lazarus, come out!' The dead man came out, his hands and feet wrapped with strips of linen, and a cloth around his face. Jesus said to them, 'Take off the grave clothes and let him go.'" <span>John 11:43, 44</span><br>

								"In their fright the women bowed down with their faces to the ground, but the men said to them, 'Why do you look for the living among the dead? He [Jesus] is not here; he has risen! Remember how he told you, while he was still with you in Galilee: 'The Son of Man must be delivered into the hands of sinful men, be crucified and on the third day be raised again.' Then they remembered his words." <span>Luke 24:5-8</span></p>
							</li>
						</ul>
					</div>
				</div>
		</div>
		<div class="g_12 cta">
			<div class="g_8 g_a">
				<p>Have more questions about salvation through Jesus?</p>
			</div>
			<div class="g_4 g_o">
				<a href="mailto:hello@newspring.cc">Email Us</a>
			</div>
		</div>
	</div>

	<script>
		$('document').ready(function(){
			$( "#accordion" ).accordion({
				heightStyle: "content",
			  	collapsible: true,
			    autoHeight: true,
			    animate: 150
			});
		});
	</script>

{exp:ce_cache:escape}	
	{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}