{exp:ce_cache:it}

{preload_replace:page_template="nextsteps"}

{exp:ce_cache:escape}
	{embed='includes/header' 
		title='Serving | Next Steps' 
		body_id='volunteer' 
		body_class="subnav" 
		page_class="page-border" 
		group_style="{segment_1}" 
		group_script="{segment_1}"
		fb_title="Serving | Next Steps"
		fb_url="{path={page_template}}" 
		meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
		fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
	}
{/exp:ce_cache:escape}

	<script src="/assets/backup/old_js/jquery-ui-1.10.3.min.js"></script>

	</div><!-- //page - wraps header -->

	{embed="includes/_subnav" navtitle="mainnav"}

	<div class="c_12 clearfix page-border">
		<div class="g_12">
			<div id="hero">
				<img src="//images.newspring.cc/section/nextsteps/hero.serve.jpg" width="940" alt="" class="border">
			</div>
		</div>
		<div class="section g_12">
			<div class="g_7 g_a">
				<div class="leftCol">
					<h2>Serving Information</h2>
					<p>At NewSpring, we believe that saved people serve people. God has given each person a gift to equip us to serve so that the body of Christ may be built up. There are many opportunities to serve at NewSpring and we want you to find the one that best suits your passion, personality and availability.</p>

					<p>The first step to serving at NewSpring, is to attend <a href="/nextsteps/ownership">Ownership Class.</a> If you have already joined NewSpring and are ready to serve, click one of the ministries to the right to begin serving or to simply learn more. If you aren't sure which ministry is best for you, click "I'm not sure" and someone will be in touch with you to help you take your next step. </p>
				</div>
			</div>
			<div class="g_5 g_o">
				<h2>Serving Opportunities</h2>
				<div id="accordion" class="volunteering">
					<h3>Fuse <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>This ministry is for volunteers who have a heart to see High School and Middle School students grow and fall in love with Jesus daily.<br><span class="small"></span> <a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Guest Services <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Guest Services teams believe that first impressions make a huge impact. These teams are made up of individuals who love creating welcoming environments for every guest at NewSpring. <a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>KidSpring <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Our Children's Ministry volunteers are people with a passion to see children experience Jesus on their level. Volunteers serve kids, birth through fifth grade, in safe, age–appropriate environments where the Bible is taught in a creative and relevant way. There are many opportunities to serve on Sundays and throughout the week. <a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Next Steps <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Next Steps volunteers equip people to follow Jesus step by step and grow in their relationship with Him. There are opportunities for you to serve with events, baptism, Groups, or Care.<a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Production <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Production exists to provide excellent services that engage everyone attending. There are opportunities for you to serve with audio, visual, and lighting.<a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>I'm Not Sure <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Our goal is to equip you to use the gifts that you have received to serve the church according to Romans 12:3-8. To see and hear more about the opportunities to serve at NewSpring sign up now!<a href="https://newspring.wufoo.com/forms/z7p2k3/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
			
{exp:ce_cache:escape}
	{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}