{preload_replace:page_template="nextsteps"}
{embed='includes/header' 
	title='Volunteer | Next Steps' 
	body_id='volunteer' 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}" 
	group_script="{segment_1}"
	fb_title="Volunteer | Next Steps"
	fb_url="{path={page_template}}" 
	meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
	fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
	
}

	<script src="/assets/backup/old_js/jquery-ui-1.10.3.min.js"></script>

	</div><!-- //page - wraps header -->

	{embed="{page_template}/_subnav"}

	<div class="c_12 clearfix page-border">
		<div class="g_12">
			<div id="hero">
				<img src="http://images.newspring.cc/section/nextsteps/hero.serving.jpg" width="940" alt="" class="border">
			</div>
		</div>
		<div class="section g_12">
			<div class="g_7 g_a">
				<div class="leftCol">
					<h2>Volunteer Information</h2>
					<h3>Who are Volunteers</h3>
					<p>NewSpring volunteers are <a href="/nextsteps/ownership">owners</a> of the church who work together to serve our church body and others in the community to advance the Kingdom for Jesus.</p>
					<p>Listen or watch the message <a href="http://newspring.cc/nextsteps/volunteer/#video">"Making a Difference"</a> from the series Crank It Up to learn more about why volunteering in the local church is so important to your personal relationship with God and others.</p>
					<h3>How do I volunteer at NewSpring?</h3>
					<p>Become an owner of the church (see the <a href="/nextsteps/ownership">Ownership</a> page for more information), check out the volunteer teams for each campus below, and complete a Volunteer application so we can know a little bit more about you. You can also find out more about NewSpring’s volunteer opportunities by <a href="mailto:iwanttovolunteer@newspring.cc">emailing us</a> or attending Ownership Class.</p>
				</div>
			</div>
			<div class="g_5 g_o">
				<h2>Volunteer Opportunities</h2>
				<div id="accordion" class="volunteering">
					<h3>Fuse Student Ministry <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>This ministry is for volunteers who have a heart to see High School and Middle School students grow and fall in love with Jesus daily.<br><span class="small">*Fuse Student Ministry is currently not available at our Greenwood and Myrtle Beach campuses.</span> <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Guest Services <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Guest Services teams believe that first impressions make a huge impact. These teams are made up of individuals who love creating welcoming environments for every guest at NewSpring. <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>KidSpring <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Our Children's Ministry volunteers are people with a passion to see children experience Jesus on their level. Volunteers serve kids, birth through fifth grade, in safe, age–appropriate environments where the Bible is taught in a creative and relevant way. There are many opportunities to serve on Sundays and throughout the week. <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Next Steps <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>Are you comfortable leading a Bible study or guiding new believers through their next steps? If yes, you might be a good fit for the Next Steps team. <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Creative &amp; Technical Arts <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>From operating cameras and sound, to graphic design and web development, to trouble-shooting computer issues, the Creative and Technical Arts teams use their skills in media production and technology to keep NewSpring Church on the cutting edge. <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
					<h3>Care <div class="arrow"></div></h3>
					<div>
						<ul>
							<li>
								<p>These teams serve people in need of love and support by offering prayer and encouragement. <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/" class="btn">Sign up now</a></p>
							</li>
						</ul>
					</div>
				</div>
				<div class="rightCol">
					<h3>Not sure which team is best for you?</h3>
					<p><a href="https://newspring.wufoo.com/forms/not-sure-which-team-is-best-for-you/">Join us for an Equipping Tour</a> where you will learn more about serving in the body of Christ, the Church. You will be toured around the campus to see many of the serving teams that make NewSpring happen each week. Our goal is to equip you to use the gifts that you have received to serve the church according to Romans 12:3-8.</p>
				</div>
			</div>
		</div>
			
{embed='includes/footer'}
