{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed="includes/header" 
		body_id="magazine" 
		body_class="alt" 
		use_alt='yes' 
		script='home' 
		title="My Story Magazine" 
		fb_url="{path=magazine}" 
		fb_title="My Story Magazine" 
		fb_image="//images.newspring.cc/site/magazine/my-story_fb.png" 
		fb_describe="Because your relationship with Jesus cannot be broken down to a formula. Your relationship with Jesus is not a 10-step process ‐ it's a story. A story of mess ups and grace. A story of love and power. A story about what Jesus has done, is doing, and will do."
	}	
{/exp:ce_cache:escape}

<style type="text/css">
#p_magazine h2 {
	color: #ccc;
	font-family:'StandardCTExtended-Regular';
	font-size: 20px;
	font-weight: normal;
	text-transform:uppercase;
	line-height: 24px;
	margin-top:20px;
}
#p_magazine p, #p_magazine h2 {margin-bottom: 10px;}
#p_magazine .social-share {margin:10px 0;}
.ipad #p_magazine .issuu, .mobile #p_magazine .issuu, #p_magazine .no-issuu {display:none;}
.ipad #p_magazine .no-issuu, .mobile #p_magazine .no-issuu {display:block;}
</style>


<div class="g_8">
	<div class="issuu">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:620px;height:449px" id="11141f15-da6d-58d1-d6d0-9772f7cd9b25" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;embedBackground=%23ffffff&amp;printButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120319152812-db4a412720904a488ee7d1911709ece9" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:620px;height:449px" flashvars="mode=mini&amp;embedBackground=%23ffffff&amp;printButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120319152812-db4a412720904a488ee7d1911709ece9" /></object>
	</div>
	<div class="no-issuu">
		<p><a href="http://issuu.com/newspringchurch/docs/my-story?mode=mobile"><img src="//images.newspring.cc/site/magazine/my-story_ipad.jpg" alt="My Story - Read Now on the iPad!" /></a></p>
	</div>
</div>
<div class="g_4">
	<h2>Why My Story?</h2>
	<p> Because your relationship with Jesus cannot be broken down to a formula.  Your relationship with Jesus is not a 10-step process &mdash; it's a story. A story of mess ups and grace. A story of love and power. A story about what Jesus has done, is doing, and will do.</p>
	
	<h2>Share with Friends</h2>
	<p>
		<a href="https://twitter.com/share?via=newspring" class="twitter-share-button" data-url="http://newspring.cc/magazine" data-text="My Story Magazine..." data-related="newspring:NewSpring Church" data-via="newspring" data-hashtags="ReadYourBible, NewSpringStories, Magazine" data-lang="en" data-count="horizontal">Tweet</a>
	<div class="fb-like" data-href="{path=magazine}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	</p>
	
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}