{layout="_layouts/master"
	title="Salvation"
	description="We believe that God created the world and everything in it, including you, and He wants to begin a personal, one-on-one relationship with you today."
	image="http:{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.clouds.2.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="604800"}

{embed="newspring:_embeds/_hero"
	title="Salvation"
	summary="We believe that God created the world and everything in it, including you, and He wants to begin a personal, one-on-one relationship with you today."
	image_url="{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.clouds.2.jpg"
}

<section>
	<div class="shell">
		<div class="grid text--constrained">
			<div class="grid__item one-whole hard">
				<h2 class="centered">It Starts With Jesus</h2>
				{exp:scripturizer}
				<p>Everyone has an opinion about Jesus. Maybe you think He’s a great teacher or a prophet. Maybe you think He didn’t exist at all.  Whatever you believe, we can probably agree that Jesus changed things.</p>

				<p>We believe He wants to change you, too.</p>

				<blockquote>
					<p>I am the way and the truth and the life. No one comes to the Father except through me. If you really know me, you will know my Father as well.</p>
					<footer>John 14:6</footer>
				</blockquote>

				<p><strong>Jesus claimed He knew God.</strong> No big deal, right? Plenty of people make the same claim. But Jesus also said He <em>was</em> God. And this upset the religious leaders of His day so much that they killed Him. But that was 2,000 years ago. Why does it matter to you now? How does who Jesus is and what He’s done affect your life now in your 9 to 5, trying to take care of your kids, paying bills, or just keeping your head above water?</p>

				<p>God, the Creator of the universe, has a purpose for you and your life. He loves you and wants to help you because He is a good God. And because of that, His plans are better than your plans. You don’t have to measure up to some impossible religious standard to know Him. You just have to take a few simple steps.</p>

				<blockquote>
					<p>If you declare with your mouth, ‘Jesus is Lord,‘ and believe in your heart that God raised him from the dead, you will be saved.</p>
					<footer>Romans 10:9</footer>
				</blockquote>

				<p>You don't have to be perfect. Through His death on the cross, and then coming back from the dead, Jesus took all of your wrong and gave you all of His right. If you believe that and commit to following Him, your life will never be the same. It’s as simple as repenting of your sin, declaring you want to follow Jesus, and believing He is who He says He is.</p>

				<p>Believing in Jesus is the first step on the greatest journey of your life. You haven’t finished the race—you’ve just gotten started. The best is yet to come!</p>
				{/exp:scripturizer}
			</div>
		</div>
	</div>
</section>

<section class="section--dark section--pattern">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>What’s Next?</h2>
					<p>If you've made the decision to follow Jesus, or if you still have questions, we’d love to talk with you about it. Stop by a <a href="/locations">NewSpring campus</a> this Sunday, call us at <tel>864.965.9990</tel>, or email. We want to help you take your next steps and learn how to follow Jesus.</p>
					<a href="mailto:hello@newspring.cc" class="btn">Email Us</a>
				</div>
			</div>
		</div>
	</div>
</section>

{embed="newspring:_embeds/_discover"
	type="promoted"
}
{/exp:ce_cache:it}