{layout="_layouts/master"
	title="Share Your Story"
	description="Watch Pastor Perry Noble&rsquo;s quick tips on how to tell your story for God&rsquo;s glory."
	image="http:{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.darkforest.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents'}

{embed="newspring:_embeds/_hero"
	title="Share Your Story"
	summary="Watch Pastor Perry Noble&rsquo;s quick tips on how to tell your story for God&rsquo;s glory."
	video="share-story,lkaHB2azpU41z2bSRDjbIEKEHLMFXe92"
	image_url="{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.moods.darkforest.jpg"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<div class="text--constrained">
					<h2 class="centered">Your Story is a Gift</h2>
					<p>A gift? What you&rsquo;ve been through? Yes. Your story is a gift from God that He can use to draw people to Jesus. But not if you keep it to yourself&mdash;only if you share it.</p>

					<p>After you&rsquo;ve watched the video, take a few minutes to share what Jesus has done in your life by using our submission tool below. If you need more help, check out our extra resources: <a href="http://newspring.cc/blog/stories/three-things-to-help-you-share-your-story-and-answers-to-some-faqs/">3 Things to Help You Share Your Story</a> or <a href="http://newspring.cc/blog/stories/three-things-to-help-you-share-your-story-and-answers-to-some-faqs/">Answers to Some FAQs​</a>.</p>

					<hr class="half">

					<iframe height="1102" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://newspring.wufoo.com/embed/m39nk0z184k5zv/">&amp;lt;a href="https://newspring.wufoo.com/forms/m39nk0z184k5zv/"&amp;gt;Fill out my Wufoo form!&amp;lt;/a&amp;gt;</iframe>
				</div>
			</div>
		</div>
	</div>
</section>

{/exp:ce_cache:it}
