{exp:ce_cache:it}
{exp:ce_cache:escape}
{embed="includes/header"
  body_id="spartanburg" 
  body_class="subnav" 
  page_class="page-border" 
  group_style="{segment_1}"
  use_alt=""
  title="Spartanburg Launch Page"
  fb_title="Spartanburg Launch Page" 
  fb_url="" 
  fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

<div class="hr alt"><hr></div>

<div id="spa">

  <div id="hero" class="g_12">
    {exp:ce_img:single src="http://images.newspring.cc.s3.amazonaws.com/section/spartanburg/hero.spartanburg.jpg" width="940" height="400" crop="yes"}
  </div><!-- end #hero -->

  <div class="section g_10 p_1 s_1">
      <h1>Spartanburg Campus Building Opening <br> <span>March 23rd, 2014</span></h1>
      <p class="halves">NewSpring Church exists to reach people far from God and teach them to follow Jesus step by step. We are on a mission to reach 100,000 people for Jesus in South Carolina. That's why we're moving our Spartanburg campus into a permanent location on March 23rd, 2014. This building provides much needed room to grow with a 1,400 seat auditorium and 25,500 sq.ft. dedicated to teaching kids about Jesus on their level in KidSpring. Check out all the exciting details below.
      </p>
  </div>

  <div class="p_1 g_5">
      <h2>Service Times</h2>
      <h3>Sundays at 8:30am, 10am,<br> 11:30am &amp; 6:30pm</h3>
      <h4><a href="https://www.facebook.com/newspring.spartanburg.sc">Facebook</a> &bull; <a href="https://twitter.com/newspring">Twitter</a></h4>
  </div>

  <div class="g_5 s_1">
    <h2>Location</h2>
    <h3>399 Peachwood Centre Dr <br> 
    Spartanburg, SC 29301</h3>
    <h4><a href="mailto:spartanburg@newspring.cc">Email</a> &bull; <a href="http://goo.gl/g0FbyC">Get Directions</a></h4>
  </div>
  <div class="section map g_12">
    {exp:ce_img:single src="http://images.newspring.cc.s3.amazonaws.com/section/spartanburg/SPA.parkingmap.jpg" width="900" height="600" crop="no"}
  </div>

</div>

{!-- <div class="hr alt"><hr></div> --}

<ul class="giving-links clearfix">
  <li class="blackened"><a href="{path=ownership}" title=""><em>Next Step:</em> Ownership<br> Sign-Up</a></li>
  <li class="blackened"><a href="{path=serve}" title="" ><em>Next Step:</em> Serving<br/> Sign-Up</a></li>
  <li class="blackened"><a href="{path=give}" title=""><em>Give:</em>Give<br>Now</a></li>
</ul>

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}