{exp:ce_cache:it}

{exp:ce_cache:escape}
  {embed="includes/header" 
  	title="Israel" 
  	body_id="israel" 
  	body_class="ministries" 
  	style="fancybox"
  	group_style="{segment_1}"
  	fb_url="{path={segment_1}}" 
  	fb_title="Israel" 
  	fb_describe="Experience a spiritual pilgrimage to the Holy Land. This 9-day biblical discovery itinerary includes customized tours through Caesarea Maritime, Tiberias, Galilee, Mount of Beatitudes, Capernaum, Beit She'an, Jerusalem, Bethlehem, Mt. Of Olive, Qumran, Ein Gedi, and Masada, Garden of Gethsemane. The trip will focus on the highest level of quality, comfort and discovery. Enjoy staying in First Class or Superior Class hotels with buffet breakfast and dinner daily. Don't miss out on the opportunity of a lifetime, Sign up Today!"
  	fb_image="//images.newspring.cc/site/heroes/israel.jpg"
  }
{/exp:ce_cache:escape}

  <div id="hero" class="g_12 tall">
    <a href="#" class="play_button ooyala-embed" data-embed="R5aml2YzrDSTqbI3FbfqSRiRCgquQQ_I">Play Promo</a>
  </div><!-- end #hero -->

  <div class="section details g_10 p_1 s_1">
    <h2 class="israel-section-heading">March 27&ndash;April 4, 2014</h2>
    <p class="halves">Experience a spiritual pilgrimage to the Holy Land. This 9-day biblical discovery itinerary includes customized tours through Caesarea Maritime, Tiberias, Galilee, Mount of Beatitudes, Capernaum, Beit She'an, Jerusalem, Bethlehem, Mt. Of Olive, Qumran, Ein Gedi, and Masada, Garden of Gethsemane.
		The trip will focus on the highest level of quality, comfort and discovery. Enjoy staying in First Class or Superior Class hotels with buffet breakfast and dinner daily. Don't miss out on the opportunity of a lifetime, Sign up Today!</p>
	</div>

	{!-- <div id="israel-signup" class="section g_12">
		<p class="green-button"><a href="http://www.faithbasedexpeditions.com/tours/view/189" title="Israel Trips Information">Sign up for the 9-Day Israel Trip</a></p>
	</div> --}	
  <div id="israel-signup" class="section g_12">
    <p class="green-button"><a href="http://www.faithbasedexpeditions.com/tours/view/189" title="Israel Trips Information">Find Out More Information about our 2014 Trip</a></p>
  </div>  

{!--   <div class="p_2 g_8 s_2 details">
    <h2 class="pricing-heading">Pricing Options</h2>
      <p class="center">Similar to our 2012 trip, there are two pricing options for our 2014 Israel Trip, a Land &amp; Air or Land Only Package. There are benefits to both packages.</p>
  </div> --}

  {!-- <div class="p_1 g_5 details">
    <h2 class="package-heading">Land &amp; Air Package</h2>
    <h3 class="sub-price">Starting at &#36;3,580</h3>
    <ul class="package-details">   
      <li><span class="pictos">2</span> Convenience of signing up and having all details taken care of for you.</li> 
      <li><span class="pictos">2</span> Your seat on the plane is held with only a deposit. Final payment isn’t due until 90 days prior to the trip.</li> 
      <li><span class="pictos">2</span> Ground transportation is included to and from the Tel Aviv airport in Israel.</li> 
    </ul>     
  </div> --}

  {!-- <div class="g_5 s_1 details">
    <h2 class="package-heading">Land Only Package</h2>
    <h3 class="sub-price">Priced at &#36;1,665</h3>
    <ul class="package-details">
      <li><span class="pictos">2</span> Cost of individual ticket can be less than the cost of group purchased ticket.</li>
      <li><span class="pictos">2</span> Allows you to utilize your frequent flyer points to pay for your ticket.</li>
      <li><span class="pictos">2</span> Ground transportation is still included to and from the Tel Aviv airport in Israel.</li>
     </ul>
  </div> --}

{!--   <div class="g_12 bottom-border"></div> --}

  <div class="p_2 g_8 s_2 details">
      <h2 class="questions-heading">Have Questions?</h2>
      <p class="email-center">Email us at <a href="mailto:israel@newspring.cc">israel@newspring.cc</a></p>
	</div>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}