{layout="_layouts/master"
	title="Budget Class"
	description="Ready to learn more about how to manage your finances? NewSpring offers free budget classes to the community at every campus."
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Budget Class"
	summary="Ready to learn more about how to manage your finances? NewSpring offers free budget classes to the community at every campus."
	image_url="https://dl.dropboxusercontent.com/content_link/kIIDgPk19SQfiiklkRYvdJwTvOoOwgKqCNVVLuqiF7ycoHSdqCmmWAOHaKBrC881"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Who Needs a Budget?</h2>
			</div><div class="grid__item seven-twelfths portable-one-whole handheld-one-whole">
				<p>These learning opportunities are extremely beneficial for folks of all ages (from teen to senior adult). Whether you are struggling with money or you are interested in learning ways to manage your money better, these are for you! Managing money wisely will help you honor God with your finances. Everyone is welcome—all ages, from post high school to senior adults—<b>It isn't necessary to be an owner or attender of NewSpring.</b></p>
				<p>If you have a specific question about these opportunities before signing up, please <a href="mailto:finance@newspring.cc">email us.</a> We're here to help!</p>
			</div><div class="grid__item five-twelfths portable-one-whole handheld-one-whole">
				<hr class="flush--top">
				<p><i>"The plans of the diligent lead to profit as surely as haste leads to poverty."</i> <span class="source">Proverbs 21:5</span></p>
				<hr class="flush--bottom">
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>What Should I Expect?</h2>
			</div><div class="grid__item one-whole">
				<div class="text--constrained">
					<p><b>The Budget Class is a 90-minute group learning environment</b> where you will learn Bible-based money management principles. In this class you will learn how to create a budget that works, live within your means and save money, as well as ask any budget questions that you might have.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell background--fill" style="background: url(//s3.amazonaws.com/ns.images/newspring/editorial/articles/newspring.blog.hero.moods.depressed.jpg) center;">
		<div class="grid floating floating--left">
			<div class="grid__item floating__item five-twelfths handheld-one-whole" data-repeatable="y">
				<div class="overlay--dark"><h2>Sign Up for<br>One-on-One Help</h2>
				<p>We offer free, confidential, one-on-one financial coaching. We believe <i>"Plans fail for lack of counsel, but with many advisers they succeed."</i> &mdash;Proverbs 15:22.</p>
				<p>Our coaches are available to help you take your next steps in becoming a good steward of your personal and/or business finances.</p>
				<a href="/financialplanning/coaching" class="btn">Learn More</a></div>
			</div><div class="grid__item floating__item seven-twelfths handheld-one-whole centered" data-repeatable="y">
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}