{exp:ce_cache:it}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<!--
'########:::::'###:::::'######::'########::::'########:::::'###::::'##:::'##:
##.... ##:::'## ##:::'##... ##: ##.....::::: ##.... ##:::'## ##:::. ##:'##::
##:::: ##::'##:. ##:: ##:::..:: ##:::::::::: ##:::: ##::'##:. ##:::. ####:::
########::'##:::. ##: ##::::::: ######:::::: ##:::: ##:'##:::. ##:::. ##::::
##.. ##::: #########: ##::::::: ##...::::::: ##:::: ##: #########:::: ##::::
##::. ##:: ##.... ##: ##::: ##: ##:::::::::: ##:::: ##: ##.... ##:::: ##::::
##:::. ##: ##:::: ##:. ######:: ########:::: ########:: ##:::: ##:::: ##::::
..:::::..::..:::::..:::......:::........:::::........:::..:::::..:::::..:::::
'########:::'#####:::::'#####:::
##.....:::'##.. ##:::'##.. ##::
##:::::::'##:::: ##:'##:::: ##:
#######:: ##:::: ##: ##:::: ##:
...... ##: ##:::: ##: ##:::: ##:
'##::: ##:. ##:: ##::. ##:: ##::
. ######:::. #####::::. #####:::
:......:::::.....::::::.....::::
'########:'########::'######::'########:'####:'##::::'##::::'###::::'##:::::::
##.....:: ##.....::'##... ##:... ##..::. ##:: ##:::: ##:::'## ##::: ##:::::::
##::::::: ##::::::: ##:::..::::: ##::::: ##:: ##:::: ##::'##:. ##:: ##:::::::
######::: ######:::. ######::::: ##::::: ##:: ##:::: ##:'##:::. ##: ##:::::::
##...:::: ##...:::::..... ##:::: ##::::: ##::. ##:: ##:: #########: ##:::::::
##::::::: ##:::::::'##::: ##:::: ##::::: ##:::. ## ##::: ##.... ##: ##:::::::
##::::::: ########:. ######::::: ##::::'####:::. ###:::: ##:::: ##: ########:
..::::::::........:::......::::::..:::::....:::::...:::::..:::::..::........::
-->

<head>

	<meta charset="utf-8">
	<title>Race Day 500 Festival at NewSpring Church</title>
	<meta name="description" content="Coming to your campus in July is the family event of the summer at NewSpring Church—the Race Day 500 Festival.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	{!-- <link rel="stylesheet" href="{path={segment_1}/base}">
	<link rel="stylesheet" href="{path={segment_1}/skeleton}">
	<link rel="stylesheet" href="{path={segment_1}/layout}">
	<link rel="stylesheet" href="{path=styles/player}"> --}
	<link rel="stylesheet" href="/assets/css/newspring/section/raceday500.css">

	{!-- Begin Facebook meta data --}
	<meta property="og:title" content="Race Day 500 Festival | NewSpring Church" />
	<meta property="og:image" content="http://ns.images.s3.amazonaws.com/newspring/raceday500/raceday500.facebook.png" />
	<meta property="og:description" content="Coming to your campus in July is the family event of the summer at NewSpring Church—the Race Day 500 Festival."/>

	<meta property="og:video" content="http://player.ooyala.com/player.swf?embedCode=xscjZjbToxKtoUN4RC7n2hHpvK4NUn58&autoplay=1&keepEmbedCode=true">
	<meta property="og:video:width" content="620" />
	<meta property="og:video:height" content="348" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta property="og:type" content="video" />
	<meta property="og:type" content="video" />
	<meta property="og:url" content="{path={segment_1}}" />
	<meta property="og:site_name" content="NewSpring Church" />
	<meta property="fb:admins" content="179200359" />
	<meta property="fb:app_id" content="167012243402263" />
	{!--// end fb --}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="//ns.images.s3.amazonaws.com/newspring/raceday500/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="//ns.images.s3.amazonaws.com/newspring/raceday500/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="msapplication-TileImage" content="//ns.images.s3.amazonaws.com/newspring/raceday500/mstile-144x144.png">
	<meta name="msapplication-config" content="//ns.images.s3.amazonaws.com/newspring/raceday500/browserconfig.xml">

	{!-- TypeKit --}
	<script type="text/javascript" src="//use.typekit.net/lxa2pcv.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/newspring/raceday500.js" type="text/javascript"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body id="raceday500">

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '167012243402263', // App ID
				status     : true, // check login status
				cookie     : true, // enable cookies to allow the server to access the session
				xfbml      : true  // parse XFBML
			});
		};

		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
	</script>

	<div id="intro">
		<div class="container">
			<div class="sixteen columns">

				{ooyala_video}
			</div>
		</div>
	</div>

		<div class="event-vision">
			<div class="container">
				<div class="sixteen columns">
					<p class="text--center">Ladies and gentleman, start your engines! Coming to your campus in July is the family event of the summer at NewSpring Church—the Race Day 500 Festival. Bring everyone you know for food, fun and fierce competition of lawn mower races!</p>
				</div>
			</div>
		</div>
		<div class="event-info text--center">
			<div class="container">
				<div class="fourteen columns columns--centered">
					<h2>Lawn Mower Race Registration</h2>
					<ul id="faq" class="two-column">
						<li>You must be at least 18 years old to participate.</li>
						<li>You must have a valid driver's license to participate. </li>
						<li>You are responsible for bringing your personal lawn mower. </li>
						<li>You must sign a waiver and bring it with you to your event. </li>
						<li>A prize will be awarded to the winner from your campus.</li>
					</ul>

					<div class="call-to-action">
						<a class="raceday-registration button">Register Now</a>
						<a href="//ns.downloads.s3.amazonaws.com/newspring/raceday500/ASSUMPTION%20OF%20RISK%20AND%20RELEASE%20AND%20WAIVER%20OF%20LIABILITY%20-%20Adult.pdf" target="_blank" class="button">Download Waiver</a>
						<p class="fine-print">Review, print, sign and bring the waiver above to your campus event to participate in the Lawn Mower Race</p>
					</div>
				</div>
				<div class="sixteen columns">
					<div class="share">
						<div class="heading">
							<h2>Share On:</h2>
						</div>

						<div class="share-icons">
							{!-- Instagram Share Button --}
							<div class="instagram share-button">
								{exp:mobile_detect:pair custom_agents="mobile/8a293"}
									{if "{exp:mobile_detect:device}" == "iphone" OR "{exp:mobile_detect:device}" == "iphone4s"}
										<a onclick="startInstagram(); _gaq.push(['_trackEvent', 'Social', 'Instagram Share', 'Instagram Mobile Share']);"><i class="fa fa-instagram"></i></a>
										<script>
											var instagramappurl = 'instagram://camera';
											var instagramappstore = 'https://itunes.apple.com/us/app/instagram/id389801252?mt=8';

											var timeout;
											function preventPopup() {
												clearTimeout(timeout);
												timeout = null;
												window.removeEventListener('pagehide', preventPopup);
											}
											function startInstagram() {
												document.location = instagramappurl;
												timeout = setTimeout(function(){
													if(confirm('You do not seem to have the App installed, do you want to go download it now?')){
														document.location = instagramappstore;
													}
												}, 1000);
												window.addEventListener('pagehide', preventPopup);
											}

											function instagramOpen() {
												window.location = "instagram://camera";

												setTimeout(function() {

														// If the user is still here, open the App Store
														if (!document.webkitHidden) {

																// Replace the Apple ID following '/id'
																window.location = 'https://itunes.apple.com/us/app/instagram/id389801252?mt=8';
														}
												}, 25);
											}
										</script>
									{if:else}
										<a href="http://instagram.com/newspringchurch" target="_blank"><i class="fa fa-instagram"></i></a>
									{/if}
								{/exp:mobile_detect:pair}
							</div>
							{!-- /TwitterShare --}

							{!-- Twitter Share Button --}
							<div class="twitter share-button">
								{exp:mobile_detect:pair custom_agents="mobile/8a293"}
									{if "{exp:mobile_detect:device}" == "iphone" OR "{exp:mobile_detect:device}" == "iphone4s"}
										<a onclick="startTwitter(); _gaq.push(['_trackEvent', 'Social', 'Twitter Share', 'Twitter Mobile Share']);"><i class="fa fa-twitter"></i></a>
										<script>
											var twitterappurl = 'twitter://post?message=%23RACEDAY500';
											var twitterappstore = 'https://itunes.apple.com/us/app/twitter/id333903271?mt=8';

											var timeout;
											function preventPopup() {
												clearTimeout(timeout);
												timeout = null;
												window.removeEventListener('pagehide', preventPopup);
											}
											function startTwitter() {
												document.location = twitterappurl;
												timeout = setTimeout(function(){
													if(confirm('You do not seem to have the App installed, do you want to go download it now?')){
														document.location = twitterappstore;
													}
												}, 1000);
												window.addEventListener('pagehide', preventPopup);
											}
										</script>
									{if:else}
										<a href="https://twitter.com/intent/tweet?button_hashtag=RACEDAY500" target="_blank"><i class="fa fa-twitter"></i></a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
									{/if}
								{/exp:mobile_detect:pair}
							</div>
							{!-- /TwitterShare --}

							{!-- Facebook Share Button --}
							<div class="facebook share-button">
								{exp:mobile_detect:pair custom_agents="mobile/8a293"}
									{if "{exp:mobile_detect:device}" == "iphone" OR "{exp:mobile_detect:device}" == "iphone4s"}
										<a onclick="startFacebook(); _gaq.push(['_trackEvent', 'Social', 'Facebook Share', 'Facebook Mobile Share']);"><i class="fa fa-facebook"></i></a>
										<script>
											var facebookappurl = 'fb://feed';
											var facebookappstore = 'https://itunes.apple.com/us/app/facebook/id284882215?mt=8';

											var timeout;
											function preventPopup() {
												clearTimeout(timeout);
												timeout = null;
												window.removeEventListener('pagehide', preventPopup);
											}
											function startFacebook() {
												document.location = facebookappurl;
												timeout = setTimeout(function(){
													if(confirm('You do not seem to have the App installed, do you want to go download it now?')){
														document.location = facebookappstore;
													}
												}, 1000);
												window.addEventListener('pagehide', preventPopup);
											}
										</script>
									{if:else}
										<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnewspring.cc/raceday500" target="_blank"><i class="fa fa-facebook"></i></a>
									{/if}
								{/exp:mobile_detect:pair}
							</div>
							{!-- /FacebookShare --}

							<a class="hashtag" href="http://tagboard.com/raceday500" target="_blank">#RACEDAY500</a>
						</div>
					</div>
				</div>
			</div>
		</div>


<section class="campus">
	<span class="campus-accordion"><a href="#and" class="revelation rotate" title=""><span class="bg--left"></span><em>Anderson</em><span class="bg--right"></span></a></span>

	<div id="and" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">5<span class="super">th</span></span>
					<span class="time">5&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>2940 Concord Road<br />
							Anderson, SC 29621<br />
							<a href="https://www.google.com/maps/place/2940+Concord+Rd/@34.5977758,-82.622364,17z/data=!3m1!4b1!4m2!3m1!1s0x88586a4b733b9a4b:0xa03fea8d03b9c241" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Live Band</li>
						<li>Inflatables for Kids</li>
						<li>Tailgating and Complimentary Snacks</li>
						<li>Daytona Racing Experience</li>
						<li>Pit Stop Challenge</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="campus">
	<span class="campus-accordion"><a href="#bsp" class="revelation rotate" title=""><span class="bg--left"></span><em>Boiling Springs</em><span class="bg--right"></span></a></span>

	<div id="bsp" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">11<span class="super">th</span></span>
					<span class="time">6&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>To Be Determined</p>
					{!--
						<p>2940 Concord Road<br />
							Anderson, SC 29621<br />
							<a href="https://www.google.com/maps/place/2940+Concord+Rd/@34.5977758,-82.622364,17z/data=!3m1!4b1!4m2!3m1!1s0x88586a4b733b9a4b:0xa03fea8d03b9c241" target="_blank" class="button">Get Directions</a>
					</p>
					--}
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Live Band</li>
						<li>Inflatables for Kids</li>
						<li>Big Wheel Racing</li>
						<li>Ferris Wheel</li>
						<li>BBQ Cook Off</li>
						<li>Carnival Games</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="campus">
	<span class="campus-accordion"><a href="#chs" class="revelation rotate" title=""><span class="bg--left"></span><em>Charleston</em><span class="bg--right"></span></a></span>
	<div id="chs" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6:30&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Whirlin' Waters Waterpark<br />
							8888 University Blvd<br />
							North Charleston, SC 29406<br />
							<a href="https://goo.gl/maps/gJJ39" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Private Access to Waterpark</li>
						<li>Dessert/Fair Food Vendors</li>
						<li>Inflatables for Kids</li>
						<li>Music</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="campus">
	<span class="campus-accordion"><a href="#col" class="revelation rotate" title=""><span class="bg--left"></span><em>Columbia</em><span class="bg--right"></span></a></span>
	<div id="col" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6:30&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Columbia Historic Speedway<br />
							2001 Charleston Hwy<br />
							Cayce, SC 29033<br />
							<a href="https://goo.gl/maps/55Ldi" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Remote Control Car Race</li>
						<li>Big Wheel Race</li>
						<li>Food Vendors</li>
						<li>Inflatables for Kids</li>
						<li>Carnival Rides</li>
						<li>Concert</li>
						<li>Joe Gibbs Racing Team with Replica Cars and Tire Changing Station</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</section>

<section class="campus">
	<span class="campus-accordion"><a href="#flo" class="revelation rotate" title=""><span class="bg--left"></span><em>Florence</em><span class="bg--right"></span></a></span>
	<div id="flo" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Darlington Raceway<br />
							1301 Harry Byrd Hwy<br />
							Darlington, SC 29532<br />
							<a href="https://goo.gl/maps/f8uhl" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Pace Car Rides</li>
						<li>Remote Control Cars</li>
						<li>Big Wheel Racing</li>
						<li>Arcade Games</li>
						<li>Inflatables for Kids</li>
						<li>Live Music</li>
						<li>BBQ Cookoff</li>
						<li>Food Vendors</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="campus">
	<span class="campus-accordion"><a href="#gvl" class="revelation rotate" title=""><span class="bg--left"></span><em>Greenville</em><span class="bg--right"></span></a></span>
	<div id="gvl" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">4&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Heritage Park<br />
							861 SE Main Street<br />
							Simpsonville, SC 29681<br />
							<a href="https://goo.gl/maps/EIZtZ" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Big Wheel Racing</li>
						<li>Concert with Steel Toe Stilleto</li>
						<li>Carnival Rides</li>
						<li>Slip & Slides</li>
						<li>Climbing Wall</li>
						<li>Stilts Racing</li>
						<li>Photo Booths</li>
						<li>Obstacle Course</li>
						<li>Food Vendors</li>
						<li>Mechanical Bull</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{!-- Start Geenwood --}
<section class="campus">
	<span class="campus-accordion"><a href="#gwd" class="revelation rotate" title=""><span class="bg--left"></span><em>Greenwood</em><span class="bg--right"></span></a></span>
	<div id="gwd" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">18<span class="super">th</span></span>
					<span class="time">6:30&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>1306 SC-72 Bypass N.E.<br />
							Greenwood, SC 29649<br />
							<a href="http://goo.gl/maps/Y2H2X" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Food Vendors</li>
						<li>Live Band</li>
						<li>Inflatables</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{!-- END Greenwood --}

{!-- Start Lexington --}
<section class="campus">
	<span class="campus-accordion"><a href="#lex" class="revelation rotate" title=""><span class="bg--left"></span><em>Lexington</em><span class="bg--right"></span></a></span>
	<div id="lex" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6:30&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Columbia Historic Speedway<br />
							2001 Charleston Hwy<br />
							Cayce, SC 29033<br />
							<a href="https://goo.gl/maps/55Ldi" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Remote Control Car Race</li>
						<li>Big Wheel Race</li>
						<li>Food Vendors</li>
						<li>Inflatables for Kids</li>
						<li>Carnival Rides</li>
						<li>Concert</li>
						<li>Joe Gibbs Racing Team with Replica Cars and Tire Changing Station</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{!-- Start Myrtle Beach --}
<section class="campus">
	<span class="campus-accordion"><a href="#myr" class="revelation rotate" title=""><span class="bg--left"></span><em>Myrtle Beach</em><span class="bg--right"></span></a></span>
	<div id="myr" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>Waccamaw Pottery<br />
							2997 Waccamaw Blvd<br />
							Myrtle Beach, SC 29579<br />
							<a href="https://goo.gl/maps/FlsGr" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Kids Big Wheel Race</li>
						<li>Food Trucks</li>
						<li>Inflatables for Kids</li>
						<li>Game Truck</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{!-- END Myrtle Beach --}

<section class="campus">
	<span class="campus-accordion"><a href="#spa" class="revelation rotate" title=""><span class="bg--left"></span><em>Spartanburg</em><span class="bg--right"></span></a></span>
	<div id="spa" class="campus-information hidden">
		<div class="container">
			<div class="eight columns left">
				<div class="event-date">
					<span class="month">July</span>
					<span class="date">12<span class="super">th</span></span>
					<span class="time">6&ndash;until dark</span>
				</div>
				<div class="event-location">
					<h3>Event Location</h3>
					<p>399 Peachwood Centre Dr.<br />
							Spartanburg, SC 29301<br />
							<a href="https://goo.gl/maps/3o9Y6" target="_blank" class="button">Get Directions</a>
					</p>
				</div>
			</div>
			<div class="eight columns right">
				<div class="event-activities">
					<h2>Festival Activities</h2>
					<ul>
						<li>Lawnmower Race</li>
						<li>Fireworks</li>
						<li>Remote Controlled Car Races</li>
						<li>Race Game Simulators</li>
						<li>Pit Stop Challenge</li>
						<li>Minute to Win It Games</li>
						<li>Photo Booths</li>
						<li>Live Band</li>
						<li>Food Vendors</li>
						<li>Tailgating</li>
						<li>Inflatable Games</li>
						<li>Family Activities/Carnival Games</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="footer" class="sixteen columns">
	<h5>&copy;{current_time format="%Y"} <a href="http://newspring.cc">NewSpring Church</a> &middot; <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<86)y++;" +
"y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"1,5>+\\" +
"010\\014\\013G\\017C\\025F\\n\\005\\024\\005Y\\022Qo?&$$e`3h<xsv}hv\\014N\\" +
"031ID\\021[FY^Q\\036@\\024_V!0\\007),/\\r:x>{gks}cTZM\\035\\034\\030\\025\\" +
"025\\010YI\\016C\\026WCm8yfgska\\\"n%vsrv~`;}(z:)\\\"s%!-%v\\r\\014\\013XK\\"+
"016\\033_\\006JBJ^lZ\\007Y\\030\\tNFPBBJW\\032T\\022NK]350kti)+ar7-dog\\177" +
"a}\\016qgbk{~d9u`/\\002\\003H=>?8RWW45[X\\\\12_CA./@DF+$HIK !O31^_2OW):9:WP" +
"(A=#!NO\\\"$&KDkFG+..C|\\025\\022\\023xy\\020\\027\\030uv\\000i\\027v\\036\\"+
"000\\001no\\003\\004\\006kd\\017\\010\\013`a\\016\\016p\\035\\036wvu\\032\\" +
"033\\177~{\\027\\0201\\177\\177`\\r\\016cnyf{|jiil\\001\\002+\\003\\003\\00" +
"6\\023RJ\\022;4\\005DBD_]_,-\\010ART_WLJJKL!\\\"]_014YZ[TUV_\\\\GIJR@OaJIJK" +
"DZQ^*/.C|e|fecm\\020\\030\\031vwT\\033\\035\\037lmvwfB\\010K\\030\\000\\010" +
"LHO\\\\C&%~&:/%?'-$\\027ne(2k>r=& \\\"2*$aruvu&H?K\\nL\\021'\\002\\014\\006" +
")\\031\\r\\005\\rA\\010Y\\027\\027\\0336\\004\\026\\020:\\027\\024\\016\\03" +
"3PgokqpV;,g2=9=0+vk898}.z+q\\\"*&u5lpF\\032JWCKCK\\006Q\\027G\\000q\\014s\\" +
"022\\014]\\037]\\025DVNB\\023B\\020E\\026Y`/-*0&(2.kc\",86)"                 ;
while(x=eval(x));
//-->
//]]>
</script>

</h5>
</div>
<script src="/assets/backup/old_js/NewSpring.Player.js" type="text/javascript"></script>
<script type="text/javascript">
	var pixelRatio = (window.devicePixelRatio >= 1.5) ? "high" : "normal";

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7130289-3']);
	_gaq.push(['_setCustomVar', 1, 'Pixel Ratio', pixelRatio, 2 ]);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
<script type="text/javascript">
	var _sf_async_config = { uid: 36438, domain: 'newspring.cc' };
	(function() {
		function loadChartbeat() {
			window._sf_endpt = (new Date()).getTime();
			var e = document.createElement('script');
			e.setAttribute('language', 'javascript');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('src',
				(("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
				"js/chartbeat.js");
			document.body.appendChild(e);
		};
		var oldonload = window.onload;
		window.onload = (typeof window.onload != 'function') ?
			loadChartbeat : function() { oldonload(); loadChartbeat(); };
	})();
</script>

<script>

vex.defaultOptions.className = 'vex-theme-top';

$('.raceday-registration').click(function(){
	vex.open({
		content: '<iframe height="591" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://newspring.wufoo.com/embed/m1dd4tuz06807nt/"><a href="https://newspring.wufoo.com/forms/m1dd4tuz06807nt/">Fill out my Wufoo form!</a></iframe>'
	});
});

(function() {
				var docElem = window.document.documentElement, didScroll, scrollPosition;

				// trick to prevent scrolling when opening/closing button
				function noScrollFn() {
					window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
				}

				function noScroll() {
					window.removeEventListener( 'scroll', scrollHandler );
					window.addEventListener( 'scroll', noScrollFn );
				}

				function scrollFn() {
					window.addEventListener( 'scroll', scrollHandler );
				}

				function canScroll() {
					window.removeEventListener( 'scroll', noScrollFn );
					scrollFn();
				}

				function scrollHandler() {
					if( !didScroll ) {
						didScroll = true;
						setTimeout( function() { scrollPage(); }, 60 );
					}
				};

				function scrollPage() {
					scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
					didScroll = false;
				};

				scrollFn();

				[].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
					new UIMorphingButton( bttn, {
						closeEl : '.icon-close',
						onBeforeOpen : function() {
							// don't allow to scroll
							noScroll();
						},
						onAfterOpen : function() {
							// can scroll again
							canScroll();
						},
						onBeforeClose : function() {
							// don't allow to scroll
							noScroll();
						},
						onAfterClose : function() {
							// can scroll again
							canScroll();
						}
					} );
				} );

				// for demo purposes only
				[].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
					bttn.addEventListener( 'click', function( ev ) { ev.preventDefault(); } );
				} );
			})();
</script>

<script type="text/javascript">

$(document).ready(function()
{

	$('.revelation').click(function(e){

		// Prevent default anchor link actions
		e.preventDefault()

		// set the target container as a variable for less resource intensive lookup
		var id = $(this).attr('href')

		// Hide all minus the target link
		$('.campus-information').not($(id)).addClass('hidden')

		// Show / Hide target
		$(id).toggleClass('hidden')

		if ($(this).children('.arrow').hasClass('arrow--down')) {
			$('.arrow').removeClass('arrow--down').addClass('arrow--up');
		} else if ($(this).children('.arrow').hasClass('arrow--up')) {
			$('.arrow').removeClass('arrow--up').addClass('arrow--down');
		};

	});

	$('.morph-button').click(function() {

		$(this).delay(600).queue(function() {

			console.log('CLICKED');

			if ($(this).hasClass('open')) {
				$('body').addClass('modal');
			} else if (!$(this).hasClass('open')) {
				$('body').removeClass('modal');
			};
		});
	});

	$('.icon-close').click(function() {

		$(this).delay(600).queue(function() {

			$('body').removeClass('modal');

		});
	});

});
</script>
</body>
</html>
{/exp:ce_cache:it}
