{embed="includes/header"
	body_id="parking" 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}"
	use_alt=""
	title="Anderson Campus | New Parking Changes"
	fb_title="Anderson Campus | New Parking Changes" 
	fb_image="http://images.newspring.cc/site/heroes/parking.jpg"
	fb_url="{path={segment_1}}" 
	fb_describe="Beginning on Sunday, October 6th, we are making changes to improve the flow of traffic in our parking lot."
}


<div id="hero" class="g_12 border">
      <h1>Parking Changes</h1>
      <h2>That Will Affect You</h2>
      <h3>At the Anderson Campus</h3>
</div><!-- end #hero -->

	<div id="parking" class="g_10 p_1 s_1">
		<p class="halves">Beginning on Sunday, October 6th, we are making changes to improve the flow of traffic in our parking lot. Our goal is to help all of our guests enter and exit the parking lot in the quickest way possible. Thank you for your patience as these changes begin next week. View the map below to see how these changes could affect where you should enter to get to your desired parking area.</p>
	</div>

	<div class="g_12" id="park">
		<img src="//images.newspring.cc/site/heroes/map-parking.png" alt="">
	</div>



{embed="includes/footer"}