{exp:ce_cache:it}
{exp:ce_cache:escape}
	{embed="includes/header_prefix" title="Guest Services" body_class="guestservices" body_id="guestservices"}
{/exp:ce_cache:escape}

<ul class="clearfix" style="margin-bottom: 10px; margin-top: 10px;">
{exp:channel:entries channel="guest_services" orderby="gs_display_order" sort="asc" status="open" search:gs_ministry="Fuse"}

	<li class="blackened wide small">
			{gs_campus}
				<a href="{path=guestservices/{url_title}-fuse}" title="{title} Campus Fuse Page">
				{title} Fuse
			{/gs_campus}
		</a>
	</li>

{/exp:channel:entries}
</ul>
{/exp:ce_cache:it}