{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
	title="Unleash Your Finances" 
	body_id="unleashfinances" 
	group_style="{segment_1}"
	fb_url="{path={segment_1}}" 
	fb_title="Unleash Your Finances" 
	fb_describe=""
	fb_image=""
}
{/exp:ce_cache:escape}

<div class="c_12 clearfix">
  <div id="hero" class="g_12 border">
      <h1><span>Unleash</span><br>Your Finances</h1>
      <a href="#" class="play_button_new ooyala-embed border" data-embed="FqNTh4ZDrVhya1_hKDE2X8CWTC3y94bZ">
        <span class="icon"></span>
        <span class="text">Watch Video</span>
      </a>
  </div>
  <div id="page_content" class="g_12">
    <div class="g_6 g_a">
      <h2>What's this Class About?</h2>
      <p>Unleash Your Finances is a 45-minute teaching session with Pastor Perry Noble that covers five specific next steps you can take to completely revolutionize your personal finances.</p>
      <p>If you’re confused, stressed or overwhelmed about money, this class will help. God wants to do more than you can ask for or imagine with it. Learn how to have the abundant life Jesus promised when you turn your finances from worry into worship.</p>
    </div>
    <div class="g_6 g_o">
      <h2>Things You'll Learn</h2>
      <ul class="topics">
        <li><div class="num"><span>1</span></div>The one financial descion that will change the trajectory of your life.</li>
        <li><div class="num"><span>2</span></div>The main reason you seem to run out of money every month.</li>
        <li><div class="num"><span>3</span></div>How to break free of debt.</li>
        <li><div class="num"><span>4</span></div>How to be in control of your money instead of letting your money control you.</li>
        <li><div class="num"><span>5</span></div>How to stop fighting about money in your marriage.</li>
      </ul>
    </div>
  </div>
  <div id="why" class="g_12 g_o">
    <h2>Why is Money So Important?</h2>
      <p>Money is one of the most confusing and stressful parts of our daily lives. But money is also one of the topics that God makes very clear in the Bible.</p> 
      <p>The Bible contains less than 500 verses on faith and about 500 verses on prayer, but more than 2,000 verses about money and possessions. In fact, Jesus talked more about money more than He talked about Heaven and Hell—combined. Why? Because He knew that money would always be the single biggest competitor for our heart, attention and worship.</p>
  </div>
</div>

<div class="hr alt"><hr></div>
<ul class="giving-links clearfix">
  <li class="blackened"><a href="{path=coaching}" title="Learn more about our Financial Coaching"><em>Need help with your finances?</em> Get Free<br> Financial Coaching</a></li>
  <li class="blackened"><a href="{path=financialplanning}" title="Learn more about Financial Planning" ><em>Don't have a budget yet?</em> Check Out<br/> Financial Planning</a></li>
  <li class="blackened"><a href="http://newspring.cc/search/?q=money%20site%3Anewspring.cc%2Fwatch" title="View Sermon Content about Finances"><em>Still have questions?</em> Watch Sermons<br>About Money</a></li>
</ul>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}