{layout="_layouts/master"
	title="Privacy Policy"
	description=""
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_non-hero"
    section='section--pattern section--texture'
    overlay='overlay--light'
    title='Privacy Policy'
}

<section>
	<div class="shell">
		<div class="grid text--constrained">
			<div class="grid__item one-whole hard">
				<h3>Your Credit Card Information</h3>
				<p>We take privacy seriously and take multiple steps to ensure cardholder data does not fall into the wrong hands. Currently we do not store full credit card numbers, card expiration dates or cvn numbers on our server at any time&mdash;this info is sent directly to our processor and then bank to complete the transaction.</p>

				<p>We do store other cardholder information such as name, address, phone number and email address in order to assist users with their transactions. We also use this data to provide users with a history of their giving transactions once logged into their Fellowship One  account.</p>

				<p>While we may use this data internally to better support our people, access to this data is restricted only to those who need it in order to do their jobs.</p>

				<p>We will never rent, sell, or distribute any information about about our users.</p>

				<h3>Data Retention</h3>
				<p>Currently we retain cardholder information indefinitely (name, address, phone and email) so that we can provide the best possible service to our people. Account numbers, CCV numbers, or expiration dates are never stored on our servers.</p>

				<p>In the event we must purge cardholder information, we will completely remove this data from our database along with all backup copies of the database.</p>

				<p>If you have other questions about our privacy policy, please contact our Web Department via email at <a href="mailto:web@newspring.cc">web@newspring.cc</a>.</p>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}