{layout="_layouts/master"
    title="Internships | Jobs"
    description="The internship program exists to serve&mdash;to serve future leaders by giving them access to ministry responsibilities and leadership coaching and to serve the church by increasing its leadership capacity."
    image=""
    page_type=""
    article_section=""
    tags=""
    publish_time=""

    google_author=""
    google_page_profile=""

    twitter_publisher=""
    twitter_author=""

    facebook_profile=""
    facebook_app=""

    typekit=""

    section_style=""
    section_script=""

    meta=""
    footer=""
}

{layout:set name="meta"}
    {!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents'}

<section class="section--dark overlay--light">
    <div class="shell background--fill overlay overlay--gradient" style="background-image: url(http://images.newspringcollege.com.s3.amazonaws.com/NewSpring%20College-3.jpg);">
        <div class="grid overlay__item centered">
            <div class="grid__item one-whole">
                <h2 class="no_hero">Internships</h2>
            </div>
        </div>
    </div>
</section>

{exp:channel:entries site="newspringnetwork" channel="ministry_topic" entry_id="123876"}
<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>Vision</h2>
					{!-- We've created an Internship department, so vision should pull from that field --}
					{ministry_topic_vision}

					<p>The internship program exists to serve&mdash;to serve future leaders by giving them access to ministry responsibilities and leadership coaching and to serve the church by increasing its leadership capacity. Through this experience we want to see interns discover more about who Jesus is, who they are in Him, and about God's calling on their life.</p>
					<a href="https://newspring.wufoo.com/forms/wk5uhen0ps2vaj/" target="_blank" class="btn">Apply Now</a><br>
					<small>*The Worship Internship requires an alternate application, available <a href="https://newspring.wufoo.com/forms/mqv6xzn0we4wo5/" target="_blank">here.</a></small>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:channel:entries}

<section class="section--grey">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>Internship Dates</h2>
					<p>During the spring, summer and fall semesters intern positions will require a minimum time commitment of 25 hours per week.</p>
					<hr>
				</div>
			</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
				<h3>Spring 2015</h3>
			        <ul class="list--bulleted">
			          <li>Begins Sunday January 11, 2015 and ends Sunday May 3, 2015</li>
			          <li>Deadline to apply for the Spring 2015 semester is Wednesday November 12, 2014</li>
			          <li>Selected applicants will be interviewed by the ministry area they've applied for between Monday, November 17 and Wednesday, December 3, 2014.</li>
			          <li>Interns will be selected and notified by Thursday, December 4, 2014</li>
			        </ul>
			</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
				<h3>Summer 2015</h3>
				<ul class="list--bulleted">
					<li>Begins Sunday, May 17, 2015 and ends Sunday, August 9, 2015</li>
					<li>Deadline to apply for the Summer 2015 semester is Wednesday, April 1, 2015</li>
					<li>Selected applicants will be interviewed by the ministry area they've applied for between Monday, April 6 and Wednesday, April 22, 2015.</li>
					<li>Interns will be selected and notified by Thursday, April 23, 2015</li>
				</ul>
			</div><div class="grid__item one-whole centered">
				<a href="https://newspring.wufoo.com/forms/internship-application/" class="btn">Apply Now</a>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Position Descriptions</h2>
			</div><div class="grid__item one-whole">
				<h3>Central Staff</h3>
				<p>The central team exists to serve the ministries and teams at the campuses, and the campus teams serve the volunteers and guests at their campus directly. Campus teams will lend more to hands on working with people. Central teams will lend more to planning and systems work for the church as a whole.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>Guest Services</h3>
				<p>Guest Services is a ministry made up of many teams including greeting, facility cleaning crew, parking, ushering, and more that are all committed to making a guest's experience at NewSpring excellent. Interns will need to believe that first impressions are important and love creating welcoming environments for every guest at NewSpring.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>KidSpring</h3>
				<p>KidSpring is our children's ministry. Interns will need to have a passion to see children experience Jesus on their level. Interns will be serving and leading volunteers who serve kids in safe, age-appropriate environments where the Bible is taught in a creative and relevant way.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>Fuse</h3>
				<p>Fuse is our student ministry. Interns will need to have a heart to see high school and middle school students grow and fall in love with Jesus daily.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>Next Steps</h3>
				<p>Next Steps is a ministry committed to seeing people grow in their relationship with Jesus one step at a time. Next Steps areas include Baptism, Care, Classes, Financial Coaching, Groups, Resources, and Volunteering.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>Production</h3>
				<p>Production deals with the technical aspects involved with creating an excellent worship service. Interns in this area need to have technical skills as well as attention to detail and a commitment to excellence. Production teams include audio, video, and lighting.</p>
				<hr>
			</div><div class="grid__item one-whole">
				<h3>Worship</h3>
				<p>The goal of the worship internship is that your walk with God would be closer, your calling would be clearer, and your craft would be sharper. You can apply to intern with the central team to get a broad view of what worship looks like at our church, or you can apply for any of our campuses to get a front-lines view of what it takes to make Sundays happen each week. A video audition is required for the worship internship.</p>
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Spring 2015 Internships</h2>
			</div>
			{exp:channel:entries channel="campuses" orderby="title" sort="asc"}{!--

		 	--}{if {exp:playa:total_parents channel="jobs" category="182" status="Closed"}}{!--
				--}<div class="grid__item one-third lap-wide-one-third lap-one-half palm-wide-one-half palm-one-whole palm-centered">
					<h3>{title}</h3>
					<ul>
			{/if}{!--

			--}{exp:playa:parents channel="jobs" category="182" status="Closed" orderby="title" sort="asc" var_prefix="internship"}
				<li class="flush">{internship:title}</li>
			{/exp:playa:parents}{!--

			--}{if {exp:playa:total_parents channel="jobs" category="182" status="Closed"}}
					</ul>
				</div>{!--
			--}{/if}{!--

			--}{/exp:channel:entries}
		</div>
	</div>
</section>

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Internship FAQ</h2>
			</div><div class="grid__item one-half">
				<h3>How do I apply?</h3>
				<p><a href="https://newspring.wufoo.com/forms/internship-application/" title="">Fill out this online application</a>. Be mindful of all deadlines. We cannot accept applications after deadlines have passed.</p>
			</div><div class="grid__item one-half">
				<h3>Will I hear from someone immediately?</h3>
				<p>You will receive a confirmation email upon submitting your application. We will only call applicants we choose to interview.</p>
			</div><div class="grid__item one-half">
				<h3>Is there an age requirement for the internship?</h3>
				<p>You must be at least 18 years old.</p>
			</div><div class="grid__item one-half">
				<h3>Are international applicants eligible?</h3>
				<p>Yes. Other documentation will be needed should you choose to apply.</p>
			</div><div class="grid__item one-half">
				<h3>What is a typical weekly schedule?</h3>
				<p>It varies per area of ministry, but you can expect a Sunday&ndash;Thursday work week with Friday and Saturday off (barring any special events that may take place on those days). That means you will work 4 days during the week (and some evenings when needed). Sundays will involve you being present at your campus' services.</p>
			</div><div class="grid__item one-half">
				<h3>Do I get time off?</h3>
				<p>Yes, you will get 2 full days off during the week (most likely Friday and Saturday). There are also certain holidays during each semester that the offices are closed. Please inquire about those for the semester for which you apply.</p>
			</div><div class="grid__item one-half">
				<h3>Why don't I see an option to apply for a worship internship on the application?</h3>
				<p>You may be filling out the general internship application. There is a specific application for the worship internship. You can find it <a href="https://newspring.wufoo.com/forms/mqv6xzn0we4wo5/">here.</a>&nbsp;</p>
			</div><div class="grid__item one-half">
				<h3>Do you provide housing?</h3>
				<p>No. All interns are responsible for securing their own housing.</p>
			</div><div class="grid__item one-half">
				<h3>Is the internship paid?</h3>
				<p>All internships are unpaid.</p>
			</div><div class="grid__item one-half">
				<h3>How many hours are expected?</h3>
				<p>We require a minimum time commitment of 25 hours per week.</p>
			</div><div class="grid__item one-half">
				<h3>What is the length of the internship?</h3>
				<p>Each internship semester is 12-15 weeks. Spring internships run from January to May, Summer internships run from May to August, and Fall internships run from August to December.</p>
			</div>
		</div>
	</div>
</section>





				{!--


				<h2>Campus-Specific Internship Opportunities</h2>


				<p>Internships available on the Central Team:</p>
				<ul>
					<li>Campus Development</li>
					<li>Communications</li>
					<li>Facilities</li>
					<li>Finance</li>
					<li>Graphic Design</li>
					<li>IT</li>
					<li>Motion Graphics</li>
					<li>Web Design</li>
					<li>Web Development</li>
					<li>Web Content Management</li>
					<li>Stewardship</li>
				</ul>


				--}

{/exp:ce_cache:it}