{exp:ce_cache:it seconds="0"}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>NewSpring Church HVAC Admin</title>

	<style type="text/css">
		body { background-color: #ddd; }

		#hug {
			background-color: #fff;
			margin: 100px auto 0 auto;
			padding: 20px 0 30px 0;
			}

		#hug p { 
			font: bold 20px "helvetica", serif;
			text-align: center; 
			}

		a, a:visited { 
			background: #fff;
			color: #8cc63f;
			text-decoration: none; 
			padding: 4px 6px;
			}

		a:hover { 
			background: #8cc63f;
			color: #fff;
			text-decoration: none; 
			padding: 4px 6px;
			}
	</style>
</head>
<body>  
	<div id="hug">
			<p>**These links must be run from Internet Explorer**</p>
		
		<p>On-Site</p>
		<p><a href="http://10.1.60.12/metasys">Anderson West (Main)</a></p>
		<p><a href="http://10.1.60.16/metasys/">Anderson West Dimmer Room</a></p>
		<p><a href="http://10.1.60.49/metasys">Anderson Executive Area</a></p>
		<p><a href="http://10.1.60.30/metasys">Anderson KidSpring</a></p>
		<p><a href="http://10.1.60.31/metasys">Anderson East (Fuse)</a></p>
		<p><a href="http://10.0.60.15/metasys">Central Executive Area</a></p>
		<p><a href="http://10.14.60.15/metasys">Greenwood</a></p>
		<p><a href="http://10.5.60.15/metasys">Columbia</a></p>
		<p><a href="http://10.7.60.200/metasys">Spartanburg</a></p>
  
		<p>Off-Site</p>
		<p><a href="http://204.116.47.247:1001/metasys">Anderson West (Main)</a></p>
		<p><a href="http://204.116.47.247:1008/metasys">Anderson West Dimmer Room</a></p>
		<p><a href="http://204.116.47.247:1005/metasys">Anderson Executive Area</a></p>		
		<p><a href="http://204.116.47.247:1003/metasys">Anderson KidSpring</a></p>
		<p><a href="http://204.116.47.247:1002/metasys">Anderson East (Fuse)</a></p>
		<p><a href="http://204.116.47.247:1004/metasys">Central Executive Area</a></p>
		<p><a href="http://204.116.47.247:1006/metasys">Greenwood</a></p>
		<p><a href="http://204.116.47.247:1007/metasys">Columbia</a></p>
		<p><a href="http://204.116.47.247:1009/metasys">Spartanburg</a></p>
    

			<p>**These links must be run from Internet Explorer**</p>
	</div>
</body>
</html>
{/exp:ce_cache:it}