<section id="jake" class="hard story">
	<section class="full-screen has-video" data-fullscreen="jake, 0">
		<div class="video"
		data-background-video="jake, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.jake.alt.mp4, //s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.jake.alt.webm]"
		data-background-img="{images-global}/newspring/editorial/stories/newspring.easter.bgvideo.jake.jpg"
		data-video-position="center"
		data-img-position="right, bottom"
		style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.jake.jpg')"
		></div>
		<div class="foreground">
			<div class="grid floating">{!--
			 --}<div class="grid__item one-whole">
					<div class="shell">
						{!-- <h1 class="handwriting">Jake</h1> --}
						<img src="{images-global}/newspring/editorial/content/web.jake.hudlowhand.transparent.png" alt="" class="headline">
						<a href="#" data-video="jake, lxeGN3bDqKF61mFqEIfvPN7EuP8538cx">
								<div class="btn btn--play smooth"></div>
						</a>
					</div>
				</div>
			</div>
			<a href="#_jake" class="scroll-down full-width">
				<h4>Get to know Jake</h4>
			</a>
		</div>
	</section>
	<section id="_jake" class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">My Hope. My Hero.</h1>

				<p>The Denver Broncos. Mountain Dew. <em>Halo.</em> Blueberry pie. Dark chocolate. His dad&rsquo;s favorite things? They&rsquo;re special for Jake now, too.</p>

				<p>Jake doesn&rsquo;t have to think about his dad to remember him. The reminders are everywhere. Every day. Even the XBox video controller Jake skillfully wields is about more than a high score. Zac used to call himself &ldquo;the master of disaster.&rdquo; Now it&rsquo;s Jake beating everybody in Halo. That piece of molded plastic is Zac&rsquo;s gaming legacy passed down, father to son.</p>

				<p>In the final weeks before Zac&rsquo;s death, he told Jake it was now his turn to be the man of the house. Four years later, at the age of 13 it&rsquo;s a mantle he wants to wear. Checking up on mom when she looks a little tired. Offering to read his sister&rsquo;s writing to encourage her when she&rsquo;s moody or mad. Throwing a football with his brother in the backyard.</p>

				<p>Jake&rsquo;s carrying on out of love for his dad and out of love for God. Jesus is always there to turn to, in all the tough times, he says. He just has to remember those people changed by Jesus because of his dad&rsquo;s video. When bad things happen, that&rsquo;s proof there&rsquo;s always hope for better things to come.</p>
			</div>
		</div>
	</section>
	<section class="bleed no-video">
		<div class="grid"><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.jake001.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.jake002.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.jake003.jpg')">
					</div>
				</div>
			</div><!--
   	 --></div>
	</section>
	<section class="no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Q &amp; A with Jake</h1>
				<ul>
					<li><strong>What is your most treasured possession?</strong> My Wendy&rsquo;s gift card or my xbox ONE or my xbox 360.</li>
					<li><strong>What's your hidden talent?</strong> Rock climbing.</li>
					<li><strong>In a sentence, what would you tell 9-year-old Jake?</strong> <em>&ldquo;Don&rsquo;t try and be a doctor.&rdquo;</em></li>
					<li><strong>If you could swim in a pool of anything, what would it be?</strong> Well that&rsquo;s easy, water. Medium, warm temperature water.</li>
					<li><strong>Best advice from your mom?</strong> <em>&ldquo;Don&rsquo;t do that!&rdquo;</em></li>
					<li><strong>Top five favorite foods?</strong> From not-so-much my favorite to my favorite: a chicken sandwich with ketchup, steak nachos, honey chicken from the Anderson Mall, a hamburger with bacon, and a Tur-duck-en.</li>
				</ul>
			</div>
		</div>
	</section>
</section>
