<section id="live" class="hard story">
	<section class="full-screen video has-video">
		<div class="bg-video" data-background-video="#,[]" data-background-img="#" data-video-position="center" data-img-position="right, bottom"></div>
		<div class="foreground">
			<div class="grid floating">{!--
			 --}<div class="grid__item one-whole">
					<div class="shell">
						<h1 class="handwriting">Watch Live</h1>
						<a href="#video_modal" class="js--modal--trigger" data-video data-ooyala-embed="{PUBLIC_EMBED_CODE}" data-live>
							<div  class="btn btn--play smooth"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
