<section id="lizzy" class="hard story">
	<section class="full-screen has-video" data-fullscreen="lizzy, 0">
		<div class="video" data-background-video="lizzy, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.lizzy.mp4,
		//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.lizzy.webm]"
		data-background-img="{images-global}/newspring/editorial/content/newspring.easter.bgvideo.lizzy.jpg"
		data-video-position="center" data-img-position="left, bottom"
		style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.lizzy.jpg')"></div>
		<div class="foreground">
			<div class="grid floating">{!--
			 --}<div class="grid__item one-whole">
					<div class="shell">
						{!-- <h1 class="handwriting">Lizzy</h1> --}
						<img src="{images-global}/newspring/editorial/content/web.lizzy.hudlowhand.transparent.png" alt="" class="headline">
						<a href="#" data-video="lizzy, lpeGN3bDpvthywLPkh4vWphp8aeEqexp">
								<div class="btn btn--play smooth"></div>
						</a>
					</div>
				</div>
			</div>
			<a href="#_lizzy" class="scroll-down full-width">
				<h4>Get to know Lizzy</h4>
			</a>
		</div>
	</section>
	<section id="_lizzy" class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Beauty in the Broken</h1>
				<p>Lizzy loves drama. Not irritable-and-moody-14-year-old-girl-drama. No. Lizzy loves to act and sing. She belongs to a local theater group that stages musicals and loves the chance to have friends who are a little different, just like she is. She&rsquo;s also writing a book, which she&rsquo;s worked on slowly. Poems, too.</p>

				<p>Feeling. Thinking. Creating. Life is full of meaning. Her dad, Zac, encouraged her artistic side. Every year on Christmas and birthdays, he&rsquo;d give her a box of books he&rsquo;d picked from Amazon or even from his own collection. The challenge: Read every book by the next holiday. She always did.</p>

				<p>When Lizzy thinks about her dad, she thinks about the story he got to tell. That thousands of people trusted in Jesus because of what he had to say. He could have just died. He could have been alive one minute, and gone the next. The worst thing is to have a meaningless, ordinary life.</p>

				<p>But Zac&rsquo;s life meant so much more, Lizzy is quick to point out. He chose to make his life and his death all about Jesus. There&rsquo;s nothing anyone can do about death. But how you live? There&rsquo;s only one way that story can live on forever, Lizzy says.</p>
			</div>
		</div>
	</section>
	<section class="bleed no-video">
		<div class="grid"><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.lizzy001.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.lizzy002.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.lizzy003.jpg')">
					</div>
				</div>
			</div><!--
   	 --></div>
	</section>
	<section class="container no-video">
		<div class="shell">
				<div class="copy">
					<h1 class="alpha">Q &amp; A with Lizzy</h1>
					<ul>
						<li><strong>What are your three favorite books?</strong> <em>Harry Potter</em>, <em>Divergent</em> and <em>The Fault In Our Stars</em></li>
						<li><strong>What are your favorite things to do?</strong> Sleeping, hanging with family, reading and watching television.</li>
						<li><strong>If you could go on any vacation in the world, where would you go?</strong> New York or London</li>
						<li><strong>What would you tell 10-year-old Lizzy?</strong> Don&rsquo;t think flowers are stupid because in awhile you&rsquo;ll like it. Don&rsquo;t drink as much root beer. Actually try in 7th grade. Middle school isn&rsquo;t a time to waste. Be confident in who you are because no matter who you think you have to conform to, you don&rsquo;t.</li>
						<li><strong>What are your favorite TV shows?</strong> <em>Sherlock</em> and <em>Doctor Who</em></li>
					</ul>
				</div>
			</div>
	</section>
</section>
