<section id="luke" class="hard story">
	<section class="full-screen has-video" data-fullscreen="luke, 0">
		<div class="video" data-background-video="luke, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.luke.mp4,
		//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.luke.webm]"
		data-background-img="{images-global}/newspring/editorial/content/newspring.easter.bgphoto.luke.jpg"
		data-video-position="center" data-img-position="right, bottom"
		style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.luke.jpg'); background-position: right, center"></div>
		<div class="foreground">
			<div class="grid floating"><!--
			 --><div class="grid__item one-whole">
					<div class="shell">
						{!-- <h1 class="handwriting">Luke</h1> --}
						<img src="{images-global}/newspring/editorial/content/web.luke.hudlowhand.transparent.png" alt="" class="headline">
						<a href="#" data-video="luke, JzeGN3bDpoBwRWoI2yki8rwSPzWFrZCj">
								<div class="btn btn--play smooth"></div>
						</a>
					</div>
				</div><!--
		 --></div>
			<a href="#_luke" class="scroll-down full-width">
				<h4>Get to know Luke</h4>
			</a>
		</div>
	</section>
	<section id="_luke" class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">A New Adventure</h1>

				<p>Luke doesn&rsquo;t have to go far to find an adventure.</p>

				<p>Just across the street, at the back of some undeveloped lots in his subdivision, there&rsquo;s a thick stand of trees. Every other day, the 11-year-old will go exploring. One time, he discovered a rusty sickle. Another time, an old gear. He knows there&rsquo;s probably lots of stuff out there that could make the perfect stick weapon.</p>

				<p>Luke&rsquo;s two favorite things? That&rsquo;s easy, he says: isolation and finding stuff. He was only 7 when his dad died. And in the years since, he has to admit it&rsquo;s been pressuring for him, he says. His memories are fading. Not having a dad is the only life he&rsquo;s really known. When he&rsquo;s feeling sad, when he wants some downtime, he prefers to seclude himself in his bedroom or the woods to try and forget about it.</p>

				<p>Luke misses his dad. But he says he wouldn&rsquo;t choose to have his dad with him if it meant thousands of people wouldn&rsquo;t have heard about Jesus and wouldn&rsquo;t have had a chance to go to Heaven. But when friends talk about doing things with their dads, he says, that&rsquo;s what breaks him. Luke knows it would be good to have a father to love and care about him. And right now, that's God&rsquo;s job. He&rsquo;s doing his best to remember that.</p>
			</div>
		</div>
	</section>
	<section class="bleed no-video">
		<div class="grid"><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.luke001.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.luke002.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.luke003.jpg')">
					</div>
				</div>
			</div><!--
   	 --></div>
	</section>
	<section class="no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Five Random Things About Luke</h1>
				<ul class="quotes">
					<li><strong class="bigquote">&ldquo;</strong>If I could be any animal, it would be a monkey because they are versatile with their little fingers. My follow-up animal would be a majestic eagle.</li>
					<li><strong class="bigquote">&ldquo;</strong>I have sustained six concussions.</li>
					<li><strong class="bigquote">&ldquo;</strong>I’m a nerd. You can just tell. I like <em>Doctor Who</em>, <em>Star Wars</em>, <em>Halo</em> and just anything nerdy.</li>
					<li><strong class="bigquote">&ldquo;</strong>I resemble many people in my family. My eyes and ears are a lot like my dad. All together I just look like my grandfather and I look exactly like my cousin. It&rsquo;s kind of freaky.</li>
					<li><strong class="bigquote">&ldquo;</strong>If I could only eat one food for the rest of my life it would be quesadillas from Taco Bell. I would say hot dogs, but those wouldn&rsquo;t sit well every day.</li>
				</ul>
			</div>
	</section>
</section>
