<section id="mandy" class="hard story">
	<section class="full-screen has-video" data-fullscreen="mandy, 0">
		<div class="video"
			data-background-video="mandy, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.mandy.alt2.mp4, //s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.mandy.alt2.webm]"
			data-background-img="{images-global}/newspring/editorial/content/newspring.easter.bgphoto.mandy.jpg"
			data-video-position="center" data-img-position="right, bottom"
			style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.mandy.jpg')">
		</div>
		<div class="foreground">
			<div class="grid floating">{!--
			 --}<div class="grid__item one-whole">
					<div class="shell">
						{!-- <h1 class="handwriting white">Mandy</h1> --}
						<img src="{images-global}/newspring/editorial/content/web.mandy.hudlowhand.transparent.png" alt="" class="headline">
						<a href="#" data-video="mandy, lreGN3bDrCXtfRf-cljy2fq-rPbyR3IB">
								<div class="btn btn--play smooth"></div>
						</a>
					</div>
				</div>
			</div>
			<a href="#_mandy" class="scroll-down full-width">
				<h4>Get to know Mandy</h4>
			</a>
		</div>
	</section>
	<section id="_mandy" class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Her Joy is Strength</h1>
				<p>Being a working mom of three isn&rsquo;t easy.</p>

				<p>Between taking kids to three different schools, then to work, then to theater practice, soccer games and guitar lessons, most days Mandy feels like she never stops. To be a widow at 32 after 11 years of marriage&mdash;to lose your best friend, the person you have spent your whole adult life with, your partner in raising your children&mdash;makes every day harder.</p>

				<p>When Zac died of cancer, Mandy focused at first on trying to make a new normal for her family. She thought that if she could just stay busy that maybe, just maybe, the grief wouldn&rsquo;t seem so real. But she discovered that a person can only do that for so long. In the end, normal was just too exhausting, Mandy says.</p>

				<p>Now, Mandy knows the process of grief might never end, and she&rsquo;s OK with that. She knows Jesus is with her through all of it. Knowing Jesus and loving Jesus doesn&rsquo;t mean her days are perfect. She still burns dinner. She still gets frustrated at bad drivers. She still cries when she thinks about how much she misses Zac.</p>

				<p>But Mandy finds peace in every moment because Jesus meets her there. A bad or good day&mdash;it doesn&rsquo;t matter. Jesus is the same. God is a Father to her fatherless three. He is a defender of the widow. Those are the promises she clings to.</p>
			</div>
		</div>
	</section>
	<section class="bleed no-video">
		<div class="grid"><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.mandy001.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.mandy002.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.mandy003.jpg')">
					</div>
				</div>
			</div><!--
   	 --></div>
	</section>
	<section class="no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Q &amp; A with Mandy</h1>
				<ul>
					<li><strong>What three things do you always have in your purse?</strong> Burt&rsquo;s Bees Chapstick, Five gum and a bobby pin.</li>
					<li><strong>How do you like your coffee?</strong> Grande Non-fat Latte with one raw sugar. And it has to be Starbucks or go home.</li>
					<li><strong>Who would you invite to your celebrity dinner party?</strong> Beyoncé. Jay Z can&rsquo;t come though. I feel like Beyoncé wouldn&rsquo;t be her true diva self if he was there.</li>
					<li><strong>What would you do if you had a whole day to yourself?</strong> French toast with friends, get a massage, gel mani/pedi, then kiss on my kids when I&rsquo;m done. I only need half a day for myself.</li>
					<li><strong>In a sentence, what would you tell 30-year old Mandy?</strong> Cuddle with Zac a lot. Kiss him a lot.</li>
					<li><strong>Where was your first date?</strong> Chili&rsquo;s.</li>
					<li><strong>How did you meet Zac?</strong> I first met Zac while bouncing a basketball in my boyfriend&rsquo;s dorm. I played basketball so I was pretty good at it. Zac came in the room (I had never met him before) and instantly started trying to steal the ball from me. He couldn&rsquo;t, got a bit frustrated because he couldn&rsquo;t, and tackled me on the floor! As we laid there, a bit awkwardly, Zac introduced himself. I was hooked. And then my boyfriend walked in.</li>
				</ul>
			</div>
		</div>
	</section>
</section>
