<section id="aboutnewspring" class="full-screen--fixed modal modal--blue">
	<h1 class="uppercase">About NewSpring</h1>
	<div class="photo__square lap-and-up-photo__landscape">
		<div class="photo" style="background-image: url('http://images.newspring.cc/section/yafi/newspring.image.yafi.about1.jpg')">
			<div class="overlay overlay--center">
				<p class="copy overlay__content"><strong>NewSpring Church exists</strong> to reach people far from God and teach them how to follow Jesus step by step.  We have nine campuses across the state of South Carolina.  We'd love for you to be our guest.<br><a href="#servicetimes" class="js--modal--trigger" >Find a location</a> near you or <a href="/live" target="_blank">watch live.</a></p>
			</div>
		</div>
	</div>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole lap-and-up-one-third">
				<div class="copy">
					<h3>What to Expect</h3>
					<p><strong>Sunday services at NewSpring</strong> are exciting, casual and relaxed. Come as you are, and you can expect to feel welcomed, experience good music, and an engaging message from our Senior Pastor Perry Noble or other guest speakers.</p>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-and-up-one-third">
				<div class="copy">
					<h3>For Kids</h3>
					<p><strong>For babies–5th grade</strong>, KidSpring is a children’s ministry uniquely designed with your child in mind! Kids experience safe, age-appropriate environments where the Bible is taught in a creative and relevant way. <a href="http://newspring.cc/kidspring" target="_blank">Learn more about KidSpring.</a></p>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-and-up-one-third">
				<div class="copy">
					<h3>For Students</h3>
					<p><strong>For students in grades 6–12</strong>, we’re dedicated to providing a place for them to connect with God, with other students, and with older committed leaders who serve faithfully to see students grow closer to Christ. <br><a href="http://newspring.cc/fuse" target="_blank">Learn more about Fuse.</a></p>
				</div>
			</div><!--
	 --></div>
	</div>
	<div class="btn btn--close js--btn--close"></div>
</section>
