<section id="servicetimes" class="full-screen--fixed modal modal--blue">
	<h1>Easter Service Times</h1>
	<div class="photo__square lap-and-up-photo__landscape">
		<div class="photo" style="background-image: url('http://images.newspring.cc/section/yafi/newspring.image.yafi.about1.jpg')">
			<div class="overlay overlay--center">
				<p class="copy overlay__content">
					<strong>We'd love for you</strong>
					to be our guest for Easter at NewSpring.
					We're having multiple services at each campus beginning
					Thursday, April 17th through Easter Sunday, April 20th.
					Find a campus location near you for service times.
				</p>
			</div>
		</div>
	</div>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Anderson</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Thursday</strong> April 17th at 6:30pm</li>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 5 &amp; 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am, 5 &amp; 6:30pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>2940 Concord Road<br>
							Anderson, SC 29621<br>
							<a href="http://goo.gl/maps/TemeQ">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>864-226-6585<br><a href="mailto:anderson@newspring.cc" target="_blank">anderson@newspring.cc</a><br><a href="http://facebook.com/newspring.anderson.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--b
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Boiling Springs</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 10 &amp; 11:30am</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>Boiling Springs Middle School<br>
							4801 Highway 9<br>
							Inman, SC 29349<br>
							<a href="http://goo.gl/fhQfmM">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>864-285-9600<br><a href="mailto:boilingsprings@newspring.cc" target="_blank">boilingsprings@newspring.cc</a><br><a href="http://facebook.com/newspring.boilingsprings.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Charleston</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10, 11:30am &amp; 6:30pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>North Charleston Convention Center<br>
							5001 Coliseum Drive<br>
							North Charleston, SC 29418<br>
							<a href="http://goo.gl/maps/5CqV6">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>843-766-7747<br><a href="mailto:charleston@newspring.cc" target="_blank">charleston@newspring.cc</a><br><a href="http://facebook.com/newspring.charleston.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Columbia</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Thursday</strong> April 17th at 6:30pm</li>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 5 &amp; 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am, 5 &amp; 6:30pm</li>
				 		</ul>
						<h4>Location</h4>
						<p>657 Bush River Road<br>
							Columbia, SC 29210<br>
							<a href="http://goo.gl/maps/a5wms">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>803-726-4361<br><a href="mailto:columbia@newspring.cc" target="_blank">columbia@newspring.cc</a><br><a href="http://facebook.com/newspring.columbia.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Florence</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am &amp; 5pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>Florence Civic Center<br>
							3300 W Radio Drive<br>
							Florence, SC 29501<br>
							<a href="http://goo.gl/maps/KXzh6">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>843-407-7986<br><a href="mailto:florence@newspring.cc" target="_blank">florence@newspring.cc</a><br><a href="http://facebook.com/newspring.florence.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Greenville</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Thursday</strong> April 17th at 6:30pm</li>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am, 5 &amp; 6:30pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>TD Convention Center<br>
							1 Exposition Drive<br>
							Greenville, SC 29607<br>
							<a href="http://goo.gl/maps/SJRdf">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>864-672-6585<br><a href="mailto:greenville@newspring.cc" target="_blank">greenville@newspring.cc</a><br><a href="http://facebook.com/newspring.gvl.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Greenwood</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Thursday</strong> April 17th at 6:30pm</li>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 10 &amp; 11:30am &amp; 6:30pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>1306 S Carolina 72<br>
							Greenwood, SC 29649<br>
							<a href="http://goo.gl/maps/Y2H2X">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>864-889-0000<br><a href="mailto:greenwood@newspring.cc" target="_blank">greenwood@newspring.cc</a><br><a href="http://facebook.com/newspring.gwd.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Myrtle Beach</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>St. James High School<br>
							10800 South Carolina 707<br>
							Murrells Inlet, SC 29576<br>
							<a href="http://goo.gl/maps/3PaBc">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>843-492-2080<br><a href="mailto:myrtlebeach@newspring.cc" target="_blank">myrtlebeach@newspring.cc</a><br><a href="http://facebook.com/newspring.myrtlebeach.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
		 --><div class="grid__item one-whole lap-one-half lap-wide-one-half desk-one-third desk-wide-one-third">
				<div class="copy">
					<h3>Spartanburg</h3>
			 		<div class="campus-details">
			 			<ul>
				 			<li><strong>Thursday</strong> April 17th at 6:30pm</li>
				 			<li><strong>Friday</strong> April 18th at 6:30pm</li>
				 			<li><strong>Saturday</strong> April 19th at 5 &amp; 6:30pm</li>
				 			<li><strong>Sunday</strong> April 20th at 8:30, 10 &amp; 11:30am, 5 &amp; 6:30pm</li>
				 		</ul>
				 		<h4>Location</h4>
						<p>399 Peachwood Centre Dr.<br>
							Spartanburg, SC 29301<br>
							<a href="https://www.google.com/maps/place/399+Peachwood+Centre+Dr/@34.933253,-81.994671,17z/data=!3m1!4b1!4m2!3m1!1s0x88579d9e60c688b3:0xe97a264e9823d258">Get Directions</a>
						</p>
						<h4>Contact</h4>
						<p>864-965-9370<br><a href="mailto:spartanburg@newspring.cc" target="_blank">spartanburg@newspring.cc</a><br><a href="http://facebook.com/newspring.spartanburg.sc" target="_blank">Facebook Fan Page</a></p>
			 		</div>
				</div>
			</div><!--
	 --></div>
	</div>
	<div class="btn btn--close js--btn--close"></div>
</section>
