<section id="trailer" class="hard story">

  <!-- <section class="full-screen video has-video" data-fullscreen="trailer, 0"> -->
  <section class="full-screen has-video" data-fullscreen="trailer, 0">
    <div class="video"
        data-background-video="easter, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.intro.mp4,
        //s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.intro.webm]"
        data-background-img="{images-global}/newspring/editorial/content/newspring.easter.bgphoto.intro.alt.jpg"
        data-video-position="center" data-img-position="center"
        style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.intro.alt.jpg')">
    </div>
    <div class="foreground">
        <div class="grid floating">{!--
          --}<div class="grid__item one-whole">
                <div class="shell">
                    <h2 class="caps">we are the</h2>
                    {!-- <h1 class="handwriting">Smiths</h1> --}
                    <img src="{images-global}/newspring/editorial/content/web.smiths.hudlowhand.transparent.png" alt="" class="headline">
                    <!-- <a href="#video_modal" class="js--modal--trigger" data-video='trailer, xzdTJjbTqc7In9WI2SFSO4I58qfuMOau' data-ooyala-embed="xzdTJjbTqc7In9WI2SFSO4I58qfuMOau">
                        <div class="btn btn--play smooth"></div>
                    </a> -->
                    <a href="#" data-video="trailer, xzdTJjbTqc7In9WI2SFSO4I58qfuMOau">
                        <div class="btn btn--play smooth"></div>
                    </a>
                </div>
            </div>
        </div>
        <a href="#zac" class="scroll-down full-width">
            <h4>Scroll to Meet The Smiths</h4>
        </a>
    </div>
  </section>
  <section id="_trailer" class="container no-video">
    <div class="shell">
      <div class="copy">
        <h1 class="alpha">Our world can turn upside down in a moment</h1>

        <p>Downsizing. Disease. Divorce. Death. No ones knows what, when or how. But the day will come when control over our lives and our confidence in the future will be shaken. Will your circumstances crush you? Or will you overcome? Is it possible to know which it will be?</p>

        <p>See how the Smiths have wrestled with the loss of a husband and father, what it means to have hope and why the empty tomb of Jesus makes all the difference.</p>

        <div class="social">
            <h1>Share the Story</h1>
            <ul class="share">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://newspring.cc/easter" target="_blank" class="btn facebook">Facebook</a></li>
                <li><a href="https://twitter.com/intent/tweet?source=webclient&hashtags=nseaster&text=Your+world+can+turn+upside+down+in+a+moment.+Feel+like+there%27s+no+hope%3F+Join+us+this+Easter+http%3A%2F%2Feasteratnewspring.com%2F" target="_blank" class="btn twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/share?url=newspring.cc/easter" target="_blank" class="btn google">Google+</a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
</section>
