<section id="zac" class="hard story">
	<section class="full-screen has-video" data-fullscreen="zac, 0">
		<div class="video"
		data-background-video="zac, [//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.zac.alt1.mp4,
		//s3.amazonaws.com/ns.video/newspring/editorial/stories/newspring.easter.bgvideo.Zac1.fpo_1.webm]"
		data-background-img="{images-global}/newspring/editorial/content/newspring.easter.bgphoto.zac.jpg"
		data-video-position="center" data-img-position="right, bottom"
		style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.bgphoto.zac.jpg')"></div>
		<div class="foreground">
			<div class="grid floating">{!--
			--}<div class="grid__item one-whole">
					<div class="shell">
						{!-- <h1 class="handwriting">Zac</h1> --}
						<img src="{images-global}/newspring/editorial/content/web.zac.hudlowhand.transparent.png" alt="" class="headline">
						<a href="#" data-video="zac, lveGN3bDo08zP2N7pg5HbnoBEMaSH3Cb">
								<div class="btn btn--play smooth"></div>
						</a>

					</div>
				</div>
			</div>
			<a href="#_zac" class="scroll-down full-width">
				<h4 class="thin uppercase">Get to know Zac</h4>
			</a>
		</div>
	</section>
	<section id="_zac" class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">The Miracle of Hope</h1>
				<p>Zac believed God, and so did his family. Miracles could happen. Miracles <em>do</em> happen.</p>

				<p>From the moment the doctors found a lemon-sized tumor in Zac&rsquo;s large intestine in 2009, his wife, Mandy, and their three kids, Lizzy, Jake and Luke, asked God continually for healing&mdash;for Zac to live. But more than that, Zac&rsquo;s true focus was giving God the glory in everything, even stage IV colon cancer. What if the miracle was Zac&rsquo;s power to rejoice while he was dying?</p>

				<p>Zac called himself a private man, but he wanted everyone to know, <em>&ldquo;God is bigger than cancer, bigger than me, bigger than you, and bigger than any valley of shadow of death.&rdquo;</em> The legacy Zac wanted to leave his family was faith in Jesus. Because Jesus was his hope. Because Jesus was his family&rsquo;s hope. Because Jesus was everyone&rsquo;s hope.</p>

				<p>In a video shown at NewSpring Church, Zac declared God&rsquo;s victory over cancer with the unforgettable words, <em>&ldquo;God is still God and God is still good.&rdquo;</em></p>

				<p>His spirit was unbroken to the very end. As the cancer destroyed Zac&rsquo;s body cell-by-cell, he continued to work, amid pain and exhaustion. He blogged. He wrote poems. He composed music. The disease made Zac, in his own words, <em>&ldquo;bolder, more brazen.&rdquo;</em></p>

				<p>In his last weeks before his death, Zac prepared his family for the inevitable with &ldquo;Ask Me Anything&rdquo; nights. <em>&ldquo;When your earthly father is in Heaven,&rdquo;</em> he told the kids, <em>&ldquo;God will still be your Father here on earth.&rdquo;</em> That&rsquo;s a promise all Zac&rsquo;s children have taken to heart.</p>
			</div>
		</div>
	</section>
	<section class="bleed no-video">
		<div class="grid"><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.zac001.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.zac004.jpg')">
					</div>
				</div>
			</div><!--
	   	 --><div class="grid__item one-whole palm-wide-one-third lap-one-third lap-and-up-one-third desk-one-quarter desk-wide-one-quarter hard">
				<div class="photo__square">
					<div class="photo" style="background-image: url('{images-global}/newspring/editorial/content/newspring.easter.zac003.jpg')">
					</div>
				</div>
			</div><!--
   	 --></div>
	</section>
	<section class="no-video">
		<div class="shell">
			<div class="copy">
				<h1 class="alpha">Zac&rsquo;s Top 10 Tweets</h1>
				<ul class="quotes">
					<li><strong class="bigquote">&ldquo;</strong>Watching Broncos football with Jake&mdash;what a way to kick off a week of vacation!</li>
					<li><strong class="bigquote">&ldquo;</strong>Do birds pass gas?</li>
					<li><strong class="bigquote">&ldquo;</strong>In downtown Greenville with Mandy…lovely.</li>
					<li><strong class="bigquote">&ldquo;</strong>Today made me happy.</li>
					<li><strong class="bigquote">&ldquo;</strong>I&rsquo;m pretty sure all weddings and funerals would be more entertaining if the participants walked like different animals.</li>
					<li><strong class="bigquote">&ldquo;</strong>Sabbath = oreos, sweet tea and xbox with my boys.</li>
					<li><strong class="bigquote">&ldquo;</strong>Colander just broke&mdash;we&rsquo;ve had it since we got married… ten years for a colander: not bad.</li>
					<li><strong class="bigquote">&ldquo;</strong>Lizzy and I just made dinner; family game night is next; my family makes me happy: they are like my support group.</li>
					<li><strong class="bigquote">&ldquo;</strong>Today I celebrate eleven years of marital bliss… thanks Mandy for sticking around…</li>
					<li><strong class="bigquote">&ldquo;</strong>Woke up thinking two things: <em>&lsquo;The best is yet to come&rsquo;</em> and <em>&lsquo;to God be the glory&rsquo;</em>&mdash;great mottos for any day.</li>
				</ul>
			</div>
		</div>
	</section>
</section>
