{embed="newspring:_global/pre_head"
	title="We Are The Smiths: Easter At NewSpring"
	description="Four years after Zac Smith died from cancer, NewSpring is sitting down with the Smiths to hear why Easter makes all the difference"
	image="{images-global}/newspring/editorial/stories/wearethesmiths.easteratnewspring.facebook.jpg"
	page_type="website"
	typekit="wbo0cwu"
	group_style="{segment_1}"
}


{exp:ce_cache:it seconds="0"}


{!-- TYPOGRAPHY.COM Sentinel Include --}
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/655300/659004/css/fonts.css" />

</head>
<body >


{embed="easter/_navigation"}
{embed="easter/_trailer"}
{embed="easter/_zac"}
{embed="easter/_mandy"}
{embed="easter/_lizzy"}
{embed="easter/_jake"}
{embed="easter/_luke"}
{embed="easter/_footer"}

<!-- <section id="video_modal" class="modal modal--video full-screen--fixed">
	<div class="unseen">
	    <div id="player--video" class='player--video'></div>
	</div>
	<div class="btn btn--close js--btn--close"></div>
</section> -->

{!-- Google +1 Button Asynchronous Script --}
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{/exp:ce_cache:it}

{embed="newspring:_global/post_footer"
	chartbeat="uid: 36438, domain: 'newspring.cc', useCanonical: true"
	google_analytics="'create', 'UA-7130289-3', 'newspring.cc'"
	group_script = '{segment_1}'
}
