{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed="includes/header" 
		title="Error | Resources for Churches" 
		body_id="resources" 
		body_class="subnav" 
		script='NewSpring.Forms' 
		style="resources" 
		use_alt='' 
		page_class="page-border"
	}
{/exp:ce_cache:escape}

</div><!-- //page - wraps header -->

{embed="resources/_subnav"}

<div class="c_12 clearfix page-border login">
	<div class="p_2 s_2 g_8 clearfix">
		
		<h2>{heading}</h2>
		<p><strong>{content}</strong></p>
		<p>&nbsp;</p>
		<p>{link}</p>
		<p>&nbsp;</p>
	</div>

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}