{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed="includes/header" 
		title="Resources for Churches" 
		body_id="resources" 
		body_class="volunteers subnav" 
		script="" 
		group_style="{segment_1}" 
		use_alt='' 
		page_class="page-border"
	}
{/exp:ce_cache:escape}

</div><!-- //page - wraps header -->

{embed="includes/_subnav" navtitle="footernav"}

<div class="c_12 clearfix page-border">

<!-- Resource Group 1 -->
<div class="resource g_6 clearfix">
		<!-- Weekly Resource Downloads -->
		<h3>Training &amp; Equipping</h3>
		<div class="weekly-resource">
			<ul>
				<li>Team Leader 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/team.leader.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Team Leader Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Service Team Leader 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/service.leader.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Service Team Leader Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Team Connector 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/team.connector.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Team Connector Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>VIP Meeting Purpose 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/VIPMeetingpurpose.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'VIP Meeting Purpose Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>VIP Meeting Outline 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/VIPMeetingOutline.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'VIP Meeting Outline Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Greeting Team 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/greeting.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Greeting Team Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Usher Team 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/usher.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Usher Team Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Parking Team 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/parking.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', ' Parking Team Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>First Time Greeter 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/first.time.greeting.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'First Time Greeter Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
			</ul>
		</div>
</div><!-- //resource -->

<!-- Resource Group 2 -->
<div class="resource g_6 clearfix">

		<!-- Weekly Resource Downloads -->
		<h3>Leader Process Forms</h3>
		<div class="weekly-resource">
			<ul>
				<li>Volunteer Contact Standards 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/VolContactStandards1.2.12.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Volunteer Contact Standards Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
			</ul>
		</div>
		<!-- Weekly Resource Downloads -->
		<h3>Volunteer Forms</h3>
		<div class="weekly-resource">
			<ul>
				<li>Volunteer Background Check 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/Vol-form-background-20120221.doc" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Volunteer Background Check Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
				<li>Volunteer Opportunities 
					{exp:ce_cache:escape}
					{if logged_out}
					<a class="download" href="{path='resources/login/{segment_2}'}"><span>Sign In to Download</span></a>
					{if:else}
					<a class="download" href="http://media.newspring.cc/resources/volunteers/volunteer.opportunities.docx" onclick="_gaq.push(['_trackEvent','Volunteer Resources', 'Download', 'Volunteer Opportunities Document']);"><span>Download</span></a>
					{/if}
					{/exp:ce_cache:escape}
				</li>
			</ul>
		</div>
</div><!-- //resource -->

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}