<div id="subnav" class="c_12 clearfix">
	<div  class="g_3">
		<h1>
			<a href="{path={segment_1}}">Music<span></span></a>
		 </h1>
	</div>
	<div class="g_9 right">
		<a href="{path={segment_1}}" {if segment_2 == ""}class="active"{/if}>Albums<span></span></a>
		{!--<a href="http://worship.newspring.cc/" {if segment_2 == "blog"}class="active"{/if}>Blog<span></span></a>--}
		<a href="mailto:justin.land@newspring.cc" {if segment_2 == "resources"}class="active"{/if}>Use Our Music<span></span></a>
	</div>
</div>