{layout="_layouts/master"
	title=" Auditions | Music"
	description="NewSpring Worship is accepting all auditions via video submissions. We’re so excited about all that Jesus is doing in our church, and we’re looking forward to seeing your videos!"
	image="http:{images-global}/{site_short_name}/_fpo/fpo.Music7.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id="contents" seconds="0"}

{embed="newspring:_embeds/_non-hero"
	overlay="overlay--gradient overlay--light"
	title="Auditions"
	image_url="{images-global}/{site_short_name}/_fpo/fpo.Music7.jpg"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Audition Process</h2>
				<hr class="quarter hidden">
				<div class="text--constrained palm-left">
					<p>NewSpring Worship is accepting all auditions via video submissions. We’re so excited about all that Jesus is doing in our church, and we’re looking forward to seeing your videos!</p>
					<p>We will review your videos and email you back if we have decided to move you forward in the audition process. If you play multiple instruments and want to audition with them all, we ask that you submit videos for each. This includes vocalists who also play instruments.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--grey">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<h2 class="centered">Preparing Your Audition</h2>
				<hr class="quarter hidden">
				<div class="grid">
					<div class="grid__item one-third handheld-one-whole">
						<h3 >Drums, Bass, &amp; Guitar Prep</h3>
						<p class="soft-half--bottom">"Our Great God" or "Invincible" by NewSpring Worship</p>
						<h3 >Keys Prep</h3>
						<p class="soft-half--bottom">"Our Great God" by NewSpring Worship</p>
					</div><div class="grid__item two-thirds handheld-one-whole">
						<h3>Vocalist Prep</h3>
						<h4>Male Vocalists</h4>
						<p>Sing the Chorus and Bridge a cappella (no accompaniment) of "Defender" by NewSpring Worship. Sing a Verse and Chorus of a song of your choice a cappella.</p>
						<h4>Female Vocalists</h4>
						<p>Sing Verse 1, PreChorus and Chorus a cappella (no accompaniment) of "The Height" by NewSpring Worship. Sing a Verse and Chorus of a song of your choice a cappella.</p>
						<h4>Optional</h4>
						<p>Submit any videos of your live performances. Please send these links as well.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item one-whole centered">
				<h2>Creating Your Video</h2>
				<hr class="quarter hidden">
				<div class="grid">
					<div class="grid__item one-third portable-one-half handheld-one-whole ">
						<h3>Download</h3>
						<p>Download the <a href="http://ns.downloads.s3.amazonaws.com/newspring/music/chord-charts/Audition_Resources_updated.zip">Audition Resources</a> and follow the instructions for your instrument using the “Video Auditions How To” document.</p>
					</div><div class="grid__item one-third portable-one-half handheld-one-whole ">
						<h3>Upload</h3>
						<p>Upload your video via YouTube. Under privacy settings, select "Unlisted" and title with "Your Name-NewSpring Worship Audition"</p>
					</div><div class="grid__item one-third portable-one-half handheld-one-whole ">
						<h3>Submit</h3>
						<p>Submit your audition by filling out the <a href="https://newspring.wufoo.com/forms/m3d4b6l03efe6n/" target="_blank">Worship Auditions Form.</a> Include the YouTube link to your video on the form.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}
