<div class="grid__item one-whole lap-and-up-one-half hard flush">
	<div class="ratio ratio--square flush">
		<a href="{layout:promotion_url_1}" class="ratio__item background--fill border--inset centered clickable" style="background-image: url({layout:promotion_image_1x1_1})">
		{if layout:promotion_label_1}<h6 class="hero_tag">{layout:promotion_label_1}</h6>{/if}
		</a>
	</div>
</div><div class="grid__item one-whole lap-and-up-one-half hard flush">
	<div class="grid flush">
		<div class="grid__item one-whole hard flush">
			<div class="ratio ratio--landscape flush">
				<a href="{layout:promotion_url_2}" class="ratio__item background--fill border--inset centered clickable" style="background-image: url({layout:promotion_image_2x1_2})">
				{if layout:promotion_label_2}<h6 class="hero_tag">{layout:promotion_label_2}</h6>{/if}
				</a>
			</div>
		</div>
	</div><div class="grid__item one-whole hard flush">
		<div class="ratio ratio--landscape flush">
			<a href="{layout:promotion_url_3}" class="ratio__item background--fill border--inset centered clickable" style="background-image: url({layout:promotion_image_2x1_3})">
			{!-- <h6 class="hero_tag">Begins in 00:00:00</h6> --}
			</a>
		</div>
	</div>
</div>

{!--
{layout:promotion_title_1}
{layout:promotion_url_1}
{layout:promotion_summary_1}
{layout:promotion_label_1}
{layout:promotion_image_description_1}
{layout:promotion_image_2x1_1}
{layout:promotion_image_1x2_1}
{layout:promotion_image_1x1_1}
{layout:promotion_image_background_video_1}
--}
