{layout="newspring:_promotions/_layout-{embed:results_count}"}

{!--
	@INFO
	This will dynamically load the template corresponding to the {embed:results_count} var.
--}

{exp:low_reorder:entries site="{embed:site}" set="promotions_{site_short_name}" disable='categories|member_data|pagination|trackbacks' status="Featured"
}

	{layout:set name="promotion_title_{count}" value="{title}"}
	{layout:set name="promotion_url_{count}" value="{promotion_url}"}
	{layout:set name="promotion_summary_{count}" value="{promotion_summary}"}
	{layout:set name="promotion_label_{count}" value="{promotion_label}"}

	{!--
		@INFO

		We're currently limiting to the first image in the image matrix
	--}
	{promotion_image var_prefix="matrix" limit="1"}
		{layout:set name="promotion_image_description_{count}" value="{matrix:promotion_image_description}"}
		{layout:set name="promotion_image_2x1_{count}" value="{exp:ce_img:single src='{matrix:promotion_image_2x1:url}' width='1700' crop='yes' url_only='yes'}"}
		{layout:set name="promotion_image_1x2_{count}" value="{exp:ce_img:single src='{matrix:promotion_image_1x2:url}' width='1700' crop='yes' url_only='yes'}"}
		{layout:set name="promotion_image_1x1_{count}" value="{exp:ce_img:single src='{matrix:promotion_image_1x1:url}' width='1700' crop='yes' url_only='yes'}"}
		{layout:set name="promotion_image_background_video_{count}" value="{matrix:promotion_image_background_video:url}"}
	{/promotion_image}

{/exp:low_reorder:entries}
