<div class="hr alt"><hr></div>
<ul class="giving-links clearfix">
	<li class="blackened"><a href="{path=coaching}" title="Learn more about our Financial Coaching"><em>Need help with your finances?</em> Get Free<br> Financial Coaching</a></li>
	<li class="blackened"><a href="{path=financialplanning}" title="Get Started Budgeting" ><em>Don't have a budget yet?</em> Start with<br/> Financial Planning</a></li>
	<li class="blackened"><a href="{path=give/faq}" title="Questions?  We'll answer them"><em>Still have questions?</em> Learn More<br>About Giving</a></li>
</ul>