<div id="subnav" class="c_12 clearfix">
	<div  class="g_2">
		<h1>Give</h1>
	</div>
	<div class="g_10 right">
		<a href="{path=give}" {if segment_2 == "" OR segment_2 == "faq"}class="active"{/if}>Give Now<span></span></a>
		<a href="{path=give/challenge}" {if segment_2 == "challenge"}class="active"{/if}>90&ndash;Day Tithing Challenge<span></span></a>
		<!-- <a href="{path=give/christmasoffering}" {if segment_2 == "christmasoffering"}class="active"{/if}>Christmas Offering<span></span></a> -->
		{!-- <a href="{path=give/taketheland}" {if segment_2 == "taketheland"}class="active"{/if}>Take The Land<span></span></a> --}
	</div>
</div>