{layout="_layouts/master"
	title="Tithing Challenge | Give"
	description="We know generosity is a huge step of obedience, but you’re not in this alone! We want to know you’re taking your next step in generosity by bringing your full tithe to the church with The 90–Day Tithing Challenge."
	image="{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.nature.heaven.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="90-Day Tithing Challenge"
	summary=""
	image_url="{images-global}/{site_short_name}/editorial/articles/newspring.blog.hero.nature.heaven.jpg"
	content="<a href='https://newspring.wufoo.com/forms/90day-tithing-challenge/' class='btn palm-one-whole'>Take the Challenge</a>"}

<section>
	<div class="shell">
		<div class="grid text--constrained">
			<div class="grid__item one-whole hard">
				<h2 class="centered">Why Would I Tithe?</h2>
				<p>For many, the idea of bringing the first 10% of our income to the Church seems overwhelming. The thing is, it doesn&rsquo;t matter how much or how little we make, God promises to pour out blessings on us when we tithe. Tithing is about training our heart to trust God at His Word.</p>


				<p>We know generosity is a huge step of obedience, but you’re not in this alone! We want to know you’re taking your next step in generosity by bringing your full tithe to the church with The 90–Day Tithing Challenge.</p>

				<blockquote>
					<p>Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this...and see if I will not throw open the floodgates of heaven and pour out so much blessing that there will not be room enough to store it.</p>
					<footer><a href="#">Malachi 3:10</a></footer>
				</blockquote>

				<p>The Bible says we can take the promises of God to the bank. When we bring our first and best back to God, He promises to bless the rest. We can’t outgive God.</p>

				<p>We commit to you that if you tithe for three months and God doesn’t hold true to His promises of blessings, we will refund 100% of your tithe. No questions asked.</p>
			</div>
		</div>
		<hr class="half">
		{exp:channel:entries channel="stories" entry_id="20891"}
		<div class="grid floating floating--left">
			<div class="grid__item floating__item one-half portable-one-whole handheld-one-whole flush">
				<div class="ratio--landscape background--fill" style="background-image: url({entry_image}{entry_image_2x1}{/entry_image});"></div>
			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole">
				<h3>What Happened When Keisha Took the 90-Day Tithing Challenge?</h3>
				<p>Keshia Blakely&rsquo;s life was transformed by God&rsquo;s generosity, and she took the Challenge believing that you can&rsquo;t outgive God. <a href="{url_title_path=stories}">Watch her story</a>.</p>
			</div>
		</div>
		{/exp:channel:entries}
	</div>
</section>


<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>Is Tithing Your Next Step?</h2>
					<p>After you sign up, we’ll send you resources and encouragement. We would also love to hear your story along the way—how is God blessing you after taking this next step in your walk with Him? Let us know <a href="mailto:finance@newspring.cc">finance@newspring.cc</a>.</p>
					<a href="https://newspring.wufoo.com/forms/90day-tithing-challenge/" class="btn">Take the Challenge</a>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}