{exp:ce_cache:it}

{preload_replace:page_template="give"}

{exp:ce_cache:escape}
{embed='includes/header' 
	title='Christmas Offering' 
	body_id='give' 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}" 
	fb_title="Christmas Offering" 
	fb_url="{path={page_template}}" 
	meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
	fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

	</div><!-- //page - wraps header -->

	{embed="includes/_subnav" navtitle="mainnav"}

	<div class="c_12 clearfix page-border">
		<div class="g_12 give_header clearfix">
			<div id="hero" class="g_8 g_a">
				<a href="#" class="ooyala-embed" data-embed="p0cGdqNzrv8n-mSi29T9lHkoOIrW3OpZ"><img src="//images.newspring.cc/site/give/christmasofferinghero.jpg" alt="Christmas Offering" /></a>
			</div>	
			
      {ooyala_video}
      <!--
<div id="play">
					<a href="#" id="hero" class="ooyala-embed" data-embed="9lNzZhNTrmp8ZjfBXqiIUTntfrzMLVgh">
						<img src="//images.newspring.cc/site/give/give.taketheland.jpg" alt="Take the Land" />
					</a>
				</div>
			
				
			</div>
-->
		
			<div class="g_4 g_o">
				<ul class="clearfix">
					<li class="blackened green"><a href="{path=give/challenge}" title="Take the 90 Day Tithing Challenge" ><em>Not tithing yet?</em> Take the<br/> 90 Day Challenge</a></li>
					<li class="blackened green"><a href="{path=give}" title="Help us take the land"><em>Secure Online Giving</em> Sign In<br>Give Now</a></li>
				</ul>
			</div>
		
		</div>
		
		<div id="main_content">

			<div class="g_6">
				<div class="twocolumn">
					<p>We have seen amazing things at NewSpring Church over the past 12 years. We've seen more than 16,000 people receive Christ, and more than 9,000 people baptized. Every single week at our campuses we see so many people taking their next steps. All of our campuses across the state have extended the reach of our ministry and one of the main reasons this has taken place is because of your amazing generosity. Thank you so much!</p> 
					
					<p>However, we believe God is not finished. Around 85% of people in our state do not attend church regularly and quite possibly over one million people do not have a personal relationship with Jesus Christ.</p>
					
				</div>
			</div>

			<div class="g_6">
				<div class="twocolumn">
					<p>NewSpring wants to reach these people! In order to make this dream a reality we are asking you to partner with us in this year's Christmas Offering. We will use this offering to continue leveraging new cities and permanent locations in order to reach 100,000 people in South Carolina. We would like for you to pray and ask the Lord what you should give this year, and be obedient to what He tells you, and together we will Take the Land.</p>
				
<!--
					<p>God has given NewSpring Church a vision to reach at least 100,000 people for Christ.</p>
					
					<p>We've seen God do so much through people who are willing to pray, serve and give. We know God is calling us to take our commitment to the next level. We will continue leveraging new cities and permanent locations in order to reach 100,000 in South Carolina.</p>
-->
							
					<a href="https://integration.fellowshipone.com/integration/contribution/onlinecontribution.aspx?cCode=DK5vZjfgVKTzb0z2CdQbRg==&flo=true" class="give-button">Give to the Christmas Offering</a></p>
					</p>
				</div>
			</div>
			<div class="clear"></div>
			
		</div>
	
		{embed='{page_template}/_promo'}

{exp:ce_cache:escape}
{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}