{exp:ce_cache:it}

{preload_replace:page_template="give"}

{exp:ce_cache:escape}
{embed='includes/header' 
	title='Frequently Asked Questions | Give' 
	body_id='give' 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}" 
	fb_title="Give Now" 
	fb_url="{path={page_template}}" 
	meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
	fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

	</div><!-- //page - wraps header -->

	{embed="includes/_subnav" navtitle="mainnav"}

	<div class="c_12 clearfix page-border">
		
		<div id="main_content">

			<div class="g_10 p_1 s_1" id="faq">
				<h2>Frequently Asked Questions</h2>
				<dl id="faq">
					<dt>Why is giving so important?</dt>
					<dd>We also recognize that Jesus talked more about giving than the subjects of heaven, hell, or prayer. In Matthew 6:21 and 24 Jesus says, "For where your treasure is, there your heart will be also…No one can serve two masters. Either he will hate the one and love the other, or he will be devoted to the one and despise the other. You cannot serve both God and Money." In Luke 6:38 He says, &#8220;Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you.&#8221;</dd>

					<dt>Why do we give?</dt>
					<dd>Why do we give? Giving is a privilege. The storehouse spoken of in Malachi is what we consider the local church. By partnering our monies together, God's work is done more effectively. Even Paul recognized this in the newly formed churches of the New Testament. He tells the Corinthians in 2 Corinthians 8:13-15, &#8220;Our desire is not that others might be relieved while you are hard pressed, but that there might be equality. At the present time your plenty will supply what they need, so that in turn their plenty will supply what you need. Then there will be equality, as it is written: "He who gathered much did not have too much, and he who gathered little did not have too little.&#8221;</dd>

					<dt>What is a tithe?</dt>
					<dd>As Christ Followers, we believe that we are to follow God's command regarding tithing. &#8220;Tithe&#8221; means &#8220;tenth&#8221; or 10 percent. Leviticus 27:30 says, &#8220;A tithe of everything from the land, whether grain from the soil or fruit from the trees, belongs to the LORD; it is holy to the LORD.&#8221; In Malachi 3:8-10 God speaks to His people, &#8220;Will a man rob God? Yet you rob me. But you ask, 'How do we rob you?' In tithes and offerings. You are under a curse—the whole nation of you—because you are robbing me. Bring the whole tithe into the storehouse, that there may be food in my house. Test me in this,&#8221; says the LORD Almighty, &#8220;and see if I will not throw open the floodgates of heaven and pour out so much blessing that you will not have room enough for it.&#8221;</dd>

					<dt>What is an offering?</dt>
					<dd>NewSpring believes that we are mere stewards of what God has given us. Therefore, we see tithing as giving back what is God's to God (and He lets us keep the other 90% to use appropriately). Any amount above 10% is considered an offering to God. This type of giving is over and above and should also be done with cheerfulness.</dd>

					<dt>What is the difference between a tithe and an offering?</dt>
					<dd>A tithe is giving the first 10&#37; of your gross income as defined by Malachi 3:10. An offering is given above and beyond the tithe.</dd>

					<dt>What are NewSpring’s beliefs about money?</dt> 
					<dd>We believe that God owns everything according to Psalm 24:1, &#8220;The Earth is the Lord’s and everything in it, the world, and all who live in it.&#8221; To find out more about NewSpring’s beliefs about money, please visit a Guest Service kiosk for a CD of a message on giving.</dd>

					<dt>Where does NewSpring get its income?</dt>
					<dd>God provides for NewSpring through the tithes and offerings of members and attendees. Income is received on average by 25&#37; electronic, 69&#37; checks and 6&#37; cash contributions.</dd>

					<dt>Does NewSpring give to missions?</dt>
					<dd>Yes. We consider every penny spent at NewSpring to be mission spending! NewSpring’s budget also supports contributions to international and local missions, benevolence and scholarships.</dd>

					<dt>Does NewSpring have a budget?</dt>
					<dd>Yes. NewSpring’s budget is set every fall for the following year based on the goals and objectives of each ministry area within the church.</dd>

					<dt>What are NewSpring’s financial accountability standards?</dt>
					<dd>NewSpring’s finance department is held accountable by a firm set of internal controls and is audited annually by an independent CPA firm based on Generally Accepted Accounting Principles (GAAP).</dd>

					<dt>Does NewSpring have a report showing where all the money goes?</dt>
					<dd>Yes. An annual report is available showing financial and ministry information from the previous year at <a href="http://www.newspring.cc/annualreport">www.newspring.cc/annualreport</a> </dd>

					<dt>Does NewSpring send contribution notices to its tithers and givers?</dt>
					<dd>Yes. Contribution notices are mailed at the beginning of each year. Contributors also have access to view their giving at any time online <a href="https://newspring.infellowship.com/onlinegiving/history">here</a>.</dd>

					<dt>How do I excel in giving?</dt>
					<dd>The apostle Paul spoke to the new churches about giving. In 1 Corinthians 16:1-2, Paul admonishes the Corinthian church, &#8220;Now about the collection for God's people: Do what I told the Galatian churches to do. On the first day of every week, each one of you should set aside a sum of money in keeping with his income, saving it up, so that when I come no collections will have to be made.&#8221; He prompted the believers to be generous. 2 Corinthians 9:6-7 says, &#8220;Remember this: Whoever sows sparingly will also reap sparingly, and whoever sows generously will also reap generously. Each man should give what he has decided in his heart to give, not reluctantly or under compulsion, for God loves a cheerful giver.&#8221; And in 2 Corinthians 8:7 he encourages, &#8220;But just as you excel in everything—in faith, in speech, in knowledge, in complete earnestness and in your love for us—see that you also excel in this grace of giving.&#8221;</dd>

				<!-- end of Top 10 giving questions added 4-04-2011 by Gizz -->
				</dl>
				<p>&nbsp;</p>
				<h3>Benefits of donating stock.</h3>

				<dl id="stockdonations">
					<dt>Why should I consider donating stock?</dt>
					<dd>Gifts of stock can provide donors with a double tax benefit. First, you may be able to claim a charitable contribution deduction in the amount of the current market value of the donated stock. That is, you can deduct not only the original cost you paid for the donated shares but also the increase in the value of those shares. Second, you can avoid paying taxes on the appreciated value of the stock. The greater the amount of appreciation, the more capital gains tax the shareholder will face if the stock is sold. But this tax can be avoided if you donate the stock to the church, and also the church pays no capital gains tax when it sells the donated stock.</dd>

					<dt>Are there any special rules with the IRS?</dt>
					<dd>Yes. Generally, the stock should be publicly traded stock that has been held for more than one year. Privately held stock is subject to its own set of special rules. There is also a limit to the amount of charitable contributions given as &#8220;capital gain property&#8221;, and generally this is 30 percent of your adjusted gross income. If you have questions about the tax consequences of your donation, please contact your tax advisor for further clarification.</dd>

					<dt>Should I sell the stock first, and donate the proceeds?</dt>
					<dd>No, unless it is stock that has declined in value. If the stock has appreciated in value, you will want to donate the stock directly to the church so you do not have to pay capital gains tax on the appreciated value.</dd>

					<dt>What is the process for donating stock?</dt>
					<dd>The simplest way is to do it via electronic transfer, from your broker to the church's broker. NewSpring has setup a special account to handle these donations. The first thing to do will be to contact your broker for specific instructions about your specific stock. Make sure that the broker understands that you want to transfer the stock, not sell it. Then you should contact the church to get NewSpring's account information and other electronic transfer information. Call the church office at 864-226-6585, and ask for Adam Haskett. That's about all there is to it. Once NewSpring receives the stock, we will send you a charitable contribution receipt that identifies the donation, naming the specific stock, the amount of shares, and the date of transfer. You will need to make a note of the value of the stock on that day for your tax records.

				The church is also able to handle the donation of physical stock certificates. In that case, the owner and co&ndash;owner will need to sign the back of the certificate, and have those signatures guaranteed. Then you will need to bring the certificates in to the church office, and NewSpring will do the paperwork to send the certificates to our broker for immediate sale.</dd>

					<dt>Are mutual funds done the same way?</dt>
					<dd>Generally yes, but you'll want to contact your broker for any specific instructions.</dd>
				</dl>

				<dl>
				<dd>For additional questions about giving at NewSpring, please e-mail us at <a title="" href="mailto:finance@newspring.cc">finance@newspring.cc</a> or call us at 864-226-6585.</dd>
				</dl>
			</div>
			<div class="clear"></div>
		</div>
	
		{embed='{page_template}/_promo'}

{exp:ce_cache:escape}
{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}