{exp:ce_cache:it}

{preload_replace:page_template="give"}

{exp:ce_cache:escape}
{embed='includes/header' 
	title='Take the Land' 
	body_id='give' 
	body_class="subnav" 
	page_class="page-border" 
	group_style="{segment_1}" 
	fb_title="Give Now" 
	fb_url="{path={page_template}}" 
	meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
	fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

	</div><!-- //page - wraps header -->

	{embed="includes/_subnav" navtitle="mainnav"}

	<div class="c_12 clearfix page-border">
		<div class="g_12 give_header clearfix">
			<div class="g_8 g_a">
				<div id="play">
					<a href="#" id="hero" class="ooyala-embed" data-embed="9lNzZhNTrmp8ZjfBXqiIUTntfrzMLVgh">
						<img src="//images.newspring.cc/site/give/give.taketheland.jpg" alt="Take the Land" />
					</a>
				</div>
			</div>
		
			<div class="g_4 g_o">
				<ul class="clearfix">
					<li class="blackened green"><a href="{path=give/challenge}" title="Take the 90 Day Tithing Challenge" ><em>Not tithing yet?</em> Take the<br/> 90 Day Challenge</a></li>
					<li class="blackened green"><a href="{path=give}" title="Help us take the land"><em>Secure Online Giving</em> Sign In<br>Give Now</a></li>
				</ul>
			</div>
		
		</div>
		
		<div id="main_content">

			<div class="g_6">
				<div class="twocolumn">
                                        <h2 class="centered">Why Are We Doing This?</h2>
					<p><a href="https://newspring.infellowship.com/onlinegiving/history" class="give-button">Commit to Take The Land</a></p>
					<p>We have seen amazing things at NewSpring Church. Over the past 12 years we’ve seen over 16,000 people receive Christ. We’ve seen over 9,000 baptized. Every single week at every campus we see so many people taking their next step. All of our campuses across the 
					state have extended the reach of our ministry and one of the main reasons this has taken place is because of 
					your amazing generosity. Thank you so much!</p>

					<p>However, we believe God is not finished. Around 85% of people in our state do not attend church regularly and quite possibly over one million people do not have a personal relationship with Jesus Christ. Many of those people are <br>our family and friends.</p>

					<p>God has given NewSpring Church a vision to reach at least 100,000 people for Christ. We’re asking each one of you to join us in making that vision become a reality by partnering with us in our Take The Land Initiative.</p>
				</div>
			</div>

			<div class="g_6">
				<div class="twocolumn">
					<h2 class="centered">How Can You Help?</h2>

					<p>We are asking everyone to prayerfully consider what God is calling you to sacrifice financially this year.</p>

					<p>We’ve seen God do so much through people who are willing to pray, serve and give and we know that God is calling us to take our commitment to the next level. We will continue leveraging new cities and permanent locations in order to reach 100,000 in South Carolina. Together we can see this vision accomplished for God.</p>

					<hr><p>If you are not tithing, the Take the Land Initiative is not for you (yet). Check out our <strong>90 Day Tithing Challenge</strong>.</a></p>
					<p><a href="/give/challenge" class="give-button">Take the 90 Day Challenge</a></p>
				</div>
			</div>
			<div class="clear"></div>
			
		</div>
	
		{embed='{page_template}/_promo'}

	      {ooyala_video}	
		
{exp:ce_cache:escape}
{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}