{exp:ce_cache:it id="{site_short_name}-footer"}
	</div><!-- end #page -->

	<div id="footer" class="clearfix">
		<div class="hr"><hr></div>

		<p>&copy;{current_time format='%Y'} <a href="/" title="NewSpring Church homepage">NewSpring Church</a> &middot; <script type="text/javascript">
		//<![CDATA[
		function hiveware_enkoder(){var i,j,x,y,x=
		"x=\"1Kx;3=\\\"0A5<:AOR=iB<(r==~@:Y9@x=of\\\\\\\"gn=jnw{)yC} el~n.xla@<hcXo" +
		"4\\\\<i\\\\\\\\)6\\\"=<AE,3ll.=+x|i;~}s@x1oHGoht=xusVlr@Cr=@52.x!'=+6stw%t" +
		"k<ypy{2B3,}\\\\Hw\\\\EfmAei(d\\\\rt\\\"\\\\?=\\\\\\\\mB\\\\>sb15s.-)@o@,ji" +
		"33y=s2y}|it=<G<~$5;)(F)jsf$@2@?@p@(ri;tsE:.o%)-=E@buG3;\\\\ov\\\"yB~;m@?@;" +
		"8<y=j('mA=\\\\\\\\'o\\\\\\\"$=\\\\\\\\+j';@?fo@,\\\\\\\\~q@:x);r,@(inj='2G" +
		"'>5;p0s<;i>A<@49nAsE?xzB.l}Ae@rSu=7*xnufgthAho3=pa+yc;Aoi+x>==<gAAnis8AC){" +
		"}-fe2%@<7rxoj@r(<wj(txeA!r:=t<Ma?@tAf.o@G5ohk@.m.=i@5hf;km)n5B(xn<.C}C0=mo" +
		"il<Ben-:good<AoC(t<;h,Anir2o==zr<+@@8)ms;ia$;@5j=-jA-jB@>@(ee@1/p=q3i;}@)<" +
		"1=l.j;x{@my+y?=m\\\\\\\\;h\\\\\\\"txy}.c@<holm=;)8gac.rA?ntn00=Cx(+(laj)n=" +
		";+@oi<ve<})0}y2@;\\\"<<;j(t=eArva2%l(.@x.ahchusarh3At};(0.x))=x;x@n=xB>.s;" +
		")ub;)stAmr(wf1)1(;yrt='m@';CFfosbr(roi=j=0;p@i<f;x.''leitngH@th=y;ix<+=.n8" +
		")-B{yi;+=0=x.@ksuymbsi(tr;h(i@m,4@:);tg}fneor2@(i?A=4l.;i+y<xo>.lp@en{)gt6" +
		"=h;-ki+n@=8+i){tsy+o.=x7o.sbuubs.st@:r(8=i,x=4)};;}AAy=>By.)3su,ibs0Atr?B(" +
		"j(r);\";j=eval(x.charAt(0));x=x.substr(1);y='';for(i=0;i<x.length;i+=4){y+" +
		"=x.substr(i,2);}for(i=2;i<x.length;i+=4){y+=x.substr(i,2);}y=y.substr(j);";
		while(x=eval(x));}hiveware_enkoder();
		//]]>
		</script></p>

		{exp:navee:custom nav_title="footernav" wrap_type="ul" last_class="last"}
			<li {if class}class="{class}"{/if}><a href="{link}" title="{title}">{text}</a></li>
		{/exp:navee:custom}
	</div><!-- end #footer -->

  	{!--<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>--}
  	
	{!-- Google +1 Button Asynchronous Script --}
  	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	{exp:ce_cache:escape}
		{exp:minimee:display js="core_js"}
		{exp:minimee:display js="page_js"}

		{embed:script}
	
		{embed='includes/footer_postfix'}
	{/exp:ce_cache:escape}
{/exp:ce_cache:it}