{if (segment_1 == 'kidspring' AND segment_2 == 'blog') OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church KidSpring Blog" href="http://feeds.feedburner.com/NewspringChurchKidspringBlog">
{/if}

{if (segment_1 == 'fuse' AND segment_2 == 'blog') OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Fuse Blog" href="http://feeds.feedburner.com/NewspringChurchFuseBlog">
{/if}

{if (segment_1 == 'groups' AND segment_2 == 'blog') OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Groups Blog" href="http://feeds.feedburner.com/NewspringChurchGroupsBlog">
{/if}

{if segment_1 == 'series' OR segment_1 == 'watchandlisten' OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Sermon Audio" href="http://feeds.feedburner.com/NewspringChurch">
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Sermon Video" href="http://feeds.feedburner.com/newspringchurch/video-podcast">
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Sermon Video (iPod)" href="http://feeds.feedburner.com/newspringchurch-ipod-video">
{/if}

{if segment_1 == 'stories' OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Life-Change Stories" href="http://feeds.feedburner.com/NewspringChurchStories">
{/if}

{if segment_1 == 'jobs' OR segment_1 == 'internships' OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Jobs" href="http://feeds.feedburner.com/NewspringChurchJobs">
{/if}

{if segment_1 == 'blog' OR segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="NewSpring Church Jobs" href="http://feeds.feedburner.com/NewspringChurchBlog">
{/if}

{if segment_1 == 'feeds'}
<link rel="alternate" type="application/rss+xml" title="Perry Noble Blog" href="http://feeds2.feedburner.com/perrynoble/ZvVU">
<link rel="alternate" type="application/rss+xml" title="Clayton King Blog" href="http://feeds.feedburner.com/ClaytonKingBlog">
<link rel="alternate" type="application/rss+xml" title="NewSpring Church 30-Day Bible Studies" href="http://feeds.feedburner.com/NewspringChurch30-dayBibleStudy">
{/if}