{exp:ce_cache:it}

<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf-8">  
  <title>Download The Hour by Lee McDerment</title>  
  <meta name="description" content="Download The Hour">  
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="/thehour/reset/" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/thehour/style/" type="text/css" media="screen" title="no title" charset="utf-8">
  <!--[if lt IE 9]>  
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
  <![endif]-->  
</head>  
<body> 
	<div id="container">
		<a id="cd" href="http://media.newspring.cc/audio/The%20Hour.zip" title="Download The Hour by Lee McDerment">
		<a id="download" href="http://media.newspring.cc/audio/The%20Hour.zip">Download Free</a>
	</div>
</body>  
</html> 

{/exp:ce_cache:it}