<div id="open" class="page">
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <p id="logo">
                <a href="/" title="NewSpring Church homepage" class="ir">NewSpring Church</a>
            </p>
            <h1 class="whiteout yelling">2012 Annual Report</h1>
            <div class="row">
              <div class="span6 offset3">
                <div class="share-buttons clearfix">
                    <div id="facebook-share">
                        <div class="fb-like" data-href="http://newspring.cc/annualreport/" data-send="true"
                        data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
                    </div>
                    <div id="twitter-share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="2012 Annual Report"
                        data-via="newspring" data-related="perrynoble" data-hashtags="2012AnnualReport">Tweet</a>
                        <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        </script>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset3">
                <span class="green8">
                    <p class="introtext">
                        <b>Wow!!! 2012 was truly an amazing year</b> for our church...
                        <i>more</i> than we could ask or imagine! More than 6400 people asked Jesus into their
                        lives. More than 3200 people took their next step to go public with baptism. We
                        launched three more campuses this year. And we saw our average weekly attendance
                        increase 39% from 2011.</p>
                    <p>Our Annual Report is always full of numbers. But these numbers are so important
                        to our church because every number has a name, every name has a story and every
                        story matters to God.</p>
                    <p>Jesus is changing lives in and through our church and the exciting thing is that He's
                        just getting started! I'm so thankful to serve this church as the pastor and I
                        really do believe the best is yet to come!</p>
                    <p id="signature">Perry Noble, Senior Pastor</p>
                </span>
                <div class="ninjascroll faded">Scroll to See the Report
                    <span class="scrollmarker">&#x25BC;</span>
                </div>
            </div>
        </div>
    </div>
</div>
