<div id="fpfp" class="page">
		
	<!-- Begin page content -->
	<div class="container">
		<p class="lead green2">We Believe</p>
		<h1 class="green8">Found People Find People</h1>
	
		<div class="row">
		  	<div class="span4">
				<h2 class="whiteline"><br />Average Weekly Attendance</h2>
				<div class="pieme pieright faded">
					<div class="ninjascroll firsttime delay5 animated bounceInUp">Select any graph<br>
						For detailed information
	                    <span class="scrollmarker">&#x25BC;</span>
	                </div>
					<span class="chartwell pies">
						<span class="green1">45</span>
						<span class="green2">5</span>
						<span class="green3">10</span>
						<span class="green4">8</span>
						<span class="green5">16</span>
						<span class="green6">7</span>
						<span class="green7">2</span>
						<span class="green8">7</span>
					</span>
					<h3 class="filling5 faded">27,158</h3>
				</div>
				<div class="tooltip center">
					<ul class="tooltip-list">
						<li>Anderson <span class="list-number">9,527 <span class="bullet green1">&bull;</span></span></li>
						<li>Charleston <span class="list-number">1,401 <span class="bullet green2">&bull;</span></span></li>
						<li>Columbia <span class="list-number">4,215 <span class="bullet green3">&bull;</span></span></li>
						<li>Florence <span class="list-number">1,853 <span class="bullet green4">&bull;</span></span></li>
						<li>Greenville <span class="list-number">4,778 <span class="bullet green5">&bull;</span></span></li>
						<li>Greenwood <span class="list-number">1,871 <span class="bullet green6">&bull;</span></span></li>
						<li>Myrtle Beach <span class="list-number">741 <span class="bullet green7">&bull;</span></span></li>
						<li>Spartanburg <span class="list-number">2,772 <span class="bullet green8">&bull;</span></span></li>
					</ul>
				</div>
			</div>
		  
		  	<div class="span3">
				<h2 class="whiteline">Average Weekly Attendance<br />Increase from 2012</h2>
				<h3 class="green8">45%</h3>
				<ul class="bargraph">
					<li class="seventy greenback7"><span class="bargraph-year green3">2012</span><span class="bargraph-amount green3">18,784</span></li>
					<li class="hundred whiteback"><span class="bargraph-year green4">2013</span><span class="bargraph-amount green4">27,158</span></li>
				</ul>
				
				<h2 class="whiteline">Total 1st Time Visitors at<br /> 
				KidSpring, Fuse &amp; The Green Room </h2>
				<h3 class="green8">42,903</h3>
			</div>
			
			<div class="span5">
				<h2 class="whiteline"><br />Total Salvations</h2>
				<h3 class="green8 huge">11,983</h3>
			
				<h2 class="whiteline">Student Salvations<br />at Fuse &amp; The Gauntlet</h2>
				<h3 class="green8">2,933
				<span class="chartwell pies pieleft tinypie faded">
					<span class="green3">11</span>
					<span class="green8">89</span>
				</span>
				<div class="tooltip left">
					<ul class="tooltip-list">
						<li>Fuse Services <span class="list-number">2,591 <span class="bullet green8">&bull;</span></span></li>
						<li>The Gauntlet <span class="list-number">342 <span class="bullet green3">&bull;</span></span></li>
					</ul>
				</div>
				</h3>
			</div>
					
		</div> 
		

    </div>
</div>
