<div id="spsp" class="page">
	<!-- Begin page content -->
	<div class="container">
		<p class="lead whiteout">We Believe</p>
		<h1 class="green8">Saved People Serve People</h1>
	
		<div class="row">
			
			<div class="span4">
				
				<h2 class="whiteline"><br />Active Volunteers</h2>
				<h3 class="green8 huge">9,510</h3>
			
				<h2 class="whiteline"><br />1st Time Volunteers</h2>
				<h3 class="green8">6,082</h3>
			</div>

		  	<div class="span4">
				<h2 class="whiteline"><br />Average Weekly Volunteers</h2>
				<div class="pieme pieleft">
					<span class="chartwell pies faded">
						<span class="green1">35</span>
						<span class="green2">6</span>
						<span class="green3">16</span>
						<span class="green4">8</span>
						<span class="green5">16</span>
						<span class="green6">7</span>
						<span class="green7">3</span>
						<span class="green8">9</span>
					</span>
					<h3 class="filling5 faded">4,803</h3>
				</div>
				<div class="tooltip right">
					<ul class="tooltip-list">
						<li>Anderson <span class="list-number">1,657 <span class="bullet green1">&bull;</span></span></li>
						<li>Charleston <span class="list-number">289 <span class="bullet green2">&bull;</span></span></li>
						<li>Columbia <span class="list-number">779 <span class="bullet green3">&bull;</span></span></li>
						<li>Florence <span class="list-number">384 <span class="bullet green4">&bull;</span></span></li>
						<li>Greenville <span class="list-number">771 <span class="bullet green5">&bull;</span></span></li>
						<li>Greenwood <span class="list-number">333 <span class="bullet green6">&bull;</span></span></li>
						<li>Myrtle Beach <span class="list-number">150 <span class="bullet green7">&bull;</span></span></li>
						<li>Spartanburg <span class="list-number">440 <span class="bullet green8">&bull;</span></span></li>	
					</ul>
				</div>
			</div>	
			
			<div class="span4">
				<h2 class="whiteline">Average Weekly Volunteers<br />Increase from 2012</h2>
				<h3 class="green8 huge">34%</h3>
				
				<ul class="bargraph">
					<li class="seventy greenback8"><span class="bargraph-year green2">2012</span><span class="bargraph-amount green2">3,592</span></li>
					<li class="hundred whiteback"><span class="bargraph-year green4">2013</span><span class="bargraph-amount green4">4,803</span></li>
				</ul>
			</div>		
		</div>
	</div>
</div>

	
