<div id="gpc" class="page">

	<!-- Begin page content -->
	<div class="container">
    <p class="lead green7">We Believe</p>
		<h1 class="whiteout">Growing People Change</h1>
	
		<div class="row">
	
			<div class="span4">
				<h2 class="whiteline"><br />Baptisms</h2>
				<h3 class="whiteout huge">6,551</h3>
				<div class="row">
					<div class="span2">
						<ul class="lineitems">
							<li>Anderson <span class="list-number">1,806</span></li>
							<li>Charleston <span class="list-number">345</span></li>
							<li>Columbia <span class="list-number">1,365</span></li>
							<li>Florence <span class="list-number">522</span></li>
							<li>Greenville <span class="list-number">950</span></li>
						</ul>
					</div>
				
					<div class="span2">
						<ul class="lineitems">
							<li>Greenwood <span class="list-number">517</span></li>
							<li>Myrtle Beach <span class="list-number">135</span></li>
							<li>Spartanburg <span class="list-number">911</span></li>
							<li>The Gauntlet <span class="list-number">674</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="span4">
				<h2 class="whiteline"><br />Care &amp; Prayer Room Visits</h2>
				<span class="pieme pieright">
					<span class="chartwell pies faded">
						<span class="green1">56</span>
						<span class="green2">5</span>
						<span class="green3">8</span>
						<span class="green4">6</span>
						<span class="green5">15</span>
						<span class="green6">2</span>
						<span class="green7">3</span>
						<span class="green8">5</span>
					</span>
					<h3 class="filling faded">14,655</h3>
				</span>
				
				<div class="tooltip right">
					<ul class="tooltip-list">
						<li>Anderson <span class="list-number">4,525 <span class="bullet green1">&bull;</span></span></li>
						<li>Charleston <span class="list-number">711 <span class="bullet green2">&bull;</span></span></li>
						<li>Columbia <span class="list-number">2,916 <span class="bullet green3">&bull;</span></span></li>
						<li>Florence <span class="list-number">1,062 <span class="bullet green4">&bull;</span></span></li>
						<li>Greenville <span class="list-number">2,172 <span class="bullet green5">&bull;</span></span></li>
						<li>Greenwood <span class="list-number">1,263 <span class="bullet green6">&bull;</span></span></li>
						<li>Myrtle Beach <span class="list-number">315 <span class="bullet green7">&bull;</span></span></li>
						<li>Spartanburg <span class="list-number">1,691 <span class="bullet green8">&bull;</span></span></li>	
					</ul>
				</div>
			</div>
			
			<div class="span4">
				<h2 class="whiteline"><br />Owners*</h2>
				<h3 class="whiteout">24,066</h3>

				<h2 class="whiteline nomarg">Owners Increase from 2012</h2>

				<div class="row">
					<div class="span2">
						<h3 class="whiteout">32%</h3>
					</div>

					<div class="span2">
						<ul class="bargraph">
							<li class="seventy greenback3"><span class="bargraph-year green7">2012</span><span class="bargraph-amount green7">18,200</span></li>
							<li class="hundred whiteback"><span class="bargraph-year green4">2013<span><span class="bargraph-amount">24,066</span></li>
						</ul>
					</div>
				</div>
				<p class="lucida whiteout">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities.</p>
			</div>
		</div> 
	</div>
</div>


	
