    <div id="ycdla" class="page">

            <!-- Begin page content -->
      <div class="container">
		<p class="lead green7">We Believe</p>
		<h1 class="whiteout">You Can’t Do Life Alone</h1>
	
		<div class="row">
			
			<div class="span5">
				<h2 class="darkline"><br />People in Groups</h2>
				<h3 class="whiteout huge">7,493</h3>
			</div>
			
			<div class="span3">
				<h2 class="darkline">People In Groups<br />Increase from 2012</h2>
				<h3 class="whiteout">145%</h3>
				<ul class="bargraph">
					<li class="seventy greenback7"><span class="bargraph-year green2">2012</span><span class="bargraph-amount green2">3,054</span></li>
					<li class="hundred whiteback"><span class="bargraph-year green4">2013</span><span class="bargraph-amount green4">7,493</span></li>
				</ul>
			</div>
			
			<div class="span4">
				<h2 class="darkline"><br />Current Active Groups</h2>
				<h3 class="whiteout huge">821</h3>
			</div>
				
		</div> 

		<div id="evangelismgroups" class="row calloutmemaybe">
			<div class="span6">
				<h2 class="whiteline">Step Up Groups</h2>
				<p class="green2 lucida"><b>In the Fall of 2013</b> all of our groups participated in a seasonal study for eight weeks where we learned about what&rsquo;s next for us as a Church. Senior Pastor Perry Noble taught about stepping up so we can reach 100,000.</p>
			</div>

			<div class="span3">
				<h2 class="whiteline">Step Up Groups</h2>
				<h3 class="green2">1,345</h3>		
			</div>

			<div class="span3">
				<h2 class="whiteline margright">People in Step Up Groups</h2>
				<h3 class="green2 margright">9,072</h3>
			</div>
		</div>
	</div>
</div>
