<div id="ycog" class="page">
	
	<!-- Begin page content -->
	<div class="container">
		<p class="lead green3">We Believe</p>
	    <h1 class="green0">You Can’t Outgive God</h1>
	
		<div class="row">
	
			<div class="span5">
				<h2 class="whiteline"><br />Total Income</h2>
				<h3 class="whiteout faded">$50,785,156</h3>
			</div>
			
			<div class="span4">
				<h2 class="whiteline nomarg"><br />Tithes &amp; Offerings Increase from 2012</h2>

				<div class="row">

					<div class="span2">
						<h3 class="whiteout">48%</h3>
					</div>

					<div class="span2">
						<ul class="bargraph">
							<li class="seventy greenback3"><span class="bargraph-year green7">2012</span><span class="bargraph-amount green7">$34.3mil</span></li>
							<li class="hundred whiteback"><span class="bargraph-year green4">2013</span><span class="bargraph-amount green4">$50.7mil</span></li>
						</ul>
					</div>

				</div>
			</div>
			
			<div class="span3">
				<h2 class="whiteline">90-Day Tithe<br />Challenge Participants</h2>
				<h3 class="whiteout">2,168</h3>
			</div>

		</div> 

		<div id="taketheland" class="row calloutmemaybe">
	
			<div class="span4">
				<h2 class="darkline">Total Step Up Offerings</h2>
				<h3 class="blackout faded">$7,686,602</h3>
			</div>

			<div class="span3">
				<h2 class="darkline">Step Up Campaign</h2>
				<p class="blackout lucida">In 2013 we began a new giving initiative as a part of our mission to reach 100,000 people, and will pave the way to move every campus into a permanent facility.</p>
			</div>

			<div class="span2">
				<h2 class="darkline">Participants</h2>
				<h3 class="blackout">6,566</h3>
			</div>	
			
			<div class="span3">
				<h2 class="darkline margright">Average Pledge</h2>
				<h3 class="blackout margright">$7,349</h3>
			</div>	
			
		</div>

 		<div class="row">
			<div class="span4">
				<h2 class="whiteline"><br />Pounds of Food Given</h2>
				<h3 class="green1">165,197</h3>
			</div>	
			
			<div class="span3">
				<h2 class="whiteline"><br />Pairs of Shoes Given</h2>
				<h3 class="green1">5,300</h3>
			</div>			
			
			<div class="span5">
				<h2 class="whiteline"><br />Total Given to Missions</h2>
				<h3 class="green1">$4,384,705</h3>
			</div>
		</div>
    </div>
</div>


