	<div id="campus" class="page">
		<!-- Begin page content -->
	      <div class="container">
			<p class="lead green3">Campus Updates</p>
			<h1 class="whiteout">One Church Many Locations</h1>
		
			<div class="row">
				<div id="campus_section" class="span6">
					<h2 class="whiteline">
						Select a Campus to See Details 
						<span class="allcampuses"><a class="prevent-default" href="#page-campus" title="View the campus overview">View All</a></span>	
					</h2>

					<div id="campus_selection">
						<img id="map" src="//ns.images.s3.amazonaws.com/newspring/annualreport/fpo.sc.png">

						<ul class="tabs">
							<li><a href="#allcampuses" id="allcampuses" title="View the campus overview">@<span>All Campuses</span></a></li>
							<li><a href="#anderson" id="anderson" title="View the Anderson campus">@<span>Anderson</span></a></li>
							<li><a href="#charleston" id="charleston" title="View the Charletson campus">@<span>Charleston</span></a></li>
							<li><a href="#columbia" id="columbia" title="View the Columbia campus">@<span>Columbia</span></a></li>
							<li><a href="#florence" id="florence" title="View the Florence campus">@<span>Florence</span></a></li>
							<li><a href="#greenville" id="greenville" title="View the Greenville campus">@<span>Greenville</span></a></li>
							<li><a href="#greenwood" id="greenwood" title="View the Greenwood campus">@<span>Greenwood</span></a></li>
							<li><a href="#myrtlebeach" id="myrtlebeach" title="View the Myrtle Beach campus">@<span>Myrtle Beach</span></a></li>
							<li><a href="#spartanburg" id="spartanburg" title="View the Spartanburg campus">@<span>Spartanburg</span></a></li>
						</ul>
					</div>
				</div>

				<div class="span6">

					<div class="campuses">
						
						<div><!-- all campuses -->
							<div class="row">
								<span class="span3">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">11,983</h3>
								</span>
							
								<span class="span3">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">6,551</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span3">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">27,158</h3>
								</span>
							
								<span class="span3">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">4,803</h3>
								</span>
							</div>
							
							<div class="row">
								<span class="span3">
									<h2 class="whiteline">New Owners</h2>
									<h3 class="green4">7,375</h3>
								</span>
							
								<span class="span3">
									<h2 class="whiteline">1st Time Guests</h2>
									<h3 class="green4">42,903</h3>
								</span>
							</div>
						</div>

						<div><!-- anderson -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Anderson Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">3,000</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">1,806</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">1,853</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">9,527</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">1,657</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">9,320</h3>
								</span>
							</div>
							<p class="lucida green2 mobile-display">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- charleston -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Charleston Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">590</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">345</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">457</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">1,401</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">289</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">2,530</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- columbia -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Columbia Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">2,837</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">1,365</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">1,484</h3>
								</span>
							</div>
							<div class="row">
								<span class="span3">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">4,215</h3>
								</span>
								<span class="span3">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">779</h3>
								</span>
								<span class="span6">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">10,025</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- florence -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Florence Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">1,040</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">522</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">518</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">1,853</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">384</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">3,321</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- greenville -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Greenville Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">1,604</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">950</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">1,268</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">4,778</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">771</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">6,289</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- greenwood -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Greenwood Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">1,131</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">517</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">690</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">1,871</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">333</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">4,286</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- myrtlebeach -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Myrtle Beach Campus</span></h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">356</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">135</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">207</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">741</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">150</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">2,065</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>

						<div><!-- spartanburg -->
							<div class="row">
								<h2 class="span6 campusname whiteline">Spartanburg Campus</h2>
								<span class="span2 span6">
									<h2 class="whiteline">Salvations</h2>
									<h3 class="green4">1,425</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Baptisms</h2>
									<h3 class="green4">911</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">New Owners*</h2>
									<h3 class="green4">979</h3>
								</span>
							</div>
						
							<div class="row">
								<span class="span2">
									<h2 class="whiteline">Average Weekly Attendance</h2>
									<h3 class="green4">2,772</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline">Average Weekly Volunteers</h2>
									<h3 class="green4">440</h3>
								</span>
								<span class="span2">
									<h2 class="whiteline"><br />1st Time Guests**</h2>
									<h3 class="green4">5,067</h3>
								</span>
							</div>
							<p class="lucida green2">*At NewSpring, we don’t have members, we have Owners. Why? Because members have rights, but owners have responsibilities. When our Owners take responsibility for the ministry at their campus, we reach that city, and together we reach 100,000 people all over the state of South Carolina!</p><p class="lucida green2">**Total 1st Time Guests in KidSpring, Fuse and The Green Room</p>
						</div>
				</div>		
			</div>
	    </div>
	</div>
</div>
