<div id="kidspring" class="page">
	<!-- Begin page content -->
	<div class="container">
		<p class="lead green3">Jesus on Their Level</p>
		<h1 id="overiggy" class="whiteout">KidSpring Ministry</h1>
			
		<div class="row iggyhug">

			<div class="span4">
				<h2 class="whiteline"><br />Average Weekly Volunteers</h2>
				<h3 class="green4 huge">1,782</h3>

				<h2 class="whiteline">Volunteer to Child Ratio</h2>
				<h3 class="green4">1 <span class="quiet">to</span> 3</h3>
			</div>

		  	<div class="span4">
				<h2 class="whiteline"><br />Average Weekly Attendance</h2>
				<div class="pieme pieright faded">
					<span class="chartwell pies">
						<span class="blue1">48</span>
						<span class="blue2">4</span>
						<span class="blue3">9</span>
						<span class="blue4">9</span>
						<span class="blue6">15</span>
						<span class="blue7">7</span>
						<span class="blue8">2</span>
						<span class="blue9">6</span>
					</span>
					<h3 class="filling5">5,142</h3>
				</div>
				<div class="tooltip right">
					<ul class="tooltip-list">
						<li>Anderson <span class="list-number">1,933 <span class="bullet blue1">&bull;</span></span></li>
						<li>Charleston <span class="list-number">246 <span class="bullet blue2">&bull;</span></span></li>
						<li>Columbia <span class="list-number">745 <span class="bullet blue3">&bull;</span></span></li>
						<li>Florence <span class="list-number">403 <span class="bullet blue4">&bull;</span></span></li>
						<li>Greenville <span class="list-number">856 <span class="bullet blue6">&bull;</span></span></li>
						<li>Greenwood <span class="list-number">353 <span class="bullet blue7">&bull;</span></span></li>
						<li>Myrtle Beach <span class="list-number">125 <span class="bullet blue8">&bull;</span></span></li>
						<li>Spartanburg <span class="list-number">480 <span class="bullet blue9">&bull;</span></span></li>
					</ul>
				</div>
				<div class="faded">
					<img id="iggy" class="animated bounceInUp" src="//s3.amazonaws.com/ns.images/newspring/annualreport/iggy.png">
				</div>
			</div>

		  	<div class="span4">
				<h2 class="whiteline">Average Weekly Attendance<br />Increase from 2012</h2>
				<h3 class="green4">43%</h3>
				<ul class="bargraph">
					<li class="seventy blueback2"><span class="bargraph-year blue2">2012</span><span class="bargraph-amount blue2">3,597</span></li>
					<li class="hundred whiteback"><span class="bargraph-year blue2">2013</span><span class="bargraph-amount blue2">5,142</span></li>
				</ul>

				<h2 class="whiteline">1st Time KidSpring Visitors</h2>
				<h3 class="green4">14,546</h3>
			</div>

		</div>
		
		<div class="row">
			<div class="span4">
				<h2 class="whiteline">KidSpring Vision &amp; Mission</h2>
				<p class="whiteout lucida"><b>KidSpring is a children’s ministry</b> uniquely designed with your child in mind! Kids—birth through fifth grade—experience safe, age-appropriate environments where the Bible is taught in a creative and relevant way.</p>
			</div>
			
			<div class="span5">
				<h2 class="whiteline">KidSpring Resources for Churches</h2>
				<p class="whiteout lucida"><b>In 2012 we began creating</b> our own children’s curriculum to teach kids about Jesus on their level. We also began giving that curriculum away—for free—to other churches. These resources include lesson plans, training documents, songs and videos. 16,783 people have registered to download resources!</p>
			</div>
			
			<div class="span3">
				<h2 class="whiteline">KidSpring Resource Downloads</h2>
				<h3 class="whiteout">41,034</h3>
			</div>
		</div>
    </div>
</div>
