<div id="fuse" class="page">
	
	<!-- Begin page content -->
      <div class="container">
		<p class="lead red3">The Wave Starts in the Student Section</p>
		<h1 class="whiteout">Fuse Student Ministry</h1>
				
			<div class="row">

				<div class="span3">	
					<h2 class="whiteline">Salvations at Fuse</h2>
					<h3 class="red5">2,591</h3>
				</div>
				
				<div class="span3">	
					<h2 class="whiteline">Average Weekly Attendance</h2>
					<h3 class="red5">2,753
					<span class="chartwell pies pieleft tinypie faded pie1">
						<span class="red1">53</span>
						<span class="red2">4</span>
						<span class="red3">10</span>
						<span class="red5">12</span>
						<span class="red5">14</span>
						<span class="red6">7</span>
					</span>
					<div class="tooltip right">
						<ul class="tooltip-list">
							<li>Anderson <span class="list-number">1,063 <span class="bullet red1">&bull;</span></span></li>
							<li>Charleston <span class="list-number">108 <span class="bullet red2">&bull;</span></span></li>
							<li>Columbia <span class="list-number">380 <span class="bullet red3">&bull;</span></span></li>
							<li>Florence <span class="list-number">271 <span class="bullet red5">&bull;</span></span></li>
							<li>Greenville <span class="list-number">346 <span class="bullet red5">&bull;</span></span></li>
							<li>Greenwwood <span class="list-number">282 <span class="bullet red5">&bull;</span></span></li>
							<li>Myrtle Beach <span class="list-number">92 <span class="bullet red5">&bull;</span></span></li>
							<li>Spartanburg <span class="list-number">211 <span class="bullet red6">&bull;</span></span></li>
						</ul>
					</div>
					</h3>
				</div>
				
				<div class="span6">
					<h2 class="whiteline nomarg">Average Weekly Attendance Increase from 2012</h2>
					
					<div class="row">

						<div class="span2">
							<h3 class="whiteout">59%</h3>
						</div>

						<div class="span4">
							<ul class="bargraph">
								<li class="seventy redback"><span class="bargraph-year whiteout">2012</span><span class="bargraph-amount whiteout">1,734</span></li>
								<li class="hundred whiteback"><span class="bargraph-year blackout">2013</span><span class="bargraph-amount blackout">2,753</span></li>
							</ul>
						</div>

					</div>
				</div>

			</div> 

			<div id="thegauntlet" class="row calloutmemaybe">

				<div class="span4">
					<h2 class="whiteline">The Gauntlet</h2>
					<p class="whiteout lucida">The Gauntlet is a five-day Summer event for middle and high school students. Students learn from God's Word in small group discussions and sessions led by the Fuse Band, Student Pastor Brad Cooper &amp; Senior Pastor Perry Noble.</p>
				</div>

				<div class="span2">
					<h2 class="whiteline">Students</h2>
					<h3 class="whiteout">2,539</h3>
				</div>

				<div class="span2">
					<h2 class="whiteline">Salvations</h2>
					<h3 class="whiteout">342</h3>
				</div>	

				<div class="span2">
					<h2 class="whiteline">Baptisms</h2>
					<h3 class="whiteout">674</h3>
				</div>	
				
				<div class="span2">
					<h2 class="whiteline margright">Volunteers</h2>
					<h3 class="whiteout margright">815</h3>
				</div>

			</div>

	 		<div class="row">
				
				<div class="span3">
					<h2 class="whiteline">1st Time Visitors</h2>
					<h3 class="red5">12,481</h3>
				</div>
				
				<div class="span4 offset1">
					<h2 class="whiteline nomarg">1st Time Visitors Increase from 2012</h2>

					<div class="row">

						<div class="span2">
							<h3 class="whiteout">78%</h3>
						</div>

						<div class="span2">
							<ul class="bargraph">
								<li class="seventy redback"><span class="bargraph-year whiteout">2012</span><span class="bargraph-amount whiteout">6,993</span></li>
								<li class="hundred whiteback"><span class="bargraph-year blackout">2013</span><span class="bargraph-amount blackout">12,481</span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="span3 offset1">
					<h2 class="whiteline">Average Weekly Volunteers</h2>
					<h3 class="red5">697
						<span class="chartwell pies pieleft tinypie faded pie2">
							<span class="red1">51</span>
							<span class="red2">8</span>
							<span class="red3">10</span>
							<span class="red5">9</span>
							<span class="red5">15</span>
							<span class="red6">9</span>
						</span>
						<div class="tooltip right">
							<ul class="tooltip-list">
								<li>Anderson <span class="list-number">252 <span class="bullet red1">&bull;</span></span></li>
								<li>Charleston <span class="list-number">39 <span class="bullet red2">&bull;</span></span></li>
								<li>Columbia <span class="list-number">96 <span class="bullet red3">&bull;</span></span></li>
								<li>Florence <span class="list-number">70 <span class="bullet red5">&bull;</span></span></li>
								<li>Greenville <span class="list-number">100 <span class="bullet red5">&bull;</span></span></li>
								<li>Greenwood <span class="list-number">57 <span class="bullet red5">&bull;</span></span></li>
								<li>Myrtle Beach <span class="list-number">33 <span class="bullet red5">&bull;</span></span></li>
								<li>Spartanburg <span class="list-number">50 <span class="bullet red6">&bull;</span></span></li>
							</ul>
						</div>
					</h3>
				</div>
			</div>
    </div>
</div>
