<div id="unmin" class="page">
	

	<!-- Begin page content -->
	<div class="container">
		<p class="lead green3">Serving Other Churches</p>
		<h1 class="whiteout">Unleash Ministries</h1>
	
		<div class="row">
			
			<div class="span5">
				<h2 class="brandline">Amount Given to Missions</h2>
				<h3 class="whiteout">$4,384,705</h3>
			</div>	
							
			<div class="span2 offset1">
				<h2 class="brandline">Kenya Missions</h2>
				<h3 class="whiteout tiny">Four Trips</h3>
			</div>

			<div class="span2">
				<h2 class="brandline">Kenya Participants</h2>
				<h3 class="whiteout">90</h3>
			</div>
			
			<div class="span2">
				<h2 class="brandline">Salvations in Kenya</h2>
				<h3 class="whiteout">114</h3>
			</div>
			
		</div>

		<div id="conferences" class="row calloutmemaybe">
			
			<div class="span5">
				<h2 class="whiteline">Unleash Ministries<br /> Conferences &amp; Coaching</h2>
				<p class="whiteout lucida">Unleash Ministries serves, equips and encourages other churches. This year we hosted a conference for Children&rsquo;s and Student Ministries, and several smaller Leadership Intensive sessions for pastors and leaders.</p>
			</div>

			<div class="span3">
				<h2 class="whiteline">Unleash Your Children&rsquo;s and<br />Student Ministry Conference</h2>
				<h3 class="whiteout">757</h3>
			</div>

			<div class="span2">
				<h2 class="whiteline">Spring Leadership<br />Intensive</h2>
				<h3 class="whiteout">46</h3>
			</div>	
				
			<div class="span2">
				<h2 class="whiteline margright">Fall Leadership<br />Intensive</h2>
				<h3 class="whiteout margright">60</h3>
			</div>
			
		</div>

		<div class="row">
			<span class="span12">
				<h2 class="whiteline centered">Churches We Partner With All Over the World</h2>
			</span>
		</div>
		<div class="row">
						
			<div class="span3">
				<h2 class="whiteline">Resonate Church <a href="http://resonateindy.com" class="visit" title="Resonate Church">Visit Website</a></h2>
				<p class="blackout lucida">In September 2012, we helped launch Resonate Church in Indianapolis, Indiana.</p>
				<div class="row">
					<span class="span1">
						<p class="lucida"><b>Salvations</b></p>
						<h3 class="tiny whiteout">40</h3>
					</span>
					<span class="span1">
						<p class="lucida"><b>Baptisms</b></p>
						<h3 class="tiny whiteout">26</h3>
					</span>
				</div>
			</div>	
				
			<div class="span3">
				<h2 class="whiteline">Freedom Church <a href="http://freedomchurch.cc" class="visit" title="Freedom Church">Visit Website</a></h2>
				<p class="blackout lucida">Freedom Church has campuses in England, the UK, Belgium, Uganda and Cambodia.</p>
				<div class="row">
					<span class="span1">
						<p class="lucida"><b>Salvations</b></p>
						<h3 class="tiny whiteout">106</h3>
					</span>
					<span class="span1">
						<p class="lucida"><b>Baptisms</b></p>
						<h3 class="tiny whiteout">37</h3>
					</span>
				</div>
			</div>

			<div class="span3">
				<h2 class="whiteline">3D Church <a href="http://3dkogudus.ee/" class="visit" title="3D Church">Visit Website</a></h2>
				<p class="blackout lucida">We financially support 3D Church in Tartu, Estonia as they reach a highly unchurched nation.</p>
				<div class="row">
					<span class="span1">
						<p class="lucida"><b>Salvations</b></p>
						<h3 class="tiny whiteout">42</h3>
					</span>
					<span class="span1">
						<p class="lucida"><b>Baptisms</b></p>
						<h3 class="tiny whiteout">17</h3>
					</span>
				</div>
			</div>

			<div class="span3">
				<h2 class="whiteline">Shemen Sasson <a href="http://shemensasson.com" class="visit" title="Shemen Sasson">Visit Website</a></h2>
				<p class="blackout lucida">Shemen Sasson is an indigenous Israeli Messianic church in Jerusalem's business district.</p>
				<div class="row">
					<span class="span1">
						<p class="lucida"><b>Salvations</b></p>
						<h3 class="tiny whiteout">2</h3>
					</span>
					<span class="span1">
						<p class="lucida"><b>Baptisms</b></p>
						<h3 class="tiny whiteout">0</h3>
					</span>
				</div>
			</div>
			
		</div>
		{!--
		<div class="row">
			<span class="offset2 span8">
				<a id="unminrecap" href="#" title="Watch the 2012 Unleash Recap" class="bigbutton unleash ooyala-embed" data-embed="psbWJmOTpQ56Ka5FQ1OWFuUVjakAhkHd">Watch the 2012 Unleash Recap</a>
			</span>
		</div>
		--}
    </div>
</div>
