<div id="website" class="page">
	
	<!-- Begin page content -->
	<div class="container">
		<p class="lead whiteout">To the Ends of the Earth</p>
		<h1 class="green4">NewSpring Website &amp; App</h1>
		
		<div class="row padmemaybe">			
			<span class="span4">
				<h2 class="whiteline">Most Watched Video 
					<a href="{path=watch/this-is-our-god}" class="visit" title="Overwhelmed">Watch Now</a>
				</h2>
				<h3 class="whiteout tiny">This is Our God</h3>
			</span>
			
			<span class="span8">
				<div class="row">
					
					<span class="span2">
						<h2 class="whiteline"><span class="quiet">i</span>OS/Android App</h2>
						<a href="/apps" class="download" title="NewSpring Apps">Download Now</a>
					</span>

					<span class="span2">
						<h2 class="whiteline">App Downloads</h2>
						<h3 class="whiteout tiny">115,112</h3>
					</span>

					<span class="span2">
						<h2 class="whiteline">App Pages Viewed</h2>
						<h3 class="whiteout tiny">3,284,037</h3>
					</span>
					
					<span class="span2">
						<h2 class="whiteline">App Launches</h2>
						<h3 class="whiteout tiny">896,211</h3>
					</span>	

				</div>
			</span>	
		</div>

		<div id="webstats" class="row calloutmemaybe">
			<span class="span4">
				<h2 class="blackline">Total Site Visits</h2>
				<h3 class="green4">2,921,162</h3>
			</span>
			<span class="span4">
				<h2 class="blackline">Total Pages Viewed</h2>
				<h3 class="green4">9,598,261</h3>
			</span>
			<span class="span4">
				<h2 class="blackline margright"> Blog Pages Viewed</h2>
				<h3 class="green4 margright">1,231,305</h3>
			</span>
		</div>
		
		<div class="row">
			<div class="span5">
				<h2 class="brandline">Average Daily Site Visits</h2>
				<h3 class="green4 huge">8,003</h3>

				<p class="footnote whiteout">Sunday, December 15 was our highest traffic day, with 23,590 visits. 49% of total visits in 2013 were from mobile devices.</p>
			</div>
			
			<div class="span3">
				<h2 class="brandline">Total Video Plays</h2>
				<h3 class="geen4">991,047</h3>
				<h2 class="whiteline">Countries Visiting the Website</h2>
				<h3 class="whiteout tiny">203 Countries</h3>
				<p class="footnote">Our website reached 100% of the geographic countries in the world in 2013. 7% of visits were from outside the U.S.</p>
			</div>
			
			<div class="span4">
				<h2 class="brandline">Average Weekly Live Service Viewers</h2>
				<h3 class="green4 huge">7,525</h3>
				<p class="footnote whiteout">Every Sunday we stream <a href="/live">our services live</a>. Whether you’re on vacation or just unable to get to a Campus, you don’t have to miss a week.</p>	
			</div>
			
		</div>
		
    </div>
</div>
