<div id="financials" class="page">

	<!-- Begin page content -->
	<div class="container">
		<p class="lead green4">2013</p>
		<h1 class="whiteout">Church Financials</h1>
	
		<div class="row">
			<div class="span6 offset1">
				<h2 class="whiteline">Total Income</h2>
				<h3 class="green4">$50,785,156</h3>
				<ul class="lineitems">
					<li><span class="whiteout">General Offering</span><span class="bargraph-amount whiteout">$41,252,546</span></li>
					<li><span class="whiteout">Step Up Campaign<sup>1</sup></span><span class="bargraph-amount whiteout">$7,686,602</span></li>
					<li><span class="whiteout">Restricted Income<sup>2</sup></span><span class="bargraph-amount whiteout">$1,846,008</span></li>
				</ul>					
				<p class="footnote">1. In 2013 we began a giving initiative called Step Up as a part of our mission to reach 100,000 people in South Carolina. Step Up will help pave the way to move every campus into a permanent facility.</p>	
				<p class="footnote">2. This includes album sales, Awake Coffee, Gauntlet Registrations, Missions Trip Payments &amp; Scholarships, Resource Center, Fuse Snack Bar and Unleash Ministries Conferences &amp; Coaching.</p>
			</div>
			
			<div class="span4">
				<h2 class="whiteline">Total Expenses</h2>
				<div class="pieme faded">
					<span class="chartwell pies">
						<span class="green2">36</span>
						<span class="green3">31</span>
						<span class="green4">24</span>
						<span class="green5">9</span>
					</span>
				</div>
				<ul class="lineitems">
					<li><span class="green2">Operating</span> <span class="list-number green2">36%</span></li>
					<li><span class="green3">Staffing</span> <span class="list-number green3">31%</span></li>
					<li><span class="green4">Campus Launches/Upgrades</span> <span class="list-number green4">24%</span></li>
					<li><span class="green5">Missions</span> <span class="list-number green5">9%</span></li>
				</ul>
			</div>

			{!-- <div class="span6">
				<h2 class="whiteline">Total Operating Expenses</h2>
				<h3 class="green4">$47,958,148</h3>
				<ul class="lineitems">
					<li><span class="green1">Operating</span><span class="bargraph-amount whiteout">$18,482,972</span></li>
					<li><span class="green1">Staffing<sup>3</sup></span><span class="bargraph-amount whiteout">$15,682,065</span></li>
					<li><span class="green1">Campus Launches/Upgrades</span><span class="bargraph-amount whiteout">$9,408,403</span></li>
					<li><span class="green1">Missions</span><span class="bargraph-amount whiteout">$4,384,705</span></li>
				</ul>
				<p class="footnote">3. Our staffing costs are 32% of our budget. In comparison, the average staffing cost in America for churches with more than 10,000 attenders is 42% of the budget.</p>
			
			</div> --}
		</div>
    </div>
</div>
