<div id="share" class="page">
	<!-- Begin page content -->
      <div id="lastpage" class="container">
		<p class="lead green7">Like, Comment &amp; Share</p>
		<h1 class="whiteout yelling">2013 Annual Report</h1>
		<div class="row">
				<div class="span6 offset3">
					<h2 class="whiteline centered">Share the 2013 Annual Report</h2>
					<div class="share-buttons clearfix">
                    <div id="facebook-share">
                        <div class="fb-like" data-href="http://newspring.cc/annualreport/" data-send="true"
                        data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
                    </div>
                    <div id="twitter-share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-text="2013 Annual Report"
                        data-via="newspring" data-related="perrynoble" data-hashtags="2013AnnualReport">Tweet</a>
                        <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                        </script>
                    </div>
                </div>
			</div>		
		</div>
		<p id="endlogo"><a href="/" title="NewSpring Church homepage" class="ir">NewSpring Church</a></p>	
	</div>
</div>