{exp:ce_cache:it id="{segment_1}" seconds="0"}

	{embed="{segment_1}/_header"}

	<div id="wrap">
	    
		{!-- SO MANY EMBEDS...Need to make sure caching is enabled to speed up load time --}
		{embed="{segment_1}/01"}
		{embed="{segment_1}/02"}
		{embed="{segment_1}/03"}
		{embed="{segment_1}/04"}
		{embed="{segment_1}/05"}
		{embed="{segment_1}/06"}
		{embed="{segment_1}/07"}
		{embed="{segment_1}/08"}
		{embed="{segment_1}/09"}
		{embed="{segment_1}/10"}
		{embed="{segment_1}/11"}
		{embed="{segment_1}/12"}
		{embed="{segment_1}/13"}
		{embed="{segment_1}/14"}
		

	</div>

	{ooyala_video}

	{embed="{segment_1}/_footer"}

{/exp:ce_cache:it}