{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed="includes/header" 
		body_id="ministries"
		body_class="ministries" 
		title="Ministries"
	}
{/exp:ce_cache:escape}

<div class="hr alt"><hr></div>

<h1 class="ministries">Ministries</h1>

<ul class="ministries clearfix">
	<li class="blackened"><a href="/kidspring/" title="Visit KidSpring"><em>6 weeks&ndash;5th Grade: </em>Children's<br> Ministry</a></li>
	<li class="blackened"><a href="/fuse/" title="Visit Fuse"><em>6th&ndash;12th Grade: </em>Student<br> Ministry</a></li>
	<li class="blackened"><a href="/groups/" title=""><em>Real Community: </em>NewSpring<br> Groups</a></li>
</ul>

<div class="hr alt"><hr></div>

<h2 class="ministries">Subministries</h2>

<ul class="subministries clearfix">
	<li><a href="/nextsteps/care/" title=""><em>Need prayer or a listening ear?</em>Talk to the Care Team</a></li>
	<li><a href="/coaching" title=""><em>Need help with Personal Finances? </em>Get Financial Coaching</a></li>
	<li><a href="/nextsteps/ownership" title=""><em>Need to become an Owner? </em>Sign-up for Ownership</a></li>
</ul>

<ul class="subministries topline clearfix">
	<li><a href="/uganda" title=""><em>To the Ends of the Earth? </em>Sign-up for Uganda Trips</a></li>
	<li><a href="/apps" title=""><em>Take NewSpring with you! </em>Download NewSpring Apps</a></li>
	<li><a href="/blog/devotionals" title=""><em>Want to study the Word? </em>Read Daily Devotionals</a></li>
</ul>

{embed='includes/_crumbs' navtitle="mainnav"}

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}