{layout="newspring:_layouts/master"
	title="Sermons"
	description=""
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{exp:ce_cache:it id='contents'}

{exp:channel:entries site="{embed:site}" channel="{embed:collection_channel}" limit="1" show_future_entries="yes"}
	{exp:ce_cache:escape}
		{layout:set name="title"}{title} | {embed:collection_title}{/layout:set}

		{layout:set name="image"}
			{collection_image}{collection_image_2x1}{/collection_image}
		{/layout:set}

		{layout:set name="description"}
			{exp:eehive_hacksaw}{collection_description}{/exp:eehive_hacksaw}
		{/layout:set}
	{/exp:ce_cache:escape}

	{if collection_bgcolor}
	<style>
		.collection-color, .collection-color:hover, .collection-color h3, .collection-color h3:hover { color: #{collection_bgcolor}; border-color: #{collection_bgcolor}; }
		.btn.collection-color:hover { background: #{collection_bgcolor}; color: white; }
		a.link--arrow.collection-color:after, a.link--arrow.collection-color:hover:after { color: #{collection_bgcolor}; border-color: #{collection_bgcolor}; }
		.section--collection .shell { background: #{collection_bgcolor}; }
		.section--collection .btn:hover { color: #{collection_bgcolor}; }
	</style>
	{/if}

	{embed="newspring:_embeds/_hero"
		h-align=""
		v-align="bottom"
		image_url="{collection_image}{collection_image_2x1}{/collection_image}"
		{if collection_video}
		video_title="Watch Trailer"
		video="{url_title}, {collection_video}"
		{/if}
		{if current_time < collection_startdate}
		summary="<span class='capitalize'><b>Series Begins {collection_startdate:relative depth='2'}</b></span>"
		{/if}
	}

	<section>
		<div class="shell" data-share="{title}">
			<div class="grid">
				<div class="grid__item one-whole">
					<div class="grid lap-centered handheld-centered">
						<div class="grid__item two-thirds lap-one-whole handheld-one-whole">

							<a href="{path='/{segment_1}'}" class="link--arrow reverse dark">View All Series</a>

							{!-- Label --}
							{if segment_1 == 'sermons'}
								{if current_time < collection_startdate}
								<br>
								{!-- Upcoming Series Tag --}
								<p class="colfax outlined outlined--tag dark">Upcoming Series</p>

								{if:elseif current_time >= collection_startdate AND current_time < collection_enddate}
								<br>
								{!-- Current Series Tag --}
								<p class="colfax outlined outlined--tag dark">Current Series</p>

								{/if}
							{/if}

							{!-- Title --}
							<h2 class="collection-color">{title}</h2>

							{!-- Description --}
							{collection_description}

						</div><div class="grid__item one-third lap-one-whole handheld-one-whole right">
							{embed="newspring:_embeds/_share-buttons"
								alignment=""
								title="Check out the latest series, '{title}' at"
								hashtag="{collection_hashtag}"
								share_url="{exp:shorteen:process service='bitly' url='{current_url}'}"
							}
							<br>
							{if collection_hashtag}<h3>#{collection_hashtag}</h3>{/if}
						</div>
					</div>
					{if current_time >= collection_startdate}
					<hr>
					{/if}
				</div>
				{if segment_1 == 'sermons'}
					{if current_time < collection_startdate}
						{!-- UPCOMING SERIES --}

						{!-- Put Locations Here --}

					{if:elseif current_time >= collection_startdate AND current_time < collection_enddate}
						{!-- CURRENT SERIES --}
						{embed="newspring:_embeds/_collection-entry-loop"
							site="{embed:site}"
							collection_channel="{embed:collection_channel}"
							collection_entry_channel="{embed:collection_entry_channel}"
							entry_id="{entry_id}"
							sort="desc"
							current_series="y"
						}
					{if:else}
						{!-- PAST SERIES --}
						{embed="newspring:_embeds/_collection-entry-loop"
							site="{embed:site}"
							collection_channel="{embed:collection_channel}"
							collection_entry_channel="{embed:collection_entry_channel}"
							entry_id="{entry_id}"
							sort="asc"
							current_series="n"
						}
					{/if}
				{if:else}
					{embed="_embeds/_collection-entry-loop"
						site="{embed:site}"
						collection_channel="{embed:collection_channel}"
						collection_entry_channel="{embed:collection_entry_channel}"
						entry_id="{entry_id}"
						sort="asc"
						current_series="n"
					}
				{/if}
			</div>
		</div>
	</section>

{exp:playa:parents channel="groups_study" var_prefix="study"}{if study:total_results > 0}
	<section class="section--collection handheld-centered">
		<div class="shell">
			<div class="grid floating floating--left">
				<div class="grid__item floating__item five-twelfths handheld-one-whole">
					{!-- Study Image --}
					<a href="{path='/groups/studies/{study:url_title}'}"><div class="ratio--landscape background--fill flush" style="background-image: url({collection_image}{exp:ce_img:single src='{collection_image_2x1}' width='1000' crop='yes' url_only='yes'}{/collection_image});"><div class="ratio__item"></div></div></a>
				</div><div class="grid__item floating__item seven-twelfths handheld-one-whole">
					{!-- Study Title, Description & Link --}
					<h2>Group Study</h2>
					{study:collection_description}
					<a href="{path='/groups/studies/{study:url_title}'}" class="btn">Start the Study</a>
				</div>
			</div>
		</div>
	</section>
	{/if}{/exp:playa:parents}

{embed="_embeds/_discover"
	title="{embed:collection_title}"
	entry_id="{entry_id}"
}

{if no_results}
	{redirect="404"}
{/if}

{/exp:channel:entries}
{/exp:ce_cache:it}
