<section class="ratio ratio--landscape hero hero--center background--fill" style="background-image: url({embed:image_url});">
	<div class="ratio__item floating background--darkened" >
		<div class="floating__item">
			<div class="text--padded-large hero__content">
				{if embed:action}
					<h4 class="text--center ital">{embed:action}</h4>
				{/if}
				<h1 class="text--center"  >{embed:title}</h1>
				{if embed:description}
					<h4 class="text--center ital">{embed:description}</h4>
				{/if}
			</div>
		</div>
	</div>
</section>
