<section class="ratio ratio--landscape hero hero--center background--fill{if embed:class} {embed:class}{/if}" style="background-image: url({embed:image_url});">
	<div class="ratio__item floating">
		<div class="floating__item{if embed:dark_background != 'n'} background--darkened{/if}">
			<div class="text--padded-large hero__content">

				<!-- <a href="#" class="btn btn--play"><i class="rounded-triangle"></i></a> -->
				{if embed:floating_content_img}
				<img src="{embed:floating_content_img}" alt="{embed:floating_content_img_alt}">
				{/if}

			</div>
		</div>
	</div>
</section>
