<a href="{if embed:facebook_link}{embed:facebook_link}{if:elseif social_facebook}{social_facebook}{/if}" class="btn btn--social btn--facebook"></a>

<a href="{if embed:twitter_link}{embed:twitter_link}{if:elseif '{social_twitter}' != ''}{social_twitter}{/if}" class="btn btn--social btn--twitter"></a>

<a href="{if embed:instagram_link}{embed:instagram_link}{if:elseif '{social_instagram}' != ''}{social_instagram}{/if}" class="btn btn--social btn--instagram"></a>

<a href="{if embed:youtube_link}{embed:youtube_link}{if:elseif '{social_youtube}' != ''}{social_youtube}{/if}" class="btn btn--social btn--youtube"></a>