<ul class="{if embed:alignment == 'vertical'}vertical {/if}{if embed:flush == 'y'}flush {/if}social-icons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={embed:share_url}" class="fa fa-facebook facebook"></a></li>
    <li><a href="https://twitter.com/share?url={embed:share_url}&via=newspring&text={embed:title}&hashtags={embed:hashtag}" class="fa fa-twitter twitter"></a></li>
    <li><a href="https://plus.google.com/share?url={embed:share_url}" class="fa fa-google-plus google"></a></li>
</ul>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>