{!--
	@INFO

	All vars have the same name, suffixed with the count of loop. 
	You have as many vars available as total results.
--}
<p>
{layout:promotion_title_1}
{layout:promotion_url_1}
{layout:promotion_summary_1}
{layout:promotion_btn_text_1}

{layout:promotion_image_description_1}
{layout:promotion_image_2x1_1}
{layout:promotion_image_1x2_1}
{layout:promotion_image_1x1_1}
{layout:promotion_image_background_video_1}
</p>

<p>
{layout:promotion_title_2}
{layout:promotion_url_2}
{layout:promotion_summary_2}
{layout:promotion_btn_text_2}

{layout:promotion_image_description_2}
{layout:promotion_image_2x1_2}
{layout:promotion_image_1x2_2}
{layout:promotion_image_1x1_2}
{layout:promotion_image_background_video_2}
</p>

<p>
{layout:promotion_title_3}
{layout:promotion_url_3}
{layout:promotion_summary_3}
{layout:promotion_btn_text_3}

{layout:promotion_image_description_3}
{layout:promotion_image_2x1_3}
{layout:promotion_image_1x2_3}
{layout:promotion_image_1x1_3}
{layout:promotion_image_background_video_3}
</p>

<p>
{layout:promotion_title_4}
{layout:promotion_url_4}
{layout:promotion_summary_4}
{layout:promotion_btn_text_4}

{layout:promotion_image_description_4}
{layout:promotion_image_2x1_4}
{layout:promotion_image_1x2_4}
{layout:promotion_image_1x1_4}
{layout:promotion_image_background_video_4}
</p>