{layout="_layouts/master"
	title="About Us"
	description="We are a growing, vibrant church with multiple locations all over the state of South Carolina. We&rsquo;d love for you to be our guest this weekend."
	image="http:{images-global}/{site_short_name}/_fpo/fpo.Auditorium.Wide.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="About Us"
	summary="We are a growing, vibrant church with multiple locations all over the state of South Carolina. We&rsquo;d love for you to be our guest this weekend."
	image_url="{images-global}/{site_short_name}/_fpo/fpo.Auditorium.Wide.jpg"
}

<section class="section--grey section--condensed">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item one-half portable-one-half palm-wide-one-half palm-one-whole palm-centered">
				<a href="/locations" class="image ratio--landscape flush" style="background-image:url({exp:ce_img:single src='{images-global}/{site_short_name}/_fpo/fpo.Music4.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>Locations</h3>
					<p>NewSpring is one church in many locations. We have multiple campuses across the state of South Carolina.<br><br><a href="/locations" class="link--arrow">Find a Location</a></p>
				</div>
			</div><div class="grid__item one-half portable-one-half palm-wide-one-half palm-one-whole palm-centered">
				<a href="/nextsteps" class="image ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/baptism/baptism.hero.2to1.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>Next Steps</h3>
					<p>No matter how long we have been following Jesus, every one of us has a next step to take.<br><br><a href="/nextsteps" class="link--arrow">Take a Next Step</a></p>
				</div>
			</div><div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole palm-centered">
				<a href="/kidspring" class="image ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/kidspring/kidspring.smallgroup.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>KidSpring</h3>
					<p>KidSpring is a children’s ministry uniquely designed with your child in mind where babies–5th grade experience age-appropriate, safe environments on their level.<br><br><a href="/kidspring" class="link--arrow">About KidSpring</a></p>
				</div>
			</div><div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole palm-centered">
				<a href="/fuse" class="image ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/{site_short_name}/_fpo/fpo.fusefootball.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>Fuse</h3>
					<p>At Fuse, 6–12th graders connect with God, each other, and older leaders dedicated to their spiritual growth.<br><br><a href="/fuse" class="link--arrow">About Fuse</a></p>
				</div>
			</div><div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole palm-centered">
				<a href="/missions" class="image ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/_fpo/fpo.Uganda1.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>Missions</h3>
					<p>NewSpring Church is partnering with Freedom Church and planning several trips to Kampala, Uganda over the next few years.</p>
					<a href="/missions" class="link--arrow">About Our Trips</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell background--fill overlay--gradient-right overlay--solid handheld-overlay--solid-dark" style="background-image: url({images-global}/{site_short_name}/_fpo/fpo.Auditorium.Wide.jpg);">
		<div class="grid flush right">
			<div class="grid__item floating__item two-thirds portable-one-whole handheld-one-whole handheld-flush hard">
				<div class="overlay overlay--light">
					<div class="overlay__item handheld-centered text--constrained">
						<h2>What We Believe Shapes What We Do</h2>
						<p>Our view of God, Jesus, the Bible, and you. The things we value. That’s what makes us NewSpring.</p>
						<a href="/beliefs" class="btn">See Our Beliefs</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--condensed section--grey">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item one-whole">
				<div class="text--constrained">
					<h2>How We Equip Leaders &amp; Churches</h2>
				</div>
			</div>
			<div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole centered">
				<a href="/college" class="image ratio--landscape flush" style="background-image: url(//s3.amazonaws.com/images.newspringcollege.com/NScollege-cip-0006.jpg);">
				</a>
				<div class="card">
					<h3>NewSpring College</h3>
					<p>NewSpring College exists to raise up passionate church leaders through biblical teaching and practical ministry experience.</p>
					<a href="http://college.newspring.cc" class="link--arrow">About College</a>
				</div>
			</div><div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole centered">
				<a href="/music" class="image ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/{site_short_name}/_fpo/fpo.Music5.jpg' width='1000' crop='yes' url_only='yes'});">
				</a>
				<div class="card">
					<h3>NewSpring Music</h3>
					<p>NewSpring Worship, KidSpring, and Fuse are all about helping people connect to God through music that is relevant and engaging.</p>
					<a href="/music" class="link--arrow">Listen Now</a>
				</div>
			</div><div class="grid__item one-third portable-one-half palm-wide-one-half palm-one-whole centered">
				<a href="/network" class="image ratio--landscape flush" style="background-image: url(//s3.amazonaws.com/images.newspringcollege.com/NewSpring%20College-2-new.jpg);">
				</a>
				<div class="card">
					<h3>NewSpring Network</h3>
					<p>NewSpring Network is a team available to help church leaders be effective in their ministries by providing free resources and information.</p>
					<a href="http://network.newspring.cc" class="link--arrow">About Network</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell background--fill overlay--gradient-right overlay--solid handheld-overlay--solid-dark" style="background-image: url({images-global}/{site_short_name}/_fpo/fpo.Auditorium.Wide.jpg);">
		<div class="grid flush right">
			<div class="grid__item floating__item two-thirds portable-one-whole handheld-one-whole handheld-flush hard">
				<div class="overlay overlay--light">
					<div class="overlay__item handheld-centered text--constrained">
						<h2>What to Expect</h2>
						<p>Each week you'll experience modern music and a relevant, engaging message from our Senior Pastor Perry Noble or other speakers.</p>
						<a href="/sermons" class="btn">Watch a Service</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}
