<section id="footer" class="hard story">
	<section class="container no-video">
		<div class="shell">
			<div class="copy">
				<h1>Join us this Easter at NewSpring</h1>
				<p>We&rsquo;d love for you to be our guest at <a href="http://newspring.cc" target="_blank">NewSpring</a> as we tell the rest of the Smith family&rsquo;s story and celebrate Easter together. We have services at our campuses beginning as early as Thursday, April 17.</p>
				<p><a href="#servicetimes" class="js--modal--trigger btn">Easter Service Times</a> &nbsp;or&nbsp;&nbsp;<a href="/live">Watch Live</a></p>
			</div>
		</div>
	</section>
</section>
