<section id="trailer" class="hard story">

  <section class="full-screen">
      <header class="site-wide">
          <div class="grid">{!--
           --}<div class="grid__item one-half">
                  <a href="/">
                      <h1>
                          NewSpring Church
                      </h1>
                  </a>
              </div>{!--
           --}<div class="grid__item one-half text--right">

                    <h1 class="menu visuallyhidden--handheld"> Menu</h1>
                    <div class="icon icon--mobile-nav"></div>

              </div>{!--
      --}</div>
      </header>
    <div class="foreground">

        <div class=" floating">

            <img class="lockup" src="http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.logo01.png" alt="" />
            <a href="#intro" class="scroll-down full-width">
                <h4 class="caps">Scroll to Watch</h4>
            </a>
        </div>

    </div>
  </section>
  <section id="intro" class="intro">
    <div class="shell">
      <div class="copy">
          <p>Jesus didn&rsquo;t die so we could just survive; He wants to see us thrive. In the Parable of the Sower, one of Jesus&rsquo; most famous stories, He explained how we can thrive in our relationship with God.</p>
          <p>The parable is found in three books of the Bible: Matthew 13, Mark 4 and Luke 8. Follow along in this 4-part video study as Pastor Perry Noble digs into this story!</p>
          
      </div>
    </div>
  </section>

</section>
