<section id="lesson_four" class="hard story {!-- collapsed --}">
	<div class="full-width bg--purple  js--toggle ">
		<h1 class="mega lesson-title visuallyhidden--handheld js--expand ">4 Qualities of People Thriving in Life</h1>
		<h1 class="mega lesson-title visuallyhidden--lap-and-up js--expand ">Lesson Four</h1>
		<div class="btn--expand js--expand"></div>
	</div>
	<section class="full-screen bg--purple open">


		<header>
			<div class="grid"><!--
			--><div class="grid__item one-half">

					<h1>
						Lesson Four
					</h1>

				</div><!--
			--><div class="grid__item one-half">

					<div class="btn--collapse"></div>

				</div><!--
		--></div>
		</header>
		<div class="foreground lesson-header plants">
			<div class="grid floating"><!--
			--><div class="grid__item one-whole">
					<div class="shell" >
						<a href="#video_modal" class="js--modal--trigger  play-links caps" data-video data-ooyala-embed="A0eHdvbTpQAVI67FzzX84oDQv2hfuo4k" onclick="ga('send', 'event', 'Played', 'Lesson Four Video');">
							Watch <div class="btn btn--play smooth purple"></div> Lesson
						</a>
						<div class="copy">
							<h1 class="mega ">4 Qualities of People Thriving in Life</h1>
						</div>
					</div><!--

			 --></div>
			</div>
			<a href="#lesson_four_links" class="scroll-down lessons">
				<h4 class="caps">Scroll for More</h4>
			</a>
		</div>
	</section>
	<p class="audio-links bg--purple">
		<a href="https://itunes.apple.com/us/podcast/newspring-church-thrive/id866874884" onclick="ga('send', 'event', 'Audio-Links', 'Podcast');">Subscribe to Podcast</a> | <a href="http://ns.downloads.s3.amazonaws.com/newspring/audio/studies/2014/140512_Thrive_04.mp3" onclick="ga('send', 'event', 'Audio-Links', 'Download', 'Lesson Four Audio');">Listen to Audio</a>
	</p>
	<section id="lesson_four_links" class="links">
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div><!--
			--><div class="grid__item one-whole lap-and-up-one-third"><h1>Lesson Four Resources</h1></div><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div>
			</div>
		</div>
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-quarter desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--purple next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson4.read04.jpg');">
							<a href="/blog/articles/how-to-love-someone-you-hate" onclick="ga('send', 'event', 'Resources', 'How to Love the Unlovable');">
								<span>Learn More</span>
								<div class="foreground"><!--
								--><p class="floating">
										How to Love the Unlovable
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-quarter desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo" >
							<h1 class="purple">Next Steps</h1>
							<div class="grid"><!--
							--><div class="grid__item one-whole">
									<div class="photo__landscape">
										<div class="photo bg--purple small-next-steps top">
											<div class="foreground"><!--
											--><p class="floating">
													Reading Plans &amp; Devotionals
													<a href="/bible" class="btn caps blue"  onclick="ga('send', 'event', 'Resources', 'Next Step', 'Start Reading');">Start Reading</a>

												</p><!--
											--></div>
										</div>
									</div>
								</div><!--
							--><div class="grid__item one-whole">
									<div class="photo__landscape">
										<div class="photo bg--purple small-next-steps bottom">

											<div class="foreground"><!--
											--><p class="floating">
													Remember What You Learned
													<a href="/blog/articles/free-thrive-wallpapers/" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Get Free Wallpapers');">Get Free Wallpapers</a>
												</p><!--
											--></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-quarter desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--purple next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson4.story03.jpg');">
							<a href="blog/articles/forgiving-the-unforgivable" onclick="ga('send', 'event', 'Resources', 'Live to Thrive');">
								<span>Story</span>

								<div class="foreground"><!--
								--><p class="floating">
										Live to Thrive
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-quarter desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--purple next-steps next-steps--watch" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.60secondsonbiblereading01.jpg');">
							<a href="#video_modal" class="js--modal--trigger " data-video data-ooyala-embed="x4bHg1bTot_XK913zGd9Hrqk40XUKpJh" onclick="ga('send', 'event', 'Resources', '60 Seconds on: Bible Reading');">
								<span>Watch</span>
								<div class="foreground"><!--
								--><p class="floating">
										60 Seconds on: Bible Reading
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
			--></div>

		</div>

	</section>
</section>

<section>

	<div class="shell">
		<div class="copy">
			<div class="social">
				<h1>Share Thrive with Friends</h1>
				<ul class="share">
				    <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://newspring.cc/thrive" target="_blank" class="btn facebook"  onclick="ga('send', 'event', 'Share', 'Facebook');">Facebook</a></li>
				    <li><a href="https://twitter.com/intent/tweet?source=webclient&hashtags=nsthrive&text=watch%20this%20short%20teaching%20from%20@perrynoble%20and%20find%20out%20how%20to%20not%20just%20survive,%20but%20thrive!%20newspring.cc/thrive" target="_blank" class="btn twitter" onclick="ga('send', 'event', 'Share', 'Twitter');">Twitter</a></li>
				    <li><a href="https://plus.google.com/share?url=newspring.cc/thrive" target="_blank" class="btn google" onclick="ga('send', 'event', 'Share', 'Google+');">Google+</a></li>
				</ul>
			</div>
		</div>
	</div>

</section>
