<section id="lesson_one" class="hard story collapsed">
	<div class="full-width bg--blue js--toggle">
		<h1 class="mega lesson-title visuallyhidden--handheld js--expand">3 Concepts That Are Critical For Us to Understand</h1>
		<h1 class="mega lesson-title visuallyhidden--lap-and-up js--expand">Lesson One</h1>
		<div class="btn--expand js--expand"></div>
	</div> 
	<section class="full-screen bg--blue open">


		<header>
			<div class="grid"><!--
			--><div class="grid__item one-half">
					<a href="/">
						<h1>
							Lesson One
						</h1>
					</a>
				</div><!--
			--><div class="grid__item one-half">

					<div class="btn--collapse"></div>

				</div><!--
		--></div>
		</header>
		<div class="foreground lesson-header birds" >

			<div class="grid floating"><!--
			--><div class="grid__item one-whole">
					<div class="shell">
						<a href="#video_modal" class="js--modal--trigger  play-links caps" data-video data-ooyala-embed="w5MTVibTr_UlzzQ4MXO-FxS8Y0yorc0I" onclick="ga('send', 'event', 'Played', 'Lesson One Video');">
							Watch <div class="btn btn--play smooth"></div> Lesson
						</a>
						<div class="copy">
							<h1 class="mega">3 Concepts That Are Critical For Us to Understand</h1>
						</div>
					</div><!--
			 --></div>
			</div>
			<a href="#lesson_one_links" class="scroll-down lessons">
				<h4 class="caps">Scroll for More</h4>
			</a>

		</div>
	</section>
	<p class="audio-links bg--blue">
		<a href="https://itunes.apple.com/us/podcast/newspring-church-thrive/id866874884" onclick="ga('send', 'event', 'Audio-Links', 'Podcast');">Subscribe to Podcast</a> | <a href="http://ns.downloads.s3.amazonaws.com/newspring/thrive/01_3_Concepts_That_Are_Critical_For_Us_to_Understand.mp3" onclick="ga('send', 'event', 'Audio-Links', 'Download');">Listen to Audio</a>
	</p>
	<section id="lesson_one_links" class="links">
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div><!--
			--><div class="grid__item one-whole lap-and-up-one-third"><h1>Lesson One Resources</h1></div><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div>
			</div>
		</div>
		<div class="shell">
			<div class="grid"><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom ">
					<div class="photo__square">
						<div class="photo bg--blue next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson1.read02.jpg');" >
							<a href="/blog/articles/good-or-grace-you-pick" onclick="ga('send', 'event', 'Resources', 'Good or Grace');">
								<span>Learn More</span>
								<div class="foreground"><!--
								--><p class="floating">
										Good or Grace? You Pick
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom ">
					<div class="photo__square">
						<div class="photo" >
							<h1 class="blue">Next Steps</h1>
							<div class="grid"><!--
							--><div class="grid__item one-whole">
									<div class="photo__landscape">
										<div class="photo bg--blue small-next-steps top">
											<div class="foreground"><!--
											--><p class="floating">
													Start a Relationship with Jesus
													<a href="/nextsteps/salvation" class="btn caps red">Find Out How</a onclick="ga('send', 'event', 'Resources', 'Next Step', 'Relationship with Jesus');">
												</p><!--
											--></div>
										</div>
									</div>
								</div><!--
							 --><div class="grid__item one-whole">
									<div class="photo__landscape">
										<div class="photo bg--blue small-next-steps bottom">

											<div class="foreground"><!--
											--><p class="floating">
													Struggling with Sin?

													<a href="https://newspring.wufoo.com/forms/care-request/" class="btn caps red" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Struggling with Sin?');">Talk to someone</a>

												</p><!--
											--></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom ">
						<div class="photo__square">
							<div class="photo bg--blue next-steps " style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson1.story02.jpg');">
								<a href="/blog/stories/katie-erwin" onclick="ga('send', 'event', 'Resources', 'Sex, Drugs, and Chasing Happiness');">
									<span>Story</span>
									<div class="foreground"><!--
									--><p class="floating">
											Sex, Drugs, &amp; Chasing Happiness
										</p><!--
									--></div>
								</a>
							</div>
						</div>
					</div><!--
					--><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom ">
					<div class="photo__square">
						<div class="photo bg--blue next-steps next-steps--watch" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.60secondsongrace01.jpg');" >
							<a href="#video_modal" class="js--modal--trigger " data-video data-ooyala-embed="dybHg1bTrgUdnttT9GD3Bnr30NGfu8M1"  onclick="ga('send', 'event', 'Resources', '60 Seconds on Grace');">
								<span>Watch</span>
								<div class="foreground"><!--
								--><p class="floating">
											60 Seconds on: Grace

									</p><!--
							--></div>
							</a>
						</div>
					</div>
				</div><!--
			--></div>

		</div>

	</section>
</section>
