<section id="lesson_two" class="hard story collapsed">
	<div class="full-width bg--green js--toggle">
		<h1 class="mega lesson-title visuallyhidden--handheld js--expand"> 4 Ways to Make it in Tough Times</h1>
		<h1 class="mega lesson-title visuallyhidden--lap-and-up js--expand">Lesson Two</h1>
		<div class="btn--expand js--expand"></div> 
	</div>
	<section class="full-screen bg--green open">



		<header>
			<div class="grid"><!--
			--><div class="grid__item one-half">

					<h1>
						Lesson Two
					</h1>

				</div><!--
			--><div class="grid__item one-half">

					<div class="btn--collapse"></div>

				</div><!--
		--></div>
		</header>
		<div class="foreground lesson-header rocks" >
			<div class="grid floating"><!--
			--><div class="grid__item one-whole">
					<div class="shell">
						<a href="#video_modal" class="js--modal--trigger  play-links caps" data-video data-ooyala-embed="5oNzFmbTozjUZsnYSG11YlpI9Ui2VLks" onclick="ga('send', 'event', 'Played', 'Lesson Two Video');">
							Watch <div class="btn btn--play smooth green"></div> lesson
						</a>
						<div class="copy">
							<h1 class="mega">4 Ways to Make it in Tough Times</h1>
						</div>
					</div><!--

			 --></div>
			</div>
			<a href="#lesson_two_links" class="scroll-down lessons">
				<h4 class="caps">Scroll for More</h4>
			</a>
		</div>
	</section>
	<p class="audio-links bg--green">
		<a href="https://itunes.apple.com/us/podcast/newspring-church-thrive/id866874884" onclick="ga('send', 'event', 'Audio-Links', 'Podcast');">Subscribe to Podcast</a> | <a href="http://ns.downloads.s3.amazonaws.com/newspring/thrive/thrive_wk2.mp3" onclick="ga('send', 'event', 'Audio-Links', 'Download', 'Lesson Two Audio');">Listen to Audio</a>
	</p>
	<section  id="lesson_two_links" class="links">
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div><!--
			--><div class="grid__item one-whole lap-and-up-one-third"><h1>Lesson Two Resources</h1></div><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div>
			</div>
		</div>
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--green next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson2.read02.jpg');">
							<a href="blog/articles/4-reasons-christians-need-the-church" onclick="ga('send', 'event', 'Resources', '4 Reasons We Need Church');">
								<span>Learn More</span>
								<div class="foreground"><!--
								--><p class="floating">
										4 Reasons We Need Church
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo" >
							<div class="grid"><!--
							--><div class="grid__item one-whole">
									<div class="photo__banner">
										<div class="photo bg--green small-next-steps top">

											<div class="foreground"><!--
											--><p class="floating">
													<a href="/bible" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Read the Bible');">Read the Bible</a>

												</p><!--
											--></div>


										</div>
									</div>
								</div><!--
								--><div class="grid__item one-whole">
										<div class="photo__banner">
											<div class="photo bg--green small-next-steps middle">

												<div class="foreground"><!--
												--><p class="floating">
														<a href="/groups" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Join a Group');">Join a Group</a>
													</p><!--
												--></div>


											</div>
										</div>
									</div><!--
							--><div class="grid__item one-whole">
									<div class="photo__banner">
										<div class="photo bg--green small-next-steps bottom">

											<div class="foreground"><!--
											--><p class="floating">

													<a href="/nextsteps/serve" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Start Serving');">Start Serving</a>

												</p><!--
											--></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--green next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson2.story02.jpg');">
							<a href="/blog/stories/will-melissa-merritt" onclick="ga('send', 'event', 'Resources', 'We Know We Can&rsquo;t Do Life Alone');">
								<span>Story</span>
								<div class="foreground"><!--
								--><p class="floating">
										We Know We Can&rsquo;t Do Life Alone
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo bg--green next-steps next-steps--watch" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.60secondsonchurch01.jpg');">
							<a href="#video_modal" class="js--modal--trigger " data-video data-ooyala-embed="wwbXg1bTq5EDJ_z4iIGVmOEjOsvJndSx" onclick="ga('send', 'event', 'Resources', '60 Seconds on: Church');">
								<span>Watch</span>
								<div class="foreground"><!--
								--><p class="floating">
										60 Seconds on: Church
									</p><!--
								--></div>
							</a>
						</div>
					</div>
				</div><!--
				--><!--
			--></div>

		</div>

	</section>
</section>
