<section id="lesson_three" class="hard story collapsed">
	<div class="full-width bg--red  js--toggle">
		<h1 class="mega lesson-title visuallyhidden--handheld js--expand">3 Lies That Choke Life Out of You</h1>
		<h1 class="mega lesson-title visuallyhidden--lap-and-up js--expand">Lesson Three</h1>
		<div class="btn--expand js--expand"></div>
	</div>
	<section class="full-screen bg--red open">


		<header>
			<div class="grid"><!--
			--><div class="grid__item one-half">

					<h1>
						Lesson Three
					</h1>

				</div><!--
			--><div class="grid__item one-half">

					<div class="btn--collapse"></div>

				</div><!--
		--></div>
		</header>
		<div class="foreground lesson-header vines">
			<div class="grid floating"><!--
			--><div class="grid__item one-whole">
					<div class="shell">
						<a href="#video_modal" class="js--modal--trigger  play-links caps" data-video data-ooyala-embed="lpMzNmbToVn_8rV7BP3wjDzLcOs66vLv" onclick="ga('send', 'event', 'Played', 'Lesson Three Video');">
							Watch <div class="btn btn--play smooth red"></div> Lesson
						</a>
						<div class="copy">
							<h1 class="mega">3 Lies That Choke Life Out of You</h1>
						</div>
					</div><!--

			 --></div>
			<a href="#lesson_three_links" class="scroll-down lessons">
				<h4 class="caps">Scroll for More</h4>
			</a>
			</div>
		</div>
	</section>
	<p class="audio-links bg--red">
		<a href="https://itunes.apple.com/us/podcast/newspring-church-thrive/id866874884" onclick="ga('send', 'event', 'Audio-Links', 'Podcast');">Subscribe to Podcast</a> | <a href="http://ns.downloads.s3.amazonaws.com/newspring/thrive/thrive_wk3.mp3" onclick="ga('send', 'event', 'Audio-Links', 'Download', 'Lesson Three Audio');">Listen to Audio</a>
	</p>
	<section id="lesson_three_links" class="links">
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div><!--
			--><div class="grid__item one-whole lap-and-up-one-third"><h1>Lesson Three Resources</h1></div><!--
			--><div class="grid__item visuallyhidden--handheld lap-and-up-one-third"><hr></div>
			</div>
		</div>
		<div class="shell">
			<div class="grid"><!--
			--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
				<div class="photo__square">
					<div class="photo bg--red next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson3.read02.jpg');" >
						<a href="/blog/articles/money-wont-solve-your-problems" onclick="ga('send', 'event', 'Resources', 'How You Can Get Out of Debt');">
							<span>Learn More</span>
							<div class="foreground"><!--
							--><p class="floating">
									How You Can Get Out of Debt
								</p><!--
							--></div>
						</a>
					</div>
				</div>
			</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
					<div class="photo__square">
						<div class="photo" >
							<h1 class="red">Next Steps</h1>
							<div class="grid"><!--
							 --><div class="grid__item one-whole">
									<div class="photo__landscape">
										<div class="photo bg--red small-next-steps top">
											<div class="foreground"><!--
												--><p class="floating">
														Make a Financial Plan
														<a href="/finances" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Get Out of Debt');">Get Out of Debt</a>
													</p><!--
												--></div>
										</div>
									</div>
								</div><!--
								--><div class="grid__item one-whole">
										<div class="photo__landscape">
											<div class="photo bg--red small-next-steps bottom">
												<div class="foreground"><!--
												--><p class="floating">
														90-Day Tithing Challenge
														<a href="/give/challenge" class="btn caps blue" onclick="ga('send', 'event', 'Resources', 'Next Step', 'Start Giving');">Start Giving</a>
													</p><!--
												--></div>

											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div><!--
				--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
						<div class="photo__square">
							<div class="photo bg--red next-steps" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.lesson3.story02.jpg');">
								<a href="/blog/stories/jen-feagles" onclick="ga('send', 'event', 'Resources', 'How I Stopped Worrying About Money');">
									<span>Story</span>
									<div class="foreground"><!--
									--><p class="floating">
										How I Stopped Worrying About Money
										</p><!--
									--></div>
								</a>
							</div>
						</div>
					</div><!--
					--><div class="grid__item one-whole palm-wide-one-half  lap-one-half lap-wide-one-half desk-one-quarter desk-wide-one-quarter push--bottom">
						<div class="photo__square">
							<div class="photo bg--red next-steps next-steps--watch" style="background-image: url('http://ns.images.s3.amazonaws.com/newspring/thrive/newspring.thrive.60secondsongiving01.jpg');">
								<a href="#video_modal" class="js--modal--trigger " data-video data-ooyala-embed="x2bHg1bToNovpAtSx1y4okF9DCgo68Vo" onclick="ga('send', 'event', 'Resources', '60 Seconds on: Giving');">
									<span>Watch</span>
									<div class="foreground"><!--
									--><p class="floating">
											60 Seconds on: Giving
										</p><!--
									--></div>
								</a>
							</div>
						</div>
					</div><!--
			--></div>

		</div>

	</section>
</section>
