{layout="_layouts/master"
	title="Care"
	description="We believe that everyone can walk in freedom. We would love to talk and pray with you about what is going on in your life and help you discover your next step."
	image="http:{images-global}/{site_short_name}/care/care.2to1.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Care"
	summary="We believe that everyone can walk in freedom. We would love to talk and pray with you about what is going on in your life and help you discover your next step."
	image_url="{images-global}/newspring/care/care.2to1.jpg"
}

<section class="section--pattern">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole">
				<div class="text--constrained centered">
					<p>Our Care Team is available to talk and pray with you at <a href="/locations">every campus</a> after each Sunday service. If you need to talk with someone during the week, please fill out the form below.</p>
					<a href="https://newspring.wufoo.com/forms/care-request/" target="_blank" class="btn">Talk to Someone</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--texture section--condensed">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole soft--ends centered">
				<h2 class="flush light">Resources</h2>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Abortion</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/abortion.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Addiction</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/addiction.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Adultery</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/adultery.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Anger</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/anger.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Anxiety</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/anxiety.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Body Image</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/bodyimage.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Bullying</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/bullying.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Dating</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/dating.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Depression</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/depression.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Divorce</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/divorce.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Eating Disorder</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/eatingdisorders.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Forgiveness</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/forgiveness.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Grief and Loss</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/griefandloss.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Homosexuality</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/homosexuality.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Living Together Before Marriage</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/livingtogether.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Pornography</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/pornography.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Salvation</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/salvation.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Self Injury</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/Self-Injury.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Sex Before Marriage</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/premaritalsex.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Sexual Abuse</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/SexualAbuse.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div><div class="grid__item one-third portable-one-half handheld-one-whole centered">
				<div class="card flush">
					<h3 class="dark">Suicide</h3>
					<a href="http://ns.downloads.s3.amazonaws.com/newspring/care/suicide.pdf" class="link--arrow">Download PDF</a>
				</div>
			</div>
		</div>
	</div>
</section>

{/exp:ce_cache:it}
