{exp:ce_cache:it}
{exp:ce_cache:escape}
{embed="includes/header"
  body_id="florence"
  body_class="subnav"
  page_class="page-border"
  group_style="{segment_1}"
  use_alt=""
  title="Florence Launch Page"
  fb_title="Florence Launch Page"
  fb_url=""
  fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
}
{/exp:ce_cache:escape}

<div class="hr alt"><hr></div>

<div id="flo">

  <div id="hero" class="g_12">
    {exp:ce_img:single src="http://ns.images.s3.amazonaws.com/newspring/florence/newspring.florence.jpg" width="940" height="400" crop="yes"}
  </div><!-- end #hero -->

  <div class="g_10 p_1 s_1">
      <h1>Try Church Again</h1>
      <p class="center">It doesn't matter if you've grown up in church or never even thought about attending. If you walk through the doors of NewSpring, no matter who you are or where you come from, you will be welcomed. What we’re asking is, whatever your past experience with church may be, that you try church again. You may be surprised at what you find!</p>
  </div>

  <div class="p_1 g_5">
      <h2>Service Times</h2>
      <h3>Sunday at 10am,<br> 11:30am, 6:00pm</h3>
      <h4><a href="https://www.facebook.com/newspring.florence.sc">Facebook</a> &bull; <a href="https://twitter.com/newspring">Twitter</a></h4>
  </div>
  <div class="g_5 s_1">
    <h2>Location</h2>
    <h3>Florence Civic Center<br>
      3300 W Radio Drive<br>
      Florence, SC 29501 </h3>
    <h4><a href="mailto:florence@newspring.cc">Email</a> &bull; <a href="http://goo.gl/maps/KXzh6" target="_blank">Get Directions</a></h4>
  </div>


 {!--  <div class="hr alt"><hr></div>

  <div id="hero-alt" class="g_10 p_1 s_1">
    {exp:ce_img:single src="//ns.images.s3.amazonaws.com/newspring/florence/hero.florence.jpg" width="780" height="325" crop="yes"}
  </div><!-- end #hero -->
  <div class=" g_10 p_1 s_1 ground-breaking">
      <h1>Florence Campus Development</h1>
      <p class="center">We are on a mission to reach 100,000 people for Jesus in South Carolina. That's why we're moving our Florence campus into a permanent location. Check out all the exciting details below.</p>
  </div>
  <div class="g_10 p_1 s_1 ground-breaking">
    <h2>Ground Breaking Ceremony Time & Locations</h2>
  </div>
  <div class="p_2 g_8 s_2">
      <h3>Sunday, July 13th, 2014 at 2:30pm</h3>
      <h3>1100 N. Cashua Dr.<br>
      Florence, SC 29501</h3>
    <h4><a href="https://goo.gl/maps/62bXf">Get Directions</a></h4>
  </div> --}
</div>

{!--
<div class="hr alt"><hr></div>

<ul class="giving-links clearfix">
  <li class="blackened"><a href="{path=ownership}" title=""><em>Next Step:</em> Ownership<br> Sign-Up</a></li>
  <li class="blackened"><a href="{path=serve}" title="" ><em>Next Step:</em> Serving<br/> Sign-Up</a></li>
  <li class="blackened"><a href="{path=give}" title=""><em>Give:</em>Give<br>Now</a></li>
</ul>
--}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}
