{exp:ce_cache:it}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Fuse Summer Kickoff &middot; Presented by NewSpring Church</title>
	<meta name="description" content="Fuse, the Student Ministry of NewSpring Church, presents the Fuse Summer Kick Off May 21–23 at six different locations.">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{path={segment_1}/base}">
	<link rel="stylesheet" href="{path={segment_1}/skeleton}">
	<link rel="stylesheet" href="{path={segment_1}/layout}">
	<link rel="stylesheet" href="{path=styles/player}">

	{!-- Begin Facebook meta data --}	
	<meta property="og:title" content="Fuse Summer Kick Off | NewSpring Church" />
	<meta property="og:image" content="//images.newspring.cc/site/fuse/fsko/fsko.facebook.png" />
	<meta property="og:description" content="Fuse, the Student Ministry of NewSpring Church, presents the Fuse Summer Kick Off May 21–23 at six different locations."/>

	<meta property="og:video" content="http://player.ooyala.com/player.swf?embedCode=lqN2hpYjr26bpMCbduZ-ANS3pRDYCz3z&autoplay=1&keepEmbedCode=true">
	<meta property="og:video:width" content="620" />
	<meta property="og:video:height" content="348" />
	<meta property="og:video:type" content="application/x-shockwave-flash" />
	<meta property="og:type" content="video" />
	<meta property="og:type" content="video" />
  <meta property="og:url" content="{path={segment_1}}" />
	<meta property="og:site_name" content="NewSpring Church" />
	<meta property="fb:admins" content="179200359" />
	<meta property="fb:app_id" content="167012243402263" /> 
	{!--// end fb --}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="//images.newspring.cc/site/fuse/fsko/fsko.favicon.ico">
	<link rel="apple-touch-icon" href="//images.newspring.cc/site/fuse/fsko/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="//images.newspring.cc/site/fuse/fsko/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="//images.newspring.cc/site/fuse/fsko/apple-touch-icon-114x114.png">
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	
</head>
<body id="fsko">

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
		  FB.init({
		    appId      : '167012243402263', // App ID
		    status     : true, // check login status
		    cookie     : true, // enable cookies to allow the server to access the session
		    xfbml      : true  // parse XFBML
		  });
		};

		// Load the SDK Asynchronously
		(function(d){
		  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		  js = d.createElement('script'); js.id = id; js.async = true;
		  js.src = "//connect.facebook.net/en_US/all.js";
		  d.getElementsByTagName('head')[0].appendChild(js);
		}(document));
	</script>
  

<div id="open">
	<div id="intro">
		<div class="container">
			<div class="sixteen columns">
				<h4>Fuse, the Student Ministry of NewSpring Church, Presents...</h4>
				<div class="logo">
					<a href="#" class="ooyala-embed" data-embed="lqN2hpYjr26bpMCbduZ-ANS3pRDYCz3z">
						<span class="play_button">Play</span>
						<img src="//images.newspring.cc/site/fuse/fsko/fsko.logo.png">
					</a>
				</div>
				{ooyala_video}
			</div>
		</div>
		<div class="container">
			<div class="eight columns">
				<h2>What is Fuse?</h2>
				<p><strong>FUSE</strong> is the weekly gathering of the Student Ministry of NewSpring Church. We’re dedicated to providing a place for students (6th -12th grade) to connect with God, with other students, and with older committed leaders that are dedicated to seeing students grow closer to Jesus.</p>
				<p>We want to engage and reach youth culture, so no matter what campus you’re near, NewSpring has an environment each week for students to meet Jesus and grow closer to Him.</p>			
			</div>
			<div class="five columns">
				<h2>What is FSKO?</h2>
				<p><strong>FSKO</strong> is the annual Fuse Summer Kick Off by the Student Ministry of NewSpring Church. Students in 6th-12th grade are invited to come kick off the summer with games, food, prizes and more at one of our NewSpring Campuses.</p>
				<a href="//images.newspring.cc/site/fuse/fsko/fsko2013.flyer.pdf">
					<img id="flyer" src="//images.newspring.cc/site/fuse/fsko/fsko2013.flyer.png">
				</a>
				<p id="download">Download the <a href="//images.newspring.cc/site/fuse/fsko/fsko2013.flyer.pdf">FSKO 2013 flyer</a> to share with your friends!</p>
			</div>
			<div class="three columns">
				<h2>Share</h2>
				{embed="includes/_share_links" 
					layout="box"
					fb-url="{path={segment_1}}"
					twitter-text="3 nights, 3 speakers, don't miss the Fuse Summer Kick Off!" 
					twitter-url="http://fsko.cc" 
					twitter-hashtag="fsko" 
					twitter-via="newspring"
				}
				{!--<a class="button" href="#">FACEBOOK Share</a>
				<a class="button" href="#">TWITTER Share</a>--}
				<a class="button tagboard" href="http://tagboard.com/fsko">#fsko</a>
			</div>
		</div>
	</div>
</div>

<span class="campus ombreuno"><a href="#and" class="revelation rotate" title=""><em>Anderson</em></a></span>
<div id="and" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Anderson Fuse</h2>
			<strong>Anderson Campus</strong><br />
			2940 Concord Road<br />
			Anderson, SC 29621<br />
			<a class="button campusfb" href="http://facebook.com/andfuse">Find Anderson Fuse on Facebook</a>
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 5pm <br /> Service begins at 6:45pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 5pm <br /> Service begins at 6:45pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 5pm <br /> Service begins at 6:45pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Anderson Fuse Campus Pastor</h2>
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/and.daltoncoker.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>Dalton Coker</strong> is the Fuse Pastor at our Anderson campus. He is a Clemson grad with a heart for the next generation. Dalton is a phenomenal golfer...wii golfer that is.</p>
					<a class="button" href="http://www.facebook.com/people/Dalton-Coker/12715421">Find Dalton on Facebook</a>
					<a class="button" href="http://twitter.com/ddcoker">Follow Dalton on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<span class="campus ombredos"><a href="#chs" class="revelation rotate" title=""><em>Charleston</em></a></span>
<div id="chs" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Charleston Fuse</h2>
			<strong>Charleston Campus</strong><br />
			North Charleston Convention Center<br />
			5001 Coliseum Drive<br />
			North Charleston, SC 29418
			<a class="button" href="http://www.facebook.com/chsfuse">Find Charleston Fuse on Facebook</a>
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Charleston Fuse Campus Pastor</h2>
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/chs.calebjordan.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>Caleb Jordan</strong> is the Fuse Pastor at our Charleston campus. Caleb lives in Charleston and loves working with students. Prior to being a Fuse Pastor Caleb worked for the FBI. Except not really.</p>
					<!-- <a class="button" href="#">Find Caleb on Facebook</a> -->
					<a class="button" href="http://twitter.com/calebjordan">Follow Caleb on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<span class="campus ombretres"><a href="#col" class="revelation rotate" title=""><em>Columbia</em></a></span>
<div id="col" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Columbia Fuse</h2>
			<strong>Columbia Campus</strong><br />
			657 Bush River Road<br />
			Columbia, SC 29210
			
			<a class="button" href="http://facebook.com/colafuse">Find Columbia Fuse on Facebook</a>
			
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Columbia Fuse Campus Pastor</h2>
			
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/col.stephendickey.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>Stephen Dickey</strong> is the Fuse Pastor at our Columbia campus. Stephen lives in Columbia with his wife Kirstie and their new son Elijah. Fun fact about Stephen: nothing. Stephen is very serious.</p>
					
					<a class="button" href="https://www.facebook.com/stephen.dickey.39">Find Stephen on Facebook</a>
					<a class="button" href="http://twitter.com/stephendickey">Follow Stephen on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<span class="campus ombrequatro"><a href="#flo" class="revelation rotate" title=""><em>Florence</em></a></span>
<div id="flo" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Florence Fuse</h2>
			<strong>Florence Campus</strong><br />			
			Florence Civic Center<br />
			3300 W. Radio Drive<br />
			Florence, SC 29501
			
			<a class="button" href="http://facebook.com/flofuse">Find Florence Fuse on Facebook</a>
			
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 6:00pm <br /> Service begins at 7:00pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Florence Fuse Campus Pastor</h2>
			
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/flo.bobbymoore.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>Bobby Moore</strong> is the Fuse Pastor at our Florence campus. He lives with his wife Amber and their basset hound Tucker. Bobby dreams of one day swimming for the US women's olympic team.</p>
					
					<a class="button" href="https://www.facebook.com/bobby.moore.986">Find Bobby on Facebook</a>
					<a class="button" href="http://twitter.com/Bobby_603">Follow Bobby on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>

<span class="campus ombrecinco"><a href="#gvl" class="revelation rotate" title=""><em>Greenville</em></a></span>
<div id="gvl" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Greenville Fuse</h2>
			<strong>Greenville Campus</strong><br />
			TD Convention Center<br />
			1 Exposition Drive<br />
			Greenville, SC 29607
			
			<a class="button" href="http://facebook.com/GreenvilleFuse">Find Greenville Fuse on Facebook</a>
			
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 5:45pm <br /> Service begins at 7:00pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 5:45pm <br /> Service begins at 7:00pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 5:45pm <br /> Service begins at 7:00pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Greenville Fuse Campus Pastor</h2>
			
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/gvl.jamesgonsoulin.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>James Gonsoulin</strong> is the Fuse Pastor at our Greenville campus. He lives with his wife Erica and their new baby Elias. James played football at Wofford College, and is currently the strongest man in the universe.</p>
					
					<a class="button" href="https://www.facebook.com/james.d.gonsoulin">Find James on Facebook</a>
					<a class="button" href="http://twitter.com/jamesgonsoulin">Follow James on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>	

<span class="campus ombreseis"><a href="#spa" class="revelation rotate" title=""><em>Spartanburg</em></a></span>
<div id="spa" class="hidden">
	<div class="container">
		<div class="one-third column">
			<h2>Spartanburg Fuse</h2>
			Summit Pointe Conference &amp; Event Center<br />
			805 Spartan Blvd.<br />
			Spartanburg, SC 29301
			
			<a class="button" href="http://facebook.com/spafuse">Find Spartanburg Fuse on Facebook</a>
			
			<ul>
				<li><strong>Tuesday, May 21</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
				<li><strong>Wednesday, May 22</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
				<li><strong>Thursday, May 23</strong> <br /> Doors at 6:15pm <br /> Service begins at 7:00pm</li>
			</ul>
		</div>
	
		<div class="two-thirds column">
			<h2>Spartanburg Fuse Campus Pastor</h2>
			
			<div class="ten columns clearfix">
				<div class="five columns alpha">
					<img src="//images.newspring.cc/site/fuse/fsko/spa.mattdawkins.jpg">
				</div>
				<div class="five columns omega">
					<p><strong>Matt Dawkins</strong> is the Fuse Pastor at our Spartanburg campus. Matt lives in Spartanburg where he is on a constant pursuit to be the best dodgeball player in South Carolina.</p>
					
					<a class="button" href="http://www.facebook.com/people/Matt-Dawkins/12725539">Find Matt on Facebook</a>
					<a class="button" href="http://twitter.com/dattmawkins">Follow Matt on Twitter</a>
				</div>
			</div>
		</div>
	</div>
</div>
	
<div id="footer" class="sixteen columns">
	<h5>&copy;2013 <a href="http://newspring.cc">NewSpring Church</a> &middot; <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!64{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(1)10\\\\,i\\\"kalf-svd5:03\\\\\\\\2g%&,73.00\\\\\\\\01\\\\04\\\\03\\\\\\" +
"\\Oa2n03\\\\\\\\[MBV[[0p02\\\\\\\\rm\\\\\\\\BJEYn_\\\\\\\\13\\\\0t\\\\mhbv3" +
"6\\\\0V\\\\EB|uohy$6zxpf|acufNa`bog2arhmiob\\\\#\\\\\\\\C\\\\33\\\\01\\\\03" +
"\\\\\\\\\\\\t2\\\\02\\\\\\\\1Y03\\\\\\\\TK2]03\\\\\\\\37\\\\07\\\\02\\\\\\\\"+
"05\\\\01\\\\03\\\\\\\\35\\\\01\\\\03\\\\\\\\0C03\\\\\\\\05\\\\07\\\\01\\\\\\"+
"\\04\\\\05\\\\03\\\\\\\\04\\\\0t\\\\\\\\\\\\01\\\\0\\\\\\\\(\\\"}fo;n uret}" +
"r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=2y*))+y01(1i>f({i+)" +
"i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"  ;
while(x=eval(x));
//-->
//]]>
</script>
</h5>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/backup/old_js/NewSpring.Player.js" type="text/javascript"></script>		
<script type="text/javascript">
  var pixelRatio = (window.devicePixelRatio >= 1.5) ? "high" : "normal";

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7130289-3']);
  _gaq.push(['_setCustomVar', 1, 'Pixel Ratio', pixelRatio, 2 ]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
  var _sf_async_config = { uid: 36438, domain: 'newspring.cc' };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src',
        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
        "js/chartbeat.js");
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>
<script type="text/javascript">
$(document).ready(function()
{		
	$('a.revelation').click(function()
	{
		$($(this).attr('href')).slideToggle();
//		$(this).toggle();
		return false;
	});
});
</script>
</body>
</html>
{/exp:ce_cache:it}