{redirect='missions/uganda'}

{!-- {layout="newspring:_layouts/global"
	title=""
	description=""
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
{/layout:set}

{embed="newspring:_embeds/_hero"
	title="Missions"
	summary="We&rsquo;re going to the ends of the Earth and partnering with local churches to reach people for Jesus. Are you ready to go, too?"
	image_url="{images-global}/{site_short_name}/editorial/content/IMG_0309.JPG"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Uganda</h2>
				<a href="/missions/trip" class="btn">View Trip Details</a>
			</div>
		</div>
	</div>
</section>

 --}