{layout="_layouts/master"
	title="Uganda"
	description="NewSpring Church is partnering with Freedom Church and planning several trips to Kampala, Uganda over the next few years."
	image="http:{images-global}/{site_short_name}/_fpo/fpo.Uganda1.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id="contents" seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Uganda, Africa"
	summary="NewSpring Church is partnering with Freedom Church and planning several trips to Kampala, Uganda over the next few years."
	image_url="{images-global}/{site_short_name}/_fpo/fpo.Uganda1.jpg"
	video="{url_title}, 53bTUwcDroQaGj5TINoiYIY2a4EmxGjw"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2 class="flush">About the Trip</h2>
			</div><div class="grid__item seven-twelfths lap-wide-one-half lap-one-whole handheld-one-whole">
				<p>At NewSpring Church we are partnering with local churches across the world to reach people for Jesus. NewSpring Church is partnering with Freedom Church and planning several trips over the next few years. You can find out more about Freedom Church <a href="http://www.freedomchurch.cc/" target="_blank">here.</a></p>
				<p>We will be going to Kampala, Uganda. As the capital of Uganda, Kampala is an urban area with over 1.7 million people living in the city. It’s located just north of the equator, so don’t forget your sunscreen! We will work with the Kampala campus of Freedom Church to help change their community and reach people for Jesus. If you’re interested in going with us to Uganda on one of the upcoming trips, you can sign up below.</p>

				<a href="https://newspring.wufoo.com/forms/mtw43jj0d09ox4/"  target="_blank" class="btn handheld-one-whole">Sign Up</a>

			</div><div class="grid__item five-twelfths lap-wide-one-half lap-one-whole handheld-one-whole centered anchored-left">
				{exp:scripturizer}
				<blockquote class="blockquote--story flush">
					<p>You will be my witnesses in Jerusalem, and in all Judea and Samaria, and to the ends of the earth.</p>
					<footer>Acts 1:8</footer>
				</blockquote>
				{/exp:scripturizer}

				<hr class="quarter hidden">

				<h3>Sponsor a Team</h3>
				{!--<p>Help support the team!</p> --}
				<ul class="link--list">
					<li><a href="https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=z5s2Dp0dNHrTaK2Z0u5dvg==&cCode=DK5vZjfgVKTzb0z2CdQbRg=="  target="_blank" class="link--arrow">Sponsor Our October Team</a></li>

					<li><a href="https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=z5s2Dp0dNHrTaK2Z0u5dvg==&cCode=DK5vZjfgVKTzb0z2CdQbRg=="  target="_blank" class="link--arrow">Sponsor Our March Team</a></li>

					<li><a href="https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=z5s2Dp0dNHrTaK2Z0u5dvg==&cCode=DK5vZjfgVKTzb0z2CdQbRg=="  target="_blank" class="link--arrow">Sponsor  Our May Team</a></li>

					<li><a href="https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=z5s2Dp0dNHrTaK2Z0u5dvg==&cCode=DK5vZjfgVKTzb0z2CdQbRg=="  target="_blank" class="link--arrow">Sponsor Our July Team</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2 class="flush">Frequently Asked Questions</h2>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>What is the age requirement to participate on a NewSpring Missions Trip?</h3>
				<p>For these trips we ask for the participants to be at least 16 years old. Anyone under the age of 18 must have parental consent to participate on a trip.</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>Do I have to be an Owner of NewSpring Church to apply for the trip?</h3>
				<p>No, you do not have to be a NewSpring Owner to apply. Learn more about <a href="/ownership">Ownership</a> at NewSpring.</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>Do I have to attend NewSpring Church to apply for a trip?</h3>
				<p>Those that attend our campuses will be given a higher priority than those who don’t. You must be willing to attend and be an active part of the team meetings (approximately three meetings).</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>What is the cost of a trip?</h3>
				<p>The cost of the trip is $3,500. It includes airfare, hotel, meals, and transportation while in Uganda. You will be responsible for your meals and snacks in the airports and for any souvenirs you would like to purchase. Additional cost may include an up-to-date passport, any shots you choose to get, and $50 for a visa upon arrival in Uganda.</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>Is a passport required?</h3>
				<p>Yes. Traveling outside the United States requires an up-to-date passport.</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>I did not receive a confirmation email. Did my application go through?</h3>
				<p>No. Please fill out the <a href="https://newspring.wufoo.com/forms/mtw43jj0d09ox4/" target="_blank">application</a> again. You will receive a confirmation email once your application is submitted.</p>
			</div><div class="grid__item one-half handheld-one-whole">
				<h3>What happens to my application if I’m not selected for a specific trip?</h3>
				<p>If you are not selected your application goes onto a waiting list. If another trip leader is still looking for people for their team, then they may contact you to see if you are interested.</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Have More Questions?</h2>
				<p class="text--constrained">If we did not answer your questions about the trip, please <a href="mailto:missions@newspring.cc">email us</a> for more details.</p>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}