{layout="_layouts/simple"
	title="Facebook House Rules"
	description="While we encourage open and honest communication through comments, photos and videos, there are some basic rules we ask that you follow."
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{exp:ce_cache:it id='contents' seconds="0"}

<section>
	<div class="shell">
		<div class="grid text--constrained">
			<div class="grid__item one-whole hard">
				<h2 class="">Facebook House Rules</h2>
				<p>This page was created by NewSpring Church to help you grow in your knowledge of Jesus, let you know what's happening at NewSpring across the state and around the world, encourage you in your daily walk with Jesus and provide real stories of people who have been impacted by God for you to share with others.</p>

				<p>While we encourage open and honest communication through comments, photos and videos, there are some basic rules we ask that you follow:</p>

				<ol>
					<li>Please play nice. That means no swearing, name-calling or otherwise bad behavior.</li>
					<li>Please treat everyone with respect.</li>
					<li>Do not post anything you know to be untrue, inaccurate or misleading.</li>
					<li>If you don't own it don't post it. That goes for photos, videos, etc</li>
					<li>Please obey Facebook's terms and conditions, available to review here: <a href="https://www.facebook.com/legal/terms">https://www.facebook.com/legal/terms</a></li>
					<li>Do not upload or attach files that contain viruses, corrupt files or anything else that may damage the operation of another person's computer.</li>
				</ol>

				<p>We reserve the right to remove content, without notice, that is:</p>

				<ul>
					<li>explicit, obscene or indecent in nature</li>
					<li>abusive, threatening, defamatory or unlawful</li>
					<li>violating Facebook's Terms and Conditions</li>
				</ul>

				<p>Posts that we feel are not in keeping with the spirit of this page - such as advertising, spam, posts that promote products, off-topic discussions - may be removed. Repeat offenders will be banned.</p>

				<p>While we are excited to hear from everyone, it is important to note that postings by fans to NewSpring’s Facebook page do not necessarily reflect the opinions of NewSpring Church, nor does NewSpring Church confirm their accuracy.</p>

				<p>Please feel free to post comments, photos, videos and stories about your NewSpring Church experience, your group, events you attend, next steps you are taking, and services you enjoyed. The Gospel is advancing through social media and we encourage you to participate!</p>

				<p>Please contact us via email at <a href="mailto:hello@newspring.cc">hello@newspring.cc</a>.</p>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}