{embed="newspring:_global/pre_head" group_style=""}

<script type="text/javascript" src="//use.typekit.net/ice7qhs.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<style>



h2.alt { text-transform: none !important; }



section p:last-child { margin-bottom: 22px; }



ol {
	background: #eee;
	border: 2px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 53px;
	padding: 30px;
	width: 50%;
}

section.centered { margin: 0 auto; }

.centered h2 {
	color: #6bac43;
	text-align: center;
}

.centered p.
.centered p:last-child {
	background: red;
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 40px;
	-moz-column-gap: 40px;
	-webkit-column-gap: 40px;
	line-height: 30px;
	padding: 0;
	text-align: justify;
	vertical-align: baseline;
}

.hero {
	background: url("http://www.nicenicejpg.com/900/450") no-repeat rgba(0,0,0,.1);
	display: block;
	height: 450px;
	margin: 0 0 30px;
	position: relative;
	width: 100%;
}

.hero span {
	background: rgba(0,0,0,.6);
	bottom: 0;
	display: block;
	padding-top: 30px;
	position: absolute;
}

.hero span h3 {
	color: #fff;
	margin-bottom: 0;
	padding-left: 30px;
}

.hero span p {
	color: #fff;
	font-family: "ff-meta-web-pro", sans-serif;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 23px;
	padding-left: 30px;
}

.onetwo span h3 { 
	color: #fff; 
	margin: 0 auto 30px;
	text-align: center;
	padding-left: 0;
}

.circle {
	background: rgba(0,0,0,.1);
	border-radius: 105px;
	display: block;
	height: 210px;
	margin: 0 auto 30px;
	width: 210px;
	-moz-box-shadow: inset 0 0 20px #2d2d2d;
	-webkit-box-shadow: inset 0 0 20px #2d2d2d;
	box-shadow: inset 0 0 20px #2d2d2d;
}

.callouts {
	max-width: 1200px;
	margin: 0 auto 1px;
	text-align: center;
}


.callouts p,
.callouts p:last-child {
	color: #5d5d5d;
	font-family: "ff-meta-web-pro", sans-serif;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 22px;
}

.callouts a {
	background: #6bac43;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: inline-block;*/
	font-family:'Colfax-Hinted-Medium';
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 0 10px;
	text-decoration: none;
	text-transform: uppercase;
}

footer {
	background: #2d2d2d;
	border-top: 10px solid #6bac43;
	margin: -10px auto 0;
}

footer section {
	margin: 0 auto !important;
	width: 1200px;
}

footer section a {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

footer section a:hover {
	color: #fff;
	text-decoration: none;
}

footer section ul {
	margin-bottom: 54px;
	width: 250px;
}

footer section li {
	border-top: 1px solid #4d4d4d;
	color: #6bac43;
	font-family: "ff-meta-web-pro", sans-serif;
	font-size: 16px;
	line-height: 29px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 6px;
}

footer section li a {
	border: 0 none;
	margin: 0;
	padding: 0;
}

footer section li a:hover {
	text-decoration: none;
}

footer section li:last-child {
	border-bottom: 1px solid #4d4d4d;
}

footer section li:first-child {
	border: 0 none;
	color: #fff;
	font-family:'Colfax-Hinted-Bold';
	font-size: 24px;
	letter-spacing: -1px;
	line-height: 30px;
	margin: 8px 0 6px 0;
	padding: 0 6px;
	text-transform: none;
}

 </style>
</head>
<body>
	<div class="bench">

	  <section class="copy">
		  <h3>The 36th Chamber of Shaolin</h3>
		  <p><strong>The Wu-Tang Clan</strong> is an American hip hop group from New York City. The group was formed in the New York City borough of Staten Island (referred to by members as "Shaolin"), though some of their members are from Brooklyn.</p>
		  <p>They have introduced and launched the careers of affiliated artists and groups, often collectively known as the Wu-Tang Killa Bees.</p>
		  <p>No weapon in hip-hop history can rival the chaotic cohesion of the Wu-Tang Clan. The Clan had so many characters, each with his own eccentricities. They were fearless in their approach. There's a good reason no group has been able to successfully recreate their sound. The crew spawned countless loosely associated acts.</p>
	  </section>

		<hr>

		<section >
			<h1>Gigante Headline</h1>
		</section>

		<hr>

		<section class="copy">

			<div class="hero"></div>
			<h2>87 Rap Songs to Make Beautiful Babies To</h2>
			<p><strong>Body Copy lorem ipsum</strong> dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorpern. Aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt.</p>
		  </div>
	  </section>

		<hr>

		<section class="copy">
			<h2>What is The Gauntlet?</h2>
			<p><strong>Body Copy lorem ipsum</strong> dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorpern. Aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt.</p>
	  </section>

		<hr>

		<section class="copy">
			<h2>Go Go Gadget Code</h2>
			<p><strong>Body Copy lorem ipsum</strong> dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation.</p>
	  </section>

		<hr>

		<section class="copy">

			<h3>To Infinity &amp; Beyond</h3>
			<p>Body Copy lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>

			{!--<h6>The First 7 People in Space</h6>
			<ol>
				<li>Yuri Gagarin</li>
				<li>Alan Shephard</li>
				<li>Gus Grisson</li>
				<li>Gherman Titov</li>
				<li>John Glenn</li>
				<li>Scott Carpenter</li>
				<li>Andrian Nikolayev</li>
			</ol>--}

			<p>Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
		</section>

		<hr>
		<section>
		  <div class="callouts">
		  <div class="grid"><!--
		  --><div class="grid__item one-quarter">
				  <img src="http://www.nicenicejpg.com/500" class="circle"><!--
				 --><h6>Locations</h6>
				  <p>NewSpring is one church in many locations. We have ten campuses across the state of South Carolina, with multiple services each weekend.</p>
				  <!-- <a href="" class="btn">Find a Campus</a> -->
			  </div><!--

			  --><div class="grid__item one-quarter">
				  <img src="http://www.nicenicejpg.com/500" class="circle">
				  <h6>Children</h6>
				  <p>Babies–5th grade experience age-appropriate, fun, safe environments where they learn about Jesus on their level at KidSpring.</p>
				  <!-- <a href="" class="btn">About&nbsp;KidSpring</a> -->
			  </div><!--

			  --><div class="grid__item one-quarter">
				  <img src="http://www.nicenicejpg.com/500" class="circle">
				  <h6>Students</h6>
				  <p>6–12th graders connect with God, each other, and older leaders dedicated to their spiritual growth each Wednesday at Fuse.</p>
				  <!-- <a href="" class="btn">About Fuse</a> -->
			 </div><!--

			 --><div class="grid__item one-quarter">
				  <img src="http://www.nicenicejpg.com/500" class="circle">
				  <h6>Next Steps</h6>
				  <p>Whether you’re far from God, or walk with Him daily, we believe every one of us has a next step to take as we learn how to follow Jesus.</p>
				  <!-- <a href="" class="btn">Take a Step</a> -->
			 </div><!--
		  --></div>
		  </div>
		</section>
		<hr>

		<section class="copy">
			<h2>Tougher than Leather</h2>
			<p><strong>Now Peter Piper picked peppers</strong> but Run rocked rhymes. Humpty Dumpty fell down that's his hard time. Jack B. Nimble what nimble and he was quick but Jam Master cut faster Jack's on Jay's... Now Little Bo Peep cold lost her sheep and Rip van Winkle fell the hell asleep.</p>

			<p>And Alice chillin somewhere in Wonderland. Jack's servin Jill a bucket in his hand. And Jam Master Jay's making out our sound. The turntables might wobble but they don't fall down.</p>

			<blockquote>You five dollar boy and I'm a million dollar man. You a sucker MC, and you're my fan.</blockquote>

			<p>Lorem ipsum dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorpern. Aliquam erat volutpat. Exerci tation. Wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt. Lorem ipsum dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation. wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorpern. Aliquam erat volutpat. Exerci tation. Wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt.</p>

	  </section>

		<hr>

		<section class="copy">

			<div class="hero">
				<span>
					<h3>Viable Careers in Rap</h3>
					<p>Lorem ipsum dolor sit amet sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation nibh ad minim veniam, quis nostrud. Nonummy nibh ad minim veniam.</p>
				</span>
			</div>

		</section>

		<hr>


		<section>
		  <div class="callouts">
			<div class=" grid"><!--
			--><div class="grid__item one-third">
				<div class="hero">
					<span>
						<h3>Viable Careers in Rap</h3>
					</span>
				</div>
			</div><!--
			--><div class="grid__item one-third">
				<div class="hero">
					<span>
						<h3>Viable Careers in Rap</h3>
					</span>
				</div>
			</div><!--
			--><div class="grid__item one-third">
				<div class="hero">
					<span>
						<h3>Viable Careers in Rap</h3>
					</span>
				</div>
		 </div><!--
			--></div>
		  </div>

	   </section>

		<hr>

		<section class="copy">
			<h3>15 Habits of Highly High Peeps</h3>
			<p>Body Copy lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>

			<aside>Body Copy lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam, quis nostrud.</aside>

			<p>Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
	  </section>

		<hr>

		<section class="copy">
			<h4>I'm Not a Businessman</h4>
			<p>Body Copy lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed diam euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
	  </section>

		<hr>
	  <section class="copy">
		<div class="callouts">
		<div class=" grid"><!--
		--><div class="grid__item one-third">
				<h6>Uno Subhead</h6>
				<p>Lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam.</p>
			</div><!--

			--><div class="grid__item one-third">
				<h6>Dos Subhead</h6>
				<p>Lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam.</p>
			</div><!--

			--><div class="grid__item one-third">
				<h6>Tres Subhead</h6>
				<p>Lorem ipsum dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam.</p>
			</div><!--
		--></div>
	  </div>
	  </section>
		<hr>

		<section class="copy">
			<h3>The 36th Chamber of Shaolin</h3>
			<p><strong>The Wu-Tang Clan</strong> is an American hip hop group from New York City. The group was formed in the New York City borough of Staten Island (referred to by members as "Shaolin"), though some of their members are from Brooklyn.</p>
			<ul>
				<li class="list--title">Wu-Tang Members</li>
				<li>RZA</li>
				<li>GZA</li>
				<li>Raekwon</li>
				<li>Ghostface Killa</li>
				<li>Inspectah Deck</li>
				<li>U-God</li>
				<li>Masta Killa</li>
				<li>Cappadonna*</li>
				<li>Ol' Dirty Bastard (R.I.P.)</li>
			</ul>
			<p>They have introduced and launched the careers of affiliated artists and groups, often collectively known as the Wu-Tang Killa Bees.</p>
			<p>No weapon in hip-hop history can rival the chaotic cohesion of the Wu-Tang Clan. The Clan had so many characters, each with his own eccentricities. They were fearless in their approach. There's a good reason no group has been able to successfully recreate their sound. The crew spawned countless loosely associated acts.</p>
			<p><small>*Honorary Unofficial Member</small></p>
		</section>

		<hr>

		<section class="copy">
			<h2>H2 Colfax Black 87 Rap Songs to Make Babies to</h2>
			<p><strong>Body Copy lorem ipsum</strong> dolor sit amet, nin consectetuer adipiscing elit, wisi enim nonummy nibh ad minim veniam, quis nostrud. Ut sed <a href="#">diam euismod</a> tincidunt ut laoreet dolore magna aliquam erat volutpat. Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
		</section>

		<footer>
			<section class="grid"><!--
				--><div class="grid__item one-quarter"><!--
					--><ul><!--
						--><li>About Us</li><!--
						--><li><a href="#">Our Locations</a></li><!--
						--><li><a href="#">Our Vision</a></li><!--
						--><li><a href="#">Our Leadership</a></li><!--
						--><li><a href="#">Our Apps</a></li><!--
						--><li><a href="#">For Kids</a></li><!--
						--><li><a href="#">For Students</a></li><!--
					--></ul><!--
				--></div><!--
				--><div class="grid__item one-quarter"><!--
					--><ul><!--
						--><li>Next Steps</li><!--
						--><li><a href="#">Salvation</a></li><!--
						--><li><a href="#">Baptism</a></li><!--
						--><li><a href="#">Volunteering</a></li><!--
						--><li><a href="#">Missions</a></li><!--
						--><li><a href="#">Groups</a></li><!--
						--><li><a href="#">Financial Planning</a></li><!--
						--><li><a href="#">Membership</a></li><!--
					--></ul><!--
				--></div><!--
				--><div class="grid__item one-quarter"><!--
					--><ul><!--
						--><li>Watch &amp; Learn</li><!--
						--><li><a href="#">Recent Videos</a></li><!--
						--><li><a href="#">Studies</a></li><!--
						--><li><a href="#">Articles</a></li><!--
						--><li><a href="#">Daily Devotionals</a></li><!--
						--><li><a href="#">Stories</a></li><!--
						--><li><a href="#">Fuse Blog</a></li><!--
					--></ul><!--
				--></div><!--
				--><div class="grid__item one-quarter"><!--
						--><ul><!--
						--><li>Connect</li><!--
						--><li><a href="#">hello@newspring.cc</a></li><!--
						--><li>864.965.9990<!--
						--><li><a href="#">Campus Emails</a></li><!--
						--><li><a href="#">Care &amp; Prayer</a></li><!--
						--><li><a href="#">Facebook</a></li><!--
						--><li><a href="#">Twitter</a></li><!--
						--><li><a href="#">Instagram</a></li><!--
					--></ul><!--
				--></div><!--
			--></section><!--
		--></footer>

	</div>

{embed="newspring:_global/post_footer"
	chartbeat=""
	google_analytics=""
	group_script = ''
}
