{layout="_layouts/global"
	title="Community Layout"
	description="Example Community Layout"
	image="http://jon.ee/image/2a1R3N2W0K3a/Image%202014-04-03%20at%204.42.48%20PM.png"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style="{segment_1}"
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

<a class="button signup">Signup</a>



{layout:set name="footer"}
	{!-- Add additional footer content/scripts here --}
{/layout:set}
