{embed="newspring:_global/pre_head" group_style="james"}


<section data-panel-group="test" >
	<div class="shell" data-panel="test, /_testing/james" >
		<h1>Data panel work</h1>
		<h4>These test are tests</h4>
		<p>
			Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.
		</p>
		<a href="#" class="btn btn--filled" data-panel-show="test, /_testing/panel1, 0">Go to panel 2</a>
	</div>
</section>


{embed="newspring:_global/post_footer"
		chartbeat=""
		google_analytics=""
		group_script = ''
}
