{layout="newspring:_layouts/global"
    title=""
    description=""
    image=""
    page_type=""
    article_section=""
    tags=""
    publish_time=""

    google_author=""
    google_page_profile=""

    twitter_publisher=""
    twitter_author=""

    facebook_profile=""
    facebook_app=""

    typekit=""

    section_style=""
    section_script=""

    meta=""
    footer=""
}
{embed="newspring:_global/pre_head" group_style="rich"}
<!-- <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> -->
<section>
  <div>
    <p>I've got something to say! I just can't think of what it is right now</p>
  </div>
</section>
<section data-share='article, {"hashtags":["richisajavascripthack", "imlearningtho"]}'>
  <div>
    <h1>What's your next step?</h1>
    <p>
      God created you on purpose, with a purpose, and for a purpose. He wants more for you than you could ever ask for or imagine.
    </p>
    <p>
      Maybe you’re hesitant about this whole church thing. Or maybe you’ve been following Jesus for decades. But wherever you are in your life, you have a next step to take.
    </p>
    <p>
      We want to encourage and equip you to do it.
    </p>
    <blockquote>
      <p>
        "Show me your ways, Lord, teach me your paths. Guide me in your truth and teach me..."
      </p>
      <footer>
        <a href="#">Psalm 25:4-5</a>
      </footer>
    </blockquote>
  </div>
</section>
