{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed='includes/header' 
	title='Leaders | Groups' 
	body_id='groups' 
	body_class='subnav' 
	page_class="page-border"
	group_style="{segment_1}" 
}
{/exp:ce_cache:escape}

</div><!-- //page -->

{embed='includes/_subnav' navtitle="mainnav"}

<div class="c_12 clearfix page-border">
	
	{embed="includes/_trinav" navtitle="mainnav"}

	<div  class="g_12 clearfix border hero"></div>
	
	<div class="g_12 clearfix leaders">
		<div class="g_6">
			<h2>Interested in Leading?</h2>
			<p>Do you want to help NewSpring reach 100,000? And see your friends grow in their faith as you take next steps together? As a group leader you get a unique opportunity—to go first in seeing, taking and celebrating next steps every week!</p>
			<a class="btn" href=" https://newspring.wufoo.com/forms/w7x0s5">Sign Up To Lead A Group</a>
		</div>
		<div class="g_6">
			<h2>Leader Resources</h2>
			<p>We believe you can’t do life alone. And no one wants to lead alone, either. On our Group Leader blog we provide you with everything you need to be a successful group leader and help our church reach 100,000!</p>
			<a href="/groups/leaders/blog" class="btn">Visit Group Leader Blog</a>
		</div>
	</div>
  	
{exp:ce_cache:escape}
{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}