{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed='includes/header' body_id='groups' body_class='groups subnav ministries' page_class="page-border" group_style="{segment_1}" group_script="{segment_1}" title='Host a Step Up Group | Groups' use_alt='' script="NewSpring.Player" fb_url="{path={segment_1}/host}" fb_title="NewSpring Groups" fb_describe="{page_search_excerpt}" fb_image="http://images.newspring.cc/site/groups/groups.host.hero2.jpg"}
{/exp:ce_cache:escape}
</div><!-- //page -->

{embed='includes/_subnav' navtitle="mainnav"}

<div class="c_12 clearfix page-border step-up">

<div id="body" class="clearfix">

	<div id="hero" class="host g_12 clearfix border">
		{!-- <a href="#" class="play_button ooyala-embed" data-embed="Q0YWk1ZDrlQKezwCPvJQUjsL3QVk4rT-">Play Promo</a> --}
	</div>
	<div id="intro" class="g_12 clearfix section">
		<div>
			<p>As a Host you will be a vital part of helping our church reach 100,000. For six weeks this fall our church will participate in Step Up Groups. These groups are your opportunity to learn what is next for NewSpring, and what is next for you!</p>
		</div>
	</div>
	{!-- <div id="sign-up" class="g_12 clearfix section">
		<div class="g_9 g_a column-left">
			<div class="wrapper">
				<p>Hosts will lead the way in a fall season our church remembers forever. Should you Host a Step Up Group? Do you want to lead the way as our church goes for 100,000?</p>
			</div>
		</div>
		<div class="g_3 g_o">
			<a href="https://newspring.wufoo.com/forms/z7p6w5/" class="border">Sign Up to Host</a>
		</div>
	</div> --}

	<div class="g_12 section clearfix">
		<div id="list-box" class="g_6 g_o column-left">
			<div class="wrapper">
				<h2>Responsibilities of a Host</h2><br>
				<ul>
					<li>
						<h3>Invite.</h3>
						<p>Friends, family, and neighbors can all join your group. The best way to fill your group is by asking the people God has intentionally placed in your life.</p>
					</li>
					<li>
						<h3>Facilitate.</h3>
						<p>There are discussion questions for the group to go over following up on the video teaching. It is up to the HOST to help people start discussing.</p>
					</li>
					<li>
						<h3>Open.</h3>
						<p>Your home will be the meeting place for your group over 6 weeks.</p>
					</li>
					<li>
						<h3>Watch.</h3>
						<p>There will be video teaching on a DVD that you and your group will need to watch each week. Make sure you have a DVD player ready to go!</p>
					</li>
					<li>
						<h3>Respond.</h3>
						<p>Make sure that you contact anyone that signs up for your group within 48 hours of receiving the email. Also, we want to stay in the loop with who is in your group, and how everything is going.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="g_6 g_a column-right">
			<div class="wrapper">
				{!-- <h2>Sign Up to Host a Group</h2>
				<p>Hosting a  Step Up group is a great opportunity to help  people take their next steps.  If you are interested in opening your home for 6 weeks, we would love for you to sign up to be a host.<br><br><a href="https://newspring.wufoo.com/forms/z7p6w5/">Sign up here</a> or call us at (864) 359-3210 if you are interested in hosting a group.</p> --}
				<h2>Host Training</h2>
				<p>Miss a training event? Watch the video below to hear the vision behind Step Up groups and what your role is within it.</p>
				<script src='http://player.ooyala.com/v3/ZmJmNTVlNDk1NjcwYTVkMzAzODkyMjg0'></script><div id='ooyalaplayer' style='width:420px;height:235px'></div><script>OO.ready(function() { OO.Player.create('ooyalaplayer', 'Q0YWk1ZDrlQKezwCPvJQUjsL3QVk4rT-'); });</script><noscript><div>Please enable Javascript to watch this video</div></noscript>
				{!-- <h2>Host Training</h2>
				<p>As a Host your job this fall is to open your home, bring the group together, facilitate discussions, and do whatever else is necessary to create an excellent experience! We will provide you with all of the materials, training, and preparation you need to be the best Host possible. You can do this!</p>
				<p>Host Training Starts in July! Find the date &amp; time for your campus below.</p>
				<table>
					<tr>
						<th>Campus</th>
						<th>Date</th>
						<th>Time</th>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Anderson</a></td>
						<td>Thursday, July 11th, 2013</td>
						<td>6:30 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Charleston</a></td>
						<td>Thursday, July 11th, 2013</td>
						<td>7:00 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Columbia</a></td>
						<td>Thursday, July 11th, 2013</td>
						<td>6:30 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Florence</a></td>
						<td>Wednesday, July 10th, 2013</td>
						<td>6:30 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Greenville</a></td>
						<td>Sunday, July 7th, 2013</td>
						<td>2:00 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Greenwood</a></td>
						<td>Thursday, July 11th, 2013</td>
						<td>6:30 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Myrtle Beach</a></td>
						<td>Wednesday, July 10th, 2013</td>
						<td>6:30 PM</td>
					</tr>
					<tr>
						<td><a href="{path='newhere/locations'}">Spartanburg</a></td>
						<td>Thursday, July 11th, 2013</td>
						<td>6:00 PM</td>
					</tr>
				</table> --}
			</div>
		</div>
	</div>

	<div class="g_12 clearfix" >
		<div class="g_4 g_a">
			<ul id="listswitch-control" class="clearfix">
				<li class="active">
					<p>Dos</p>
				</li>
				<li>
					<p>Don'ts</p>
				</li>
			</ul>
			<ul id="dos" class="active dos-donts-list">
				<li>
					<p>Greet guests at the door as they arrive and introduce yourself!</p>
				</li>
				<li>
					<p>Make sure your living room and bathrooms are clean to create a welcoming environment.</p>
				</li>
				<li>
					<p>Start and end on time to respect everyone’s time.</p>
				</li>
				<li>
					<p>Look through the content beforehand and be prepared to lead the discussions.</p>
				</li>
				<li>
					<p>Maybe have some snacks or coffee for everyone!</p>
				</li>
				<li>
					<p>Be prepared to have a lot of fun, to make new friendships, and see people take next steps!</p>
				</li>
				<li>
					<p>Pray for your group.</p>
				</li>
				<li>
					<p>Ask friends and neighbors to join your group.</p>
				</li>
				<li>
					<p>Make sure everyone knows the group details before the first group meets (time, location, etc).</p>
				</li>
				<li>
					<p>Think about any questions you can ask that are "open ended" to foster group discussion.</p>
				</li>
			</ul>
			<ul id="donts" class="dos-donts-list">
				<li>
					<p>Rush around the house to get everything in order while people are arriving!</p>
				</li>
				<li>
					<p>Give off the impression that there will be snacks and then not have any! Nobody focuses well on an empty stomach!</p>
				</li>
				<li>
					<p>Forget to look over the content and wing it after watching the DVD!</p>
				</li>
				<li>
					<p>Suddenly forget how to work the DVD player! Practice before everyone arrives to make sure everything is working!</p>
				</li>
				<li>
					<p>Have your pets running around the house. We know you love your pet, but for the sake of those in your group who may not please have a plan for them.</p>
				</li>
				<li>
					<p>Forget to think about how you are going to break the ice and then awkwardly stumble through the first few minutes of your group time.</p>
				</li>
				<li>
					<p>Assume that everyone is going to talk. (Encourage people by going first in conversation and asking open ended questions)</p>
				</li>
				<li>
					<p>Talk the whole time. It is important for you as the HOST to allow people to speak. Quietness for you as a HOST might feel uncomfortable, but allow that and then someone will talk.</p>
				</li>
				<li>
					<p>Don't speak your "opinion" too soon, because others might shut down and not talk.</p>
				</li>
			</ul>
		</div>
		<div id="faq" class="g_8 g_a column-right">
			<div class="wrapper">
				<h2>Frequently Asked Questions</h2>
				<h3>What is a Host?</h3>
				<p>A Host is any NewSpring Owner who is willing to open their home up once a week for six weeks and invite others to go through the Step Up group curriculum together. The Host will be responsible for contacting group members to set up the weekly meetings as well as facilitating the discussions that go along with the group guides.</p>
				<h3>How do I become a Host?</h3>
				<p>Any NewSpring owner can sign up by clicking the link above and attending one of the Step Up Host trainings over this summer at your campus!</p>
				<h3>Who will I host in my group?</h3>
				<p>We encourage you to begin personally inviting friends, family, and neighbors to be in your group this fall. We want anyone who attends or is interested in NewSpring to join us in these groups! We will open group sign ups online and start promoting in service on July 21st. You can let us know if you want your group open for sign ups and anyone interested can join your group.</p>
				<h3>What if I am already in a group?</h3>
				<p>The group that you are currently in at NewSpring will be going through this content at the same time as the rest of the church. If you feel led to be a Host of a new group for those six weeks then we would love for you to sign up and let us know!</p>
				<h3>What happens if no one signs up for my group?</h3>
				<p>If there aren’t enough people to fill your group, we will combine your group with another group that is also looking for additional people. We will contact you by the first week of August if this happens. </p>
				<h3>When do these groups begin?</h3>
				<p>All Step Up groups will begin the week after Sunday, August 11th.</p>
				<h3>What if people have questions I cant answer?</h3>
				<p>Don't worry; you don't need to know all of the answers! We will consistently post helpful <a href="http://www.newspring.cc/host">information and resources.</a> You can also <a href="mailto:groups@newspring.cc">email us</a> questions anytime.</p>
			</div>
		</div>
	</div>
 
</div>

{ooyala_video}

{if breadcrumb != ""}
{embed='includes/breadcrumb' links='{breadcrumb}'}
{/if}

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}