{layout="_layouts/master"
	title="Group Leaders"
	description="Do you want to help NewSpring reach 100,000? Do you want to see your closest friends grow in their faith as you take next steps together?"
	image="http:{images-global}/{site_short_name}/editorial/articles/1208.hero.fuse1.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Group Leaders"
	summary="Do you want to help NewSpring reach 100,000? Do you want to see people grow in their faith as you take next steps together?"
	image_url="{images-global-origin}/{site_short_name}/_fpo/fpo.groupleaders.jpg"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<div class="text--constrained">
					<h2>Why Lead a Group?</h2>
					<p>Do you get excited about helping NewSpring Church reach people far from God and teach them how to follow Jesus step by step? Groups are a great opportunity for people to grow in relationships and identify their next steps together. Group Leaders are willing to go first in leading conversation and taking next steps.</p>
					<a href="https://newspring.wufoo.com/forms/z7p2k3/" target="_blank" class="btn">Lead a Group</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole lap-and-up-one-half">
				<h2>Group Studies</h2>
				<p>A library of resources that will help you understand what the Bible says and how to apply it to your life. Each study includes group topics, discussion guides and practical next steps.</p>
				<a href="/groups/studies" class="btn">Browse Studies</a>
			</div><div class="grid__item one-whole lap-and-up-one-half">
				<h2>Leader's Blog</h2>
				<p>Stay updated with continued training, leadership tools, celebrate stories and what’s happening next in Groups.</p>
				<a href="/groups/leaders/blog" class="btn">Read Blog</a>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Have More Questions?</h2>
				<p>If you have questions, feel free to <a href="mailto:groups@newspring.cc">email us.</a></p>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}