{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
  title="You Asked For It at the Bon Secours Wellness Arena" 
  body_id="welovegreenville" 
  group_style="{segment_1}"
  fb_url="{path={segment_1}}" 
  fb_title="We Love Greenville" 
  fb_describe=""
  fb_image=""
}
{/exp:ce_cache:escape}

{!-- Typekit Font Embed --}
<script type="text/javascript" src="//use.typekit.net/jbh5wwt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<div id="yafi" class="c_12 clearfix">
  <div id="yafi-intro" class="clearfix">
    <div class="p_2 g_4">
      <img src="//images.newspring.cc/site/series/youaskedforit/logo.youaskedforit.png">
    </div>
    <div class="subtitle s_1 g_5">
      <p>at the<br>Bon Secours Wellness Arena</p>
      <p>"Can God Be Trusted?"</p>
    </div>
    <div class="date p_2 s_2 g_8">
      <p>NewSpring Greenville 5 Year Anniversary Celebration</p>
    </div>
  </div>
  <div id="bilo-intro" class="clearfix">
    <div class="g_12">
      <div class="p_1 g_5">
        <p><strong>What would you attempt for God</strong> if you knew you couldn't fail? For NewSpring, an answer to that question came five years ago as we attempted something few thought would work: we went multi-site and launched a campus in Greenville. Since then, we have seen Jesus do unbelievable things to build His Church in Greenville&#151;restore relationships, heal</p>
      </div>
      <div class="s_1 g_5">
        <p>hurts, and save thousands. We think that's worth celebrating! Join us on Sunday, November 10th at the Bon Secours Wellness Arena for a time of celebration and a special in person message from our Pastor, Perry Noble, as we remember all that God has done over the past five years and anticipate what's ahead because the best is yet to come!</p>
      </div>
    </div>
  </div>
  <div id="details" class="clearfix">
    <div class="p_1 g_5">
      <h2>Event Details</h2>
      <p>Join us for a time of celebration and hearing Pastor Perry Noble live in person at the Bon Secours Wellness Arena on Sunday, November 10th at 11:00am!</p>
    </div>
    <div class="g_5 s_1">
      <h2>Location &amp; Times</h2>
      <p>Bon Secours Wellness Arena, formerly the Bi-Lo Center in Greenville, SC <a href="http://goo.gl/maps/F50qD">Map</a></p>
      <p>Service at 11:00am, External doors open at 9:30am, Internal doors open at 10:00am</p>
    </div>
    <div class="g_10 p_1 s_1">
      <h2>Tell Your Friends!</h2>
      <p>Are you planning on joining us to celebrate God's faithfulness at the Greenville campus? Share this page on Facebook and Twitter, or use the hashtag #GVLNov10 and let us know!</p>
      {embed="includes/_share_links" 
        position="center"
        layout="box"
        fb-url="http://newspringgreenville.cc"
        twitter-text="Can God be trusted? I'm curious to hear how @perrynoble answers this! Will you join me?" 
        twitter-url="http://newspringgreenville.cc"
        twitter-hashtag="GVLNov10"
      }
    </div>
    <div class="tricol g_12">
      <div class="g_4">
        <h3>Kids</h3>
        <p>Kids are invited to sit in the service with parents, since we won’t have KidSpring during this service. We will have a Mother’s Sitting Room and Family Viewing Room available.</p>
      </div>
      <div class="g_4">
        <h3>Entrance</h3>
        <p>Please enter the Bon Secours Wellness Arena through the two front entrances off of E. North St.&#151;The Charter Communications Entrance or Charter Business Entrance.</p>
      </div>
      <div class="g_4">
        <h3>Parking</h3>
        <p>Parking is free and available at the Church Street Garage, Liberty Square Garage and the Commons Garage. <a href="http://www.greenvillesc.gov/Transportation/GaragesLots.aspx" class="btn">Parking Options</a></p>
      </div>
    </div>
  </div>
  <a href="https://newspring.wufoo.com/forms/z7p2s7/" id="questions">Questions? Email Us!</a>

</div>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}