{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
  title="Greenville Campus" 
  body_id="welovegreenville" 
  group_style="{segment_1}"
  fb_url="{path={segment_1}}" 
  fb_title="We Love Greenville" 
  fb_describe=""
  fb_image=""
}
{/exp:ce_cache:escape}

<!-- Typekit (Freight) -->
<script type="text/javascript" src="//use.typekit.net/ice7qhs.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<div id="yafi-header" class="grid-wrapper">
  <div class="grid">{!--
      --}<div class="grid__item six-twelfths">
        <div class="wrapper">
        {exp:channel:entries
          channel="campuses"
          disable="categories|category_fields|member_data|pagination|trackbacks"
          entry_id="125"
        }
          <h1>{title} Campus</h1>
          <p class="service-times">Sunday Services at {service_times}{if row_count != total_rows}{time}, {if:else} &amp; {time}{/if}{/service_times}</p>
          {locations limit="1"}
          <p>{location_venue}<br>{street1}<br>{city}, {state} {zip}</p>
          <a href="{directions}" class="btn_new">Get Directions</a>
          {/locations}
        {/exp:channel:entries}
        </div>
      </div>{!--
      --}<div class="grid__item six-twelfths">
        <div class="wrapper">
          <div class="video-box">
            <a href="#" class="play_button_new ooyala-embed border" data-embed="gwdXB4ZzrmsqbNJn-TYJzqY10sp6MQEC">
              <span class="icon"></span>
              <span class="text">Watch Video</span>
            </a>
          </div>
        </div>
      </div>{!--
  --}</div>
</div>
<div id="about" class="grid-wrapper">
  <div class="grid">{!--
    --}<div class="grid__item one-twelfth">
    </div>{!--
    --}<div class="grid__item ten-twelfths">
      <div class="wrapper">
        <h2>About NewSpring Church</h2>
        <p>NewSpring Church exists to reach people far from God and to teach them how to follow Jesus step by step. We currently have 8 locations across the state of South Carolina. We believe that no matter how long we have been following Jesus, every one of us has a next step to take in our walk with Christ.</p>
      </div>
    </div>{!--
    --}<div class="grid__item one-twelfth">
    </div>{!--
  --}</div>
    <div class="tricol">
    <div class="grid">{!--
    --}<div class="grid__item one-third">
      <div class="wrapper">
        <h3>What to Expect</h3>
        <p>Sunday services at NewSpring Church are exciting, casual and relaxed. Come as you are, and expect to feel welcomed, experience good music, and hear an engaging message from our Senior Pastor Perry Noble or guest speakers.<br><a href="/locations" class="btn_new">Plan a Visit</a></p>
        <a href="http://facebook.com/newspring" class="icon facebook">NewSpring Church</a>
        <a href="https://www.facebook.com/newspring.gvl.sc" class="icon facebook">Greenville Campus</a>
      </div>
    </div>{!--
    --}<div class="grid__item one-third">
      <div class="wrapper">
        <h3>For Kids</h3>
        <p>KidSpring is a children’s ministry for babies through 5th grade that is designed with your child in mind! Kids experience safe, age-appropriate environments where the Bible is taught in a creative and relevant way.<br><a href="http://newspring.cc/kidspring" class="btn_new">About KidSpring</a></p>
        <a href="http://facebook.com/kidspring" class="icon facebook">KidSpring Facebook</a>
        <a href="http://twitter.com/kidspring" class="icon twitter">KidSpring Twitter</a>
        <a href="http://instagram.com/kidspring" class="icon instagram">KidSpring Instagram</a>
      </div>
    </div>{!--
    --}<div class="grid__item one-third">
      <div class="wrapper">
        <h3>For Students</h3>
        <p>Fuse is a ministry for students in grades 6–12 that is dedicated to providing a place for them to connect with God, other students, and older committed leaders who serve faithfully to see students grow closer to Christ. <br><a href="http://newspring.cc/fuse" class="btn_new">About Fuse</a></p>
        <a href="http://facebook.com/greenvillefuse" class="icon facebook">Greenville Fuse</a>
        <a href="http://twitter.com/gvlfuse" class="icon twitter">Greenville Fuse</a>
      </div>
    </div>{!--
  --}</div>
  </div>
</div>
<div id="win-a-trip" class="grid-wrapper">
  <div class="grid">{!--
    --}<div class="grid__item three-twelfths">
    </div>{!--
    --}<div class="grid__item six-twelfths">
      <div class="wrapper">
        <h2>Win a trip to<br>Disney or Israel</h2>
        <p>Don’t forget to bring the registration form from your bulletin back to the TDCC next week, Sunday 11/17, for a chance to win!</p>
        <a href="/welovegreenville/terms" class="terms">Terms &amp; Conditions</a>
      </div>
    </div>{!--
    --}<div class="grid__item three-twelfths">
    </div>{!--
  --}</div>
</div>
<div id="about-gvl" class="grid-wrapper">
  <div class="grid">{!--
    --}<div class="grid__item two-twelfth">
    </div>{!--
    --}<div class="grid__item eight-twelfths">
      <div class="wrapper">
        <h2>About the Greenville Campus</h2>
        <p>On January 16, 2000 NewSpring began meeting on the campus of Anderson College in Anderson, South Carolina. As the church grew we saw more and more people driving to Anderson from Greenville. In an effort to reach the 500,000 people of Greenville County we decided to try something we had never attempted before.</p>
        <p>We leased a former grocery store at the intersection of Roper Mountain Road and I-385, built a 1,200 seat auditorium and installed video technology allowing us to broadcast our messages live from the Anderson Campus to the Greenville Campus. On July 13, 2008, NewSpring launched its first multisite campus with 1,710 in attendance on opening weekend. With many asking, “Will it work?” the results began to speak for themselves. Six months in, a third service was added to accommodate the campus’ growth.</p>
        <p>In the spring of 2009, due to circumstances beyond our control, we learned that we had to vacate our building. A few short weeks after receiving the news, NewSpring Greenville did something few churches do: on June 14, 2009 it relocated from a permanent facility to a portable location. Not fully understanding why God had allowed this to happen, we trusted that He had better things in store for the Greenville campus.</p>
        <p>Since moving to the TD Center, located off of Pleasantburg Drive, we have experienced amazing growth with an average weekly attendance of 4,943 spread across four weekend services. NewSpring Greenville has grown into one of the largest portable church campuses in America.</p>
        <p>What started as a huge vision and a huge risk has proven to be more successful than anyone could have dreamed or imagined. Since its launch, NewSpring Greenville has seen 3,953 people meet Jesus, 2,010 baptized, and countless lives changed.</p>
        <p>Greenville Campus has led the way in NewSpring Church’s multisite vision to reach 100,000 people across the state of South Carolina and the best is yet to come!</p>
      </div>
    </div>{!--
    --}<div class="grid__item two-twelfth">
    </div>{!--
  --}</div>
</div>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}