{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
  title="Terms &amp; Conditions" 
  body_id="welovegreenville" 
  group_style="{segment_1}"
  fb_url="{path={segment_1}}" 
  fb_title="Terms &amp; Conditions" 
  fb_describe=""
  fb_image=""
}
{/exp:ce_cache:escape}

<div class="c_12 clearfix">
  <div class="g_12 top-border"></div>
  <div id="terms" class="p_1 g_10 s_1">
      <h1>NewSpring Church Terms &amp; Conditions</h1>
      <h2>Israel Trip:</h2>
      <ul> 
        <li>&bull; No purchase or financial contribution necessary.</li>
        <li>&bull; This giveaway is open to anyone 18 years of age or older at the time of entry. By entering this giveaway, entrants agree to abide by these rules. The contest begins on 11/17/2013 at 8:30 am Eastern Time. </li>
        <li>&bull; The NewSpring Israel Trip Giveaway will be rewarded to one (1) winner. The odds of winning this sweepstakes depend on the total number of entries received. Winner chosen by random drawing of all qualified entries. Winner will be notified via email or phone call during the week of 11/17/2013 to 11/23/2013. If primary winner does not meet entry requirements, or respond to the notification email or phone call within 48 hours, an alternate winner will be chosen from the remaining eligible entries.</li>
        <li>&bull; Any and all taxes and tax reporting related to the prize are the responsibility of the winner. Prizes valued at an amount exceeding $600 are subject to being taxed.</li>
        <li>&bull; NewSpring Church reserves the right to substitute prizes of equal or greater value.</li> 
        <li>&bull; Any individual who is an employee of NewSpring Church is not eligible to enter this sweepstakes.</li>
      </ul>
      <br>
      <h2>Disney World Trip:</h2>        
      <ul>
        <li>&bull; No purchase or financial contribution necessary.</li>
        <li>&bull; By entering this giveaway, entrants agree to abide by these rules. The contest begins on 11/17/2013 at 8:30 am Eastern Time.</li> 
        <li>&bull; The NewSpring Disney World Trip Giveaway will be rewarded to one (1) winner and their family, up to 6 members of your immediate family total, including the winner. The odds of winning this sweepstakes depend on the total number of entries received. Winner chosen by random drawing of all qualified entries. Winner will be notified via email or phone call during the week of 11/17/2013 to 11/23/2013</li>
        <li>&bull; If primary winner does not meet entry requirements, or respond to the notification email or phone call within 48 hours, an alternate winner will be chosen from the remaining eligible entries.</li>
        <li>&bull; Any and all taxes and tax reporting related to the prize are the responsibility of the winner. Prizes valued at an amount exceeding $600 are subject to being taxed.</li>
        <li>&bull; The value of this giveaway covers a trip to Disney World for a family up to 6 members including airfare, park tickets and hotel accommodations at the discretion of NewSpring Church. Valid entry requires at least one member of the winning family be of KidSpring age at time of entry (ages 0-12). NewSpring Church reserves the right to substitute prizes of equal or greater value.</li>
        <li>&bull; Any individual who is an employee of NewSpring Church is not eligible to enter this sweepstakes.</li>
      </ul>
      <br>
      <h2>Pre-12 days:</h2>
      <ul>
        <li>&bull; One entry per day, per email address will be accepted.</li> 
        <li>&bull; By entering this giveaway, entrants agree to abide by these rules.</li> 
        <li>&bull; This contest is open to people who are eighteen (18) years of age or older as of the beginning of the promotion period 11/03/2013. </li>
        <li>&bull; The contest begins on 11/03/2013 at 9:00 am Eastern Time ("ET") and ends on 12/19/2013 at 5:00 pm ET (contest period).</li> 
        <li>&bull; Any individual who is an employee of NewSpring Church is not eligible to enter this sweepstakes.</li>
        <li>&bull; The odds of winning this sweepstakes depend on the total number of entries received. Winner will be chosen by random drawing of all qualified entries received during contest period. Winner will be notified via email or phone call.</li>
        <li>&bull; Any and all taxes and tax reporting related to the prize are the responsibility of the winner. Prizes valued at an amount exceeding $600 are subject to being taxed.</li>
      </ul>
  </div>
</div>

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}
