{layout="_layouts/master"
	title="Our Story is the Empty Tomb Story"
	description="Everything about NewSpring Church&mdash;people, history, stories, sermons, songs&mdash;all of this started 2,000 years ago because one man lived the perfect life and died for the sins of the world."
	image="http:{images-global-origin}/{site_short_name}/emptytomb/fpo.emptytomb.5.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

<style>
	.scripturizer { color: #fff;}
	.scripturizer:hover { color: #303030;}
</style>

<section>
	<div class="shell background--fill overlay overlay--gradient" style="background-image: url({exp:ce_img:single src='{images-global-origin}/{site_short_name}/emptytomb/fpo.emptytomb.5.jpg' width='1700' crop='yes' url_only='yes'});">
		<div class="grid floating ratio--landscape background--fill overlay__item" >
				<div class="grid__item five-sixths floating__item floating--bottom text--constrained">
					<h1 class="light">Our Story Begins With the Empty Tomb</h1>
					<a href="#emptytombvideo" data-scroll class="icon--light icon--arrow-down"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section--black" id="emptytombvideo">
	<div class="shell">
		<div class="ratio__item floating">
			<div class="grid centered floating__item flush">
				<div class="grid__item two-thirds portable-one-whole palm-one-whole hard flush">
					<h2>Why It Matters</h2>
					<h4 class="light">Everything we do at NewSpring started 2,000 years ago when one man lived a perfect life and died for our sins.</h4>
					<h4 class="light">Then He walked out of His tomb and changed everything.</h4>
				</div><div class="grid__item one-whole floating overlay hard" >
					<div class="ratio--landscape background--fill floating" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/fpo.emptytombfloor.jpg' crop='yes' url_only='yes'})">
						<div class="ratio__item floating__item">
							<div class="fa fa-icon fa-icon--play fa-icon--light" data-video="pizza, JiMWZkbzqq82evp9mY8rw5V7UtxDYE0j"></div>
						</div>
					</div>
				</div><div class="grid__item two-thirds portable-one-whole palm-one-whole hard">
					<h4>We always celebrate what God is doing through our church. But as we get closer to our 15th anniversary, we’re putting the reason <em>why</em> we celebrate right at the center of our new logo. When you see NewSpring, you see the empty tomb.</h4>
					<br>
					<a href="#logolineup" data-scroll class="icon--light icon--arrow-down"></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="logolineup">
	<div class="shell centered">
		<div class="grid centered"><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.1.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2000</strong></h6>
			</div><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.2.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2001/2002</strong></h6>
			</div><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.3.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2003</strong></h6>
			</div><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.4.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2004/2005</strong></h6>
			</div><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.5.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2006/2007</strong></h6>
			</div><!--
			--><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole">
				<div class="ratio ratio--landscape flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.6.png' width='500' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">2008&ndash;2014</strong></h6>
			</div><!--
			--><div class="grid__item one-half portable-one-whole palm-wide-one-whole palm-one-whole">
				<div class="ratio ratio--thin flush background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/emptytomb/newspring.logo.9.png' width='1000' crop='yes' url_only='yes'});"></div>
				<h6><strong class="grey">To 100,000!</strong></h6>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="shell hard">
		<div class="grid flush">
			<div class="grid__item one-third portable-one-third handheld-one-half flush hard">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.shirt.jpg' crop='yes' url_only='yes'})"></div>
			</div><div class="grid__item one-third portable-one-third handheld-one-half flush hard">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.n.jpg' crop='yes' url_only='yes'})"></div>
			</div><div class="grid__item one-third portable-one-third handheld-one-half hard flush">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.exterior.jpg' crop='yes' url_only='yes'})"></div>
			</div><div class="grid__item one-third portable-one-third handheld-one-half flush hard">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.howdy.jpg' crop='yes' url_only='yes'})"></div>
			</div><div class="grid__item one-third portable-one-third handheld-one-half flush hard">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.organized.jpg' crop='yes' url_only='yes'})"></div>
			</div><div class="grid__item one-third portable-one-third handheld-one-half flush hard">
				<div class="background--fill ratio ratio--landscape flush" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/newlook.mark.jpg' crop='yes' url_only='yes'})"></div>
			</div>
		</div>
	</shell>
</section>


<section>
	<div class="shell flush--bottom background--fill ratio--square floating floating--top overlay overlay--gradient" style="background-image: url({exp:ce_img:single src='{images-global}/{site_short_name}/emptytomb/emptytomb.israel.01.jpg' crop='yes' url_only='yes'})">
		<div class="grid centered overlay__item floating__item">
			<div class="grid__item one-whole handheld-one-whole">
				<blockquote class="blockquote--whitequote">
					<p class="light text--constrained soft-half--sides">Don’t be alarmed. You are looking for Jesus, who was crucified. He has risen! He is not here.</p>
					{exp:scripturizer}<footer>Mark 16:6</footer>{/exp:scripturizer}
				</blockquote>
			</div><div class="grid__item one-whole">
				<h4 class="text--constrained soft-half--sides light">After He rose from the dead, Jesus said His followers would do “even greater things.” That’s why we’re here&mdash;to reach people far from God and teach them how to follow Jesus step by step.</h4>
				<h4  class="text--constrained half--sides light">Reaching 100,000 is just around the corner. The best is yet to come!</h4>
			</div><hr class="quarter hidden"><div class="grid__item one-whole centered">
			{embed="newspring:_embeds/_share-buttons"
				alignment=""
				title="Everything we do at NewSpring started 2000 years ago. Why does it matter?"
				hashtag="emptytomb"
				share_url="{exp:shorteen:process service='bitly' url='{current_url}'}"
			}
			</div>
		</div>
	</div>
</section>


{!-- <section>
{exp:channel:entries channel="series_newspring" entry_id="124827"}
	<div class="shell ratio--hero background--fill hard" style="background-image: url({collection_image}{exp:ce_img:single src='{collection_image_2x1}' width='1700' crop='yes' url_only='yes'}{/collection_image});">
		<div class="grid ratio__item overlay floating floating--bottom flush">
			<div class="grid__item one-whole centered overlay__item floating__item">
				 <a href="{path='/sermons/{url_title}/{entry:url_title}'}" class="btn">Watch Current Series</a>
			</div>
		</div>
	</div>
{/exp:channel:entries}
</section> --}

{/exp:ce_cache:it}
