{embed="embeds/_header" page_title="You Asked For It"}

{embed="embeds/_header_postfix" body_color=""}

{embed="embeds/_mainnav" sticky="y"}

<section id="watch-header" style="background: url({exp:ce_img:single src='http://images.newspring.cc/images/made/images/remote/http_images.newspring.cc/section/series/newspring/newspring.hero.watch.youaskedforit_940_400_90_c1.jpg' add_dims='no' url_only='yes'}) no-repeat center center; background-size: cover;">
	<div class="control-overlay">
		<div class="controls">
			<a href="#" class="watch-button"><span class="pictos">4</span> Watch This</a>
			<a href="#" class="close_watch-button"><span class="pictos">&</span> Add to Playlist</a>
			<h1>Are We Living in the End Times?</h1>
		</div>
		<div id="video-container">
			{!-- <video id="video" width="640" height="365">
			  <source src="http://images.newspring.cc/v4test/mikethefrog.webm" type="video/webm">
			  <source src="http://images.newspring.cc/v4test/mikethefrog.ogv" type="video/ogv">
			  <source src="http://images.newspring.cc/v4test/mikethefrog.mp4" type="video/mp4">
			  <p>
			    Your browser doesn't support HTML5 video.
			    <a href="videos/mikethefrog.mp4">Download</a> the video instead.
			  </p>
			</video> --}
			<div id="video-controls">
				{!-- <div class="play-pause">4</div>
				<div class="seek-bar"></div>
				<div class="volume">></div>
				<div class="fullscreen">`</div> --}
				<div class="close">*</div>
			</div>
		</div>
	</div>
</section>
<script src="/assets/backup/old_js/v4/player.js"></script>
{!-- {embed="embeds/_subnav" page_title="You Asked For It"} --}

<div id="page-wrap">
	<section class="columns">
		<div class="grid">{!--
		 --}<div class="grid__item eight-twelfths palm-one-whole">
				<div class="wrapper">
					<ul class="faces">
						<li>
							<a title="@chadengle" href="/chadengle">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg" alt="">
							</a>
						</li>
						<li>
							<a title="@ManikRathee" href="/ManikRathee">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/ManikRathee/128.jpg" alt="">
							</a>
						</li>
						<li>
							<a title="@joshhemsley" href="/joshhemsley">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/joshhemsley/128.jpg" alt="">
							</a>
						</li>
						<li>
							<a title="@mutlu82" href="/mutlu82">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/128.jpg" alt="">
							</a>
						</li>
						<li>
							<a title="@leemunroe" href="/leemunroe">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/leemunroe/128.jpg" alt="">
							</a>
						</li>
						<li>
							<a title="@simobenso" href="/simobenso">
								<img src="https://s3.amazonaws.com/uifaces/faces/twitter/simobenso/128.jpg" alt="">
							</a>
						</li>					
					</ul>					
					<span class="label">Week 4 - November 10th, 2013</span>
					<h2>Are We Living in the End Times?</h2>
					<p>We’ll examine historical evidence, current events and biblical prophecies to learn why we’re living in the “end times” and show you how to prepare for what’s next. Are you ready?</p>
					<span class="label">Sermon Series</span>
					<h2>You Asked For It</h2>
					<p>You asked the questions, you voted on your favorites. Join us starting October 20th to hear the answers to the most asked questions including a live Q&A with Clayton King and Perry Noble.</p>
				</div>
			</div>{!--
			--}<div class="grid__item two-twelfths palm-one-whole">
				<div id="share-links" class="wrapper">
		        	<h2>Downloads</h2>
					<a href="#" class="btn_new">Audio MP3</a>
					<a href="#" class="btn_new">Video MP4</a>
				</div>
			</div>{!--
			--}<div class="grid__item two-twelfths palm-one-whole">
				<div id="share-links" class="wrapper">
					<h2>Share</h2>
					{embed="includes/_share_links"
			        	style="new"
			        	position="left"
			        	fb-url="{path={segment_1}}"
			        	twitter-text="Follow the journey to Israel as we prepare for Christmas at NewSpring!" 
			        	twitter-url="http://christmasatnewspring.cc" 
			        	twitter-hashtag="thejourney" 
		        	}
				</div>
			</div>{!--
		--}</div>
	</section>

	{embed="embeds/_search"}

</div>
{!-- #page-wrap end --}

{embed="embeds/_footer"}

{!-- Google +1 Button Asynchronous Script --}
	<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script>
  var setSearch = function() {
    $('.skeleton').hide();
    util.toggleInputText({
        selector: '#masthead input.gsc-input',
        text: 'Search',
        onload: true
       });

      // $('#masthead input.gsc-input[val]').fadeIn(200);
    $('.looking-glass').fadeIn(200);
    
  };

  window.__gcse = {
    callback: setSearch
  };

  (function() {
    var cx = '008512432210388260844:3scn19cslty';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

</body>
</html>