{embed="includes/header"
        title="You Asked For It"
        body_id="ask"
        body_class="ask"
        group_style="{segment_1}"
        group_script="{segment_1}"
        use_alt=''
        fb_url="{path={segment_1}}"
        fb_title="You Asked For It!"
        fb_describe="Seriously. Nothing is off limits. No question is too weird. What Biblical or cultural questions do you want answered? What do you want to hear Pastor Perry talk about? Just ask it."
        fb_image="//images.newspring.cc/site/series/youaskedforit/fb.youaskedforit.png"
}
{!-- Typekit Font Embed --}
<script type="text/javascript" src="//use.typekit.net/jbh5wwt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

<div class="c_12 clearfix ask-content">

        <div id="section-hero"class="clearfix">
                <div class="g_6">
      <img src="//images.newspring.cc/site/series/youaskedforit/logo.youaskedforit.png" />
                </div>
                <div class="g_6">
      <h3 class="font-proxima-nova-bold">Coming This October!</h3>      <p id="first" class="font-proxima-nova-semi">Nothing was off limits. No question was too weird. So you asked the questions, you picked your favorites, and you helped plan the sermons.</p>
      <p id="second" class="font-proxima-nova-semi">Join us at NewSpring beginning Sunday, October 20 for You Asked For It, the sermon series you wanted!</p>         
      <div class="share-buttons clearfix">
                <div id="facebook-share">
                  <div class="fb-like" data-href="http://newspring.cc/ask" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                </div>
                <div id="twitter-share">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://newspring.cc/ask" data-via="newspring" data-related="perrynoble" data-hashtags="YouAskedForIt">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>     
                </div>
                <span class="font-cubano" id="hashtag">#YOUASKEDFORIT</span>
            </div>
    </div>
{embed="includes/footer"}

