<!-- MARRIAGE HERO -->
<div class="g_12" id="marriage_hero">
	<img src="//images.newspring.cc/site/marriage_resources/hero.jpg" />
</div>
<!-- MARRIAGE HERO END -->

<!-- SERIES ITEMS -->
<div id="videos">
	<div class="g_3">
		<a class="video-series-thumb" href="dont-get-married-until"><img src="//images.newspring.cc/site/marriage_resources/video_images/video_1.png" /></a>
	</div>
	
	<div class="g_3">
		<a class="video-series-thumb" href="i-want-a-new-marriage"><img src="//images.newspring.cc/site/marriage_resources/video_images/video_2.png" /></a>
	</div>
	
	<div class="g_3">
		<a class="video-series-thumb" href="lord-of-the-rings"><img src="//images.newspring.cc/site/marriage_resources/video_images/video_3.png" /></a>
	</div>
	
	<div class="g_3">
		<a class="video-series-thumb" href="man-vs-wife"><img src="//images.newspring.cc/site/marriage_resources/video_images/video_4.png" /></a>
	</div>
</div>
<!-- SERIES ITEMS END -->

<!-- BOTTOM BUTTONS -->
<div id="p_marriage">
	<div class="g_4">
		<div class="blackened">
			<a href="//images.newspring.cc/uploads/marriage/husbandwife21daychallenge.pdf" onClick="_gaq.push(['_trackPageview', '//images.newspring.cc/uploads/marriage/husbandwife21daychallenge.pdf']);" title=""><em>21 Day Challenge </em>Husband &amp; Wife</a>
		</div>
	</div>
	
	<div class="g_4">
		<div class="blackened">
			<a href="//images.newspring.cc/uploads/marriage/40questions.pdf" onClick="_gaq.push(['_trackPageview', '//images.newspring.cc/uploads/marriage/40questions.pdf']);" title=""><em>Conversation Starters </em>40 Questions</a>
		</div>
	</div>

	<div class="g_4">
		<div class="blackened">
			<a href="/blog/category/marriage" onClick="_gaq.push(['_trackPageview', '//newspring.cc/blog/category/marriage']);" title=""><em>From the Blog </em>Articles &amp; Stories</a>
		</div>
	</div>
</div>
<!-- BOTTOM BUTTONS END -->