<h1 class="g_12" id="series_list">Recent Series</h1>

{exp:channel:entries channel='series_fuse' paginate="bottom" disable='member_data|trackbacks' orderby='series_date' status='open' search:series_hidden="IS_EMPTY" limit="10"}
<? $start_date = '{series_date format="%m_%d_%y"}'; ?>

{if '{series_date format="%Y%m%d%H"}' >= '{current_time format="%Y%m%d%H"}'}
{if:else}
<div class="episode g_12 clearfix">
	<p class="thumb g_4 g_a"><a href="/series/{url_title}/" title="Watch &amp; Listen: {title}">
		{if series_hero}
			{exp:imgsizer:size image="{series_hero}" width="300" alt="{title} Image" class="border" quality="70"}
		{if:else}
			<span alt="{title} Image" class="series image border"/>{title}</span>
		{/if}
	</a></p>

	<h2 class="g_4"><a href="/series/{url_title}/" title="Watch &amp; Listen: {title}">{title}</a></h2>

	<p class="date g_2">{series_date format='%m/%d/%y'}{reverse_related_entries status='open' limit='1' orderby='episode_date' sort='desc'}<? if ($start_date != '{episode_date format="%m_%d_%y"}'): ?>&ndash;{episode_date format='%m/%d/%y'}<? endif; ?>{/reverse_related_entries}</p>

	<p class="description g_6">{exp:eehive_hacksaw append=' &hellip;' chars='170' break_words='yes'}{series_description}{/exp:eehive_hacksaw}</p>

	<p class="button g_2 g_o"><a href="/series/{url_title}/" title="Watch &amp; Listen: {title}">Watch &amp; Listen Now</a></p>
</div>
{/if}
{paginate}
	<ul>
		<li class="pagination clearfix">{pagination_links}</li>
	<ul>
{/paginate}

{/exp:channel:entries}


