{exp:ce_cache:it}
<div id="hero" class="g_12">
	<img class="g-logo" src="http://images.newspring.cc/section/fuse/heroes/hero.fuse.gauntlet2014.jpg" alt="" width="940" class="border">
	<a href="#" class="play_button_new ooyala-embed border" data-embed="s0bjZiazrUG0l2nYm3sHQRr0tNBLDRpU">
    	<span class="icon"></span>
    	<span class="text">Watch Video</span>
    </a>
</div>
<div class="centered section g_10 p_1 s_1">
	<div class="column-wrapper">
		<h2>What is The Gauntlet?</h2>
		<p>The Gauntlet is a five-day trip for middle and high school students to Daytona Beach, FL. Throughout the week, students will learn about and experience God through sessions led by Brad Cooper, our Fuse student pastor, Perry Noble, our senior pastor, and through worship led by our NewSpring Fuse band. Students will also get to be a part of small groups led by our trained volunteers where they can share and talk through everything the Lord is teaching them.</p>
	</div>
</div>
<div class="centered section g_10 p_1 s_1">
	<div class="column-wrapper">
		<!-- <h2 style="margin-bottom: 15px;">Sign Up Today!</h2>
		<ul class="signup-buttons clearfix">
			{exp:channel:entries channel="campuses" orderby="title" sort="asc" dynamic="off" status="Open" category="not 156" entry_id="not 11697" disable="categories|category_fields|member_data|pagination|trackbacks"}
			<li><a href="http://gauntlet2014.eventbrite.com/?access={campus_abbr}" target="_blank">{title}</a></li>
			{/exp:channel:entries}
		</ul> -->

		<h2 style="color: #FF9912;">The Gauntlet is Sold Out!</h2>
		<p style="text-align: center;">You can still add your name to the Waitlist and we&rsquo;ll contact you directly if extra tickets become available at your campus. Adding your name to the Waitlist does not guarantee you a ticket.</p>
		<ul class="signup-buttons clearfix">
			<li style="margin: 15px auto 30px; text-align: center; float: none; width: 40%;"><a href="https://www.eventbrite.com/waitlist?eid=10100780707&tid=0" target="_blank">Get on The Gauntlet Waitlist</a></li>
		</ul>
		<ul class="other-options clearfix">
			<li>
				<div class="wrapper">
					<h2>Scholarships</h2>
					<p>Want to attend The Gauntlet, but can’t afford it? We can help! <br><a href="https://newspring.wufoo.com/forms/p2uxhc0zua889/" target="_blank">Apply Now</a></p>
				</div>
			</li>
			<li>
				<div class="wrapper">
					<h2>Volunteer</h2>
					<p>Excited about helping? We’d love to talk with you about volunteering. <br><a href="https://newspring.wufoo.com/forms/z5mopv1ht0t0o/" target="_blank">Volunteer Interest</a></p>
				</div>
			</li>
			<li>
				<div class="wrapper">
					<h2>Sponsor a Student</h2>
					<p>Any size gift will help students attend, whether it’s $5 or $500! <br><a href="http://gauntlet2014sponsor.eventbrite.com/" target="_blank">Give Now</a></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="centered section g_10 p_1 s_1">
		<h2 style="margin-bottom: 15px;">Volunteer Meetings</h2>
		<p class="centered">Each volunteer is required to attend at least one meeting.</p>
		<div class="grid"><!--
			{exp:channel:entries channel="campuses" orderby="title" sort="asc" dynamic="off" status="Open" category="not 156" entry_id="not 11697|11660" disable="categories|category_fields|member_data|pagination|trackbacks"}
				--><div class="grid__item one-quarter">
					<h3>{title}</h3>
					<ul class="dates">
					{exp:playa:parents field="event_campus" var_prefix="event" category="384" orderby="event_date" sort="asc"}
						<li>{event:event_date format="%l, %F %j"}</li>
					{/exp:playa:parents}
					{campus_addresses}
						{if type == 'Campus Location' OR type == 'Service Location'}
						<li> <a href="{directions}" class="btn" target="_blank">Directions</a> </li>
						{/if}
					{/campus_addresses}
					</ul>
				</div><!--
			{/exp:channel:entries}
	 --></div>
</div>
<div class="centered section g_10 p_1 s_1">
		<h2 style="margin-bottom: 15px;">Parent Meetings</h2>
		<p class="centered" style="margin-bottom: 30px;">Please choose a meeting to attend.</p>
		<div class="grid"><!--
			{exp:channel:entries channel="campuses" orderby="title" sort="asc" dynamic="off" status="Open" category="not 156" entry_id="not 11697|11660" disable="categories|category_fields|member_data|pagination|trackbacks"}
				--><div class="grid__item one-quarter">
					<h3>{title}</h3>
					<ul class="dates">
					{exp:playa:parents field="event_campus" var_prefix="event" category="308" sort="asc"}
						<li>{event:event_date format="%l, %F %j"}</li>
					{/exp:playa:parents}
					{campus_addresses}
						{if type == 'Campus Location' OR type == 'Service Location'}
						<li> <a href="{directions}" class="btn" target="_blank">Directions</a> </li>
						{/if}
					{/campus_addresses}
					</ul>

				</div><!--
			{/exp:channel:entries}
	 --></div>
</div>

<div class="centered section g_10 p_1 s_1">
	<div class="column-wrapper">
		<h2>Why does NewSpring have The Gauntlet?</h2>
		<p>NewSpring believes in pouring into the next generation and teaching them to love and follow Jesus with their whole hearts. You can hear Pastor Perry's explanation from a message on March 3, 2013, for the Gauntlet <a href="#" title="Why should my student attend The Gauntlet" class="ooyala-embed" data-embed="k3bWNxOTpKzJAMyPa5pP0AXRq3ah-RnT">here</a>.</p>
		<ul class="num-list clearfix">
			<li>
				<p class="num">1</p>
				<p>Create a focused, distraction-free environment where students can hear the truth of God's Word.</p>
			</li>
			<li>
				<p class="num">2</p>
				<p>Challenge students in their own personal walks with Jesus.</p>
			</li>
			<li>
				<p class="num">3</p>
				<p>Have a blast hanging out with other students at the beach!</p>
			</li>
		</ul>
	</div>
</div>
<div class="g_12 section centered">
	<div class="g_4 g_a">
		<div class="column-wrapper">
			<h2>When is The Gauntlet?</h2>
			<p class="centered">July 28 – August 1, 2014</p>
		</div>
	</div>
	<div class="g_4">
		<div class="column-wrapper">
			<h2>Who can go to The Gauntlet?</h2>
			<p class="centered">Any Student in the 6th through 12th grade as of the Spring of 2014</p>
		</div>
	</div>
	<div class="g_4 g_o">
		<div class="column-wrapper">
			<h2>Where is The Gauntlet?</h2>
			<p class="centered">Daytona Beach, Florida</p>
		</div>
	</div>
</div>
{!-- <div class="g_12 section centered">
	<div class="g_10 p_1 s_1">
		<div class="column-wrapper">
			<h2>When can I sign up to go to The Gauntlet?</h2>
			<p class="centered">Sign-ups for students will open in early 2014.</p>
			<p class="centered">Sign-ups for volunteers will open Fall 2013.</p>
		</div>
	</div>
</div> --}
<div class="g_12 section-social centered">
	<div class="g_10 p_1 s_1">
		<div class="column-wrapper">
			<h2>How can I keep up with the latest Gauntlet information?</h2>
			<p class="centered">You can follow <a href="http://twitter.com/newspring">NewSpring</a>, <a href="http://twitter.com/newspringfuse">NewSpring Fuse</a>, <a href="http://twitter.com/bcoop">Brad Cooper</a>, <a href="http://twitter.com/perrynoble">Perry Noble</a> and any of our Fuse pastors for periodic updates regarding The Gauntlet!</p>
		</div>
	</div>
</div>
{!-- <div class="centered section g_10 p_1 s_1">
	<div class="column-wrapper">
		<h2>What Students are Saying...</h2>
		<ul class="video-list">
			<li>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="U4Nm5vOTqOwr7WvDFN9ONQfUOhwwAqIB">
						<span class="icon"></span>
					</a>
					<img src="//images.newspring.cc/site/fuse/dani-gauntlet-testimonial.jpg" class="border gauntlet-video" width="300" alt="">
				</div>
				<p>Lorem ipsum Qui esse esse nisi ullamco voluptate Duis et aliquip eu minim officia do deserunt minim cupidatat in.</p>
			</li>
			<li>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="U0Nm5vOTo1BvWxBlar8uVzQhp3k_0rV3">
						<span class="icon"></span>
					</a>
					<img src="//images.newspring.cc/site/fuse/cody-gauntlet-testimonial.jpg" class="border gauntlet-video" width="300" alt="">
				</div>
				<p>Lorem ipsum Qui esse esse nisi ullamco voluptate Duis et aliquip eu minim officia do deserunt minim cupidatat in.</p>
			</li>
		</ul>
	</div>
</div> --}

{ooyala_video}

{/exp:ce_cache:it}