<div id="subnav" class="c_12 clearfix">
	<div  class="g_5">
		<h1><a href="{path={segment_1}}">Fuse</a></h1>
	</div>
	<div class="g_7 right">
		<a href="{path={segment_1}}" {if segment_2 == ""}class="active"{/if}>About<span></span></a>
		<a href="{path={segment_1}/blog}" {if segment_2 == "blog"}class="active"{/if}>Blog<span></span></a>
		<a href="{path={segment_1}/volunteers}" {if segment_2 == "volunteers"}class="active"{/if}>Volunteers<span></span></a>
		<a href="{path={segment_1}/gauntlet}" {if segment_2 == "gauntlet"}class="active"{/if}>Gauntlet<span></span></a>
		<a href="{path={segment_1}/watch}" {if segment_2 == "watch"}class="active"{/if}>Watch<span></span></a>
	</div>
</div>