<div class="session_nav">
<ul>
<li>
	<a href="/fuse/volunteers" {if segment_3 == ''}class="current"{/if}>This Week <span class="tippy"></span></a>
</li>
<li>
	<a href="/fuse/volunteers/training" {if segment_3 == 'training'}class="current"{/if}>Training <span class="tippy"></span></a>
</li>
<li>
	<a href="/fuse/volunteers/resources" {if segment_3 == 'resources'}class="current"{/if}>Resources <span class="tippy"></span></a>
</li>

<li>
	<a href="/fuse/volunteers/archives" {if segment_3 == 'archives'}class="current"{/if}> Campus Archives <span class="tippy"></span></a>
</li>
</ul>
</div>