{exp:ce_cache:it}
{exp:ce_cache:escape}
	{embed='includes/header' 
		title='Fuse Volunteers' 
		body_id='fuse' 
		body_class="subnav" 
		page_class="page-border"
		group_style="fuse" 
		fb_title="Fuse Volunteers" 
		fb_url="" 
		meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
		fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
	}
{/exp:ce_cache:escape}

</div><!-- //page - wraps header -->

{embed="includes/_subnav" navtitle="mainnav"}

<div id="subnav_page" class="volunteers c_12 clearfix page-border">
	{embed="includes/_trinav" navtitle="mainnav"}
	<div id="heading" class="g_10 p_1 s_1 section border clearfix">
		<h3>Becoming a leader is an ongoing process. Whether leading a small group or serving on the sports team- you are a leader at Fuse. We wanted to provide you with a way to get refreshed on all the vision of Fuse OR take your next step in leadership as a small group leader.</h3>
	</div>

	<div class="g_10 p_1 s_1 section clearfix">
		<h2>Fuse Volunteer Basics</h2>
		<ul class="video-list clearfix">
			<li>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="4yNmV5azrRa59VuLJJWBk1ItWSm3ykbw">
						<span class="icon"></span>
					</a>
					{exp:ce_img:single src="http://images.newspring.cc/section/fuse/heroes/fuse.hero.jpg" width="230" height="120" crop="yes" attributes='class="border"'}
				</div>
				<p><b>Why?</b></p>
			</li>
			<li>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="k2NmV5azoTu4vXf91xCTiAee9OXPuhHR">
						<span class="icon"></span>
					</a>
					{exp:ce_img:single src="http://images.newspring.cc/section/fuse/heroes/fuse.hero.jpg" width="230" height="120" crop="yes" attributes='class="border"'}
				</div>
				<p><b>How?</b></p>
			</li>
			<li>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="A0NmV5azqsyZKf7S1fU3DHLdMqO68iXH">
						<span class="icon"></span>
					</a>
					{exp:ce_img:single src="http://images.newspring.cc/section/fuse/heroes/fuse.hero.jpg" width="230" height="120" crop="yes" attributes='class="border"'}
				</div>
				<p><b>What?</b></p>
			</li>
		</ul>
	</div>
	<div class="g_10 p_1 s_1 section clearfix">
		<ul class="video-list clearfix">
			<li>
				<p class="vol-headline"><b>Small Group Leader Basics</b></p>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="piN2d4ZDoLBW4KhF0eZRQ0FXj-Q0PAwl">
						<span class="icon"></span>
					</a>
					{exp:ce_img:single src="http://images.newspring.cc/section/fuse/heroes/tatum.vol.hero.jpg" width="230" height="120" crop="yes" attributes='class="border"'}
				</div>
			</li>
			<li>
				<p class="vol-headline"><b>What does Fuse mean?</b></p>
				<div class="video-box">
					<a href="#" class="play_button_new ooyala-embed border" data-embed="9sZjJtZTrwERxNUPS1Lt62RbPB488QBn">
						<span class="icon"></span>
					</a>
					<img src="http://images.newspring.cc/section/fuse/heroes/brad.vol.hero.jpg" class="border">
				</div>
			</li>
		</ul>
		<br>
		<p>Interested in being a small group leader? <a href="https://newspring.wufoo.com/forms/volunteer-saved-people-serve-people/">Sign up here.</a> If you are just checking in to brush up on Fuse Volunteer Basics and have any further questions, please <a href="mailto:central.fuse@newspring.cc">email us</a>.</p>
		<p>If you are a current Fuse volunteer who is interested in becoming a small group leader and have NOT spoken with your campus directors yet, please sign up above.</p>
	</div>
	

{ooyala_video}

{exp:ce_cache:escape}
	{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}