{exp:ce_cache:it}

{exp:ce_cache:escape}
	{embed='includes/header' 
		title='Fuse Volunteers' 
		body_id='fuse' 
		body_class="subnav" 
		page_class="page-border"
		group_style="fuse" 
		fb_title="Fuse Volunteers" 
		fb_url="" 
		meta_description='{exp:trunchtml ending="..." chars="250"}{/exp:trunchtml}' 
		fb_describe="{exp:eehive_hacksaw}{/exp:eehive_hacksaw}"
	}
{/exp:ce_cache:escape}

<script src="/assets/backup/old_js/jquery-ui-1.10.3.min.js"></script>
<script src="/assets/backup/old_js/jquery.jcarousel.min.js"></script>

</div><!-- //page - wraps header -->

{embed="includes/_subnav" navtitle="mainnav"}

<div id="subnav_page" class="volunteers c_12 clearfix page-border">
	{embed="includes/_trinav" navtitle="mainnav"}

	<div class="g_12 clearfix">
		<h2>Develop Your Leadership</h2>
	</div>
	<div class="g_4">
		<a href="http://newspring.cc/watch/upgrade/impact" title="Impact · 03.29.2011">
			<span class="episode title">Impact</span>
			{exp:ce_img:single src="http://images.newspring.cc/section/series/newspring/upgrade.png" width="300" height="128" crop="yes" attributes='alt="Upgrade Image" class="placeholder"'}
		</a>
	</div>

	<div class="g_4">
		<a href="http://newspring.cc/watch/i-love-the-80s/saved-people-serve-people" title="Saved People Serve People · 08.16.2010">
			<span class="episode title">Saved People Serve People</span>
			{exp:ce_img:single src="http://images.newspring.cc/section/series/newspring/Iheartmy80s.png" width="300" height="128" crop="yes" attributes='alt="I Love the 80s Image" class="placeholder"'}
		</a>
	</div>

	<div class="g_4">
		<a href="http://media.newspring.cc.s3.amazonaws.com/staff/orientation/thermometer.talk.mp3" title="Perry Noble · 08.16.2010">
            <span class="episode title">Thermometer Talk</span>
            <img src="//images.newspring.cc/site/fuse/volunteer/audio.jpg" width="300" height="128" alt="Thermometer Talk" class="placeholder">
        </a>
	</div>

	<div class="hr alt wide"><hr></div>

	{!-- Recommended Books, Blogs, and Videos --}
	<div class="g_12 clearfix">
		<h2>Our Favorites</h2>
	</div>

	<a href="http://www.amazon.com/Leaders-Who-Last-Dave-Kraft/dp/1433513188/" class="g_4 placeholder small">
		<img src="//images.newspring.cc/site/fuse/volunteer/leaderswholast.jpg" />
		<p class="book-title"><strong>Leaders Who Last</strong><br /></p>
	</a>

	<a href="http://www.amazon.com/Energy-Bus-Rules-Fuel-Positive/dp/0470100281/" class="g_4 placeholder small">
		<img src="//images.newspring.cc/site/fuse/volunteer/energybus.jpg" />
		<p class="book-title"><strong>The Energy Bus</strong><br /></p>
	</a>

	<a href="http://www.amazon.com/Next-Generation-Leader-Essentials-Future/dp/1590525396/" class="g_4 placeholder small">
		<img src="//images.newspring.cc/site/fuse/volunteer/nxtgen.jpg" />
		<p class="book-title"><strong>Next Generation Leader</strong></p>
	</a>

	<a href="http://www.amazon.com/Dont-Waste-Your-Life-Gift/dp/1581346107/" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/dontwaste.jpg" />
        <p class="book-title"><strong>Don't Waste Your Life</strong></p>
    </a>


	<a href="http://www.amazon.com/EntreLeadership-Practical-Business-Wisdom-Trenches/dp/1451617852/" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/entre.jpg" />
        <p class="book-title"><strong>EntreLeadership</strong></p>
    </a>


	<a href="http://www.amazon.com/Systematic-Theology-Introduction-Biblical-Doctrine/dp/0310286700/" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/systematic.jpg" />
        <p class="book-title"><strong>Systematic Theology</strong></p>
    </a>





	{!-- Blogs/Audio --}

	<a href="http://perrynoble.com" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/perry.jpg" />
        <p class="book-title"><strong>Perry Noble's Blog</strong></p>
    </a>


	<a href="http://desiringgod.org" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/desiring.jpg" />
        <p class="book-title"><strong>Desiring God</strong></p>
    </a>

	
	<a href="http://theresurgence.com" class="g_4 placeholder small">
        <img src="//images.newspring.cc/site/fuse/volunteer/resurgence.jpg" />
        <p class="book-title"><strong>The Resurgence</strong></p>
    </a>

<div class="hr alt wide"><hr></div>

    <div class="g_12 clearfix">
		<h2>Stay in Touch</h2>
		<div class="g_4 g_a p_2">
			<a href="/fuse/blog" class="btn larger-text">Fuse Blog</a>
		</div>
		<div class="g_4 g_o s_2">
			<a href="http://twitter.com/bcoop" class="btn larger-text">Coop's Tweets</a>
		</div>
	</div>

<div class="hr alt wide"><hr></div>

	<div class="g_12 clearfix">
		<h2>Care Resources</h2>
		<div class="g_3 g_a">
			<a href="http://media.newspring.cc/doc/fuse/fuse.baptism.facts.pdf" class="btn">Baptism Facts</a>
		</div>
		<div class="g_3"><a href="http://media.newspring.cc/doc/fuse/fuse.care.topic.cards.pdf" class="btn">Topic Cards</a></div>
		<div class="g_3"><a href="http://media.newspring.cc/doc/fuse/091212.fuse.romansroad.pdf" class="btn">Explanation of Salvation</a></div>
		<div class="g_3 g_o">
			<a href="http://media.newspring.cc/doc/fuse/090512.fuse.biblereferences.pdf" class="btn">Topical Bible Refs</a>
		</div>
	</div>

{ooyala_video}

{exp:ce_cache:escape}
	{embed='includes/footer'}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}