{exp:ce_cache:it}
{exp:ce_cache:escape}
  {embed='includes/header' 
    title='Fuse Israel Trip' 
    body_id='fuse' 
    body_class="subnav israel" 
    page_class="page-border"
    group_style="{segment_1}" 
    group_script="{segment_1}"
    fb_title="Fuse Student Ministry" 
    fb_url="{path={segment_1}}" 
    meta_description='Fuse is the weekly gathering of the NewSpring Student Ministry. We’re dedicated to providing a place for students (6th -12th grade) to connect with God, with other students, and with older leaders that are dedicated to seeing students grow closer to Christ.' 
    fb_describe="{exp:eehive_hacksaw}Fuse is the weekly gathering of the NewSpring Student Ministry. We’re dedicated to providing a place for students (6th -12th grade) to connect with God, with other students, and with older leaders that are dedicated to seeing students grow closer to Christ.{/exp:eehive_hacksaw}"
  }
{/exp:ce_cache:escape}

</div><!-- //page - wraps header -->

{embed="includes/_subnav" navtitle="mainnav"}

<div id="subnav_page" class="c_12 clearfix page-border">

{embed="includes/_trinav" navtitle="mainnav"}

<div id="hero" class="g_12">
  <img src="//images.newspring.cc/site/fuse/fuse.israel2.jpg" alt="Fuse Israel Hero Image">
</div><!-- end #hero -->

  <div class="section g_8 p_2 s_2">
    <h2 class="israel-section-heading">June 16 &ndash; 24, 2014</h2>
    <h3 class="students">9th, 10th, 11th &amp; 12th Grade Students ONLY</h3>
    <p class="gauntlet">If you participate in the Israel trip you are pre-registered and<br> paid for to be a part of Gauntlet 2014.</p>
   <script src='http://player.ooyala.com/v3/ZmJmNTVlNDk1NjcwYTVkMzAzODkyMjg0'></script><div id='ooyalaplayer' style='width:640px;height:360px'></div><script>OO.ready(function() { OO.Player.create('ooyalaplayer', 'ZqbzJkZTpe_PruL-uTzl7BelFEb2A4mj'); });</script><noscript><div>Please enable Javascript to watch this video</div></noscript>
	</div>

	<div id="israel-signup" class="section g_10 p_1 s_1">
		<p class="halves">Age should never hold anyone back from experiencing the Bible like never before. That's why Fuse is giving any students in 9th, 10th, 11th &amp; 12th Grade Students ONLY the opportunity to go to Israel this spring! During this trip you will move from reading the Bible to experiencing the Bible as you walk where Jesus walked and see what Jesus saw. Brad Cooper and Perry Noble will be teaching every day at locations like the sea of Galilee, the city of Jerusalem, the garden of Gethsemane, and many more. Not only will you see the Bible unfold before you in a brand new way, you'll also be staying in First Class hotels and eating great food during your 9-day stay. Join high school students all over the state and sign up for the Fuse Israel Trip. You don't have to wait to experience God's word in a life changing way. You can do it now, sign up for the Fuse Israel Trip today!</p>
    <p class="green-button"><a href="http://www.faithbasedexpeditions.com/tours/view/197" title="Israel Trips Information">Sign up for the 9-Day Israel Trip</a></p>
	</div>	

  <div class="p_2 g_8 s_2">
    <h2 class="pricing-heading">Price: $2,815.00</h2>
    <h3 class="includes">This package includes:</h3>
  </div>
    
   <div class="p_2 g_4">
    <ul>
      <li><span class="pictos">2</span> International Coach Airfare</li>
      <li><span class="pictos">2</span> Hotel Accommodations</li>
      <li><span class="pictos">2</span> Air Conditioned Motor-Coaches</li>
      <li><span class="pictos">2</span> Entrance Fees to sites visited</li>
      <li><span class="pictos">2</span> Gauntlet 2014 ticket</li>
    </ul>
  </div>
  
  <div class="g_4 s_2">
    <ul>
      <li><span class="pictos">2</span> English speaking guides</li>
      <li><span class="pictos">2</span> English speaking drivers</li>
      <li><span class="pictos">2</span> Gratuity for driver, guides, &amp; hotels</li>
      <li><span class="pictos">2</span> Daily breakfast and dinner in hotels</li>
    </ul>
  </div>

  <div class="g_12 bottom-border"></div>
  

  <div id="questions" class="p_2 g_8 s_2">
      <h2>Have Questions?</h2>
      <p class="bottom">Email us at <a href="mailto:fuse2israel@newspring.cc">fuse2israel@newspring.cc</a> or
      watch the<br> <a href="/fuse/israelmeeting">Fuse Israel Trip Informational Meeting</a></p>
	</div>
</div>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}
