{embed="includes/header" 
	title="Fuse Israel Trip Meeting" 
	body_id="israelmeeting" 
	group_style="{segment_1}"
	fb_url="{path={segment_1}}" 
	fb_title="Fuse Israel Trip Meeting" 
	fb_describe=""
	fb_image=""
}

</div><!-- //page - wraps header -->

{embed="includes/_subnav" navtitle="mainnav"}

<div id="subnav_page" class="c_12 clearfix page-border">

  {embed="includes/_trinav" navtitle="mainnav"}

<div class="c_12 clearfix">
 <div id="hero" class="g_12 border">
    <img src="//images.newspring.cc/site/fuse/fuse.israel2.jpg" alt="Fuse Israel Hero Image">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="xnZTRkZjq5Wv4BMbc9o5mnXWJGkWpAiN">
        <span class="icon"></span>
        <span class="text">Watch Video</span>
      </a>
  </div><!-- end #hero -->


  <div id="page_content" class="g_12">
    <div id="fuse-trip" class="section g_8 p_2 s_2">
      <h1>Fuse Israel Trip Informational Meeting</h1>
    </div>
    <div class="g_6 g_a">
      <h2>What's This Class About</h2>
      <p>The Fuse to Israel Parent Meeting is a 27 minute video of Pastor Perry and Jason Moorhead answering the questions you have been asking. In this time you'll hear answers to questions regarding safety, food, transportation, payment, and an overview of what this trip will look like for the students going. You'll also hear the vision behind this incredible opportunity for our high schoolers in Fuse!</p>

      <p>If you're interested in going to Israel or you're a parent wanting more information, this video is for you!</p>
    </div>
    <div class="g_6 g_o">
      <h2>Things You'll Learn</h2>
      <ul class="topics">
        <li><div class="num"><span>1</span></div>All the Israel trip details and logistics.</li>
        <li><div class="num"><span>2</span></div>All the places students will get to visit.</li>
        <li><div class="num"><span>3</span></div>How we'll keep students safe.</li>
        <li><div class="num"><span>4</span></div>What students need to do to prepare.</li>
      </ul>
    </div>
  </div>
</div>


<div class="hr alt"><hr></div>
<ul class="giving-links clearfix">
  <li class="blackened"><a href="http://newspring.cc/fuse/blog/" title="Visit the Fuse Blog"><em>Want to know more?</em> Visit the<br> Fuse Blog</a></li>
  <li class="blackened"><a href="http://newspring.cc/fuse/watch/" title="Watch Fuse Sermons" ><em>Want to see a service?</em> Watch<br/> Fuse Sermons</a></li>
  <li class="blackened"><a href="http://www.faithbasedexpeditions.com/tours/view/197" title="Sign up for the Fuse Israel Trip"><em>Ready to go?</em> Sign Up for<br>the Fuse Israel Trip</a></li>
</ul>

{ooyala_video}

{embed="includes/footer"}