{layout="_layouts/master"
	title="Budgeting"
	description="Ready to learn more about how to manage your finances? NewSpring offers free budget classes to the community at every campus."
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="How to Make a Budget"
	summary="Ready to learn more about how to manage your finances? NewSpring offers free resources to help you learn how to budget well."
	image_url="{images-global}/newspring/_fpo/fpo.overheadcouple.jpg"
}

<section>
	<div class="shell">
		<div class="grid floating">
			<div class="grid__item one-whole centered">
				<h2>Who Needs a Budget?</h2>
			</div><div class="grid__item floating__item two-thirds portable-one-whole handheld-one-whole">
				<p>These resources are extremely beneficial for folks of all ages (from teen to senior adult). Whether you are struggling with money or you are interested in learning ways to manage your money better, these are for you! Managing money wisely will help you honor God with your finances. If you have a specific question about budgeting, please <a href="mailto:financial.coaching@newspring.cc">email us.</a> We're here to help!</p>
			</div>
		</div>
	</div>
</section>

<section class="section--dark">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item one-whole">
				<h2 class="flush">Get Started Budgeting</h2>
			</div><div class="grid__item one-third portable-one-whole handheld-one-whole">
				<h3>Gather Your Paperwork</h3>
				<p>Stuff like bills, loans, receipts, personal expenses (e.g. cell phones and entertainment), and paycheck stubs.</p>
			</div><div class="grid__item one-third portable-one-whole handheld-one-whole">
				<h3>Set a Date</h3>
				<p>Plan a time with your spouse (if applicable) in a distraction-free environment to tackle your budget together. Bring a calculator!</p>
			</div><div class="grid__item one-third portable-one-whole handheld-one-whole">
				<h3>Fill Out the Form</h3>
				<p>Download a budget form.</p>
				<ul class="link--list">
					<li><a href="http://media.newspring.cc/docs/budget/monthly.budget.form.xlsx" target="_blank" class="link--arrow flush">Monthly Budget Form</a></li>
					<li><a href="http://media.newspring.cc/docs/budget/weekly.budget.form.xls" target="_blank" class="link--arrow flush">Weekly Budget Form</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>

{!-- <section class="section--dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>What Should I Expect?</h2>
			</div><div class="grid__item one-whole">
				<div class="text--constrained">
					<p><b>The Budget Class is a 90-minute group learning environment</b> where you will learn Bible-based money management principles. In this class you will learn how to create a budget that works, live within your means and save money, as well as ask any budget questions that you might have.</p>
				</div>
			</div>
		</div>
	</div>
</section> --}

<section>
	<div class="shell background--fill overlay--solid-dark" style="background-image: url({exp:ce_img:single src='//s3.amazonaws.com/images.newspringcollege.com/NScollege-cip-0033.jpg' width='1700' crop='yes' url_only='yes'});">
		<div class="grid floating floating--left">
			<div class="grid__item floating__item one-half lap-wide-and-down-one-whole handheld-centered">
				<div class="overlay overlay--light">
					<div class="overlay__item">
						<h2>Sign Up for<br>One-on-One Help </h2>
						<p>We offer free, confidential, one-on-one financial coaching. We believe <i>"Plans fail for lack of counsel, but with many advisers they succeed."</i> &mdash;Proverbs 15:22.</p>
						<p>Our coaches are available to help you take your next steps in becoming a good steward of your personal and/or business finances.</p>
						<a href="/finances/coaching" class="btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}