{layout="_layouts/master"
	title="Financial Coaching"
	description="NewSpring offers free, confidential, one-on-one Financial Coaching to the community. You do not need to be a member or attender to meet with one of our trained Financial Coaches. We are here to help you learn how to gain control of your personal finances."
	image="http://s3.amazonaws.com/images.newspringcollege.com/NScollege-cip-0033.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="One-on-One Coaching"
	summary=""
	image_url="//s3.amazonaws.com/images.newspringcollege.com/NScollege-cip-0033.jpg"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-half portable-one-whole handheld-one-whole">
				<p>NewSpring offers free, confidential, one-on-one Financial Coaching to the community. You do not need to be a member or attender to meet with one of our trained Financial Coaches. We are here to help you learn how to gain control of your personal finances.</p>
				<p>In Financial Coaching, you will learn Biblically-based money management principles and techniques in a private, confidential environment designed to give you practical assistance.</p>
				<p>If you have questions before scheduling an appointment, <a href="mailto:financial.coaching@newspring.cc">email us</a> or call us at <a href="tel:+18649659990">864-965-9990</a>.</p>
			</div><div class="grid__item one-half portable-one-whole handheld-one-whole flush handheld-centered">
				<h3>In Coaching You’ll Learn:</h3>
				<ul class="list--bulleted">
					<li>How to create a budget that works</li>
					<li>How to calculate your debt free date</li>
					<li>How to save money</li>
					<li>How to invest money</li>
					<li>How to reduce spending</li>
					<li>How to budget with your spouse</li>
				</ul>
				<a href="https://newspring.wufoo.com/forms/wv7kjx4132nl2h/" target="_blank" class="btn">Make an Appointment</a>
			</div>
		</div>
	</div>
</section>

{!-- <section>
	<div class="shell overlay overlay--gradient-right background--fill" style="background: url(//s3.amazonaws.com/ns.images/newspring/editorial/articles/2453.hero.jpg) center;">
		<div class="grid overlay__item">
			<div class="grid__item seven-twelfths handheld-one-whole centered">
			</div><div class="grid__item five-twelfths handheld-one-whole">
				<div class="overlay--light">
					<h2>Budget Classes</h2>
					<p>Ready to learn more about how to manage your finances? NewSpring offers free budget classes to the community at every campus.</p>
					<a href="/finances/budgetclass" class="btn">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</section> --}

{/exp:ce_cache:it}