{layout="_layouts/master"
	title="Win With Your Money"
	description="God wants to do more than you can ask for or imagine with your money. Is your next step tithing, budgeting, or one-on-one coaching? Let&rsquo;s get started and find out!"
	image="{images-global}/newspring/editorial/articles/newspring.blog.hero.marriage.movingin.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="How to Win With Your Money"
	summary="When we manage money God’s way, the results are life-changing. Is your next step tithing, budgeting, or one-on-one coaching? Let&rsquo;s get started and find out!"
	image_url="{images-global}/newspring/editorial/articles/1040.hero.jpg"
}

<section class="section--black">
	<div class="shell hard">
		<div class="grid border--inset centered flush">
			<div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole flush hard">
				<div class="ratio ratio--square background--fill overlay overlay--solid overlay--light flush" style="background-image: url({exp:ce_img:single src='{images-global}/newspring/financialplanning/macbook-air.jpg' width='1700' crop='yes' url_only='yes'});">
					<div class="floating ratio__item border--inset">
						<div class="floating__item">
							<h3>How To <br> Make a Budget</h3>
							<a href="/finances/budgeting" class="link--arrow">Start Now</a>
						</div>
					</div>
				</div>
			</div><div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole flush hard">
				<div class="ratio ratio--square background--fill overlay overlay--solid overlay--light flush" style="background-image: url(//s3.amazonaws.com/images.newspringcollege.com/NScollege-cip-0033.jpg);">
					<div class="floating ratio__item border--inset">
						<div class="floating__item">
							<h3>One on One <br> Coaching</h3>
							<a href="/finances/coaching" class="link--arrow">Learn More</a>
						</div>
					</div>
				</div>
			</div>{exp:channel:entries entry_id="135037" channel="studies" limit="1" status="Open" show_future_entries="yes" dynamic="off"}<div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole flush hard">
				<div class="ratio ratio--square background--fill overlay overlay--gradient-round overlay--light flush" style="background-image: url({exp:ce_img:single src='{images-global}/newspring/financialplanning/studies.unleashyourfinances.notext.1x1.jpg' width='1700' crop='yes' url_only='yes'});">
					<div class="floating ratio__item border--inset">
						<div class="floating__item">
							<div class="text--padded-sides">
								<h3>{title}</h3>							
							</div>
							<a href="/study/{url_title}" class="link--arrow">View Study</a>
						</div>
					</div>
				</div>
			</div>{/exp:channel:entries}<div class="grid__item one-quarter portable-one-half palm-wide-one-half palm-one-whole flush hard">
				<div class="ratio ratio--square background--fill overlay overlay--solid overlay--light flush" style="background-image: url({exp:ce_img:single src='{images-global}/newspring/editorial/articles/newspring.blog.hero.spiritual.water.2.jpg' width='1700' crop='yes' url_only='yes'});">
					<div class="floating ratio__item border--inset">
						<div class="floating__item">
							<h3>Is Your Next <br> Step Giving?</h3>
							<a href="/give" class="link--arrow">Give Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{!-- <section>
	<div class="shell background--fill overlay--solid" style="background-image: url({exp:ce_img:single src='{images-global}/newspring/financialplanning/financial.planning.2to1.jpg' width='1700' crop='yes' url_only='yes'});">
		<div class="grid floating floating--left">
			<div class="grid__item floating__item five-twelfths lap-wide-and-down-one-whole handheld-centered">
				<div class="overlay overlay--light">
					<div class="overlay__item">
						<h2>Sign Up for<br>One-on-One Help </h2>
						<p>We offer free, confidential, one-on-one financial coaching. We believe <i>"Plans fail for lack of counsel, but with many advisers they succeed."</i> &mdash;Proverbs 15:22.</p>
						<p>Our coaches are available to help you take your next steps in becoming a good steward of your personal and/or business finances.</p>
						<a href="/finanaces/coaching" class="btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}

{!-- <section>
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item one-whole">
				<h2 class="flush">Unleash Your Finances</h2>
			</div>{exp:channel:entries channel="stories" limit="5"}<div class="grid__item one-fifth portable-one-third palm-wide-one-half palm-one-whole">
				<a href="{path='/stories/{url_title}'}" class="link--invisible">
					<div class="ratio--square image--round background--fill" style="background-image:url({entry_image}{exp:ce_img:single src='{entry_image_2x1}' width='1000' crop='yes' url_only='yes'}{/entry_image})" data-lazy-load="{entry_image}{exp:ce_img:single src='{entry_image_2x1}' width='1000' crop='yes' url_only='yes'}{/entry_image}"></div>
				</a>
				<h3>Seminar Video Clip Title</h3>
				 <a href="#" class="link--arrow">Watch Clip</a>
			</div>{/exp:channel:entries}
		</div>
	</div>
</section> --}

{!-- <section>
	<div class="shell background--fill overlay--solid" style="background-image: url({images-global}/newspring/editorial/articles/newspring.blog.hero.nature.heaven.jpg);">
		<div class="grid floating floating--right">
			<div class="grid__item floating__item seven-twelfths lap-wide-and-down-one-whole handheld-centered">
				<div class="overlay overlay--light">
					<div class="overlay__item">
						<h2>Take the 90-Day<br>Tithing Challenge</h2>
						<p>When we bring our first and best back to God, He promises to bless the rest. We can’t outgive God.</p>
						<a href="/give/challenge" class="btn">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}

<section class="section--grey">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2 class="flush">Financial Success Stories</h2>
			</div>{exp:channel:entries channel="stories" entry_id="2416|20896|19859" limit="3"}<div class="grid__item one-third portable-one-whole handheld-one-whole">
				<a href="{path='/stories/{url_title}'}" class="link--invisible">
					<div class="ratio--landscape background--fill" style="background-image:url({entry_image}{exp:ce_img:single src='{entry_image_2x1}' width='1000' crop='yes' url_only='yes'}{/entry_image})" data-lazy-load="{entry_image}{exp:ce_img:single src='{entry_image_2x1}' width='1000' crop='yes' url_only='yes'}{/entry_image}"></div>
				</a>
				<h3>{entry_subtitle}</h3>
				<p>{exp:eehive_hacksaw chars="120" append="&hellip;"}{entry_description}{/exp:eehive_hacksaw}</p>
				 <a href="{path='/stories/{url_title}'}" class="link--arrow">{if entry_video}Watch{if:else}Read{/if} Story</a>
			</div>{/exp:channel:entries}
		</div>
	</div>
</section>

{!-- <section>
	<div class="shell overlay overlay--solid background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/financialplanning/studies.fyfp.cta.2to1.jpg' width='1700' crop='yes' url_only='yes'});">
		<div class="grid overlay__item">
			<div class="grid__item five-twelfths lap-wide-and-down-one-whole handheld-centered">
				<div class="overlay--light overlay__item">
					<h2>Find Your Financial Path</h2>
					<p>Fed up with being stressed out about money? You don't have to live that way anymore. God wants to bless you.</p>
					<a href="http://s3.amazonaws.com/ns.downloads/newspring/collection/studies/financial_28day_reading_guide_42014.pdf" class="btn">Download The Study</a>
				</div>
			</div><div class="grid__item seven-twelfths visuallyhidden--portable visuallyhidden--handheld centered">
			</div>
		</div>
	</div>
</section> --}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2 class="flush">Financial Sermons</h2>
			</div>{exp:channel:entries channel="sermons" entry_id="1208|1220|8725"}<div class="grid__item one-third portable-one-whole handheld-one-whole">
				<a href="{path='/sermons/{exp:playa:children field='series_newspring' var_prefix='series'}{series:url_title}{/exp:playa:children}/{url_title}'}">
					<div class="ratio--landscape background--fill" style="background-image:url({exp:playa:children field="entry_series" var_prefix="series"}{exp:ce_img:single src='{series:collection_image}' width='1000' crop='yes' url_only='yes'}
{/exp:playa:children})" data-lazy-load="{exp:playa:children field="entry_series" var_prefix="series"}{exp:ce_img:single src='{series:collection_image}' width='1700' crop='yes' url_only='yes'}
{/exp:playa:children}"></div>
				</a>
				<h3>{title}</h3>
				<p>{entry_description}</p>
				<a href="{path='/sermons/{exp:playa:children field='series_newspring' var_prefix='series'}{series:url_title}{/exp:playa:children}/{url_title}'}" class="link--arrow">Watch this Sermon</a>
			</div>{/exp:channel:entries}
		</div>
	</div>
</section>

{!-- <section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2 class="flush">Financial Articles</h2>
			</div>{exp:channel:entries channel="articles" entry_id="32998|24480|8726"}<div class="grid__item one-third portable-one-whole handheld-one-whole">
				<a href="{path='/articles/{url_title}'}">
					{editorial_image}
					<div class="ratio--landscape background--fill" style="background-image:url({exp:ce_img:single src='{editorial_image_2x1}' width='1000' crop='yes' url_only='yes'})" data-lazy-load="{exp:ce_img:single src='{editorial_image_2x1}' width='1000' crop='yes' url_only='yes'}"></div>
					{/editorial_image}
				</a>
				<h3>{title}</h3>
				<p>{exp:eehive_hacksaw chars="140" append = "&hellip;"}{editorial_legacy_body}{/exp:eehive_hacksaw}</p>
				<a href="{path='/articles/{url_title}'}" class="link--arrow">Read Article</a>
			</div>{/exp:channel:entries}
		</div>
	</div>
</section> --}

<section class="section--texture section--pattern">
	<div class="shell">
		<div class="grid floating floating--left">
			<div class="grid__item one-whole">
				<h2 class="centered light">2013 Annual Report</h2>
				<div class="text--constrained centered">
					<p>Every number has a name, every name has a story, and every story matters to God. Because of this we’re always going to celebrate numbers at NewSpring!</p>
					<a href="/annualreport" class="btn btn--light">View the Report</a>
				</div>
			</div>
		</div>
	</div>
</section>

{/exp:ce_cache:it}