{exp:ce_cache:it}

{exp:ce_cache:escape}
{embed="includes/header" 
	title="Change My Finances" 
	body_id="unleashfinances" 
	group_style="{segment_1}"
	fb_url="{path={segment_1}}" 
	fb_title="Change My Finances" 
	fb_describe="If you are ready to change your finances, I Was Broke. Now I’m Not. is fired up to help you win with your money, God’s way. In these eight sessions, Joseph Sangl talks about principles and practices that can help you trust God with your money and experience financial success. You can have the best financial year of your life in 2014! Get fired up!"
	fb_image="http://images.newspring.cc.s3.amazonaws.com/section/changemyfinances/hero.changemyfinances.png"
}
{/exp:ce_cache:escape}

<div class="hr alt"><hr></div>
  <div class="g_12 border fle">
      {exp:ce_img:single  src="http://images.newspring.cc.s3.amazonaws.com/section/changemyfinances/hero.changemyfinances.png" add_dims="no"  width="940" height="400" crop="yes"}
  </div>
  <div class="hr alt"><hr></div>

  <div class="section g_12">

    <div class="p_1 g_5 g_a">
      <p>If you are ready to change your finances, <strong><span style="color:red;">I Was Broke.</span> Now I’m Not.</strong> is fired up to help you win with your money, God’s way. In these eight sessions, Joseph Sangl talks about principles and practices that can help you trust God with your money and experience financial success. You can have the best financial year of your life in 2014! Get fired up! </p>
    </div>
    <div class="g_6 g_o">
      <div class="buttons">
        <p><a class="fle-btn" href="http://media.newspring.cc.s3.amazonaws.com/docs/changemyfinances/changemyfinances.pdf" target="_blank">Download Listening Guide</a></p>
        <p><a class="fle-btn" href="#joebio">Joe Sangl's Bio</a></p>
      </div>
    <div class="social_buttons clearfix">
      
        {embed="includes/_share_links" 
                layout="box"
                fb-url="{path={segment_1}}"
                twitter-text="Ready to change your finances? Check this out!" 
                twitter-url="{path={segment_1}}" 
                twitter-hashtag=""
                twitter-via="newspring"
        }

    </div>
    </div>
  </div>

  <div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="52N2JiazrXU8RcHyAtXON8Ja-sBb15KE">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 1</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Change Your Financial Future!</h1>
    <p>What do you need to change this year to bring your finances more in line with God’s work in your life? Is your financial preparation showing that you expect God to do big things in your life or are your stuck in a debt trap? In this session, Joseph Sangl teaches four core principles to empower you to find freedom in your finances and begin to win with money, God’s way.</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/tools/?postTabs=6">Mobile App</a>, <a href="/coaching">Sign up for Financial Coaching</a></strong></p>
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="FkeGRiazqHWQ0rA_jrEL93kaZBISXIRB">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 2</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>How to be Rich - 9 Rungs to a Fully Funded Life</h1>
    <p>Living a fully-funded life means you have the ability to do exactly what you’ve been put on earth to do, regardless of the cost. No matter where you currently are with your finances, you can live a fully-funded life! Joseph Sangl explains in this session the nine rungs of the ladder you can climb and ways that you can remain stable with your finances once you've reached the top rung.</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/tools/?postTabs=2">Saving Tools</a></strong></p>
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="k0OGJiazqnrupvdLb8iUUn90ehXpw6hT">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 3</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>How To Get Paid When You're Not Working</h1>
    <p>There are only two possible outcomes for your finances: emptiness or abundance. The key to living abundantly with your finances is ensuring that you have enough oxen in your life to lead the way to financial freedom through hard work and inspired effort. Do you have oxen in your life? Are you taking care of the oxen you have?</p>
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="5yN2JiazpOwGOTFbsqTPPfdrUswSX04M">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 4</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Funding Your Plans, Hopes, and Dreams</h1>
    <p>Do you have a big dream that you’re scared to talk about because you’re sure someone will say you’re dumb for dreaming it? The great news is that God is in the miracle business and He wants you to have big dreams that will bring Him glory! But we have to start preparing financially, trusting that God wants to work miracles in our lives and make our big dreams happen. Do you know how much the big dream God has given you will cost? Are you financially ready it?</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/next-steps/banking/?postTabs=0">Great On-Line Banks</a></strong></p>
  </div>
</div>

<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="l4N2Jiazr1mkK2_xFM7Mqp6_bXifNMh2">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 5</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Budgeting</h1>
    <p>Are you scared of budgeting? Does a budget seem pointless to you? Think again! A budget is the engine of financial planning that will propel you toward your financial plans, hopes and dreams. In this session, Joseph Sangl tells you the importance of budgeting and gives tips on how to successfully plan your money so that you can anticipate God’s blessings in your finances.</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/tools/?postTabs=0">Budgeting Tools</a></strong></p>
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="kwOGJiazo-u0RXgG-py5p10nlDBmBIBI">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 6</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Debt Elimination</h1>
    <p>No matter how big it is, you can be freed from your debt! Having debt freedom will transform how you view money and how you live your life. In this session, Joseph Sangl explains how to use a Debt Freedom Calculator and talks about the importance of setting a date to be free from your debt.</p>
    <p><strong>Links for this session:<br/>  <a href="http://iwasbrokenowimnot.com/tools/?postTabs=1">Debt Tools</a><br/>  <a href="http://iwasbrokenowimnot.com/tools/?postTabs=4">Visual Debt Pay-Off Tracking</a><br/>  <a href="http://www.josephsangl.com/2011/07/19/0-percent-balance-transfer-credit-card/">0% Balance Transfer Credit Cards</a></strong></p>  
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="k2OGJiazo0xFnvC7t3GVHQGZT6qGVFFi">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 7</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Retirement Calculation</h1>
    <p>It’s a day that comes for all of us at one point in our lives. After years of work, we get tired and we all want to do one thing: retire. And when retirement comes, you leave behind one of two things: an inheritance for your children’s children or a legacy of debt. Are you on track to live and pass on a financially blessed life?</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/tools/?postTabs=3">Financial Calculators</a></strong></p>
  </div>
</div>

  
<div class="video-wrapper clearfix section">
  <div class="g_4">
    <div class="video-box">
      <a href="#" class="play_button_new ooyala-embed border" data-embed="5wN2JiazpR-Xwrkjs8Jz3ImgQXV9NwYc">
      <span class="icon"></span>
      <span class="text">Watch Video</span>
      </a>
      <h2>Session 8</h2>
    </div>
  </div>

  <div class="g_8">
    <h1>Compound Interest and Investing</h1>
    <p>Are your current investments matching the work of God? Are you living in the belief that Jesus is enough and God owns your finances? In this session, Joseph Sangl wraps up by talking about compound interest and how having it helps push us toward financial success.</p>
    <p><strong>Links for this session: <a href="http://iwasbrokenowimnot.com/next-steps/banking/?postTabs=2">Investing Links</a></strong></p> 
  </div>
</div>

<div id="joe">
    <div id="joebio" class="g_4">
      {exp:ce_img:single src="http://images.newspring.cc.s3.amazonaws.com/site/leadership/joe.jpg" add_dims="no"  width="200" height="200" crop="yes"}
    </div>
        <div class="g_8">
        <p>Joseph Sangl is a leading teacher of personal finances. It is his passion to help people accomplish far more than they ever thought possible in this area of their lives. He believes when people are financially free, they are able to do exactly what they have been put on Earth to do - regardless of income potential. He is the founder of <strong><span style="color:red;">I Was Broke.</span> Now I’m Not.</strong>, an organization that provides financial teaching through live events, print and web resources.</p>
        <p>Joseph has authored four books: <strong><span style="color:red;">I Was Broke.</span> Now I’m Not.</strong>, What Everyone Should Know About Money Before They Enter the Real World, Funded and Free, and Oxen: The Key to an Abundant Harvest.</p>
        <p><strong>Recommend Links:<br/> <a href="https://iwbnin.infusionsoft.com/app/storeFront/showProductDetail?productId=106">Purchase all of Joe's Books & Studies</a><br/>  <a href="https://iwbnin.infusionsoft.com/app/storeFront/showCategoryPage?categoryId=33">View all of Joe's resources</a></strong></p> 
    </div>
  </div>

<div class="hr alt"><hr></div>
<ul class="giving-links clearfix">
  <li class="blackened"><a href="{path=coaching}" title="Learn more about our Financial Coaching"><em>Need help with your finances?</em> Get Free<br> Financial Coaching</a></li>
  <li class="blackened"><a href="{path=nextsteps/care}" title="Care and Prayer" ><em>Need prayer or a listening ear?</em> Talk To <br/> The Care Team</a></li>
  <li class="blackened"><a href="{path=give/challenge}" title="View 90-Day Tithe Challenge"><em>You Can't Outgive God</em> 90-Day<br> Tithe Challenge</a></li>
</ul>

{ooyala_video}

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}