{exp:ce_cache:it}
{exp:ce_cache:escape}
	{embed="includes/header"
		body_id="{segment_1}"
		body_class="subnav"
		page_class="page-border"
		group_style="{segment_1}"
		use_alt=""
		title="NewSpring Network"
		fb_title="NewSpring Network"
		fb_describe="An online community designed to equip churches who are reaching people far from God by helping them develop leaders and resourcing them with tools needed to build the Church."
	}
{/exp:ce_cache:escape}

<div id="network">
	<div id="hero" class="g_12">
		{!-- Video Placeholder --}
		{exp:ce_img:single src="//ns.images.s3.amazonaws.com/network/unleash.hero.whatsnext.jpg" width="940" height="400" crop="yes" attributes='alt="What's Next For Unleash Ministries? Learn More About the NewSpring Network" title="What's Next"'}
		<a href="#" class="play_button_new ooyala-embed border" data-embed="BidXMxbjoEY5D_wrb8aM1-KMLnSEkGnT">
			<span class="icon"></span>
		</a>
		{!-- /Video Placeholder --}
	</div>
	{ooyala_video}

	<div class="network-content">

		{!-- Infusionsoft Thank You --}
		<div class="thank-you g_10 s_1 p_1">
			<h1>Thank You</h1>
			<h3>Your Submission Was Successful</h3>
			<p>You should be receiving a confirmation email within 15minutes, please click the link in the email to confirm your subscription.</p>
			<a href="/network">Back to NewSpring Network <i class="fa fa-angle-right"></i></a>
		</div>
		{!-- /Infusionsoft Thank You --}

		{!-- Connect --}
		<div class="connect g_12">
			<ul>
				<li><a href="https://twitter.com/NewSpringNet" target="_blank"><i class="fa fa-twitter"></i> - @NewSpringNet</a></li>
				<li><a href="https://www.facebook.com/newspringnetwork" target="_blank"><i class="fa fa-facebook"></i> - NewSpring Network</a></li>
				<li><a href="http://instagram.com/newspringnet" target="_blank"><i class="fa fa-instagram"></i> - NewSpringNet</a></li>
			</ul>
		</div>
		{!-- /Connect --}

	</div>
</div>

<script>
function convertToServerTimeZone(dateToSet) {

    var year = dateToSet.getUTCFullYear()
    var month = dateToSet.getUTCMonth()
    var days = dateToSet.getUTCDate()
    var hours = dateToSet.getUTCHours()
    var minutes = dateToSet.getUTCMinutes()
    var seconds = dateToSet.getUTCSeconds()

    serverDate = new Date(year, month, days, hours - 5, minutes, seconds)

    return serverDate


};

	//start visible countdown on screen
function startCountdown(target_date, target, aftertext) {
    // set the date we're counting down to
    console.log(target_date)
    // variables for time units
    var days, hours, minutes, seconds,
        // get tag element
        countdown = target;

    // update the tag with id "countdown" every 1 second
    var countdownTimer = window.setInterval(function() {

        // find the amount of "seconds" between now and target
        var current_date = convertToServerTimeZone(new Date()),
            seconds_left = (target_date - current_date) / 1000;


        if (seconds_left >= 0) {

            // do some time calculations
            days = parseInt(seconds_left / 86400);
            seconds_left = seconds_left % 86400;

            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;

            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);

            //  TODO ** Write better way to format date

            // format countdown string
            if (days != 0) $('#countdown').text(days + " days " + hours + " hours " + minutes + " minutes ");
            if (days === 0 && hours != 0) $('#countdown').text(hours + " hours " + minutes + " minutes " + seconds + " seconds ");
            if (days === 0 && hours === 0) $('#countdown').text(minutes + " minutes " + seconds + " seconds ");
            if (days === 0 && hours === 0 && minutes === 0) $('#countdown').text(seconds + " seconds ");
        } else {
            clearInterval(countdownTimer)
            $('#countdown').text(aftertext)
        }
    }, 1000);

};

var countdownLocation = $('#countdown'),
	networkLaunch = new Date(2014, 08, 28),
	afterText = "Visit the Site!";

startCountdown(networkLaunch, $('#countdown'), afterText);

function networkAccordion() {
	if($("#network-interest").hasClass("hidden")) {
		$("#network-interest").removeClass("hidden");
	} else {
		$("#network-interest").addClass("hidden");
	}
};

function emailAccordion() {
	if($("#email-updates").hasClass("hidden")) {
		$("#email-updates").removeClass("hidden");
	} else {
		$("#email-updates").addClass("hidden");
	}
};

$('a[href^="#"]').on('click',function (e) {
    e.preventDefault();

    var target = this.hash,
    $target = $(target);

    $('html, body').stop().animate({
      'scrollTop': $target.offset().top
    }, 900, 'swing', function () {
      window.location.hash = target;
  });
});

</script>

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}
