{layout="_layouts/master"
	title="Get NewSpring Apps"
	description="Watch, read &amp; stay connected on iOS, Android and Windows Phone"
	image=""
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}


{embed="newspring:_embeds/_non-hero"
	overlay="overlay--light"
	title="Get Apps"
	subtitle="Watch, Read &amp; Stay Connected"
    image_url="{images-global}/newspring/editorial/default/cedar.2to1.jpg"
    image_classes=""
}

<section class="section--grey section--condensed">
	<div class="shell">
		<div class="grid grid--enclosed">
			<div class="grid__item one-third palm-one-whole palm-wide-one-half centered" >
				<div class="ratio ratio--square flush">
					<div class="ratio__item background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.apps.ios.01.png' width='1000' crop='yes' url_only='yes'});"></div>
				</div>
				<div class="card">
					<h3>iOS App</h3>
					<a href="http://itunes.apple.com/us/app/newspring-church/id492113528?ls=1&mt=8" class="link--arrow" title="Download the NewSpring Church iOS App">Download</a>
				</div>
			</div><div class="grid__item one-third palm-one-whole palm-wide-one-half centered">
				<div class="ratio ratio--square flush">
					<div class="ratio__item background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.apps.android.01.png' width='1000' crop='yes' url_only='yes'});"></div>
				</div>
				<div class="card">
					<h3>Android App</h3>
					<a href="https://play.google.com/store/apps/details?id=com.subsplash.thechurchapp.newspringchurch" class="link--arrow" title="Download the NewSpring Church Android App">Download</a>
				</div>
			</div><div class="grid__item one-third palm-one-whole palm-wide-one-half centered" >
				<div class="ratio ratio--square flush">
					<div class="ratio__item background--fill" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.apps.windows.png' width='1000' crop='yes' url_only='yes'});"></div>
				</div>
				<div class="card">
					<h3>Windows Phone App</h3>
					<a href="http://www.windowsphone.com/en-us/store/app/newspring/70345330-8f89-4402-93d6-0340a2eac158" class="link--arrow" title="Download the NewSpring Church Windows Phone App">Download</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell overlay overlay--solid overlay--gradient-top image--fixed hard--bottom" style="background-image: url({exp:ce_img:single src='{images-global-origin}/{site_short_name}/editorial/devotionals/hero.devotional.jpg' width='1700' crop='yes' url_only='yes'});">
		<div class="text--constrained">
			<div class="grid floating floating--left overlay__item">
				<div class="grid__item floating__item one-half lap-wide-and-down-one-whole portable-centered handheld-centered">
					<div class="overlay--light overlay__item">
						<h2>YouVersion<br>Bible App</h2>
						<a href="https://www.bible.com/app" target="_blank" class="btn">Get It Now</a>
					</div>
				</div><div class="grid__item floating__item one-half handheld-one-whole flush">
					<div class="ratio--square background--fill flush" style="background-image: url({images-global-origin}/newspring/_fpo/fpo.apps.youversion.png);">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{/exp:ce_cache:it}