{layout="_layouts/master"
	title="{layout:title}"
	description="{layout:description}"
	image="{layout:image}"
	page_type="{layout:page_type}"
	article_section="{layout:article_section}"
	tags="{layout:tags}"
	publish_time="{layout:publish_time}"

	google_author="{layout:google_author}"
	google_page_profile="{layout:google_page_profile}"

	twitter_publisher="{layout:twitter_publisher}"
	twitter_author="{layout:twitter_author}"

	facebook_profile="{layout:facebook_profile}"
	facebook_app="{layout:facebook_app}"

	section_style="{if layout:section_style != ''}{layout:section_style}{/if}"
	section_script="{if layout:section_script != ''}{layout:section_script}{/if}"

	typekit="{layout:typekit}"

	meta="{layout:meta}"
	footer="{layout:footer}"
}

{!--
	This layout will only display page contents if the user is logged in and not in the Resource or Disabled LDAP Users member group.
--}

{if logged_in AND (member_group != "20" OR member_group != "39")}

	{layout:contents}

{if:else}

	{embed="newspring:_embeds/_signin"}

{/if}
