<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{if embed:page_title}{embed:page_title} | {/if}NewSpring Church</title>
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <meta name="author" content="NewSpring Church">

        <meta name="description" content="ADD DESCRIPTION">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="shortcut icon" href="//images.newspring.cc/site/icons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="//images.newspring.cc/site/icons/apple.touch.png" type="image/x-icon">
        <meta property="og:title" content="Christmas at NewSpring | NewSpring Church" />

        <meta property="og:image" content="ADD IMAGE"/>
        <meta property="og:description" content="ADD DESCRIPTION"/>

        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://newspring.cc/christmasatnewspring/" />
        <meta property="og:site_name" content="NewSpring Church" />
        <meta property="fb:admins" content="179200359" />
        <meta property="fb:app_id" content="167012243402263" />

        <link type="text/css" rel="stylesheet" media="screen" charset="utf-8" href="{exp:cache_buster file='/assets/css/{site_short_name}/v4.min.css'}">

        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/ice7qhs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/modernizr.js" type="text/javascript"></script>
        <script src="/assets/backup/old_js/cross_browser.js" type="text/javascript"></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="/assets/backup/old_js/flexslider.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/NewSpring.Utilities.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/scrolling/jquery.easing.min.js" type="text/javascript" charset="utf-8"></script>
        <!-- Sticky Navigation -->
        <script src="/assets/backup/old_js/scrolling/jquery.sticky.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/main.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/scrolling/skrollr.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/v4/jquery.hoverIntent.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/backup/old_js/v4/scripts.js" type="text/javascript" charset="utf-8"></script>