<section id="subnav" {if embed:sticky == 'y'}class="sticky"{/if}>
    <div class="shell">
        <div class="grid">{!--
         --}<div class="grid__item  one-whole">
                <h1>{embed:page_title}</h1>
                <ul>
                    <li><a href="/0v4test/locations">Campus Details</a></li>
                    <li><a href="/0v4test/newhere">Campus Staff</a></li>
                    <li><a href="/0v4test/nextsteps">Campus History</a></li>
                </ul>
            </div>{!--
     --}</div>
    </div>
</section>