{exp:ce_cache:it}

{exp:ce_cache:escape}
  {embed="includes/header" 
  	title="Uganda" 
  	body_id="uganda" 
  	body_class="ministries" 
  	style="fancybox"
  	group_style="{segment_1}"
  	fb_url="{path={segment_1}}" 
  	fb_title="Uganda" 
  	fb_describe=""
  	fb_image=""
  }
{/exp:ce_cache:escape}

<script src="/assets/backup/old_js/jquery-ui-1.10.3.min.js"></script>

<div id="hero" class="g_12">
  {exp:ce_img:single src="http://images.newspring.cc/site/heroes/ugandahero.jpg" width="940" height="400" crop="yes"}
</div><!-- end #hero -->

<div class="uganda-wrapper">
  <div class="g_10 s_1 p_1">
      <h1>About The Uganda Trip</h1>
      <p class="halves">
      <span>“…and you will be my witnesses in Jerusalem, and in all Judea and Samaria, and to the ends of the earth.” – Acts 1:8</span>
      At NewSpring Church we are partnering with local churches across the world to reach people for Jesus.

      NewSpring Church is partnering with Freedom Church and planning several trips over the next few years. You can find out more about Freedom Church <a href="http://www.freedomchurch.cc/" target="_blank">here</a>. We will be going to Kampala, Uganda. As the capital of Uganda, Kampala is an urban area with over 1.7 million people living in the city. It’s located just north of the equator, so don’t forget your sunscreen! We will work with the Kampala campus of Freedom Church to help change their community and reach people for Jesus.

      If you’re interested in going with us to Uganda on one of the upcoming trips, please email us <a href="mailto:missions@newspring.cc">missions@newspring.cc</a>.</p>
  </div>

  <div class="g_4 p_4 s_4 section">
    <p class="uganda-btn"><a href="https://newspring.wufoo.com/forms/mtw43jj0d09ox4/" target="_blank">Sign Up Today</a></p>
  </div>

  <div class="g_8 s_2 p_2">
    <h1>Frequently Asked Questions</h1>
    <div id="accordion" class="salvation">
          <h5>What is the age requirement to participate on a NewSpring Mission trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>For these trips we ask for the participants to be at least 16 years old. Anyone under the age of 18 must have parental consent to participate on a trip.</p>
              </li>
            </ul>
          </div>
          <h5>Do I have to be a owner of NewSpring Church to apply for the trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>No, you do not have to be a NewSpring owner to apply. Learn more about <a href="{path=/ownership}">Ownership</a> at NewSpring.</p>
              </li>
            </ul>
          </div>
          <h5>Do I have to attend NewSpring Church to apply for the trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>Those that attend our campuses will be given a higher priority than those who don’t. You must be willing to attend and be an active part of the team meetings (approximately 3 meetings).</p>
              </li>
            </ul>
          </div>
          <h5>What is the cost of a trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>$3,500</p>
              </li>
            </ul>
          </div>
          <h5>What is covered in the cost of the trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>The cost of your trip includes airfare, hotel, meals, and transportation while in Uganda. You will be responsible for your meals and snacks in the airports and for any souvenirs you would like to purchase. Additional cost may include an up-to-date passport, any shots you choose to get, and $50 for a visa upon arrival in Uganda.</p>
              </li>
            </ul>
          </div>
          <h5>Is a passport required? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>Yes. Traveling outside the United States requires an up-to-date passport.</p>
              </li>
            </ul>
          </div>
          <h5>I did not receive a confirmation email. Did my application go through? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>No. Please fill out the <a href="https://newspring.wufoo.com/forms/mtw43jj0d09ox4/">application</a> again. You will receive a confirmation email once your application is submitted.</p>
              </li>
            </ul>
          </div>
          <h5>What happens to my application if I’m not selected for a specific trip? <div class="arrow"></div></h5>
          <div>
            <ul>
              <li>
                <p>If you are not selected your application goes into a “waiting list.” If another trip leader is still looking for people for his or her team, then they may contact you to see if you are interested.</p>
              </li>
            </ul>
          </div>
      </div>
  </div>

  <div class="g_12 section"></div>

  <div class="g_8 s_2 p_2">
      <h1>Any Additional Questions?</h1>
      <p class="email">If we did not answer your questions about the trip, please email us at <a href="mailto:missions@newspring.cc">missions@newspring.cc</a> for more details.</p>
  </div>
</div>

<script>
    $('document').ready(function(){
      $( "#accordion" ).accordion({
        heightStyle: "content",
          collapsible: true,
          autoHeight: true,
          animate: 150
      });
    });
</script>

{exp:ce_cache:escape}
  {embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}
