{layout="_layouts/master"
	title="Serving"
	description="We believe that saved people serve people. God has given us all gifts to equip and serve other people inside and outside of our church."
	image="http:{images-global}/{site_short_name}/serving/carecoffee.2to1.jpg"
	page_type=""
	article_section=""
	tags=""
	publish_time=""

	google_author=""
	google_page_profile=""

	twitter_publisher=""
	twitter_author=""

	facebook_profile=""
	facebook_app=""

	typekit=""

	section_style=""
	section_script=""

	meta=""
	footer=""
}

{layout:set name="meta"}
	{!-- Add additional meta tags here --}
{/layout:set}

{exp:ce_cache:it id='contents' seconds="0"}

{embed="newspring:_embeds/_hero"
	title="Serving"
	{!-- summary="We believe that saved people serve people. God has given us all gifts to equip and serve other people inside and outside of our church." --}
	video="serving,lxdGFzbTqnqLgwZgsjKjIX1tvDZ9ehOx"
	image_url="{images-global}/{site_short_name}/serving/carecoffee.2to1.jpg"
}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Choose a Ministry</h2>
				<div class="text--constrained">
					<p>There are many opportunities to serve at NewSpring. We want you to find the one that best suits your passion, personality, and availability. If you have already joined NewSpring and are ready to serve, select one of the ministries below to get started.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell hard">
		<div class="grid flush">
			<div class="grid__item one-whole overlay overlay--solid-dark background--fill flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.Fuse.DropOff2.jpg' width='1000' crop='yes' url_only='yes'});">
				<div class="overlay__item overlay--light text--constrained soft">
					<div class="grid">
						<div class="grid__item one-half handheld-one-whole flush handheld-centered">
							<h2>Fuse</h2>
							<p>Help middle school and high school students grow in their faith and see lives changed as they follow Jesus.</p>
							<a href="https://newspring.wufoo.com/forms/zg3n9yl1t97u00/def/Field225={current_url}" target="_blank" class="btn btn--light">Sign Up</a>
						</div>
					</div>
				</div>
			</div>

			<div class="grid__item one-whole overlay overlay--solid-dark background--fill flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.KidSpringWagon.jpg' width='1000' crop='yes' url_only='yes'});">
				<div class="overlay__item overlay--light text--constrained soft">
					<div class="grid right">
						<div class="grid__item one-half handheld-one-whole flush handheld-centered">
							<h2>KidSpring</h2>
							<p>Help children experience Jesus on their level. Serve kids up to the 5th grade in a safe, clean, and fun environment.</p>
							<a href="https://newspring.wufoo.com/forms/zg3n9yl1t97u00/def/Field225={current_url}" target="_blank" class="btn btn--light">Sign Up</a>
						</div>
					</div>
				</div>
			</div><div class="grid__item one-whole overlay overlay--solid-dark background--fill flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.GreenRoomWide.jpg' width='1000' crop='yes' url_only='yes'});">
				<div class="overlay__item overlay--light text--constrained soft">
					<div class="grid">
						<div class="grid__item one-half handheld-one-whole flush handheld-centered">
							<h2>Guest Services</h2>
							<p>Help create welcoming environments for every NewSpring guest. Every first impression makes a huge impact!</p>
							<a href="https://newspring.wufoo.com/forms/zg3n9yl1t97u00/def/Field225={current_url}" target="_blank" class="btn btn--light">Sign Up</a>
						</div>
					</div>
				</div>
			</div><div class="grid__item one-whole overlay overlay--solid-dark background--fill flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.NextSteps2.jpg' width='1000' crop='yes' url_only='yes'});">
				<div class="overlay__item overlay--light text--constrained soft">
					<div class="grid right">
						<div class="grid__item one-half handheld-one-whole flush handheld-centered">
							<h2>Next Steps</h2>
							<p>Help equip people to follow Jesus step by step. There are opportunities to serve with events, Baptism, Groups, and Care.</p>
							<a href="https://newspring.wufoo.com/forms/zg3n9yl1t97u00/def/Field225={current_url}" target="_blank" class="btn btn--light">Sign Up</a>
						</div>
					</div>
				</div>
			</div><div class="grid__item one-whole overlay overlay--solid-dark background--fill flush" style="background-image: url({exp:ce_img:single src='{images-global-origin}/newspring/_fpo/fpo.Music3.jpg' width='1000' crop='yes' url_only='yes'});">
				<div class="overlay__item overlay--light text--constrained soft">
					<div class="grid">
						<div class="grid__item one-half handheld-one-whole flush handheld-centered">
							<h2>Production</h2>
							<p>Help provide excellent services that engage everyone that attends. There are opportunities to serve with audio, visual, and lighting.</p>
							<a href="https://newspring.wufoo.com/forms/zg3n9yl1t97u00/def/Field225={current_url}" target="_blank" class="btn btn--light">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Need Help?</h2>
				<p class="text--constrained">If you're not sure where to start, let us know and someone will be in touch with you to help you take your next step in serving.</p>
				<a href="mailto:hello@newspring.cc" class="btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>
{/exp:ce_cache:it}