{layout="_layouts/master"
    title="Leaders"
    description=""
    image=""
    page_type=""
    article_section=""
    tags=""
    publish_time=""

    google_author=""
    google_page_profile=""

    twitter_publisher=""
    twitter_author=""

    facebook_profile=""
    facebook_app=""

    typekit=""

    section_style=""
    section_script=""

    meta=""
    footer=""
}

{layout:set name="meta"}
    {!-- Add additional meta tags here --}
{/layout:set}

<section class="section--pattern section--texture">
	<div class="shell">
	    <div class="grid centered">
	    	<div class="grid__item one-whole">
	    		<h2 class="no_hero">Leadership Team</h2>
	    	</div>
	    </div>
	</div>
</section>

<section>
	<div class="shell">
	    <div class="grid">
	    	<div class="grid__item five-twelfths lap-wide-one-third lap-two-thirds palm-wide-three-quarters palm-one-whole">
	            <div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.perrynoble.jpg);"></div>
	        </div><div class="grid__item seven-twelfths lap-wide-two-thirds lap-one-whole handheld-one-whole left">
            	<h3 class="flush">Perry Noble</h3>
            	<h5>Senior Pastor</h5><br>
            	<p>Perry Noble is the founding and senior pastor of NewSpring Church in South Carolina. The church averages 32,000 people during weekend services at multiple campuses throughout the state.</p>
            	<p>Perry is a gifted communicator and teacher, convicted about speaking the truth as plainly as possible. God has given him a vision and a passion for helping people meet Jesus, and each week he shares God’s Word and its practical application in our daily lives.</p>
            	<p class="flush">Perry, his wife Lucretia, and their daughter Charisse live in Anderson, South Carolina. You can read all of Perry’s unfiltered thoughts about life and leadership at <a href="http://perrynoble.com">PerryNoble.com.</a> Don’t worry, he holds nothing back.</p><hr class="hidden">
	        </div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.bradcooper.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Brad<br>Cooper</h3>
	    				<h5>Family Ministries Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"The wave starts in the student section."</small>
	    		<p>Brad oversees KidSpring and Fuse, two of NewSpring’s largest ministries. Brad has a passion for the next generation and seeing students’ and children’s lives changed by Jesus Christ. Brad is the primary communicator for Fuse and has a unique ability of connecting with the students of NewSpring Church. Brad has an amazing wife named Cory. They enjoy Clemson football and spending time with family and friends.</p>
	    	</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.shaneduffey.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Shane<br>Duffey</h3>
	    				<h5>Creative Arts Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"I love NewSpring Church because it’s a church where change happens!"</small>
	    		<p>Shane, his wife Cherie, and their four sons started attending NewSpring in 2003. He’s been on staff since 2005. In addition to serving on our Directional Leadership Team, Shane works with the teams that handle Events, Public Relations, and produce our Sunday services each week to create a church experience that is engaging to those who are unfamiliar with church and empowering to those who have attended church for a long time. The goal is for everyone to encounter Jesus.</p>
	    	</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.paulmarshall.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Paul<br>Marshall</h3>
	    				<h5>Financial Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"There is nothing better than being used in a positive way in a move of God."</small>
	    		<p>Paul met Jesus in his small town church when he was 12 years old. After working as a small businessman for 22 years, Paul accepted a challenge from Perry to come on staff in 2004. It has been an exciting ride! Paul oversees the Finance, Campus Development, and Facilities departments of our church. Paul lives with Beth, his wife of 32 years, and they are enjoying the empty nest. They have three children, two children-in-laws, and two grandchildren.</p>
	    	</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.jasonmoorhead.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Jason<br>Moorhead</h3>
	    				<h5>Central Development Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"I love our church because of the impact it has had on me and my family, as well as the life change I see in others."</small>
	    		<p>Jason oversees the Human Resources, Staff Development and Campus Safety departments as well as NewSpring College and our Internship program. He has an awesome wife, Sherry (who also serves on staff) and four awesome kids; Jordyn, Rylee, Jaden and Hope. Jason loves Clemson football and playing golf.</p>
	    	</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.michaelmullikin.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Michael<br>Mullikin</h3>
	    				<h5>Central Operations Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"No eye has seen, no ear has heard, no mind has conceived what God has prepared for those who love him." —1 Cor. 2:9</small>
	    		<p>Michael oversees the Information Technologies, Next Steps, and Web Development departments of our church. He and his wife, Lori, have three children. Michael loves spending time with his family, camping, and hiking. He is passionate about using technology, innovative methods, and efficient systems to help people meet and grow in their relationship with Jesus.</p>
	    	</div><div class="grid__item one-half portable-one-whole handheld-one-whole">
	    		<div class="grid floating">
	    			<div class="grid__item floating__item one-half portable-one-half palm-wide-one-whole palm-three-quarters">
	    				<div class="image image--round ratio--square flush" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/leaders/leaders.jasonwilson.jpg);"></div>
	    			</div><div class="grid__item floating__item one-half portable-one-whole handheld-one-whole left">
	    				<h3>Jason<br>Wilson</h3>
	    				<h5>Executive Pastor</h5>
	    			</div>
	    		</div>

	    		<small>"I'm amazed at how huge God is. I'm still trying to figure out why I get to be a part of what He's doing."</small>
	    		<p>Jason grew up in Anderson and was a member of the core group that helped Perry start NewSpring in 1999. He is passionate about Jesus, his family, and the vision of NewSpring to reach 100,000. He oversees Campus Pastors and Staff Health and Outreach. He loves anything outdoors and spending time with his wife Kelly and their 3 sons Branson, Isaiah, and Gray.</p>
	    	</div>
	    </div>

	</div>
</section>

<section class="section--grey">
	<div class="shell">
		<div class="grid">
			<div class="grid__item one-whole centered">
				<h2>Campus Pastors</h2>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://images.newspring.cc/site/newhere/cp.rileycummings.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Riley Cummings</h3>
						<h5>Anderson Campus</h5><br>
						<p>Riley received Christ at an early age, but it was at NewSpring that he learned to love and pursue the Lord. He began attending the Anderson Campus as a student at Clemson and the Lord used the people there to change his life. Riley has always loved the Anderson and Clemson community, and the opportunity to serve as a Campus Pastor is his dream job.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.camosullivan.png);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Cam O'Sullivan</h3>
						<h5>Boiling Springs Campus</h5><br>
						<p>Cam was born and raised in Spartanburg. He accepted Christ and was baptized at an early age. Because of the influence of his teammates and coaches on the Clemson football team, Cam started attending NewSpring on a regular basis. He decided to become an Owner in the spring of 2009. Greeting at the Anderson Campus led to greeting at the Greenville campus after graduation. When the Spartanburg Campus launched, Cam was a greeter, KidSpring advocate, and Fuse volunteer. He then came on staff in July 2013 as Spartanburg's associate campus pastor and became the Boiling Springs campus pastor in October of 2013. Cam lives in Boiling Springs with his wife, Emily, and their daughter.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.cliffcraig.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Cliff Craig</h3>
						<h5>Clemson Campus</h5><br>
						<p>Cliff was saved by Jesus at an early age, but didn't fully understand what it meant to follow Jesus until being challenged by some friends when he started attending Clemson University. The same friends invited him to NewSpring, and he began attending the Anderson Campus in the early 2000's. It was around that same time that he felt the Lord calling him into ministry. Cliff is married to Lauren, and they have three daughters. This is Cliff's dream job: serving Jesus in the best church in the world, in the most incredible location in the world.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.mattdawkins.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Matt Dawkins</h3>
						<h5>Charleston Campus</h5><br>
						<p>Since I’ve been involved at NewSpring Church, I’ve learned the joy that comes from serving people, the value of great leadership in my life, and I’ve seen how great an impact one person’s story can have on a community. Now, I'm honored to be leading the charge in Charleston to see how great an impact one community’s story can have on this city and the state of South Carolina. I’ve never been more excited to be doing what I’m doing!</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.aaronchovan.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Aaron Chovan</h3>
						<h5>Columbia Campus</h5><br>
						<p>Aaron Chovan accepted Jesus the summer of 2012 at NewSpring Church's Florence Campus. Aaron joined NewSpring staff in May 2013 as the Columbia Guest Services Director and became the Campus Pastor in April 2014. Aaron and his wife Angie have been married since 2003 and have one daughter and one son. Aaron is excited for the opportunity to serve as the Campus Pastor and see the city of Columbia changed as people take next steps with Jesus!</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.samgibson.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Sam Gibson</h3>
						<h5>Florence Campus</h5><br>
						<p>Sam received Christ at the Florence Campus in 2009. Later, he joined the staff serving with our Fuse Student Ministry and, in 2012, became the Campus Pastor in Florence. He and his wife, Leigh Anne, have been married since 2011.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.davidnasim.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">David Nasim</h3>
						<h5>Greenville Campus</h5><br>
						<p>David grew up in Greenville and later attended the University of South Carolina in Columbia, where he met his wife, Suzette. He operated a real estate company before the Lord called him into full-time ministry. David, Suzette, and their children live in Greenville. He has a passion to see his city reached for Jesus.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.mattalley.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Matt Alley</h3>
						<h5>Greenwood Campus</h5><br>
						<p>Matt has been attending NewSpring since he was a high school senior in 2002. He and his wife moved to Spartanburg after feeling a call into ministry. Matt served with Fellowship of Christian Athletes at USC Upstate until a vision night in 2011, when the Alleys realized they were called to serve at NewSpring. He joined the staff as the Spartanburg Volunteer Director in January 2012, and then became the Greenwood Campus Pastor in September 2012.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.stephendickey.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Stephen Dickey</h3>
						<h5>Lexington Campus</h5><br>
						<p>Stephen met Jesus the summer before his sophomore year at Anderson University in 2007. He joined the staff in 2010 working with the Fuse Student Ministry in Columbia and later as the Associate Campus Pastor at the Columbia Campus. He and his wife Kirstie have been married since 2010 and have one son, Elijah. He is excited to now be serving as the Lexington Campus Pastor and expectant of what God is going to do in and through the Town of Lexington!</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.charliebagwell.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">Charlie Bagwell</h3>
						<h5>Myrtle Beach Campus</h5><br>
						<p>Charlie grew up in Spartanburg, then attended Anderson University where he got plugged in at NewSpring. After graduation, Charlie worked in insurance for a few years at local agencies, but had a heart and burden to be a pastor and was waiting for an opportunity. That opportunity came in the form of the Campus Pastor role at the newly-launched Myrtle Beach Campus. Charlie and his wife, Amy, live in Myrtle Beach.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole">
				<div class="grid floating">
					<div class="grid__item floating__item one-quarter portable-one-third palm-wide-one-half palm-three-quarters flush">
						<div class="image image--round ratio--square" style="background-image: url(http://ns.images.s3.amazonaws.com/newspring/newhere/campuspastors/cp.davidhall.jpg);"></div>
					</div><div class="grid__item floating__item three-quarters portable-two-thirds handheld-one-whole left">
						<h3 class="flush">David Hall</h3>
						<h5>Spartanburg Campus</h5><br>
						<p>David began attending the Anderson Campus in the fall of 2002. He joined the staff in 2006 working with Fuse Student Ministry, and then moved to Florence in 2008 in preparation for the Florence Campus launch. After serving with Fuse and KidSpring at the Florence Campus, David became the Campus Pastor for our Spartanburg Campus, which launched on Easter 2012. David, his wife Bridget, and their daughter live in Spartanburg.</p>
					</div>
				</div>
			</div><div class="grid__item one-whole centered">
                <hr>
                <h2>It&rsquo;s more than a job</h2>
                <p class="text--constrained">Using our talents to serve God and His church is a calling. If you think serving in full-time ministry might be your next step, check out some of our open staff positions.</p>
                <a href="/jobs" class="btn">See where you fit in</a>
            </div>
		</div>
	</div>
</section>
