{exp:ce_cache:it}
{exp:ce_cache:escape}
	{embed="includes/header" 
		body_id="class" 
		body_class="ministries" 
		use_alt='true' 
		title="Classes"
	}
{/exp:ce_cache:escape}

<ul>
{!-- F1 link for growth Class  --}
{!-- https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=eMcEozF++2TYCPR3EV9plQ==&cCode=DK5vZjfgVKTzb0z2CdQbRg== --}
	
{!-- wufoo link for growth Class --}	
	<li class="blackened wide">
	<a href="/commit" title="Sign-up for Ownership Class"><em>We believe You Can't Do Life Alone: </em>Sign Up for Ownership Class</a>
	</li>

{!-- F1 link for equip Class  --}
{!-- https://integration.fellowshipone.com/integration/FormBuilder/FormBuilder.aspx?fCode=n/UVmU3Fic1g9EnSs4lmLw==&cCode=DK5vZjfgVKTzb0z2CdQbRg== --}

{!-- wufoo link for equip Class --}
	<li class="blackened wide">
	<a href="/classes/equipping-class/" title="Sign-up for Equipping Tour"><em>We believe Saved People Serve People: </em>Sign Up for Equipping Tour</a>
	</li>
	
	<li class="blackened wide">
	<a href="/groups" title="Learn More About Groups"><em>We believe Found People Find People: </em>Learn More About Groups</a>
	</li>

        <!-- <li class="blackened wide"><a href="/classes/{url_title}/" title="Learn more about {title}"><em>{class_type_tag_line}: </em>{title}{if title != 'Financial Learning Experience'} Classes{/if}</a></li> -->
</ul>

{embed='includes/breadcrumb' links='<li><a href="/ministries/" title="">Ministries</a></li><li class="last"><a href="/classes/" title="">Classes</a></li>'}

{exp:ce_cache:escape}
	{embed="includes/footer"}
{/exp:ce_cache:escape}

{/exp:ce_cache:it}